<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div mat-dialog-title class="dialog-title">
    <h2>Acknowledgement Entry For Fixed Deposit</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore Down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon>close</mat-icon>
      </button>

    </div>

  </div>
  <mat-dialog-content>
    <div class="card my-5">
      <div class="card-body p-5">
        <form [formGroup] = "__insTraxForm" (ngSubmit)="searchInsurance()" autocomplete="off">
          <div class="row">
            <div class="col-sm-6">
              <label>Start Date</label>
              <input type="date" class="form-control" formControlName="start_date">
            </div>
            <div class="col-sm-6">
              <label>End Date</label>
              <input type="date" class="form-control" formControlName="end_date">
            </div>
          </div>
            <div class="row my-5">
              <div class="col-sm-3">
                <label for="tin_no">TIN Number</label>
                  <input type="text"
                  name="tin_no"
                  id="tin_no"
                  placeholder="Enter TIN Number"
                  class="form-control"
                  formControlName="tin_no">
              </div>
              <div class="col-sm-3">
                  <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforClient($event)">
                    <div class="searchDiv">
                      <label for="__clntCd">Investor Details</label>
                      <input type="search" name="__clntCd" id="__clntCd" class="form-control"
                        formControlName="investor_code"
                        placeholder="Search By Investor Name,Investor Code, Email, Mobile, Pan & DOB">
                      <span class="spinner-border"
                        *ngIf="__isClientPending && __insTraxForm.get('investor_code').value?.length > 1"></span>

                      <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickforClient($event)">
                        <div class="serachresult_client" #clientCd>
                          <ul *ngIf="__clientMst.length > 0">
                            <li *ngFor="let items of __clientMst" (click)="getItems(items,'C')">
                              {{items.client_code}} | {{items.pan}} | {{items.client_name}}
                            </li>
                          </ul>
                          <div class="noDataFound" *ngIf="__clientMst.length == 0">
                            <h5 class="text-center">
                              Sorry!! No Records Found
                            </h5>
                            <p>If your result match,they will appear here</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-sm-3">
                <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforSubBrkArn($event)">
                  <div class="searchDiv">
                    <label for="subbrkArn">Sub Broker Code</label>
                    <input type="search" id="subbrkArn" class="form-control" placeholder="Search By Sub Broker Code"
                      formControlName="sub_brk_cd">
                    <span class="spinner-border"
                      *ngIf="__isSubArnPending && __insTraxForm.get('sub_brk_cd').value?.length > 1"></span>

                    <div class="processMain_2" __searchResVisibility
                      (appOutsideClick)="outsideClickforSubBrkArn($event)">
                      <div class="serachresult_client" #subBrkArn>
                        <ul *ngIf="__subbrkArnMst.length > 0">
                          <li *ngFor="let items of __subbrkArnMst" (click)="getItems(items,'S')">
                            {{items.code}} | {{items.bro_name}}
                          </li>
                        </ul>
                        <div class="noDataFound" *ngIf="__subbrkArnMst.length == 0">
                          <h5 class="text-center">
                            Sorry!! No Sub Brokers Found
                          </h5>
                          <p>If your result match,they will appear here</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClick($event)">
                  <div class="searchDiv">
                    <label for="Euin">Employee</label>
                    <input type="search" id="Euin" class="form-control" placeholder="Search By Employee"
                      formControlName="euin_no">
                    <span class="spinner-border"
                      *ngIf="__isEuinPending && __insTraxForm.get('euin_no').value?.length > 1"></span>

                    <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClick($event)">
                      <div class="serachresult_client" #searchEUIN>
                        <ul *ngIf="__euinMst.length > 0">
                          <li *ngFor="let items of __euinMst" (click)="getItems(items,'E')">
                            {{items.euin_no}} | {{items.emp_name}}
                          </li>
                        </ul>
                        <div class="noDataFound" *ngIf="__euinMst.length == 0">
                          <h5 class="text-center">
                            Sorry!! No Employees Found
                          </h5>
                          <p>If your result match,they will appear here</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-10 my-auto">
                <mat-checkbox
                #buTypeChecked
                color="primary" [id]="bu_type.id" [class]="i == 0 ? '' : 'ml-3'"
                *ngFor="let bu_type of __bu_type;let i=index" [value]="bu_type.id" (change)="onbuTypeChange($event)">
                {{bu_type.bu_type}}</mat-checkbox>
                <mat-checkbox class="ml-3" color="primary" formControlName="is_all_bu_type"> All</mat-checkbox>
              </div>
              <div class="col-sm-2 my-auto">
                <button mat-raised-button color="primary" class="float-right">
                  Show
                </button>
              </div>
            </div>
        </form>
      </div>
    </div>
    <div class="mat-elevation-z3">
      <div class="example-container">

        <table mat-table [dataSource]="__insTrax" matSort (matSortChange)="sortData($event)" class="table_Custome">
          <ng-container matColumnDef="sl_no">
            <th mat-header-cell *matHeaderCellDef>Sl No</th>
            <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
          </ng-container>

          <ng-container matColumnDef="tin_no">
            <th mat-sort-header="tin_no" mat-header-cell *matHeaderCellDef>TIN Number</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.tin_no ? element.tin_no : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="bu_type">
            <th mat-sort-header="bu_type" mat-header-cell *matHeaderCellDef>Buisness Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{(element.bu_type == 'D' ? 'B2C - Direct' : (element.bu_type == 'I' ? 'B2C - Indirect' : 'B2B'))}}
            </td>
          </ng-container>

          <ng-container matColumnDef="sub_brk_cd">
            <th mat-sort-header="sub_brk_cd" mat-header-cell *matHeaderCellDef>Sub Broker Code</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.sub_brk_cd ? element.sub_brk_cd : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="euin_no">
            <th mat-sort-header="euin_no" mat-header-cell *matHeaderCellDef>Employee</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.emp_name ? element.emp_name : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="fd_bu_type">
            <th mat-sort-header="fd_bu_type" mat-header-cell *matHeaderCellDef>Fixed Deposit Buisness Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.fd_bu_type == 'F' ? 'Fresh' : 'Renewal'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="company_type_name">
            <th mat-sort-header="company_type_name" mat-header-cell *matHeaderCellDef>Company Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.comp_type_name ? element.comp_type_name : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="scheme_name">
            <th mat-sort-header="scheme_name" mat-header-cell *matHeaderCellDef>Scheme</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.scheme_name ? element.scheme_name : 'N/A'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="investor_name">
            <th mat-sort-header="investor_name" mat-header-cell *matHeaderCellDef>Investor Name</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.investor_name ? element.investor_name : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="investor_pan">
            <th mat-sort-header="investor_pan" mat-header-cell *matHeaderCellDef>Investor PAN</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.investor_pan ? element.investor_pan : 'N/A'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="kyc_status">
            <th mat-sort-header="kyc_status" mat-header-cell *matHeaderCellDef>KYC Status</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.kyc_status == 'Y' ? 'With KYC' : 'Without KYC'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="option">
            <th mat-sort-header="option" mat-header-cell *matHeaderCellDef>Option</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.option == 'N' ? 'Non Cumulative' : 'Cumulative'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="sub_option">
            <th mat-sort-header="sub_option" mat-header-cell *matHeaderCellDef>Sub Option</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{getSub_option(element.sub_option)}}
            </td>
          </ng-container>


          <ng-container matColumnDef="tenure_type">
            <th mat-sort-header="tenure_type" mat-header-cell *matHeaderCellDef>Tenure Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.tenure_type == 'M' ? "Monthly" : 'Yearly'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="tenure">
            <th mat-sort-header="tenure" mat-header-cell *matHeaderCellDef>Tenure</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.tenure ? element.tenure : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="comp_full_name">
            <th mat-sort-header="comp_full_name" mat-header-cell *matHeaderCellDef>Company Full Name</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.comp_full_name ? element.comp_full_name : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="comp_short_name">
            <th mat-sort-header="comp_short_name" mat-header-cell *matHeaderCellDef>Company Short Name</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.comp_short_name ? element.comp_short_name : 'N/A'}}</td>
          </ng-container>


          <ng-container matColumnDef="interest_rate">
            <th mat-sort-header="interest_rate" mat-header-cell *matHeaderCellDef>Interest Rate(%)</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.interest_rate ? element.interest_rate : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="maturity_instruction">
            <th mat-sort-header="maturity_instruction" mat-header-cell *matHeaderCellDef>Maturity Instruction</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.maturity_instruction == 'P' ? 'Autopay on maturity' : 'Auto renewal on maturity'}}</td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-sort-header="amount" mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.amount ? element.amount : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="mode_of_transaction">
            <th mat-sort-header="mode_of_transaction" mat-header-cell *matHeaderCellDef>Transaction Mode</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.mode_of_transaction == 'O' ? 'OFFLINE' : 'ONLINE'}}
            </td>
          </ng-container>




          <ng-container matColumnDef="acc_no">
            <th mat-sort-header="acc_no" mat-header-cell *matHeaderCellDef>Account Number</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.acc_no ? element.acc_no : 'N/A'}}</td>
          </ng-container>


          <ng-container matColumnDef="chq_bank">
            <th mat-sort-header="chq_bank" mat-header-cell *matHeaderCellDef>Bank</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.bank_name ? element.bank_name : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="chq_no">
            <th mat-sort-header="chq_no" mat-header-cell *matHeaderCellDef>Cheque Number</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.chq_no ? element.chq_no : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="payment_ref_no">
            <th mat-sort-header="payment_ref_no" mat-header-cell *matHeaderCellDef>Payment Reference Number</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.payment_ref_no ? element.payment_ref_no : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="entry_date">
            <th mat-sort-header="entry_date" mat-header-cell *matHeaderCellDef>Entry Date</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.entry_date | date:'dd-MM-YYYY'}}</td>
          </ng-container>
          <ng-container matColumnDef="certificate_delivery_opt">
            <th mat-sort-header="certificate_delivery_opt" mat-header-cell *matHeaderCellDef>Certificate Delivery Option</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.certificate_delivery_opt == 'E' ? 'EFDR' : (element.certificate_delivery_opt == 'H' ? 'Hand Delivery' : 'Postal Delivery')}}
            </td>
          </ng-container>
          <ng-container matColumnDef="tds_info">
            <th mat-sort-header="tds_info" mat-header-cell *matHeaderCellDef>TDS Information</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{getTDSInfo(element.tds_info_id)}}
            </td>
          </ng-container>
          <ng-container matColumnDef="comp_login_at">
            <th mat-sort-header="comp_login_at" mat-header-cell *matHeaderCellDef>Login At</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.comp_login_name ? element.comp_login_name : 'N/A'}}</td>
          </ng-container>


          <!-- Buisness Type-->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="populateDT(element)">
                <mat-icon class="edit_icon">{{element.form_status == 'P' ? 'edit' : 'visibility'}}</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="__columns;sticky:true"></tr>
          <tr mat-row tabIndex="999" *matRowDef="let row; columns: __columns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="__columns.length" class="text-center">No FD History Found
            </td>
          </tr>
        </table>
      </div>

      <div class="paginator">
        <div class="itemsPerPage">
          <label>Items Per Page :&nbsp; </label>
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="10" aria-label="Text align left" (click)="getval(group.value)">
              10
            </mat-button-toggle>
            <mat-button-toggle value="50" aria-label="Text align center" (click)="getval(group.value)">
              50
            </mat-button-toggle>
            <mat-button-toggle value="100" aria-label="Text align right" (click)="getval(group.value)">
              100
            </mat-button-toggle>
            <mat-button-toggle value="A" aria-label="Text align right" (click)="getval(group.value)">
              All
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="btnGrp">
          <button mat-raised-button color="primary" (click)="finalSubmitAck()"> Final Submit</button>
        </div>
        <div class="paginatorContainer">
          <mat-button-toggle-group *ngFor="let paginate of __paginate">
            <mat-button-toggle [value]="paginate.url" aria-label="Text align right" (click)="getPaginate(paginate)">
              <label>
                <mat-icon *ngIf="(paginate.label | bnkrplc) == 'P'">first_page</mat-icon>
                <mat-icon *ngIf="(paginate.label | bnkrplc) == 'N'">last_page</mat-icon>
                <span
                  *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">{{paginate.label}}</span>

              </label>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>




      </div>
    </div>
  </mat-dialog-content>
</div>
