<div>
  <div mat-dialog-title class="dialog-title">
    <h2 >R&T Reports</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize"  (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore-down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>

  <mat-dialog-content class="customDialog">
    <div class="card">
      <div class="card-body px-3 py-2">
        <form [formGroup]="__rntSearchForm" (ngSubmit)="submit()" autoComplete="off">
        <div class="row ">
          <div class="col-sm-8 my-auto">
              <mat-radio-group aria-label="Select an option" color="primary" formControlName="options">
                <mat-radio-button value="2">Summary</mat-radio-button>
                <mat-radio-button value="1" class="ml-5">Detail</mat-radio-button>
              </mat-radio-group>
          </div>
        </div>
          <div class="row">
            <div class="col-sm-4">
              <label for="rnt_id">R&T</label>
              <ng-multiselect-dropdown #multiSelect
              id="rnt_id"
              [placeholder]="'Select R&T'"
              [settings]="settingsforRNT"
              [data]="__rntMstForDrpDown"
              formControlName="rnt_id">
            </ng-multiselect-dropdown>

            </div>
            <div class="col-sm-4">
              <label for="contact_person">Contact Person</label>
              <input type="text"  name="contact_person" id="contact_person" placeholder="Contact Person" class="form-control" formControlName="contact_person">
            </div>
            <div class="col-sm-4 d-flex align-items-end justify-content-end">
              <p-button type="button" (click)="reset()" label="Reset" icon="pi pi-refresh"
              iconPos="right" styleClass="p-button-lg p-button-danger"
              class="mx-3"></p-button>
              <p-button type="submit"
              label="Show" icon="pi pi-eye"
              iconPos="right"
              styleClass="p-button-lg"></p-button>
          </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card my-2 border-1 rounded-top">
      <div class="example_container_header">
        <div></div>
        <div class="btnGrp d-flex">
            <p-button type="button" icon="pi pi-server"
          #tooltip="matTooltip"
          [matTooltipPosition]="'before'"
          (click)="isOpenMegaMenu = !isOpenMegaMenu"
          matTooltip="Column Selector"
          styleClass="p-button-primary p-button-lg p-button-outlined mr-2">
          </p-button>

          <p-button icon="pi pi-file-export"
          [matMenuTriggerFor]="menu"
          [matTooltipPosition]="'after'"
          #tooltip="matTooltip"
          matTooltip="Export"
          styleClass="p-button-primary p-button-lg p-button-outlined">
          </p-button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="exportPdf()">
            <mat-icon>download</mat-icon> Export Pdf
          </button>
          <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'R&TReport'})">
            <mat-icon>download</mat-icon> Export Excel
          </button>
        </mat-menu>
        </div>

      </div>
      <div class="container_body">
        <p-table #dt
        (onLazyLoad)="customSort($event)"
        [customSort]="true"
          sortMode="single"
          [lazy]="true"
        [value]="__selectRNT.data"
        [columns]="__columns"
        [resizableColumns]="true"
        selectionMode="multiple" columnResizeMode="expand" [scrollable]="true"
        scrollHeight="320px"
        [autoLayout]="true"
        [responsive]="true"
        styleClass="p-datatable-gridlines"
        [tableStyle]="{ 'min-width': __rntSearchForm.value.options == 2 ? '150rem': '250rem' }">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th  *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field" [style.width]="(__rntSearchForm.value.options == 2) ? '12rem' : '22rem'">
              {{ col.header }}
              <p-sortIcon *ngIf="col.field!= 'edit' && col.field!= 'delete' &&  col.field!= 'logo'" [field]="col.field">
              </p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-finance let-columns="columns"  let-i="rowIndex">
          <tr tabindex="999">
            <td *ngFor="let col of columns">
              <ng-container [ngSwitch]="true">
                <ng-container *ngSwitchCase="col.field == 'edit'">
                  <p-button icon="pi pi-pencil" (click)="populateDT(finance)"
                    styleClass="p-button-rounded p-button-primary">
                  </p-button>
                </ng-container>
                <ng-container *ngSwitchCase="col.field == 'delete'">
                  <p-button icon="pi pi-trash" (click)="delete(finance,i)"
                    styleClass="p-button-rounded p-button-danger">
                  </p-button>
                </ng-container>
                <ng-container *ngSwitchCase="col.field == 'sl_no'">
                  {{ i + 1 }}
                </ng-container>
                <ng-container *ngSwitchCase="col.field == 'rnt_name'">
                  <p-button [label]="finance[col.field]" styleClass="p-button-link" (click)="openAmc(finance)"></p-button>
                </ng-container>

                <ng-container *ngSwitchCase="col.field == 'website'">
                   <ng-container *ngIf="finance[col.field];else noWebsite">
                    <!-- <a
                    styleClass="p-button-link"
                    [attr.href]="'//' + finance[col.field]"
                    target="_blank">{{finance[col.field]}}</a> -->
                    <p-button [label]="finance[col.field]" (click)="openURL(finance[col.field])" styleClass="p-button-link"></p-button>
                   </ng-container>
                   <ng-template #noWebsite>
                          N/A
                   </ng-template>
                </ng-container>

                <ng-container *ngSwitchCase="col.field == 'login_url'">
                  <ng-container *ngIf="finance[col.field];else nologinURL">
                   <!-- <a
                   styleClass="p-button-link"
                   [attr.href]="'//' + finance[col.field]"
                   target="_blank">{{finance[col.field]}}</a> -->
                   <p-button [label]="finance[col.field]" (click)="openURL(finance[col.field])" styleClass="p-button-link" ></p-button>
                  </ng-container>
                  <ng-template #nologinURL>
                         N/A
                  </ng-template>
               </ng-container>
               <ng-container *ngSwitchCase="col.field == 'logo'">
                <ng-container *ngIf="finance[col.field];else nologo">
                  <p-image [src]="url + finance[col.field]"
                  [alt]="finance['rnt_name']"
                  width="50"
                  [preview]="true"></p-image>
                  </ng-container>
                  <ng-template #nologo>N/A</ng-template>
               </ng-container>
                <ng-container *ngSwitchDefault>
                  <b   matTooltip="{{finance[col.field]}}">
                    {{ finance[col.field] ? finance[col.field] : 'N/A' }}
                  </b>
                </ng-container>


              </ng-container>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length" class="noHistoryAvailable">
               No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
        </div>
        <!-- Paginator with item per page -->
        <div class="paginator">
          <div class="itemsPerPage d-flex">
            <label class="mr-3">Items per page: </label>
            <p-selectButton
            [options]="itemsPerPage"
            [formControl]="__pageNumber"
            optionLabel="label" optionValue="value"
            (onOptionClick)="onselectItem($event)"
            ></p-selectButton>
          </div>

          <div class="paginatorContainer">
            <ul>
              <li *ngFor="let paginate of __paginate" (click)="getPaginate(paginate)">
                <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                  *ngIf="(paginate.label | bnkrplc) == 'P'">
                  <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                    keyboard_double_arrow_left</mat-icon>
                </a>
                <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                  *ngIf="(paginate.label | bnkrplc) == 'N'">
                  <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                    keyboard_double_arrow_right</mat-icon>
                </a>
                <a [class]="paginate.active ? 'activePaginator paginateNumber' : 'paginateNumber'"
                  *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">
                  {{paginate.label}}
                </a>
              </li>
            </ul>


          </div>

        </div>
        <!-- End -->

         <!-- Meage Menu For Check box -->
         <core-mega-menu-for-column [isOpenMegaMenu]="isOpenMegaMenu" [ColumnList]="columnsMst"
         [selectedClmns]="SelectedClms" (hideMegamenu)="isOpenMegaMenu = $event"
         (getSelectedColumns)="getSelectedColumns($event)">
       </core-mega-menu-for-column>
       <!-- End -->
      <table id="rnt_rpt"
      style="display:none" mat-table
      [dataSource]="__export"
      matTableExporter
      #exporter="matTableExporter">


        <ng-container matColumnDef="sl_no" >
          <th mat-header-cell *matHeaderCellDef>Sl No</th>
          <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
        </ng-container>



        <ng-container matColumnDef="rnt_name" >
          <th mat-header-cell *matHeaderCellDef>R&T Short Name</th>
          <td mat-cell *matCellDef="let element">
            <p class="text-wrap">{{element.rnt_name ? element.rnt_name : 'N/A'}}</p>
          </td>
        </ng-container>


         <ng-container matColumnDef="rnt_full_name">
          <th mat-header-cell *matHeaderCellDef >R&T Full Name</th>
          <td mat-cell *matCellDef="let element">
            {{element.rnt_full_name ? element.rnt_full_name : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="login_url">
          <th mat-header-cell *matHeaderCellDef >Login URL</th>
          <td mat-cell *matCellDef="let element">
            {{element.login_url ? element.login_url : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="login_pass">
          <th mat-header-cell *matHeaderCellDef  >Login Password</th>
          <td mat-cell *matCellDef="let element">
            {{element.login_pass ? element.login_pass : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="login_id">
          <th mat-header-cell *matHeaderCellDef>Login ID</th>
          <td mat-cell *matCellDef="let element">
            {{element.login_id ? element.login_id : 'N/A'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="distributor_care_email">
          <th mat-header-cell *matHeaderCellDef >Distributor Care Email</th>
          <td mat-cell *matCellDef="let element">
            {{element.distributor_care_email ? element.distributor_care_email : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="distributor_care_no">
          <th mat-header-cell *matHeaderCellDef >Distributor Care Number</th>
          <td mat-cell *matCellDef="let element">
            {{element.distributor_care_no ? element.distributor_care_no : 'N/A'}}
          </td>
        </ng-container>


        <ng-container matColumnDef="website">
          <th mat-header-cell *matHeaderCellDef>Website</th>
          <td mat-cell *matCellDef="let element">
            {{element.website ? element.website : 'N/A'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="cus_care_whatsApp_no">
          <th mat-header-cell *matHeaderCellDef>Customer Care WhatsApp Number</th>
          <td mat-cell *matCellDef="let element">
            {{element.cus_care_whatsapp_no ? element.cus_care_whatsapp_no : 'N/A'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="cus_care_no">
          <th mat-header-cell *matHeaderCellDef>Customer Care Number</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.cus_care_no ? element.cus_care_no : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="cus_care_email">
          <th mat-header-cell *matHeaderCellDef>Customer Care Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.cus_care_email ? element.cus_care_email : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_ofc_contact_per">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.head_ofc_contact_per ? element.head_ofc_contact_per : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_contact_per_mobile">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person Mobile</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.head_contact_per_mob ? element.head_contact_per_mob : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_contact_per_email">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.head_contact_per_email ? element.head_contact_per_email : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_ofc_addr">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person Address</th>
          <td mat-cell *matCellDef="let element">
           <p class="text-wrap">{{element.head_ofc_addr ? element.head_ofc_addr :'N/A'}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="local_ofc_contact_per">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.local_ofc_contact_per ? element.local_ofc_contact_per : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_contact_per_mobile">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person Mobile</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.local_contact_per_mob ? element.local_contact_per_mob : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_contact_per_email">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.local_contact_per_email ? element.local_contact_per_email :'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_ofc_addr">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person Address</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.local_ofc_addr ? element.local_ofc_addr : 'N/A'}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="l1_name">
          <th mat-header-cell *matHeaderCellDef>Level-1 Name</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l1_name ? element.l1_name : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l1_contact_no">
          <th  mat-header-cell *matHeaderCellDef>Level-1 Contact</th>
          <td mat-cell *matCellDef="let element">
           <p>{{element.l1_contact_no ? element.l1_contact_no : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l1_email">
          <th  mat-header-cell *matHeaderCellDef>Level-1 Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l1_email ? element.l1_email : 'N/A'}}</p>
          </td>
        </ng-container>


        <ng-container matColumnDef="l2_name">
          <th  mat-header-cell *matHeaderCellDef>Level-2 Name</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l2_name ? element.l2_name : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l2_contact_no">
          <th  mat-header-cell *matHeaderCellDef>Level-2 Contact</th>
          <td mat-cell *matCellDef="let element">
               <p class="text-wrap">{{element.l2_contact_no ? element.l2_contact_no : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l2_email">
          <th mat-header-cell *matHeaderCellDef>Level-2 Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l2_email ? element.l2_email : 'N/A'}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="l3_name">
          <th  mat-header-cell *matHeaderCellDef>Level-3 Name</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l3_name ? element.l3_name : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l3_contact_no">
          <th  mat-header-cell *matHeaderCellDef>Level-3 Contact</th>
          <td mat-cell *matCellDef="let element">
      <p class="text-wrap">{{element.l3_contact_no ? element.l3_contact_no : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l3_email">
          <th  mat-header-cell *matHeaderCellDef>Level-3 Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l3_email ? element.l3_email : 'N/A'}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="l4_name">
          <th  mat-header-cell *matHeaderCellDef>Level-4 Name</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l4_name ? element.l4_name : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l4_contact_no">
          <th  mat-header-cell *matHeaderCellDef>Level-4 Contact</th>
          <td mat-cell *matCellDef="let element">
      <p class="text-wrap">{{element.l4_contact_no ? element.l4_contact_no : 'N/A'}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l4_email">
          <th  mat-header-cell *matHeaderCellDef>Level-4 Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l4_email ? element.l4_email : 'N/A'}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="l5_name">
          <th  mat-header-cell *matHeaderCellDef>Level-5 Name</th>
          <td mat-cell *matCellDef="let element">
             {{element.l5_name ? element.l5_name : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="l5_contact_no">
          <th  mat-header-cell *matHeaderCellDef>Level-5 Contact</th>
          <td mat-cell *matCellDef="let element">
             {{element.l5_contact_no  ? element.l5_contact_no : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="l5_email">
          <th  mat-header-cell *matHeaderCellDef>Level-5 Email</th>
          <td mat-cell *matCellDef="let element">
             {{element.l5_email  ? element.l5_email : 'N/A'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="l6_name">
          <th  mat-header-cell *matHeaderCellDef>Level-6 Name</th>
          <td mat-cell *matCellDef="let element">
             {{element.l6_name  ? element.l6_name : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="l6_contact_no">
          <th  mat-header-cell *matHeaderCellDef>Level-6 Contact</th>
          <td mat-cell *matCellDef="let element">
             {{element.l6_contact_no  ? element.l6_contact_no : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="l6_email">
          <th  mat-header-cell *matHeaderCellDef>Level-6 Email</th>
          <td mat-cell *matCellDef="let element">
             {{element.l6_email  ? element.l6_email : 'N/A'}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="__exportedClmns" class="highlight"></tr>
        <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4" class="text-center">No R&T History Found</td>
        </tr>
      </table>

    </div>
  </mat-dialog-content>
  </div>
