<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle >
  <div mat-dialog-title class="dialog-title">
    <h2 >R&T Reports</h2>
    <div class="btnIcon">
      <button mat-icon-button  (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button  (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>check_box_outline_blank</mat-icon>
      </button>
      <button mat-icon-button  (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>

      <button mat-icon-button  [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>

  <mat-dialog-content>
    <div class="card my-5">
      <div class="card-body p-5">
        <form [formGroup]="__rntSearchForm" (ngSubmit)="submit()" autoComplete="off">
        <div class="row ">
          <div class="col-sm-6 my-auto">
              <mat-radio-group aria-label="Select an option" color="primary" formControlName="options">
                <mat-radio-button value="2">Summary</mat-radio-button>
                <mat-radio-button value="1" class="ml-3">Detail</mat-radio-button>
              </mat-radio-group>
          </div>
        </div>
          <div class="row my-5">
            <div class="col-sm-5">
              <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClick($event,'R')">
                <div class="searchDiv">
                  <label for="rnt_name">R&T
                  </label>
                  <input type="search" name="rnt_name" id="rnt_name" class="form-control"
                    formControlName="rnt_name" placeholder="Search by R&T">
                    <span class="spinner-border" *ngIf="__isrntspinner && __rntSearchForm.get('rnt_name').value?.length > 1"></span>
                  <div class="processMain_2" __searchResVisibility
                    (appOutsideClick)="outsideClick($event,'R')">
                    <div class="serachresult_client" #searchRnt>
                      <ul *ngIf="__rntMst.length > 0">
                        <li *ngFor="let items of __rntMst" (click)="getItems(items,'R')">
                          {{items.rnt_name}}
                        </li>
                      </ul>
                      <div class="noDataFound" *ngIf="__rntMst.length == 0">
                        <h5 class="text-center">
                          Sorry!! No Records Found
                        </h5>
                        <p>R&T Not Available</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <label for="contact_person">Contact Person</label>
              <input type="text" name="contact_person" id="contact_person" formControlName="contact_person">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <button mat-raised-button  color="primary" class="float-right">
                  <mat-icon>visibility</mat-icon>
                  Show
                </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="mat-elevation-z3">
      <div class="example_container_header">
        <div class="btnGrp">
          <button class="float-right" color="primary" type="button" mat-button (click)="exportPdf()">
            <mat-icon>download</mat-icon> Export Pdf
          </button>
          <button class="float-right" color="primary" type="button" mat-button
          (click)="exporter.exportTable('xlsx',{fileName:'R&T'})" >
            <mat-icon>download</mat-icon> Export Excel
          </button>
        </div>

      </div>
       <div class="example-container">

      <table mat-table [dataSource]="__selectRNT" class="table_Custome">
        <ng-container matColumnDef="sl_no">
          <th mat-header-cell *matHeaderCellDef>Sl no.</th>
          <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
        </ng-container>




        <ng-container matColumnDef="rnt_name">
          <th mat-header-cell *matHeaderCellDef>R&T</th>
          <td mat-cell *matCellDef="let element">
            <!-- <a (click)="showCorrospondingAMC(element)" class="hoverableText">{{element.rnt_name}}</a> -->
            {{element.rnt_name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="cus_care_no">
          <th mat-header-cell *matHeaderCellDef>Customer Care Number</th>
          <td mat-cell *matCellDef="let element">
            {{element.cus_care_no}}
          </td>
        </ng-container>

        <ng-container matColumnDef="cus_care_email">
          <th mat-header-cell *matHeaderCellDef>Customer Care Email</th>
          <td mat-cell *matCellDef="let element">
            {{element.cus_care_email}}
          </td>
        </ng-container>
        <ng-container matColumnDef="head_contact_per">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.head_ofc_contact_per}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_contact_per_mobile">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person Mobile</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.head_contact_per_mob}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_contact_per_email">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person Email</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.head_contact_per_email}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_contact_per_addr">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person Address</th>
          <td mat-cell *matCellDef="let element">
           <p>{{element.head_ofc_addr}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="local_contact_per">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.local_ofc_contact_per}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_contact_per_mobile">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person Mobile</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.local_contact_per_mob}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_contact_per_email">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person Email</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.local_contact_per_email}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_contact_per_addr">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person Address</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.local_ofc_addr}}</p>
          </td>
        </ng-container>


        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="populateDT(element)">
              <mat-icon class="edit_icon">edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button>
              <mat-icon class="delete_icon">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="__columns"></tr>
        <tr mat-row *matRowDef="let row; columns: __columns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5" class="text-center">No data found</td>
        </tr>
      </table>
      </div>
      <div class="paginator">
        <div class="itemsPerPage">
          <label>Items Per Page :&nbsp; </label>
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="10" aria-label="Text align left" (click)="getval(group.value)">
              10
            </mat-button-toggle>
            <mat-button-toggle value="50" aria-label="Text align center" (click)="getval(group.value)">
              50
            </mat-button-toggle>
            <mat-button-toggle value="100" aria-label="Text align right" (click)="getval(group.value)">
              100
            </mat-button-toggle>
            <mat-button-toggle value="A" aria-label="Text align right" (click)="getval('A')">
              All
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="paginatorContainer">
          <mat-button-toggle-group *ngFor="let paginate of __paginate">
            <mat-button-toggle [value]="paginate.url" aria-label="Text align right" (click)="getPaginate(paginate)">
              <label>
                <mat-icon *ngIf="(paginate.label | replace) == 'P'">first_page</mat-icon>
                <mat-icon *ngIf="(paginate.label | replace) == 'N'">last_page</mat-icon>
                <span
                  *ngIf="(paginate.label | replace) != 'P' && (paginate.label | replace) != 'N'">{{paginate.label}}</span>

              </label>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>




      </div>


      <table id="daySheetRpt"
      hidden mat-table
      [dataSource]="__export"
      matTableExporter
      #exporter="matTableExporter">


        <!-- Sl No. -->
        <ng-container matColumnDef="sl_no" >
          <th mat-header-cell *matHeaderCellDef>Serial no.</th>
          <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
        </ng-container>



        <!--Temporary TIN No.-->
        <ng-container matColumnDef="rnt_name" >
          <th mat-header-cell *matHeaderCellDef>R&T</th>
          <td mat-cell *matCellDef="let element">
            <p clas="text-wrap">{{element.rnt_name}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="cus_care_no">
          <th mat-header-cell *matHeaderCellDef>Customer Care Number</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.cus_care_no}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="cus_care_email">
          <th mat-header-cell *matHeaderCellDef>Customer Care Email</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.cus_care_email}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_contact_per">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.head_ofc_contact_per}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_contact_per_mobile">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person Mobile</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.head_contact_per_mob}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_contact_per_email">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person Email</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.head_contact_per_email}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_contact_per_addr">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person Address</th>
          <td mat-cell *matCellDef="let element">
           <p>{{element.head_ofc_addr}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="local_contact_per">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.local_ofc_contact_per}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_contact_per_mobile">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person Mobile</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.local_contact_per_mob}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_contact_per_email">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person Email</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.local_contact_per_email}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_contact_per_addr">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person Address</th>
          <td mat-cell *matCellDef="let element">
             <p clas="text-wrap">{{element.local_ofc_addr}}</p>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="__exportedClmns"></tr>
        <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4" class="text-center">No Amc History Found</td>
        </tr>
      </table>

    </div>
  </mat-dialog-content>
  </div>
