<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle >
  <div mat-dialog-title class="dialog-title">
    <h2 >R&T Reports</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize"  (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore-down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>

  <mat-dialog-content>
    <div class="card my-5">
      <div class="card-body p-5">
        <form [formGroup]="__rntSearchForm" (ngSubmit)="submit()" autoComplete="off">
        <div class="row ">
          <div class="col-sm-8 my-auto">
              <mat-radio-group aria-label="Select an option" color="primary" formControlName="options">
                <mat-radio-button value="2">Summary</mat-radio-button>
                <mat-radio-button value="1" class="ml-5">Detail</mat-radio-button>
              </mat-radio-group>
          </div>
          <div class="col-sm-4 my-auto">
            <mat-button-toggle-group #group="matButtonToggleGroup" class="float-right">
              <mat-button-toggle value="center" aria-label="Text align center" (click)="reset()">
                <mat-icon>restart_alt</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
          <div class="row my-3">
            <div class="col-sm-5">
              <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClick($event,'R')">
                <div class="searchDiv">
                  <label for="rnt_name">R&T
                  </label>
                  <input type="search" name="rnt_name" id="rnt_name" class="form-control"
                    formControlName="rnt_name" placeholder="Search by R&T">
                    <span class="spinner-border" *ngIf="__isrntspinner && __rntSearchForm.get('rnt_name').value?.length > 1"></span>
                  <div class="processMain_2" __searchResVisibility
                    (appOutsideClick)="outsideClick($event,'R')">
                    <div class="serachresult_client" #searchRnt>
                      <ul *ngIf="__rntMst.length > 0">
                        <li *ngFor="let items of __rntMst" (click)="getItems(items,'R')">
                          {{items.rnt_name}}
                        </li>
                      </ul>
                      <div class="noDataFound" *ngIf="__rntMst.length == 0">
                        <h5 class="text-center">
                          Sorry!! No Records Found
                        </h5>
                        <p>R&T Not Available</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <label for="contact_person">Contact Person</label>
              <input type="text" name="contact_person" id="contact_person" placeholder="Contact Person" class="form-control" formControlName="contact_person">
            </div>
            <div class="col-sm-2 my-auto">
              <button mat-raised-button  color="primary" class="float-right">
                Show
              </button>
          </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-12">
                <button mat-raised-button  color="primary" class="float-right">
                  Show
                </button>
            </div>
          </div> -->
        </form>
      </div>
    </div>
    <div class="mat-elevation-z3">
      <div class="example_container_header">
        <div class="btnGrp d-flex">

          <mat-form-field appearance="fill">
            <mat-label>Select Columns</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-option
              *ngFor="let topping of toppingList"
              [value]="topping.id">
              {{topping.text}}
            </mat-option>
            </mat-select>

          </mat-form-field>

          <!-- <ng-multiselect-dropdown #multiSelect
          id="toppings"
          [placeholder]="'Select Columns'"
          [settings]="settings"
          [data]="toppingList"
          [formControl]="toppings">
        </ng-multiselect-dropdown> -->

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>system_update_alt</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="exportPdf()">
              <mat-icon>download</mat-icon> Export Pdf
            </button>
            <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'R&T'})">
              <mat-icon>download</mat-icon> Export Excel
            </button>
          </mat-menu>
        </div>

      </div>
       <div class="example-container">

      <table mat-table [dataSource]="__selectRNT" class="table_Custome"
      matSort (matSortChange)="sortData($event)">
        <ng-container matColumnDef="sl_no">
          <th mat-header-cell *matHeaderCellDef>Sl No</th>
          <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
        </ng-container>




        <ng-container matColumnDef="rnt_name">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header="rnt_name">R&T Short Name</th>
          <td mat-cell *matCellDef="let element">
            <a (click)="openAmc(element)" class="hoverableText">
              <span [title]="element.rnt_name">{{element.rnt_name ? (element.rnt_name | ellipsis: 25) : ''}}</span>
            </a>
          </td>
        </ng-container>


        <!-- New Field Added -->
        <ng-container matColumnDef="rnt_full_name">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header="rnt_full_name">R&T Full Name</th>
          <td mat-cell *matCellDef="let element">
            <span [title]="element.rnt_full_name">
              {{element.rnt_full_name ?  (element.rnt_full_name | ellipsis: 25)  : ''}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="login_url">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header="login_url">Login URL</th>
          <td mat-cell *matCellDef="let element">
            <span>{{element.login_url}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="login_pass">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header="login_pass">Login Password</th>
          <td mat-cell *matCellDef="let element">
            {{element.login_pass}}
          </td>
        </ng-container>
        <ng-container matColumnDef="login_id">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header="login_id">Login ID</th>
          <td mat-cell *matCellDef="let element">
            {{element.login_id}}
          </td>
        </ng-container>
        <!-- End -->
        <ng-container matColumnDef="cus_care_whatsApp_no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="cus_care_whatsApp_no">Customer Care WhatsApp Number</th>
          <td mat-cell *matCellDef="let element">
            {{element.cus_care_whatsapp_no}}
          </td>
        </ng-container>

        <ng-container matColumnDef="distributor_care_email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="distributor_care_email">Distributor Care Email</th>
          <td mat-cell *matCellDef="let element">
            {{element.distributor_care_email}}
          </td>
        </ng-container>
        <ng-container matColumnDef="distributor_care_no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="distributor_care_no">Distributor Care Number</th>
          <td mat-cell *matCellDef="let element">
            {{element.distributor_care_no}}
          </td>
        </ng-container>
        <ng-container matColumnDef="website">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="website">Web Site</th>
          <td mat-cell *matCellDef="let element">
            <!-- <a href="{{element.website}}" target="__blank"> -->
              <a [attr.href]="'//' + element.website"  target="_blank">{{element.website}}</a>
            <!-- </a> -->
          </td>
        </ng-container>

        <ng-container matColumnDef="cus_care_no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="cus_care_no">Customer Care Number</th>
          <td mat-cell *matCellDef="let element">
            {{element.cus_care_no}}
          </td>
        </ng-container>

        <ng-container matColumnDef="cus_care_email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="cus_care_email">Customer Care Email</th>
          <td mat-cell *matCellDef="let element">
            {{element.cus_care_email}}
          </td>
        </ng-container>
        <ng-container matColumnDef="head_ofc_contact_per">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="head_ofc_contact_per">Head Office Contact Person</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.head_ofc_contact_per}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_contact_per_mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="head_contact_per_mobile">Head Office Contact Person Mobile</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.head_contact_per_mob}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_contact_per_email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="head_contact_per_email">Head Office Contact Person Email</th>
          <td mat-cell *matCellDef="let element">
             <!-- <p class="text-wrap"> -->
              <span [title]="element.head_contact_per_email">
                {{element.head_contact_per_email}}
              </span>
            <!-- </p> -->
          </td>
        </ng-container>
        <ng-container matColumnDef="head_ofc_addr">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="head_ofc_addr">Head Office Contact Person Address</th>
          <td mat-cell *matCellDef="let element">
           <p [title]="element.head_ofc_addr">{{element.head_ofc_addr ? (element.head_ofc_addr | ellipsis:25) : ''}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="local_ofc_contact_per">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="local_ofc_contact_per">Local Office Contact Person</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.local_ofc_contact_per}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_contact_per_mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="local_contact_per_mobile">Local Office Contact Person Mobile</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.local_contact_per_mob}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_contact_per_email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="local_contact_per_email">Local Office Contact Person Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.local_contact_per_email}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_ofc_addr">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="local_ofc_addr">Local Office Contact Person Address</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap" [title]="element.local_ofc_addr">{{element.local_ofc_addr | ellipsis:25}}</p>
          </td>
        </ng-container>


        <ng-container matColumnDef="l1_name">
          <th mat-sort-header="l1_name" mat-header-cell *matHeaderCellDef>Level-1 Name</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l1_name}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l1_contact_no">
          <th mat-sort-header="l1_contact_no" mat-header-cell *matHeaderCellDef>Level-1 Contact</th>
          <td mat-cell *matCellDef="let element" >
           <p>{{element.l1_contact_no}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l1_email">
          <th mat-sort-header="l1_email" mat-header-cell *matHeaderCellDef>Level-1 Email</th>
          <td mat-cell *matCellDef="let element" >
             <p class="text-wrap">{{element.l1_email}}</p>
          </td>
        </ng-container>


        <ng-container matColumnDef="l2_name">
          <th mat-sort-header="l2_name" mat-header-cell *matHeaderCellDef>Level-2 Name</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l2_name}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l2_contact_no">
          <th mat-sort-header="l2_contact_no" mat-header-cell *matHeaderCellDef>Level-2 Contact</th>
          <td mat-cell *matCellDef="let element">
               <p class="text-wrap">{{element.l2_contact_no}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l2_email">
          <th mat-sort-header="l2_email" mat-header-cell *matHeaderCellDef>Level-2 Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l2_email}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="l3_name">
          <th mat-sort-header="l3_name" mat-header-cell *matHeaderCellDef>Level-3 Name</th>
          <td mat-cell *matCellDef="let element" >
             <p class="text-wrap">{{element.l3_name}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l3_contact_no">
          <th mat-sort-header="l3_contact_no" mat-header-cell *matHeaderCellDef>Level-3 Contact</th>
          <td mat-cell *matCellDef="let element">
      <p class="text-wrap">{{element.l3_contact_no}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l3_email">
          <th mat-sort-header="l3_email" mat-header-cell *matHeaderCellDef>Level-3 Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l3_email}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="l4_name">
          <th mat-sort-header="l4_name" mat-header-cell *matHeaderCellDef>Level-4 Name</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l4_name}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l4_contact_no">
          <th mat-sort-header="l4_contact_no" mat-header-cell *matHeaderCellDef>Level-4 Contact</th>
          <td mat-cell *matCellDef="let element">
      <p class="text-wrap">{{element.l4_contact_no}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l4_email">
          <th mat-sort-header="l4_email" mat-header-cell *matHeaderCellDef>Level-4 Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l4_email}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="l5_name">
          <th mat-sort-header="l5_name" mat-header-cell *matHeaderCellDef>Level-5 Name</th>
          <td mat-cell *matCellDef="let element">
             {{element.l5_name!= 'null' ? element.l5_name : ''}}
          </td>
        </ng-container>
        <ng-container matColumnDef="l5_contact_no">
          <th mat-sort-header="l5_contact_no" mat-header-cell *matHeaderCellDef>Level-5 Contact</th>
          <td mat-cell *matCellDef="let element">
             {{element.l5_contact_no!= 'null'  ? element.l5_contact_no : ''}}
          </td>
        </ng-container>
        <ng-container matColumnDef="l5_email">
          <th mat-sort-header="l5_email" mat-header-cell *matHeaderCellDef>Level-5 Email</th>
          <td mat-cell *matCellDef="let element">
             {{element.l5_email!= 'null'  ? element.l5_email : ''}}
          </td>
        </ng-container>

        <ng-container matColumnDef="l6_name">
          <th mat-sort-header="l6_name" mat-header-cell *matHeaderCellDef>Level-6 Name</th>
          <td mat-cell *matCellDef="let element">
             {{element.l6_name!= 'null'  ? element.l6_name : ''}}
          </td>
        </ng-container>
        <ng-container matColumnDef="l6_contact_no">
          <th mat-sort-header="l6_contact_no" mat-header-cell *matHeaderCellDef>Level-6 Contact</th>
          <td mat-cell *matCellDef="let element">
             {{element.l6_contact_no!= 'null'  ? element.l6_contact_no : ''}}
          </td>
        </ng-container>
        <ng-container matColumnDef="l6_email">
          <th mat-sort-header="l6_email" mat-header-cell *matHeaderCellDef>Level-6 Email</th>
          <td mat-cell *matCellDef="let element">
             {{element.l6_email!= 'null'  ? element.l6_email : ''}}
          </td>
        </ng-container>


        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="populateDT(element)">
              <mat-icon class="edit_icon">edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element;let i=index">
            <button mat-icon-button (click)="delete(element,i)">
              <mat-icon class="delete_icon">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="__columns;sticky:true"></tr>
        <tr tabindex="999" mat-row *matRowDef="let row; columns: __columns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="__columns.length" class="text-center">No Records Found</td>
        </tr>
      </table>
      </div>
      <div class="paginator">
        <div class="itemsPerPage">
          <label>Items Per Page :&nbsp; </label>
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="10" aria-label="Text align left" (click)="getval('10')">
              10
            </mat-button-toggle>
            <mat-button-toggle value="50" aria-label="Text align center" (click)="getval('50')">
              50
            </mat-button-toggle>
            <mat-button-toggle value="100" aria-label="Text align right" (click)="getval('100')">
              100
            </mat-button-toggle>
            <mat-button-toggle value="A" aria-label="Text align right" (click)="getval('A')">
              All
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="paginatorContainer">
          <mat-button-toggle-group *ngFor="let paginate of __paginate">
            <mat-button-toggle [value]="paginate.url" aria-label="Text align right" (click)="getPaginate(paginate)">
              <label>
                <mat-icon *ngIf="(paginate.label | replace) == 'P'">first_page</mat-icon>
                <mat-icon *ngIf="(paginate.label | replace) == 'N'">last_page</mat-icon>
                <span
                  *ngIf="(paginate.label | replace) != 'P' && (paginate.label | replace) != 'N'">{{paginate.label}}</span>

              </label>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>




      </div>


      <table id="rnt_rpt"
      style="display:none" mat-table
      [dataSource]="__export"
      matTableExporter
      #exporter="matTableExporter">


        <!-- Sl No. -->
        <ng-container matColumnDef="sl_no" >
          <th mat-header-cell *matHeaderCellDef>Sl No</th>
          <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
        </ng-container>



        <!--Temporary TIN No.-->
        <ng-container matColumnDef="rnt_name" >
          <th mat-header-cell *matHeaderCellDef>R&T Short Name</th>
          <td mat-cell *matCellDef="let element">
            <p class="text-wrap">{{element.rnt_name}}</p>
          </td>
        </ng-container>


         <!-- New Field Added -->
         <ng-container matColumnDef="rnt_full_name">
          <th mat-header-cell *matHeaderCellDef >R&T Full Name</th>
          <td mat-cell *matCellDef="let element">
            {{element.rnt_full_name}}
          </td>
        </ng-container>
        <ng-container matColumnDef="login_url">
          <th mat-header-cell *matHeaderCellDef >Login URL</th>
          <td mat-cell *matCellDef="let element">
            {{element.login_url}}
          </td>
        </ng-container>
        <ng-container matColumnDef="login_pass">
          <th mat-header-cell *matHeaderCellDef  >Login Password</th>
          <td mat-cell *matCellDef="let element">
            {{element.login_pass}}
          </td>
        </ng-container>
        <ng-container matColumnDef="login_id">
          <th mat-header-cell *matHeaderCellDef>Login ID</th>
          <td mat-cell *matCellDef="let element">
            {{element.login_id}}
          </td>
        </ng-container>
        <!-- End -->

        <ng-container matColumnDef="distributor_care_email">
          <th mat-header-cell *matHeaderCellDef >Distributor Care Email</th>
          <td mat-cell *matCellDef="let element">
            {{element.distributor_care_email}}
          </td>
        </ng-container>
        <ng-container matColumnDef="distributor_care_no">
          <th mat-header-cell *matHeaderCellDef >Distributor Care Number</th>
          <td mat-cell *matCellDef="let element">
            {{element.distributor_care_no}}
          </td>
        </ng-container>


        <ng-container matColumnDef="website">
          <th mat-header-cell *matHeaderCellDef>Web Site</th>
          <td mat-cell *matCellDef="let element">
            {{element.website}}
          </td>
        </ng-container>

        <ng-container matColumnDef="cus_care_whatsApp_no">
          <th mat-header-cell *matHeaderCellDef>Customer Care WhatsApp Number</th>
          <td mat-cell *matCellDef="let element">
            {{element.cus_care_whatsapp_no}}
          </td>
        </ng-container>

        <ng-container matColumnDef="cus_care_no">
          <th mat-header-cell *matHeaderCellDef>Customer Care Number</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.cus_care_no}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="cus_care_email">
          <th mat-header-cell *matHeaderCellDef>Customer Care Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.cus_care_email}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_ofc_contact_per">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.head_ofc_contact_per}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_contact_per_mobile">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person Mobile</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.head_contact_per_mob}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_contact_per_email">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.head_contact_per_email}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="head_ofc_addr">
          <th mat-header-cell *matHeaderCellDef>Head Office Contact Person Address</th>
          <td mat-cell *matCellDef="let element">
           <p class="text-wrap">{{element.head_ofc_addr}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="local_ofc_contact_per">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.local_ofc_contact_per}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_contact_per_mobile">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person Mobile</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.local_contact_per_mob}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_contact_per_email">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.local_contact_per_email}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="local_ofc_addr">
          <th mat-header-cell *matHeaderCellDef>Local Office Contact Person Address</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.local_ofc_addr}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="l1_name">
          <th mat-header-cell *matHeaderCellDef>Level-1 Name</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l1_name}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l1_contact_no">
          <th  mat-header-cell *matHeaderCellDef>Level-1 Contact</th>
          <td mat-cell *matCellDef="let element">
           <p>{{element.l1_contact_no}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l1_email">
          <th  mat-header-cell *matHeaderCellDef>Level-1 Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l1_email}}</p>
          </td>
        </ng-container>


        <ng-container matColumnDef="l2_name">
          <th  mat-header-cell *matHeaderCellDef>Level-2 Name</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l2_name}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l2_contact_no">
          <th  mat-header-cell *matHeaderCellDef>Level-2 Contact</th>
          <td mat-cell *matCellDef="let element">
               <p class="text-wrap">{{element.l2_contact_no}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l2_email">
          <th mat-header-cell *matHeaderCellDef>Level-2 Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l2_email}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="l3_name">
          <th  mat-header-cell *matHeaderCellDef>Level-3 Name</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l3_name}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l3_contact_no">
          <th  mat-header-cell *matHeaderCellDef>Level-3 Contact</th>
          <td mat-cell *matCellDef="let element">
      <p class="text-wrap">{{element.l3_contact_no}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l3_email">
          <th  mat-header-cell *matHeaderCellDef>Level-3 Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l3_email}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="l4_name">
          <th  mat-header-cell *matHeaderCellDef>Level-4 Name</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l4_name}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l4_contact_no">
          <th  mat-header-cell *matHeaderCellDef>Level-4 Contact</th>
          <td mat-cell *matCellDef="let element">
      <p class="text-wrap">{{element.l4_contact_no}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="l4_email">
          <th  mat-header-cell *matHeaderCellDef>Level-4 Email</th>
          <td mat-cell *matCellDef="let element">
             <p class="text-wrap">{{element.l4_email}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="l5_name">
          <th  mat-header-cell *matHeaderCellDef>Level-5 Name</th>
          <td mat-cell *matCellDef="let element">
             {{element.l5_name!= 'null' ? element.l5_name : ''}}
          </td>
        </ng-container>
        <ng-container matColumnDef="l5_contact_no">
          <th  mat-header-cell *matHeaderCellDef>Level-5 Contact</th>
          <td mat-cell *matCellDef="let element">
             {{element.l5_contact_no!= 'null'  ? element.l5_contact_no : ''}}
          </td>
        </ng-container>
        <ng-container matColumnDef="l5_email">
          <th  mat-header-cell *matHeaderCellDef>Level-5 Email</th>
          <td mat-cell *matCellDef="let element">
             {{element.l5_email!= 'null'  ? element.l5_email : ''}}
          </td>
        </ng-container>

        <ng-container matColumnDef="l6_name">
          <th  mat-header-cell *matHeaderCellDef>Level-6 Name</th>
          <td mat-cell *matCellDef="let element">
             {{element.l6_name!= 'null'  ? element.l6_name : ''}}
          </td>
        </ng-container>
        <ng-container matColumnDef="l6_contact_no">
          <th  mat-header-cell *matHeaderCellDef>Level-6 Contact</th>
          <td mat-cell *matCellDef="let element">
             {{element.l6_contact_no!= 'null'  ? element.l6_contact_no : ''}}
          </td>
        </ng-container>
        <ng-container matColumnDef="l6_email">
          <th  mat-header-cell *matHeaderCellDef>Level-6 Email</th>
          <td mat-cell *matCellDef="let element">
             {{element.l6_email!= 'null'  ? element.l6_email : ''}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="__exportedClmns" class="highlight"></tr>
        <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4" class="text-center">No R&T History Found</td>
        </tr>
      </table>

    </div>
  </mat-dialog-content>
  </div>
