<core-search 
(__searchItem)="getSearchItem($event)" 
[__flag]="'Y'" 
[__api_name]="'/client'"
[__placeholder]="'Search by Name, Pan, Mobile, Email, DOB, Client code'">
</core-search>



<div class="card" *ngIf="__selectClients.length > 0">
    <div class="card-body">
      <table class="table table_Custome">
        <thead>
          <tr>
            <th>SL No.</th>
            <th>code</th>
            <th>Name</th>
            <th>Pan</th>
            <th>Mobile</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let __selectedItems of __selectClients;let i =index">
             <td>{{i + 1}}</td>
             <td>{{__selectedItems.client_code}}</td>
             <td>{{__selectedItems.client_name}}</td>
             <td>{{__selectedItems.pan}}</td>
             <td>{{__selectedItems.mobile}}</td>

             <td>
              <a (click)="populateDT(__selectedItems)">
                <mat-icon class="edit_icon">edit</mat-icon>
              </a>
             </td>
             <td>
              <a>
                <mat-icon class="delete_icon">delete</mat-icon>
              </a>
             </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>