<div class="bckContainer"></div>

<div class="row flexSec ">
    <div class="col-md-10 offset-md-1">
            <mat-card class="my-2">
                <mat-card-header class="border-bottom">
                    <mat-card-title>
                        <h4>
                            {{ queryId == 0 ? 'Add' : 'View'}} Query In {{productId == 3 ? 'Insurance' : (productId == 4 ? 'FD' : 'Mutual Fund')}}
                        </h4>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="p-3">
                        <div class="container mx-auto ">
                                <div class="divider">
                                <span>{{productId == 4 ? 'FD Holder Name' : productId == 3 ? 'Policy Holder Name' : 'Investor Name'}} Details</span>
                                <hr class="line"/>
                               </div>
                                <div class="row">
                                        <div class="col-md-12">
                                            <form [formGroup]="queryEntryForm">
                                            
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <app-core-srch
                                                        [label] = "(productId == 4 ? 'FD Holder Name' : (productId == 3 ? 'Policy Holder Name' : 'Investor Name'))"
                                                        [placeholder]="'Search By ' + (productId == 4 ? 'FD Holder' : (productId == 3 ? 'Policy Holder' : 'Investor')) + ' Name'"
                                                        [isPending]="__isInvestorSpinner"
                                                        [listItems] = "md_client"
                                                        [flag] = "'C'"
                                                        [isRequired]="false"
                                                        [noDataFoundTitle]="'Sorry!! No Records Found'"
                                                        [noDataFoundSubTitle]="'If your result match,they will appear here'"
                                                        [propertiesToShow] = "['client_name','client_code','pan']"
                                                        formControlName="investor_name"
                                                        [displayMode]="displayMode_forClient"
                                                        (setDisplayMode)="displayMode_forClient = $event"
                                                        (selectedItems)="getSelectedItemsFromParent($event)"
                                                        [isClientExistMsg]="'Sub Broker does not exists'"
                                                        ></app-core-srch>
                                                        <div class="invalid-feedback" *ngIf="queryEntryForm.get('investor_name').invalid && (queryEntryForm.get('investor_name').dirty || queryEntryForm.get('investor_name').touched)">
                                                            <span class="invalid-feedback" *ngIf="(queryEntryForm.get('investor_name').errors?.required)">*Please provide investor</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                         <label for="investor_pan">PAN</label>  
                                                         <input [placeholder]="(productId == 4 ? 'FD Holder' : (productId == 3 ? 'Policy Holder' : 'Investor')) + ' PAN'" [attr.disabled]="true" class="form-control" formControlName="investor_pan"/> 
                                                    </div>
                                                </div>
                                                <div class="row my-2">
                                                    <div class="col-sm-6">
                                                        <label for="investor_pan">Email</label>  
                                                        <input [placeholder]="(productId == 4 ? 'FD Holder' : (productId == 3 ? 'Policy Holder' : 'Investor')) + ' Email'" [attr.disabled]="true" class="form-control" formControlName="investor_email"/> 
                                                   </div>
                                                    <div class="col-sm-6">
                                                        <label for="investor_pan">Mobile</label>  
                                                        <input [placeholder]="(productId == 4 ? 'FD Holder' : (productId == 3 ? 'Policy Holder' : 'Investor')) + ' Mobile'" [attr.disabled]="true" class="form-control" formControlName="investor_mobile"/> 
                                                    </div>
                                                </div>
                                                <div class="divider">
                                                    <span>Other Details</span>
                                                    <hr class="line"/>
                                                </div>
                                                <div class="row my-2">
                                                    <div class="col-sm-6">
                                                        <label [for]="productId == 3 ? 'policy_no' : (productId == 4 ? 'fd_no' : 'folio_no')">
                                                            {{productId == 3 ? 'Policy No' : productId == 4 ? 'FD No' : 'Folio'}} 
                                                            </label>  
                                                        <ng-container [ngSwitch]="true">
                                                            <ng-container *ngSwitchCase="productId == 3 || productId == 4">
                                                                <input [placeholder]="'Enter ' + (productId == 4 ? 'FD No' : 'Policy No')" 
                                                                    class="form-control" [formControlName]="productId == 3 ? 'policy_no' : 'fd_no'"/> 
                                                                    <div class="invalid-feedback" *ngIf="queryEntryForm.get(productId == 3 ? 'policy_no' : 'fd_no').invalid && (queryEntryForm.get(productId == 3 ? 'policy_no' : 'fd_no').dirty || queryEntryForm.get(productId == 3 ? 'policy_no' : 'fd_no').touched)">
                                                                        <span class="invalid-feedback" *ngIf="(queryEntryForm.get(productId == 3 ? 'policy_no' : 'fd_no').errors?.required)">*Please provide {{productId == 3 ? 'policy no' : 'fd no'}} </span>
                                                                    </div>
                                                            </ng-container>
                                                            <ng-container *ngSwitchDefault>
                                                                <ng-multiselect-dropdown #multiSelect id="folio_no" 
                                                                [disabled]="queryId.toString() != '0'"
                                                                [placeholder]="'Select Folio'" [settings]="settingsforFolioDropdown" [data]="md_folio"
                                                                formControlName="folio_no">
                                                              </ng-multiselect-dropdown>
                                                                <div class="invalid-feedback" *ngIf="queryEntryForm.get('folio_no').invalid && (queryEntryForm.get('folio_no').dirty || queryEntryForm.get('folio_no').touched)">
                                                                    <span class="invalid-feedback" *ngIf="(queryEntryForm.get('folio_no').errors?.required)">*Please provide folio</span>
                                                                </div>
                                                            </ng-container>
                                                        </ng-container>
                                                        
                                                   </div>
                                                    <div class="col-sm-6">
                                                        <label for="application_no">Application No </label>  
                                                        <input placeholder="Enter Application No"   id="application_no" class="form-control" formControlName="application_no"/> 
                                                    </div>
                                                </div>
                                                <div class="row ">
                                                    <div class="col-sm-6">
                                                        <label for="query_given_by_id">Query Given By </label>  
                                                        <select class="form-control"   formControlName="query_given_by_id"  id="query_given_by_id">
                                                            <option value="">Select</option>
                                                            <option *ngFor="let item of md_QueryGiven_by" value="{{item.id}}">{{item.name}}</option>
                                                        </select>
                                                        <div class="invalid-feedback" *ngIf="queryEntryForm.get('query_given_by_id').invalid && (queryEntryForm.get('query_given_by_id').dirty || queryEntryForm.get('query_given_by_id').touched)">
                                                            <span class="invalid-feedback" *ngIf="(queryEntryForm.get('query_given_by_id').errors?.required)">*Please select query given by</span>
                                                          </div>
                                                   </div>
                                                    <div class="col-sm-6">
                                                        <label for="entry_name">Query Receive By  </label>  
                                                        <input   placeholder="Enter Query Receive By" id="entry_name" class="form-control" formControlName="entry_name"/> 
                                                    </div>
                                                </div>
                                                <div class="row my-2">
                                                        <div class="col-sm-6">
                                                        <label [for]="productId == 1 ? 'scheme_id' : 'plan_id'">
                                                            {{productId == 3 || productId == 4 ? 'Plan' : 'Scheme'}}
                                                            
                                                        </label>
                                                        <ng-container [ngSwitch]="true">
                                                            <div *ngSwitchCase="productId == 3 || productId == 4">
                                                                <select   class="form-control" [formControlName]="productId == 3 ? 'ins_product_id' : 'fd_scheme_id'"
                                                                 [id]="productId == 3 ? 'ins_product_id' : 'fd_scheme_id'"  [name]="productId == 3 ? 'ins_product_id' : 'fd_scheme_id'">
                                                                    <option value="">Select</option>
                                                                    <option value="{{item.id}}" *ngFor="let item of md_plan">{{productId == 3 ? item.product_name : item.scheme_name }}</option>
                                                                </select>
                                                                <div class="invalid-feedback" *ngIf="queryEntryForm.get(productId == 3 ? 'ins_product_id' : 'fd_scheme_id').invalid && (queryEntryForm.get(productId == 3 ? 'ins_product_id' : 'fd_scheme_id').dirty || queryEntryForm.get(productId == 3 ? 'ins_product_id' : 'fd_scheme_id').touched)">
                                                                    <span class="invalid-feedback" *ngIf="(queryEntryForm.get(productId == 3 ? 'ins_product_id' : 'fd_scheme_id').errors?.required)">*Please provide plan</span>
                                                                </div>
                                                            </div>
                                                            <div *ngSwitchDefault>
                                                                <select   class="form-control" formControlName="scheme_id" id="scheme_id" name="scheme_id">
                                                                    <option value="">Select</option>
                                                                    <option value="{{item.id}}" *ngFor="let item of md_scheme">{{item.scheme_name}}-{{item.plan_name}}-{{item.option_name}}</option>
                                                                </select>
                                                                <div class="invalid-feedback" *ngIf="queryEntryForm.get('scheme_id').invalid && (queryEntryForm.get('scheme_id').dirty || queryEntryForm.get('scheme_id').touched)">
                                                                    <span class="invalid-feedback" *ngIf="(queryEntryForm.get('scheme_id').errors?.required)">*Please provide scheme</span>
                                                                </div>
                                                            </div>
                                                        </ng-container>

                                                        </div>

                                                        <div class="col-sm-6">
                                                            <label for="query_type_id">Query Type </label>  
                                                            <!-- <select class="form-control" formControlName="query_type_id"  id="query_type_id">
                                                                <option value="">Select</option>
                                                                <option *ngFor="let item of md_queryType" value="{{item.id}}">{{item.query_type}}</option>
                                                            </select> -->
                                                            <select
                                                                name="query_type_id"
                                                                id="query_type_id"
                                                                class="form-control"
                                                                formControlName="query_type_id"
                                                                [compareWith]="compareWith"  
                                                                >
                                                                <option value="">Select</option>
                                                                <option [ngValue]="item"
                                                                *ngFor="let item of md_queryType">
                                                                {{item.query_type}}
                                                                </option>
                                                            </select>
                                                            <div class="invalid-feedback" *ngIf="queryEntryForm.get('query_type_id').invalid && (queryEntryForm.get('query_type_id').dirty || queryEntryForm.get('query_type_id').touched)">
                                                                <span class="invalid-feedback" *ngIf="(queryEntryForm.get('query_type_id').errors?.required)">*Please select query type</span>
                                                              </div>
                                                       </div>
                                                        
                                                </div>
                                                   
                                                <div class="row ">
                                                    <div class="col-sm-6">
                                                        <label for="query_subtype_id">Query Subtype </label>  
                                                        <select class="form-control"   formControlName="query_subtype_id"  id="query_subtype_id">
                                                            <option value="">Select</option>
                                                            <option *ngFor="let item of md_querySubType" value="{{item.id}}">{{item.query_subtype}}</option>
                                                        </select>
                                                        
                                                        <div class="invalid-feedback" *ngIf="queryEntryForm.get('query_subtype_id').invalid && (queryEntryForm.get('query_subtype_id').dirty || queryEntryForm.get('query_subtype_id').touched)">
                                                            <span class="invalid-feedback" *ngIf="(queryEntryForm.get('query_subtype_id').errors?.required)">*Please select query subtype</span>
                                                          </div>
                                                    </div>
                                                </div>
                                              
                                                <div  *ngIf="formData && formData?.entryattach.length > 0">
                                                    <label>Attachments</label>
                                                    <div class="row ">
                                                               
                                                        <div class="col-sm-6 col-md-4 col-lg-1 item" *ngFor="let pdf of formData?.entryattach">
                                                                    <a href={{pdf.url}} target="_blank" class="d-block mb-4 h-20">
                                                                        <ng-container *ngIf="pdf.ext == 'pdf'">
                                                                                <img alt={{pdf.name}}  class="img-fluid img-thumbnail" src="../../../../../assets/images/pdf.png"/>
                                                                        </ng-container>
                                                                        <ng-container  *ngIf="pdf.ext == 'jpg' || pdf.ext == 'jpeg' || pdf.ext == 'png'">
                                                                            <img alt={{pdf.name}}  class="img-fluid img-thumbnail" src="../../../../../assets/images/image.png"/>
                                                                        </ng-container>
                                                                        <span style="
                                                                            font-size: 8px;
                                                                            word-wrap: break-word;
                                                                        ">
                                                                            {{pdf.name}}
                                                                        </span>
                                                                    </a>
                                                        </div>
                                        </div>
                                                </div>
                                                <div class="row my-2">
                                                    <div class="col-sm-12">
                                                            <label for="query_details">Query Details </label>
                                                            <textarea   id="query_details" name="query_details" rows="4" class="form-control" formControlName="query_details" placeholder="Enter Query Details" cols="50"></textarea>
                                                            <div class="invalid-feedback" *ngIf="queryEntryForm.get('query_details').invalid && (queryEntryForm.get('query_details').dirty || queryEntryForm.get('query_details').touched)">
                                                                <span class="invalid-feedback" *ngIf="(queryEntryForm.get('query_details').errors?.required)">*Please select query details</span>
                                                              </div>
                                                    </div>
                                             </div>
                                            <div class="row" *ngIf="queryId == 0">
                                                   <div class="col-sm-12">
                                                            <label for="entry_attachment">Attachments</label>
                                                            <input class="form-control" type="file" multiple accept=".pdf,.jpg,.jpeg,.png"
                                                                formControlName="entry_file"
                                                                (change)="onFileSelect($event)"    
                                                            />
                                                   </div> 
                                            </div>
                                           
                                            </form>
                                              
                                        </div>  
                                </div>
                        </div>
                </mat-card-content>
            </mat-card>

            <mat-card >
                    <mat-card-content class="p-5">
                                <form [formGroup]="queryEntryForm" id="updateStatus">
                                    
                                    <div class="row ">
                                        <div class="col-sm-6">
                                            <label for="query_nature_id">Query Nature </label>  
                                            <select class="form-control"   formControlName="query_nature_id"  id="query_nature_id">
                                                <option value="">Select</option>
                                                <option *ngFor="let item of md_queryNature" value="{{item.id}}">{{item.query_nature}}</option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="queryEntryForm.get('query_nature_id').invalid && (queryEntryForm.get('query_nature_id').dirty || queryEntryForm.get('query_nature_id').touched)">
                                                <span class="invalid-feedback" *ngIf="(queryEntryForm.get('query_nature_id').errors?.required)">*Please select query nature</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" *ngIf="queryEntryForm.value.query_nature_id != 3">
                                              <label for="query_given_to_id">Query Given To </label>  
                                              <select class="form-control"   formControlName="query_given_to_id"  id="query_given_to_id">
                                                  <option value="">Select</option>
                                                  <option *ngFor="let item of md_QueryGiven_by" value="{{item.id}}">{{item.name}}</option>
                                              </select>
                                              <div class="invalid-feedback" *ngIf="queryEntryForm.get('query_given_to_id').invalid && (queryEntryForm.get('query_given_to_id').dirty || queryEntryForm.get('query_given_to_id').touched)">
                                                  <span class="invalid-feedback" *ngIf="(queryEntryForm.get('query_given_to_id').errors?.required)">*Please select query given to</span>
                                                </div>
                                        </div>

                                    </div>
                                    <div class="row my-2" *ngIf="queryEntryForm.value.query_nature_id != 3">
                                        <div class="col-sm-6">
                                            <label for="query_rec_through_id">Query Receive Through </label>  
                                            <select class="form-control"   formControlName="query_rec_through_id"  id="query_rec_through_id">
                                                <option value="">Select</option>
                                                <option *ngFor="let item of md_QueryGivenReceiveThr" value="{{item.id}}">{{item.name}}</option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="queryEntryForm.get('query_rec_through_id').invalid && (queryEntryForm.get('query_rec_through_id').dirty || queryEntryForm.get('query_rec_through_id').touched)">
                                                <span class="invalid-feedback" *ngIf="(queryEntryForm.get('query_rec_through_id').errors?.required)">*Please select query receive through</span>
                                              </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="query_given_through_id">Query Given Through </label>  
                                            <select class="form-control"   formControlName="query_given_through_id"  id="query_given_through_id">
                                                <option value="">Select</option>
                                                <option *ngFor="let item of md_QueryGivenReceiveThr" value="{{item.id}}">{{item.name}}</option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="queryEntryForm.get('query_given_through_id').invalid && (queryEntryForm.get('query_given_through_id').dirty || queryEntryForm.get('query_given_through_id').touched)">
                                                <span class="invalid-feedback" *ngIf="(queryEntryForm.get('query_given_through_id').errors?.required)">*Please select query given through</span>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="queryEntryForm.value.query_nature_id != 3">
                                        <div class="col-sm-6">
                                            <label for="concern_person_name">Concern Person Name  </label>  
                                            <input   placeholder="Enter Concern Person Name" id="concern_person_name" class="form-control" formControlName="concern_person_name"/> 
                                            <div class="invalid-feedback" *ngIf="queryEntryForm.get('concern_person_name').invalid && (queryEntryForm.get('concern_person_name').dirty || queryEntryForm.get('concern_person_name').touched)">
                                                <span class="invalid-feedback" *ngIf="(queryEntryForm.get('concern_person_name').errors?.required)">*Please provide concern person name</span>
                                              </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="contact_no">Contact Number  </label>  
                                            <input   placeholder="Enter Contact Number" id="contact_no" class="form-control" formControlName="contact_no"/> 
                                            <div class="invalid-feedback" *ngIf="queryEntryForm.get('contact_no').invalid && (queryEntryForm.get('contact_no').dirty || queryEntryForm.get('contact_no').touched)">
                                                <span class="invalid-feedback" *ngIf="(queryEntryForm.get('contact_no').errors?.required)">*Please provide contact number</span>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="row my-2" *ngIf="queryEntryForm.value.query_nature_id != 3">
                                        <div class="col-sm-6">
                                            <label for="email_id">Email ID  </label>  
                                            <input   placeholder="Enter Email" type="email" id="email_id" class="form-control" formControlName="email_id"/> 
                                            <div class="invalid-feedback" *ngIf="queryEntryForm.get('email_id').invalid && (queryEntryForm.get('email_id').dirty || queryEntryForm.get('email_id').touched)">
                                                
                                                <span class="invalid-feedback" *ngIf="(queryEntryForm.get('email_id').errors?.required)">*Please provide email id</span>
                                                <span class="invalid-feedback" *ngIf="(queryEntryForm.get('email_id').errors?.email)">*Please provide valid email</span>
                                              </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="query_tat">Query TAT  </label>  
                                            <input   [attr.disabled]="true" placeholder="Query TAT" type="text" id="query_tat" class="form-control" formControlName="query_tat"/> 
                                            <div class="invalid-feedback" *ngIf="queryEntryForm.get('query_tat').invalid && (queryEntryForm.get('query_tat').dirty || queryEntryForm.get('query_tat').touched)">
                                                <span class="invalid-feedback" *ngIf="(queryEntryForm.get('query_tat').errors?.required)">*Please provide query TAT</span>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="row " *ngIf="queryEntryForm.value.query_nature_id != 3">
                                        <div class="col-sm-6">
                                            <label for="expected_close_date">Expected Close Date  </label>  
                                            <input   type="date" id="expected_close_date" class="form-control" formControlName="expected_close_date"/> 
                                            <div class="invalid-feedback" *ngIf="queryEntryForm.get('expected_close_date').invalid && (queryEntryForm.get('expected_close_date').dirty || queryEntryForm.get('expected_close_date').touched)">
                                                <span class="invalid-feedback" *ngIf="(queryEntryForm.get('expected_close_date').errors?.required)">*Please provide date</span>
                                              </div>
                                        </div>
                                        <!-- <div class="col-sm-6 d-flex align-items-start justify-content-center flex-column">
                                            <label for="queryMode" class="mr-3">Query Mode </label>
                                            <mat-radio-group id="queryMode" name="queryMode" [formControlName]="'query_mode_id'" color="primary">
                                                <mat-radio-button value="O">Online</mat-radio-button>
                                                <mat-radio-button value="F" class="mx-2">Offline</mat-radio-button>
                                            </mat-radio-group>
                                        </div> -->
                                        <div class="col-sm-6">
                                            <label for="query_status_id">Query Status </label>  
                                            <select class="form-control"   formControlName="query_status_id"  id="query_status_id">
                                                <option value="">Select</option>
                                                <option *ngFor="let item of md_queryStatus" value="{{item.id}}">{{item.status_name}}</option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="queryEntryForm.get('query_status_id').invalid && (queryEntryForm.get('query_status_id').dirty || queryEntryForm.get('query_status_id').touched)">
                                                <span class="invalid-feedback" *ngIf="(queryEntryForm.get('query_status_id').errors?.required)">*Please select query status</span>
                                              </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <!-- <div class="col-sm-6">
                                            <label for="query_status_id">Query Status </label>  
                                            <select class="form-control"   formControlName="query_status_id"  id="query_status_id">
                                                <option value="">Select</option>
                                                <option *ngFor="let item of md_queryStatus" value="{{item.id}}">{{item.status_name}}</option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="queryEntryForm.get('query_status_id').invalid && (queryEntryForm.get('query_status_id').dirty || queryEntryForm.get('query_status_id').touched)">
                                                <span class="invalid-feedback" *ngIf="(queryEntryForm.get('query_status_id').errors?.required)">*Please select query status</span>
                                              </div>
                                      </div> -->
                                      <div class="col-sm-12 d-flex flex-column">
                                        <label >Query Inform Through</label>  
                                        <span class="p-buttonset">
                                            <button pButton type="button" 
                                            [ngClass]="{
                                                'p-button-text': formData?.call_flag == 'N',
                                                'p-button-warning': formData?.call_flag == 'N',
                                                'p-button-success': formData?.call_flag == 'Y'
                                            }"
                                             label="Call" icon="pi pi-phone"></button>
                                            <button pButton type="button" 
                                            label="Whatsapp"  
                                            class=" mx-2"  
                                            [ngClass]="{
                                                'p-button-text': formData?.whats_app_flag == 'N',
                                                'p-button-warning': formData?.whats_app_flag == 'N',
                                                'p-button-success': formData?.whats_app_flag == 'Y'
                                            }"
                                            icon="pi pi-whatsapp"></button>
                                            <button pButton type="button" 
                                            [ngClass]="{
                                                'p-button-text': formData?.email_flag == 'N',
                                                'p-button-warning': formData?.email_flag == 'N',
                                                'p-button-success': formData?.email_flag == 'Y'
                                            }"
                                            label="Email" icon="pi pi-envelope" ></button>
                                            <button pButton type="button" 
                                            [ngClass]="{
                                                'p-button-text': formData?.sms_flag == 'N',
                                                'p-button-warning': formData?.sms_flag == 'N',
                                                'p-button-success': formData?.sms_flag == 'Y'
                                            }"
                                            label="SMS" icon="pi pi-comment" class="mx-2"></button>
                                        </span>
                                      </div>
                                    </div>
                                   
                                    <div class="row">
                                        <div class="col-sm-12">
                                                            <label for="solve_attachment">Attachments</label>
                                                            <!-- <input class="form-control" type="file" multiple accept=".pdf,.jpg,.jpeg,.png"
                                                                formControlName="solve_file"
                                                                (change)="onFileSelectforUpdate($event)"    
                                                            /> -->
                                         </div>
                                         <div class="col-sm-12 col-md-4 col-lg-1 item mt-3" *ngFor="let pdf of formData?.solveattach">
                                            <a href={{pdf.url}} target="_blank" class="d-block mb-4 h-20">
                                                <ng-container *ngIf="pdf.ext == 'pdf'">
                                                        <img alt={{pdf.name}}  class="img-fluid img-thumbnail" src="../../../../../assets/images/pdf.png"/>
                                                </ng-container>
                                                <ng-container  *ngIf="pdf.ext == 'jpg' || pdf.ext == 'jpeg' || pdf.ext == 'png'">
                                                    <img alt={{pdf.name}}  class="img-fluid img-thumbnail" src="{{pdf.url}}"/>
                                                </ng-container>
                                                <span style="
                                                    font-size: 8px;
                                                    word-wrap: break-word;
                                                ">
                                                    {{pdf.name}}
                                                </span>
                                            </a>
                                        </div>
                                        <div class="col-sm-12">
                                                <label for="remarks">Remarks </label>
                                                <textarea   id="remarks" name="remarks" rows="4" class="form-control" formControlName="remarks" placeholder="Enter Remarks" cols="12"></textarea>
                                                <div class="invalid-feedback" *ngIf="queryEntryForm.get('remarks').invalid && (queryEntryForm.get('remarks').dirty || queryEntryForm.get('remarks').touched)">
                                                    <span class="invalid-feedback" *ngIf="(queryEntryForm.get('remarks').errors?.required)">*Please provide remarks</span>
                                                  </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="query_feedback">query_feedback </label>
                                            <textarea   id="query_feedback" name="query_feedback" rows="4" class="form-control" formControlName="query_feedback" placeholder="Enter Feedback" cols="12"></textarea>
                                            
                                    </div>
                                        <div class="col-sm-12">
                                            <label for="suggestion">Suggestion</label>
                                            <textarea   id="suggestion" name="suggestion" rows="4" class="form-control" formControlName="suggestion" placeholder="Enter Suggestion" cols="12"></textarea>
                                           
                                        </div>
                                        
                                    </div>
                                </form>
                    </mat-card-content>
            </mat-card>
    </div>
</div>