<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle >
  <div mat-dialog-title class="dialog-title" [title]="data.title">
    <h2 >{{data.title}} {{data.id > 0 ? '(' +data.amc.amc_name+')' : ''}}</h2>
    <div class="btnIcon">
      <button mat-icon-button  (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button  (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>check_box_outline_blank</mat-icon>
      </button>
      <button mat-icon-button  (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      
  
      <button mat-icon-button  [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>
  
    </div>
  
  </div>
  <mat-dialog-content>
    <form  [formGroup]="__amcForm" (ngSubmit)="submit()" autocomplete="off" id="__amcForm_{{data.id}}" ngNativeValidate>
      <div class="row">
        <div class="col-sm-12 my-3">
          <label for="rntName">RNT <span class="text-danger">*</span></label>
          <select class="form-control " formControlName="rnt_id" id="rntName">
            <option value="">Select RNT</option>
            <option *ngFor="let __rnts of __RntMaster" value="{{__rnts.id}}">{{__rnts.rnt_name}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="__amcForm.get('rnt_id').invalid && (__amcForm.get('rnt_id').dirty || __amcForm.get('rnt_id').touched)">
            <span class="invalid-feedback" *ngIf="(__amcForm.get('rnt_id')).errors?.required">*Please provide RNT</span>
          </div>
        </div>
        <div class="col-sm-12 my-3">
          <label for="productName">Product <span class="text-danger">*</span></label>
           <select class="form-control" formControlName="product_id" id="productName">
             <option value="">Select Product</option>
            <option *ngFor="let __products of __ProductMaster" value="{{__products.id}}">{{__products.product_name}}</option>
           </select>
          <div class="invalid-feedback" *ngIf="__amcForm.get('product_id').invalid && (__amcForm.get('product_id').dirty || __amcForm.get('product_id').touched)">
            <span class="invalid-feedback" *ngIf="(__amcForm.get('product_id')).errors?.required">*Please provide product</span>
          </div>
        </div>
        <div class="col-sm-12 my-3">
          <label for="amcName">AMC Name <span class="text-danger">*</span></label>
          <input type="text" name="amc_name" id="amcName" class="form-control" placeholder="Enter AMC Name" formControlName="amc_name">
          <div class="invalid-feedback" *ngIf="__amcForm.get('amc_name').invalid && (__amcForm.get('amc_name').dirty || __amcForm.get('amc_name').touched)">
            <span class="invalid-feedback" *ngIf="(__amcForm.get('amc_name')).errors?.required">*Please provide AMC name</span>
          </div>
        </div>
        <div class="col-sm-12 my-3">
          <label for="web_site">Web Site</label>
          <input type="text" name="web_site" id="web_site" class="form-control" placeholder="Enter WebSite" formControlName="web_site">
        </div>
        <div class="col-sm-12 my-3">
          <label for="ofc_add">Office Address</label>
          <textarea name="ofc_add" id="ofc_add" cols="30" rows="5" formControlName="ofc_address" class="form-control" placeholder="Enter Office Address"></textarea>
          <div class="invalid-feedback" *ngIf="__amcForm.get('ofc_address').invalid && (__amcForm.get('ofc_address').dirty || __amcForm.get('ofc_address').touched)">
            <span class="invalid-feedback" *ngIf="(__amcForm.get('ofc_address')).errors?.required">*Please provide office address</span>
          </div>
        </div>
        <div class="col-sm-12 my-3">
          <label for="cust_care_no">Customer Care Number</label>
          <input (keypress)="preventNonumeric($event)" type="text" name="cust_care_no" id="cust_care_no" class="form-control" placeholder="Enter Customer Care Number"  formControlName="cust_care_no">
          <div class="invalid-feedback" *ngIf="__amcForm.get('cust_care_no').invalid && (__amcForm.get('cust_care_no').dirty || __amcForm.get('cust_care_no').touched)">
            <span class="invalid-feedback" *ngIf="(__amcForm.get('cust_care_no')).errors?.required">*Please provide customer care number</span>
            <span class="invalid-feedback" *ngIf="(__amcForm.get('cust_care_no')).hasError('pattern')">*Digits allow only</span>
          </div>
        </div>
        <div class="col-sm-12 my-3">
          <label for="cust_care_email">Customer Care Email</label>
          <input (keypress)="preventNonumeric($event)" type="email" name="cust_care_email" id="cust_care_email" class="form-control" placeholder="Enter Customer Care Email"  formControlName="cust_care_email">
          <div class="invalid-feedback" *ngIf="__amcForm.get('cust_care_email').invalid && (__amcForm.get('cust_care_email').dirty || __amcForm.get('cust_care_email').touched)">
            <span class="invalid-feedback" *ngIf="(__amcForm.get('cust_care_email').errors?.email)">*Please provide valid email</span>
          </div>
        </div>
        <div class="col-sm-12 my-3">
          <label for="sip_start_date">Sip Start Date</label>
          <input  type="date" name="sip_start_date" id="sip_start_date" class="form-control" formControlName="sip_start_date">
          <div class="invalid-feedback" *ngIf="__amcForm.get('sip_start_date').invalid && (__amcForm.get('sip_start_date').dirty || __amcForm.get('sip_start_date').touched)">
            <span class="invalid-feedback" *ngIf="(__amcForm.get('sip_start_date').errors?.email)">*Please provide sip start date</span>
          </div>
        </div>
        <div class="col-sm-12 my-3">
          <label for="sip_end_date">Sip End Date</label>
          <input  type="date" name="sip_end_date" id="sip_end_date" class="form-control" formControlName="sip_end_date">
          <div class="invalid-feedback" *ngIf="__amcForm.get('sip_end_date').invalid && (__amcForm.get('sip_end_date').dirty || __amcForm.get('sip_end_date').touched)">
            <span class="invalid-feedback" *ngIf="(__amcForm.get('sip_end_date').errors?.email)">*Please provide sip end date</span>
          </div>
        </div>
      </div>
      <div class="divider">
        <span>Lavel-1(Operation)</span>
        <hr class="line"/>
       </div>
      <div class="row">
        <div class="col-sm-12 my-3">
          <label for="l1_name">Name</label>
          <input type="text" name="l1_name" id="l1_name" class="form-control" placeholder="Enter Name" formControlName="l1_name">
        </div>
        <div class="col-sm-12 my-3">
          <label for="l1_email">Email</label>
          <input type="text" name="l1_email" id="l1_email" class="form-control" placeholder="Enter Email Id" formControlName="l1_email">
        </div>
        <div class="col-sm-12 my-3">
          <label for="l1_contact_no">Contact</label>
          <input type="text" name="l1_contact_no" id="l1_contact_no" class="form-control" placeholder="Enter Contact Number" formControlName="l1_contact_no">
        </div>
  
      </div>
  
      
      <div class="divider">
        <span>Lavel-2(Operation Head)</span>
        <hr class="line"/>
       </div>
      <div class="row">
        <div class="col-sm-12 my-3">
          <label for="l2_name">Name</label>
          <input type="text" name="l2_name" id="l2_name" class="form-control" placeholder="Enter Name" formControlName="l2_name">
        </div>
        <div class="col-sm-12 my-3">
          <label for="l2_email">Email</label>
          <input type="text" name="l2_email" id="l2_email" class="form-control" placeholder="Enter Email Id" formControlName="l2_email">
        </div>
        <div class="col-sm-12 my-3">
          <label for="l2_contact_no">Contact</label>
          <input type="text" name="l2_contact_no" id="l2_contact_no" class="form-control" placeholder="Enter Contact Number" formControlName="l2_contact_no">
        </div>
  
      </div>
  
      <div class="divider">
        <span>Lavel-3(RM - Sales)</span>
        <hr class="line"/>
       </div>
      <div class="row">
        <div class="col-sm-12 my-3">
          <label for="l3_name">Name</label>
          <input type="text" name="l3_name" id="l3_name" class="form-control" placeholder="Enter Name" formControlName="l3_name">
        </div>
        <div class="col-sm-12 my-3">
          <label for="l3_email">Email</label>
          <input type="text" name="l3_email" id="l3_email" class="form-control" placeholder="Enter Email Id" formControlName="l3_email">
        </div>
        <div class="col-sm-12 my-3">
          <label for="l3_contact_no">Contact</label>
          <input type="text" name="l3_contact_no" id="l3_contact_no" class="form-control" placeholder="Enter Contact Number" formControlName="l3_contact_no">
        </div>
  
      </div>
  
           
      <div class="divider">
        <span>Lavel-4(Area Manager/Regional Manager)</span>
        <hr class="line"/>
       </div>
      <div class="row">
        <div class="col-sm-12 my-3">
          <label for="l4_name">Name</label>
          <input type="text" name="l4_name" id="l4_name" class="form-control" placeholder="Enter Name" formControlName="l4_name">
        </div>
        <div class="col-sm-12 my-3">
          <label for="l4_email">Email</label>
          <input type="text" name="l4_email" id="l4_email" class="form-control" placeholder="Enter Email Id" formControlName="l4_email">
        </div>
        <div class="col-sm-12 my-3">
          <label for="l4_contact_no">Contact</label>
          <input type="text" name="l4_contact_no" id="l4_contact_no" class="form-control" placeholder="Enter Contact Number" formControlName="l4_contact_no">
        </div>
  
      </div>
  
      
                     
      <div class="divider">
         <span>Lavel-5(Zonal Manager/State Head)</span>
        <hr class="line"/>
       </div>
      <div class="row">
        <div class="col-sm-12 my-3">
          <label for="l5_name">Name</label>
          <input type="text" name="l5_name" id="l5_name" class="form-control" placeholder="Enter Name" formControlName="l5_name">
        </div>
        <div class="col-sm-12 my-3">
          <label for="l5_email">Email</label>
          <input type="text" name="l5_email" id="l5_email" class="form-control" placeholder="Enter Email Id" formControlName="l5_email">
        </div>
        <div class="col-sm-12 my-3">
          <label for="l5_contact_no">Contact</label>
          <input type="text" name="l5_contact_no" id="l5_contact_no" class="form-control" placeholder="Enter Contact Number" formControlName="l5_contact_no">
        </div>
  
      </div>
  
      <div class="divider">
        <span>Lavel-6(National Sales Head/Product Head)</span>
       <hr class="line"/>
      </div>
      <div class="row">
        <div class="col-sm-12 my-3">
          <label for="l6_name">Name</label>
          <input type="text" name="l6_name" id="l6_name" class="form-control" placeholder="Enter Name" formControlName="l6_name">
        </div>
        <div class="col-sm-12 my-3">
          <label for="l6_email">Email</label>
          <input type="text" name="l6_email" id="l6_email" class="form-control" placeholder="Enter Email Id" formControlName="l6_email">
        </div>
        <div class="col-sm-12 my-3">
          <label for="l6_contact_no">Contact</label>
          <input type="text" name="l6_contact_no" id="l6_contact_no" class="form-control" placeholder="Enter Contact Number" formControlName="l6_contact_no">
        </div>
      </div>

  </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="popupBoxSubmitSec">
    <button class="btn addBtn  ml-2" [attr.form]="'__amcForm_'+data.id" [disabled]="this.__amcForm.invalid">
      {{this.data.id > 0 ? 'Update' : 'Submit'}}
    </button>
  </mat-dialog-actions>
  <br clear="all">
</div>
