<div class="row flexSec">
  <div class="col-sm-7">
    <shared-upload-csv [leftHeaderTitle]="'Upload Option'" [flag]="'O'"
    [file_name]="'Sample Option'" [columns]="tableColumns" [api_name]="'/optionimport'"
      [dataSource]="tableData" [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>
  <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All Option'" [headerTitle]="'Recent Option'" [flag]="'O'"
      (populate)="populateDT($event)"
      (viewAll)="viewAll()"
      [dataSource]="__selectOpt.data"></shared-mst-dtls>
  </div>
</div>
