<ul [ngClass]="__classUL">
  <li *ngFor="let items of __items" [ngClass]="{'thumbnailLi' : items.flag == 'P','searchBox':items.flag == 'S'}">
    <button mat-icon-button color="primary" *ngIf="items.flag == 'N'" (click)="getItems(items)">
      <mat-icon [class]="items.id == 3 ? 'material-icons-outlined shake' : 'material-icons-outlined'"> {{items.icon}}</mat-icon>
    </button>
    <a *ngIf="items.flag == 'P'" class="dropbtn loginThumb" (click)="openProfileMenu()">NC</a>
    <div id="myDropdown" class="dropdown-content" #profileDRP *ngIf="items.flag == 'P'">
      <a>
        <i class="fa fa-user-o" aria-hidden="true"></i>

        My Profile</a>
      <a><i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Password</a>
      <a [routerLink]="['/']"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
    </div>
  </li>
</ul>
