<ul [ngClass]="__classUL">
  <li *ngFor="let items of __items" [ngClass]="{'thumbnailLi' : items.flag == 'P','searchBox':items.flag == 'S'}">
    <button mat-icon-button color="primary" *ngIf="items.flag == 'N'" (click)="getItems(items)">
      <mat-icon [class]="items.id == 3 ? 'material-icons-outlined shake' : 'material-icons-outlined'"> {{items.icon}}</mat-icon>
    </button>
    <a *ngIf="items.flag == 'P'" class="dropbtn loginThumb" [ngStyle]="{'background-color':  circleColor }" (click)="openProfileMenu()">
        {{user_dtls ? user_dtls?.short_name : ''}}

    </a>
    <div id="myDropdown" class="dropdown-content" #profileDRP *ngIf="items.flag == 'P'">
            <div class="dropdown-header">
              <div class="title text-center">
                <span>{{user_dtls ? user_dtls?.email : ''}}</span>
                <span>Managed By NuEdge</span>
              </div>
            </div>
            <div class="content_body">
              <div class="content_body_avatar text_content text-center">
                <a  class="dropdown_avatar" [ngStyle]="{'background-color':  circleColor }">
                  {{user_dtls ? user_dtls?.short_name : ''}}
               </a>
               <p  class="my-3">Hi, {{user_dtls ? user_dtls?.name : ''}}</p>
               <button mat-stroked-button color="primary">Manage Your Account</button>
              </div>
               <hr class="mt-3 mb-0"/>

              <mat-selection-list [multiple]="false">
              <mat-list-option  color="primary" [routerLink]="['/main/profile']">
                <div mat-line>Change Password</div>
                <mat-icon mat-list-icon align="end">lock</mat-icon>
              </mat-list-option>
              <mat-list-option   color="primary" (click)="logout()">
                <div mat-line>Sign Out</div>
                <mat-icon mat-list-icon align="end">logout</mat-icon>
              </mat-list-option>
            </mat-selection-list>



            </div>
      <!-- <a>
        <i class="fa fa-user-o" aria-hidden="true"></i>

        My Profile</a>
      <a><i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Password</a>
      <a (click)="logout()" [routerLink]="['/']"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a> -->
    </div>
  </li>
</ul>
