<div class="row flexSec">
  <div class="col-sm-7 p-0">
    <div class="cardSec m-1">
      <div class="card_header">
        <h3>{{this.__bankId > 0 ? 'Update' : 'Add'}} Bank</h3>
      </div>
      <div class="card_body">
        <form  [formGroup]="__bankForm" (ngSubmit)="submit()"  autocomplete="off" ngNativeValidate>
          <div class="row">
            <div class="col-sm-12 my-3">
              <label for="ifsCode">IFSC <span class="text-danger">*</span></label>
              <input type="text" name="ifs_code" id="ifsCode" class="form-control" placeholder="Enter IFSC" formControlName="ifs_code">

              <div class="invalid-feedback" *ngIf="__bankForm.get('ifs_code').invalid && (__bankForm.get('ifs_code').dirty || __bankForm.get('ifs_code').touched)">
                <span class="invalid-feedback" *ngIf="(__bankForm.get('ifs_code')).errors?.required">*Please provide IFSC</span>
              </div>
            </div>
            <div class="col-sm-12 my-3">
              <label for="bankName">Bank <span class="text-danger">*</span></label>
              <input type="text" name="bank_name" id="bankName" class="form-control" placeholder="Enter Bank Name" formControlName="bank_name">
              <div class="invalid-feedback" *ngIf="__bankForm.get('bank_name').invalid && (__bankForm.get('bank_name').dirty || __bankForm.get('bank_name').touched)">
                <span class="invalid-feedback" *ngIf="(__bankForm.get('bank_name')).errors?.required">*Please provide bank name</span>
              </div>
            </div>

            <div class="col-sm-12 my-3">
              <label for="branch_name">Branch Name <span class="text-danger">*</span></label>
              <input type="text" name="bank_name" id="branch_name" class="form-control" placeholder="Enter Branch Name" formControlName="branch_name">
              <div class="invalid-feedback" *ngIf="__bankForm.get('branch_name').invalid && (__bankForm.get('branch_name').dirty || __bankForm.get('branch_name').touched)">
                <span class="invalid-feedback" *ngIf="(__bankForm.get('branch_name')).errors?.required">*Please provide branch name</span>
              </div>
            </div>
            <div class="col-sm-12 my-3">
              <label for="micr_code">MICR Code <span class="text-danger">*</span></label>
              <input type="text" name="branch_name" id="micr_code" class="form-control" placeholder="Enter MICR Code" formControlName="micr_code">
              <div class="invalid-feedback" *ngIf="__bankForm.get('micr_code').invalid && (__bankForm.get('micr_code').dirty || __bankForm.get('micr_code').touched)">
                <span class="invalid-feedback" *ngIf="(__bankForm.get('micr_code')).errors?.required">*Please provide micr code</span>
              </div>
            </div>
            <div class="col-sm-12 my-3">
              <label for="branch_addr">Branch Address <span class="text-danger">*</span></label>
                  <textarea rows="5" cols="12" class="form-control" name="bank_name" id="branch_addr" class="form-control" placeholder="Enter Branch Address" formControlName="branch_addr"></textarea>
              <div class="invalid-feedback" *ngIf="__bankForm.get('branch_addr').invalid && (__bankForm.get('branch_addr').dirty || __bankForm.get('branch_addr').touched)">
                <span class="invalid-feedback" *ngIf="(__bankForm.get('branch_addr')).errors?.required">*Please provide branch address</span>
              </div>
            </div>



            <div class="col-sm-12 my-3">
              <button class="btn addBtn  ml-2" [disabled]="this.__bankForm.invalid">
                {{this.__bankId > 0 ? 'Update' : 'Submit'}}
              </button>
              <button class="btn  resetBtn" (click)="reset()" type="reset">RESET</button>

            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
  <div class="col-sm-5 p-0">
    <div class="cardSec m-1">
      <div class="card_header">
        <h3>Recent Entries</h3>
        <button mat-icon-button title="View All Bank" [routerLink]="['/main/master/bank']">
          <mat-icon>north_east</mat-icon>
        </button>
      </div>
      <div class="card_body">
        <mat-paginator hidden [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" [showFirstLastButtons]="true"></mat-paginator>
        <table mat-table [dataSource]="__selectbnk">
          <!-- Sl No. -->
          <ng-container matColumnDef="sl_no">
            <th mat-header-cell *matHeaderCellDef>Sl No</th>
            <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
          </ng-container>



          <!--Temporary TIN No.-->
          <ng-container matColumnDef="bank_name">
            <th mat-header-cell *matHeaderCellDef>Bank</th>
            <td mat-cell *matCellDef="let element">
             {{element.bank_name}}
            </td>
          </ng-container>


          <!-- Buisness Type-->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="populateDT(element)">
                <mat-icon class="edit_icon">edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Buisness Type-->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button>
                <mat-icon class="delete_icon">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="__columns"></tr>
          <tr mat-row *matRowDef="let row; columns: __columns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data found</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
