


<mat-card id="matCard"  class="mat-elevation-z0">
  <mat-card-header class="px-3">
    <mat-card-title></mat-card-title>
    <input id="search" class="form-control rounded w-25" type="text" (input)="filterGlobal_secondary($event)"
    placeholder="Search" />
  </mat-card-header>
  <mat-card-content>
    <p-table #dt [value]="recent_trxn"
    [rows]="10" [paginator]="true"
      [rowHover]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      styleClass="p-datatable-lg"
      [pageLinks]="3"
      [globalFilterFields]="getColumns()"
        [rowsPerPageOptions]="[10,50,100,{ showAll: 'All' }]" [rows]="10"
      [showCurrentPageReport]="true"

      >
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of recent_trxn_clmn"
                pSortableColumn="{{col.field}}"
                [style]="'width : '+col.width"
               >
              {{col.header}}
              <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-recent_trxn>
        <tr
        [ngStyle]="{
          'background-color': recent_trxn.transaction_subtype.includes('Rejection') ? '#b70a0a30' : ''}"
        >
            <td *ngFor="let col of recent_trxn_clmn"
            [style]="'width : '+col.width"
           >
           <ng-container [ngSwitch]="true">
              <ng-container *ngSwitchCase="col.field == 'scheme_name'">
                <p class="m-0 text-center">
                  {{recent_trxn[col.field] ? ( recent_trxn[col.field] | titlecase) : "N/A" }}
                </p>
              </ng-container>
              <ng-container *ngSwitchCase="col.field == 'tot_amount' || col.field == 'tot_units' || col.field == 'pur_price'">
                <p class="m-0">{{recent_trxn[col.field] }}</p>
              </ng-container>
              <ng-container *ngSwitchCase="col.field == 'trans_date'">
                <p class="m-0">{{ recent_trxn[col.field] ? (recent_trxn[col.field] | date:'dd-MM-yyyy') : 'N/A' }}</p>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <p class="m-0">{{ recent_trxn[col.field] ? recent_trxn[col.field] : 'N/A' }}</p>
              </ng-container>
            </ng-container>

             </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-recent_trxn>
      <tr>
        <td [attr.colspan]="recent_trxn_clmn.length">
          <p class="m-0">No Records Found</p>
        </td>
      </tr>
    </ng-template>
    </p-table>
  </mat-card-content>

</mat-card>


