
/* table {font-family: arial, sans-serif;border-collapse: collapse;width: 100%;} */
td, th {border: 1px solid #dddddd;text-align: center;padding: 8px; width: 50%;}
td img{
    height: 101px;
    width: 101px;
    object-fit: contain;
}
td{vertical-align: middle!important;}
a{
  top: 50%!important;
  transform: translate(10px, -7%)!important;
}
