<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div mat-dialog-title class="dialog-title">
    <h2>Manual Update Reports</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore Down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>
<mat-dialog-content>
  <div class="card my-5">
    <div class="card-body p-5">
      <kyc-rpt-filter [mode]="'R'"
      [isDaySheet]="false"
      [isDatePeriod]="true"
      (getKycMst)="getAckRpt($event)"
      (resetKycMst)="reset($event)"
      (setClms)="setColumns($event)"></kyc-rpt-filter>
    </div>
  </div>


  <div class="mat-elevation-z3">
    <div class="example_container_header">
      <div class="btnGrp d-flex">

        <mat-form-field appearance="fill">
          <mat-label>Select Columns</mat-label>
          <mat-select [formControl]="clmSelector" multiple>
            <mat-option
            *ngFor="let topping of clmHolder"
            [value]="topping.id">
            {{topping.text}}
          </mat-option>
          </mat-select>
        </mat-form-field>


        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>system_update_alt</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="exportPdf()">
            <mat-icon>download</mat-icon> Export Pdf
          </button>
          <!-- <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'KYCManualUpdateReport'})">
            <mat-icon>download</mat-icon> Export Excel
          </button> -->
        </mat-menu>
      </div>

  </div>



  <div class="example-container">

    <table mat-table [dataSource]="__ackRpt" class="table_Custome" matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="populateDT(element,'E')">
            <mat-icon class="edit_icon">{{element.form_status == 'A' ? 'edit' : 'visibility'}}</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="sl_no">
        <th mat-header-cell *matHeaderCellDef>Sl No</th>
        <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
      </ng-container>
      <ng-container matColumnDef="app_form_view">
        <th  mat-header-cell *matHeaderCellDef>KYC View</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="DocView(element,'K')">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="ack_form_view">
        <th  mat-header-cell *matHeaderCellDef>Acknowledgement View</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="DocView(element,'A')">
              <mat-icon>visibility</mat-icon>
            </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="mu_frm_view">
        <th  mat-header-cell *matHeaderCellDef>Manual Update View</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.form_status == 'M';else noAck">
            <button mat-icon-button color="primary" (click)="DocView(element,'M')">
              <mat-icon>visibility</mat-icon>
            </button>
          </ng-container>
          <ng-template #noAck>
              <span>N/A</span>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="branch">
        <th mat-sort-header="branch" mat-header-cell *matHeaderCellDef>Branch</th>
        <td mat-cell *matCellDef="let element">{{element.branch_name ? element.branch_name : 'N/A'}}</td>
      </ng-container>

        <ng-container matColumnDef="tin_no">
          <th mat-sort-header="tin_no" mat-header-cell *matHeaderCellDef>TIN No.</th>
          <td mat-cell *matCellDef="let element">{{element.tin_no ? element.tin_no : 'N/A'}}</td>
        </ng-container>

            <ng-container matColumnDef="bu_type">
              <th mat-sort-header="bu_type" mat-header-cell *matHeaderCellDef>Buisness Type</th>
              <td mat-cell *matCellDef="let element">{{element.bu_type == 'B' ? 'B2B' : element.bu_type == 'I' ? 'B2C - Indirect' : 'B2C - Direct'}}</td>
            </ng-container>

            <ng-container matColumnDef="arn_no">
              <th mat-sort-header="arn_no" mat-header-cell *matHeaderCellDef>ARN No</th>
              <td mat-cell *matCellDef="let element">{{element.arn_no ? element.arn_no : 'N/A'}}</td>
            </ng-container>
            <ng-container matColumnDef="sub_brk_arn">
              <th mat-sort-header="sub_brk_arn" mat-header-cell *matHeaderCellDef>Sub Broker ARN</th>
              <td mat-cell *matCellDef="let element">{{element.sub_arn_no ? element.sub_arn_no : 'N/A'}}</td>
            </ng-container>

                <ng-container matColumnDef="sub_brk_cd">
                  <th mat-sort-header="sub_brk_cd" mat-header-cell *matHeaderCellDef>Sub Broker Code</th>
                  <td mat-cell *matCellDef="let element">{{element.sub_brk_cd ? element.sub_brk_cd : 'N/A'}}</td>
                </ng-container>
                    <ng-container matColumnDef="euin_no">
                      <th mat-sort-header="euin_no" mat-header-cell *matHeaderCellDef>EUIN</th>
                      <td mat-cell *matCellDef="let element">{{element.euin_no ? element.euin_no  : 'N/A'}}</td>
                    </ng-container>
                       <ng-container matColumnDef="client_name">
                        <th mat-sort-header="client_name" mat-header-cell *matHeaderCellDef>Client Name</th>
                        <td mat-cell *matCellDef="let element">{{element.client_name ? element.client_name : 'N/A'}}</td>
                      </ng-container>
                           <ng-container matColumnDef="client_code">
                            <th mat-sort-header="client_code" mat-header-cell *matHeaderCellDef>Client Code</th>
                            <td mat-cell *matCellDef="let element">{{element.client_code ? element.client_code : 'N/A'}}</td>
                          </ng-container>

                              <ng-container matColumnDef="kyc_type">
                                <th mat-sort-header="kyc_type" mat-header-cell *matHeaderCellDef>KYC Type</th>
                                <td mat-cell *matCellDef="let element">{{element.kyc_type == 'F' ? 'KYC Fresh' : 'KYC Modification'}}</td>
                              </ng-container>

                      <ng-container matColumnDef="login_at">
                        <th mat-sort-header="login_at" mat-header-cell *matHeaderCellDef>KYC Login At</th>
                        <td mat-cell *matCellDef="let element">
                          {{element.kyc_login_type == 'A' ? element.amc_name : element.rnt_name}}
                        </td>
                      </ng-container>
                          <ng-container matColumnDef="entry_dt">
                            <th mat-sort-header="entry_dt" mat-header-cell *matHeaderCellDef>Entry Date</th>
                            <td mat-cell *matCellDef="let element">{{element.entry_dt ? (element.entry_dt | date:'dd-MM-YYYY') : 'N/A'}}</td>
                          </ng-container>
                      <ng-container matColumnDef="pan">
                        <th mat-sort-header="pan" mat-sort-header="pan" mat-header-cell *matHeaderCellDef>PAN</th>
                        <td mat-cell *matCellDef="let element">{{element.pan ? element.pan : 'N/A'}}</td>
                      </ng-container>



      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent">
            <mat-icon class="delete_icon">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="__columns"></tr>
      <tr tabindex="999" mat-row *matRowDef="let row; columns: __columns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="__columns.length">No History Found</td>
      </tr>
    </table>
    </div>


    <div class="paginator">
      <div class="itemsPerPage">
        <label>Items Per Page :&nbsp; </label>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle value="10" aria-label="Text align left" (click)="getval('10')">
            10
          </mat-button-toggle>
          <mat-button-toggle value="50" aria-label="Text align center" (click)="getval('50')">
            50
          </mat-button-toggle>
          <mat-button-toggle value="100" aria-label="Text align right" (click)="getval('100')">
            100
          </mat-button-toggle>
          <mat-button-toggle value="A" aria-label="Text align right" (click)="getval('A')">
            All
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="paginatorContainer">
        <mat-button-toggle-group *ngFor="let paginate of __paginate">
          <mat-button-toggle [value]="paginate.url" aria-label="Text align right" (click)="getPaginate(paginate)">
            <label>
              <mat-icon *ngIf="(paginate.label | bnkrplc) == 'P'">first_page</mat-icon>
              <mat-icon *ngIf="(paginate.label | bnkrplc) == 'N'">last_page</mat-icon>
              <span
                *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">{{paginate.label}}</span>

            </label>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>




    </div>



    <div id="KycRPT" style="display:none">
      <table mat-table   [dataSource]="__export" matTableExporter #exporter="matTableExporter">
        <ng-container matColumnDef="sl_no">
          <th mat-header-cell *matHeaderCellDef>Sl No</th>
          <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
        </ng-container>
        <ng-container matColumnDef="branch">
          <th  mat-header-cell *matHeaderCellDef>Branch</th>
          <td mat-cell *matCellDef="let element">{{element.branch_name ? element.branch_name : 'N/A'}}</td>
        </ng-container>

          <ng-container matColumnDef="tin_no">
            <th  mat-header-cell *matHeaderCellDef>TIN No.</th>
            <td mat-cell *matCellDef="let element">{{element.tin_no ? element.tin_no : 'N/A'}}</td>
          </ng-container>

              <ng-container matColumnDef="bu_type">
                <th  mat-header-cell *matHeaderCellDef>Buisness Type</th>
                <td mat-cell *matCellDef="let element">{{element.bu_type == 'B' ? 'B2B' : element.bu_type == 'I' ? 'B2C - Indirect' : 'B2C - Direct'}}</td>
              </ng-container>

              <ng-container matColumnDef="arn_no">
                <th  mat-header-cell *matHeaderCellDef>ARN No</th>
                <td mat-cell *matCellDef="let element">{{element.arn_no ? element.arn_no : 'N/A'}}</td>
              </ng-container>
              <ng-container matColumnDef="sub_brk_arn">
                <th  mat-header-cell *matHeaderCellDef>Sub Broker ARN</th>
                <td mat-cell *matCellDef="let element">{{element.sub_arn_no ? element.sub_arn_no : 'N/A'}}</td>
              </ng-container>

                  <ng-container matColumnDef="sub_brk_cd">
                    <th  mat-header-cell *matHeaderCellDef>Sub Broker Code</th>
                    <td mat-cell *matCellDef="let element">{{element.sub_brk_cd ? element.sub_brk_cd : 'N/A'}}</td>
                  </ng-container>
                      <ng-container matColumnDef="euin_no">
                        <th  mat-header-cell *matHeaderCellDef>EUIN</th>
                        <td mat-cell *matCellDef="let element">{{element.euin_no ? element.euin_no  : 'N/A'}}</td>
                      </ng-container>
                         <ng-container matColumnDef="client_name">
                          <th  mat-header-cell *matHeaderCellDef>Client Name</th>
                          <td mat-cell *matCellDef="let element">{{element.client_name ? element.client_name : 'N/A'}}</td>
                        </ng-container>
                             <ng-container matColumnDef="client_code">
                              <th  mat-header-cell *matHeaderCellDef>Client Code</th>
                              <td mat-cell *matCellDef="let element">{{element.client_code ? element.client_code : 'N/A'}}</td>
                            </ng-container>

                                <ng-container matColumnDef="kyc_type">
                                  <th  mat-header-cell *matHeaderCellDef>KYC Type</th>
                                  <td mat-cell *matCellDef="let element">{{element.kyc_type == 'F' ? 'KYC Fresh' : 'KYC Modification'}}</td>
                                </ng-container>

                        <ng-container matColumnDef="login_at">
                          <th  mat-header-cell *matHeaderCellDef>KYC Login At</th>
                          <td mat-cell *matCellDef="let element">
                            {{element.kyc_login_type == 'A' ? element.amc_name : element.rnt_name}}
                          </td>
                        </ng-container>
                            <ng-container matColumnDef="entry_dt">
                              <th  mat-header-cell *matHeaderCellDef>Entry Date</th>
                              <td mat-cell *matCellDef="let element">{{element.entry_dt ? (element.entry_dt | date:'dd-MM-YYYY') : 'N/A'}}</td>
                            </ng-container>
                        <ng-container matColumnDef="pan">
                          <th  mat-header-cell *matHeaderCellDef>PAN</th>
                          <td mat-cell *matCellDef="let element">{{element.pan ? element.pan : 'N/A'}}</td>
                        </ng-container>


        <tr mat-header-row *matHeaderRowDef="__exportedClmns"></tr>
        <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="__exportedClmns.length" class="text-center">No History
            Found</td>
        </tr>
      </table>
      </div>
  </div>
</mat-dialog-content>

  </div>
