
<div >
  <div mat-dialog-title class="dialog-title">
    <h2>{{data.title}}</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    </div>
    <mat-dialog-content class="businessTypeContent">
      <form [formGroup]="frequency" [attr.id]="'freq'+data.id" (ngSubmit)="addFrequency()">
      <div class="row">
        <div class="col-sm-12">
          <label for="freq_name">Frequency Name <span class="text-danger">*</span></label>
           <input type="text" #trxnType placeholder="Enter Frequency Name" name="freq_name" id="freq_name" class="form-control" formControlName="freq_name">
           <div class="invalid-feedback" *ngIf="frequency.get('freq_name').invalid && (frequency.get('freq_name').dirty || frequency.get('freq_name').touched)">
            <span class="invalid-feedback" *ngIf="(frequency.get('freq_name')).errors?.required">*Please provide frequency name</span>
          </div>
          </div>
          <div class="col-sm-12">
            <label for="freq_code">Frequency Code <span class="text-danger">*</span></label>
             <input type="text" #trxnType placeholder="Enter Frequency Code" name="freq_code" id="freq_code" class="form-control" formControlName="freq_code">
             <div class="invalid-feedback" *ngIf="frequency.get('freq_code').invalid && (frequency.get('freq_code').dirty || frequency.get('freq_code').touched)">
              <span class="invalid-feedback" *ngIf="(frequency.get('freq_code')).errors?.required">*Please provide frequency code</span>
            </div>
            </div>
      </div>
    </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="popupBoxSubmitSec">
      <button class="btn addBtn" type="submit"
              [attr.form]="'freq'+data.id"
              [disabled]="frequency.invalid">Submit</button>
    </mat-dialog-actions>
    <br clear="all" />
    </div>
