
<div class="row flexSec">
  <div class="col-sm-2" (click)="navigate('O')">
    <div class="smallBox">
     <div class="smallBoxIconSec">
      <div class="iconCol_12 iconSec">
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
    </div>
    <h2>Ongoing Scheme</h2>
  </div>
</div>
<div class="col-sm-2" (click)="navigate('N')">
  <div class="smallBox">
   <div class="smallBoxIconSec">
    <div class="iconCol_12 iconSec">
      <i class="fa fa-user-o" aria-hidden="true"></i>
    </div>
  </div>
  <h2>NFO</h2>
</div>
</div>
</div>