<div class="row flexSec">
  <div class="col-sm-7 p-0">
    <div class="cardSec m-1">
      <div class="card_header">
        <h3>{{this.__docId > 0 ? 'Update' : 'Add'}} Documents</h3>
      </div>
      <div class="card_body">
        <form [formGroup]="__clientForm" (ngSubmit)="submit()" id="__clientForm">
          <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClick($event)">
            <div>
              <label for="">Search By Client Code:</label>
              <input type="search" name="clientCode" id="clientCode" class="form-control" formControlName="client_code" placeholder="Search By Client Code">           
              <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClick($event)">
                <div class="serachresult_client" #searchResult>
                  <ul *ngIf="__items.length > 0">
                    <li *ngFor="let items of __items" (click)="getItems(items)">
                      {{items.client_code}} | {{items.client_name}} | {{items.pan}} | {{items.mobile}}
                    </li>
                  </ul>
                  <div class="noDataFound" *ngIf="__items.length == 0">
                    <h5 class="text-center">
                      Sorry!! No Results Found
                    </h5>
                    <p>If your result match,they will appear here</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 my-3" *ngIf="__isvisible">
              <label for="pan_no">Pan No.</label>
              <input type="text" name="pan_no" id="pan_no" class="form-control" formControlName="pan_no" placeholder="Pan Number">
            </div>
            <div class="col-sm-12 my-3" *ngIf="__isvisible">
              <label for="mobile">Mobile</label>
              <input type="text" name="mobile" id="mobile" class="form-control" formControlName="mobile" placeholder="Mobile Number">
            </div>
          </div>
          <div class="row" *ngIf="__isvisible">
            <div class="col-sm-12 my-4">
              <label for="client_name">Client Name</label>
              <input type="text" name="client_name" id="client_name" class="form-control" formControlName="client_name"  placeholder="Client Name">
            </div>
            <div class="col-sm-12 my-4">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" class="form-control" formControlName="email" placeholder="Email Id">
            </div>
          </div>
          <div class="divider">
            <span>Upload Documents</span>
           <hr class="line"/>
          </div>
          <table class="my-4">
            <thead>
              <tr>
                <th>
                  Document type <span class="text-danger">*</span>
                </th>
                <th>
                  Document <span class="text-danger">*</span>
                  <p class="my-1"><label>Allowed format : </label><small> JPG,PNG,JPEG</small></p>
                  <p class="m-0"><label>File Size:</label> <small> 2MB (max)</small></p>
                </th>
                <th>
                  Thumbnail
                </th>
                <th>
                  <button mat-icon-button type="button">
                    <mat-icon (click)="addItem()">add</mat-icon>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="doc_dtls">
              <tr *ngFor="let item of __docs.controls; let i = index;">
                <ng-container [formGroupName]="i">
                  <td class="rowWidth">
                    <select name="_doc_type" id="_doc_type" formControlName="doc_type_id" class="form-control">
                      <option value="">Select document type</option>
                      <option value="{{__docType.id}}" *ngFor="let __docType of __docTypeMaster"> {{__docType.doc_type}}
                      </option>
                    </select>
      
                    <div class="invalid-feedback"
                      *ngIf=" __docs.controls[i].get('doc_type_id').invalid && ( __docs.controls[i].get('doc_type_id').dirty ||  __docs.controls[i].get('doc_type_id').touched)">
                      <span class="invalid-feedback" *ngIf=" __docs.controls[i].get('doc_type_id').errors?.required">*Please
                        provide document type</span>
                    </div>
                  </td>
                  <td class="rowWidth">
                    <input type="file" accept=".jpg,.jpeg,.png" name="docFile" id="docFile" class="form-control"
                      formControlName="doc_name" (change)="getFiles($event,i,__docs.controls[i].get('doc_type_id')?.value)">
                    <div class="invalid-feedback"
                      *ngIf=" __docs.controls[i].get('doc_name').invalid && ( __docs.controls[i].get('doc_name').dirty ||  __docs.controls[i].get('doc_name').touched)">
                      <span class="invalid-feedback" *ngIf=" __docs.controls[i].get('doc_name').errors?.required">*Please
                        provide file</span>
                      <span class="invalid-feedback" *ngIf="__docs.controls[i].get('doc_name').errors?.inValidExt">*Invalid
                        file extension.</span>
                      <span class="invalid-feedback"
                        *ngIf="__docs.controls[i].get('doc_name').errors?.fileSizeValidator">*File size must not exceed than
                        2MB.</span>
                    </div>
      
                  </td>
                  <td class="rowWidth">
                    <img [src]="__docs.controls[i].get('file_preview')?.value || __noImg" alt="preview Image">
                  </td>
                  <td>
                    <ng-container *ngIf="__docs.controls[i].get('id')?.value == 0">
                      <button mat-icon-button type="button" *ngIf="i > 0">
                        <mat-icon class="delete_icon" (click)="removeDocument(i)">delete</mat-icon>
                      </button>
                    </ng-container>
                  </td>
                </ng-container>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>
                  Document type <span class="text-danger">*</span>
                </th>
                <th>
                  Document <span class="text-danger">*</span>
                  <p class="my-1"><label>Allowed format : </label><small> JPG,PNG,JPEG</small></p>
                  <p class="m-0"><label>File Size:</label> <small> 2MB (max)</small></p>
                </th>
                <th>
                  Thumbnail
                </th>
                <th>
                  <button mat-icon-button type="button">
                    <mat-icon (click)="addItem()">add</mat-icon>
                  </button>
                </th>
              </tr>
            </tfoot>
          </table>

          <div class="row ">
            <div class="col-sm-12 my-1 ">
              <button class="btn addBtn  ml-2" form="__clientForm" [disabled]="this.__clientForm.invalid">
                {{this.__docId > 0 ? 'Update' : 'Submit'}}
              </button>
              <button class="btn  resetBtn" (click)="reset()" type="reset">RESET</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-5 p-0">
    <div class="cardSec m-1">
      <div class="card_header">
        <h3>Recent Entries</h3>
        <button mat-icon-button title="View All R&T" [routerLink]="['/main/master/docs']">
          <mat-icon>north_east</mat-icon>
        </button>
      </div>
      <div class="card_body">
        <mat-paginator hidden [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" [showFirstLastButtons]="true"></mat-paginator>
        <table mat-table [dataSource]="__documents">
          <ng-container matColumnDef="sl_no">
            <th mat-header-cell *matHeaderCellDef>Sl no.</th>
            <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
          </ng-container>



          <ng-container matColumnDef="cl_code">
            <th mat-header-cell *matHeaderCellDef>Client Code</th>
            <td mat-cell *matCellDef="let element">
              {{element.client_code}}
            </td>
          </ng-container>

          <ng-container matColumnDef="cl_name">
            <th mat-header-cell *matHeaderCellDef>Client Name</th>
            <td mat-cell *matCellDef="let element">
              {{element.client_name}}
            </td>
          </ng-container>


          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element" (click)="populateDT(element)">
              <button mat-icon-button>
                <mat-icon class="edit_icon">edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button>
                <mat-icon class="delete_icon">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="__columns"></tr>
          <tr mat-row *matRowDef="let row; columns: __columns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No data found</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>