<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div mat-dialog-title class="dialog-title">
    <h2>Email Template Reports</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore Down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>
  <mat-dialog-content>
    <div class="card my-5">
      <div class="card-body p-5">
        <form [formGroup]="__emailTemplate" (ngSubmit)="filter()" autocomplete="off">
          <div class="row ">
            <div class="col-sm-5">
               <label for="email_event">Event</label>
               <input placeholder="Enter Event" type="text" name="email_event" id="email_event" class="form-control" formControlName="event">
            </div>
            <div class="col-sm-5">
              <label for="email_subject">Subject</label>
              <input type="text" placeholder="Enter Subject" name="email_subject" id="email_subject" class="form-control" formControlName="subject">
           </div>
           <div class="col-sm-2 my-auto">
            <button mat-raised-button  color="primary" class="float-right">
              Show
            </button>
           </div>
          </div>
        </form>
      </div>
    </div>

    <div class="mat-elevation-z3">
      <div class="example_container_header">
        <div class="btnGrp">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>system_update_alt</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="exportPdf()">
              <mat-icon>download</mat-icon> Export Pdf
            </button>
            <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'Email Template'})">
              <mat-icon>download</mat-icon> Export Excel
            </button>
          </mat-menu>
        </div>

      </div>

      <div class="example-container">
        <table mat-table [dataSource]="__emailMst" class="table_Custome" matSort (matSortChange)="sortData($event)">
          <!-- Sl No. -->
          <ng-container matColumnDef="sl_no">
            <th mat-header-cell *matHeaderCellDef>Sl No</th>
            <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
          </ng-container>

          <!--Temporary TIN.-->
          <ng-container matColumnDef="email_event">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="email_event">Event</th>
            <td mat-cell *matCellDef="let element"><p class="text-wrap">{{element.event}}</p></td>
          </ng-container>
            <!--Temporary TIN.-->
            <ng-container matColumnDef="email_subject">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="email_subject">Subject</th>
              <td mat-cell *matCellDef="let element"><p class="text-wrap">{{element.subject}}</p></td>
            </ng-container>
          <!-- Buisness Type-->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <a (click)="populateDT(element)">
                <mat-icon class="edit_icon">edit</mat-icon>
              </a>
            </td>
          </ng-container>

          <!-- Buisness Type-->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <a>
                <mat-icon class="delete_icon">delete</mat-icon>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="__columns"></tr>
          <tr mat-row *matRowDef="let row; columns: __columns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="__columns.length">No data found</td>
          </tr>
        </table>
      </div>
      <div class="paginator">
        <div class="itemsPerPage">
          <label>Items Per Page :&nbsp; </label>
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="10" aria-label="Text align left" (click)="getval(group.value)">
              10
            </mat-button-toggle>
            <mat-button-toggle value="50" aria-label="Text align center" (click)="getval(group.value)">
              50
            </mat-button-toggle>
            <mat-button-toggle value="100" aria-label="Text align right" (click)="getval(group.value)">
              100
            </mat-button-toggle>
            <mat-button-toggle value="A" aria-label="Text align right" (click)="getval(group.value)">
              All
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="paginatorContainer">
          <mat-button-toggle-group *ngFor="let paginate of __paginate">
            <mat-button-toggle [value]="paginate.url" aria-label="Text align right" (click)="getPaginate(paginate)">
              <label>
                <mat-icon *ngIf="(paginate.label | bnkrplc) == 'P'">first_page</mat-icon>
                <mat-icon *ngIf="(paginate.label | bnkrplc) == 'N'">last_page</mat-icon>
                <span
                  *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">{{paginate.label}}</span>

              </label>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>




      </div>

      <table id="__emailExport"
      hidden mat-table
      [dataSource]="__export"
      matTableExporter
      #exporter="matTableExporter">


      <!-- Sl No. -->
      <ng-container matColumnDef="sl_no">
        <th mat-header-cell *matHeaderCellDef>Sl No</th>
        <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
      </ng-container>

      <!--Temporary TIN.-->
      <ng-container matColumnDef="email_event">
        <th  mat-header-cell *matHeaderCellDef>Event</th>
        <td mat-cell *matCellDef="let element"><p class="text-wrap">{{element.event}}</p></td>
      </ng-container>
        <!--Temporary TIN.-->
        <ng-container matColumnDef="email_subject">
          <th  mat-header-cell *matHeaderCellDef>Subject</th>
          <td mat-cell *matCellDef="let element"><p class="text-wrap">{{element.subject}}</p></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="__exportedClmns"></tr>
        <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="__exportedClmns.length" class="text-center">No Plans History Found</td>
        </tr>
      </table>
  </div>
  </mat-dialog-content>

</div>
