<form [formGroup]="loginForm" (ngSubmit)="signIn()" autocomplete="off" ngNativeValidate>
  <div class="form-group">
    <label class="inputWraper"><i class="fa fa-envelope-o" aria-hidden="true"></i>
      <core-input [_type]="'email'" [_placeholder]="'Email'" [__class]="'form-control'"
        [formControl]="$any(loginForm.controls['email'])"></core-input>
    </label>
  </div>
  <div class="form-group">
    <label class="inputWraper"><i (click)="__showPassword = !__showPassword"
        [class]="!__showPassword ? 'fa fa-lock' : 'fa fa-unlock-alt'" aria-hidden="true"></i>
      <core-input [__class]="'form-control'" [_type]="!__showPassword ? 'password' : 'text'" [_placeholder]="'Password'"
        [formControl]="$any(loginForm.controls['password'])"></core-input>
    </label>
  </div>

  <div class="forgetSec">
    <span><a href="#">Forgot Password?</a></span>
  </div>

  <div class="form-group">
    <input type="submit" class="btn btnRed widthFull bg-primary" value="Sign In" [disabled]="loginForm.invalid">
  </div>

</form>