<div mat-dialog-title class="dialog-title">
  <h2>{{data.title}}</h2>
  <button mat-icon-button  [mat-dialog-close]="">
    <mat-icon >close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <form  [formGroup]="__clientForm" (ngSubmit)="submit()" id="__clientForm" autocomplete="off" ngNativeValidate>
    <div class="row my-5">
      <div class="col-sm-6">
        <label for="clientName">Client Name <span class="text-danger">*</span></label>
        <input type="text" name="client_name" id="clientName" class="form-control" placeholder="Enter Client Name" formControlName="client_name">
        <div class="invalid-feedback" *ngIf="__clientForm.get('client_name').invalid && (__clientForm.get('client_name').dirty || __clientForm.get('client_name').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('client_name')).errors?.required">*Please provide client name</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="dob">Date Of Birth <span class="text-danger">*</span></label>
        <input type="date" 
        name="dob" 
        id="dob" 
        class="form-control" 
        [max]="__maxDt"
        formControlName="dob">
        <div class="invalid-feedback" *ngIf="__clientForm.get('dob').invalid && (__clientForm.get('dob').dirty || __clientForm.get('dob').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('dob')).errors?.required">*Please provide date of birth</span>
        </div>
      </div>
      
    </div>
    <div class="row my-5">
      <div class="col-sm-6">
        <label for="panNo">Pan No <span class="text-danger">*</span></label>
        <input type="text" name="pan" id="panNo" class="form-control" placeholder="eg. XXXXX1234X" formControlName="pan" minlength="10" maxlength="10">
        <div class="invalid-feedback" *ngIf="__clientForm.get('pan').invalid && (__clientForm.get('pan').dirty || __clientForm.get('pan').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('pan')).errors?.required">*Please provide pan number</span>
          <span class="invalid-feedback" *ngIf="(__clientForm.get('pan')).errors?.pattern">*Please provide valid pan
            Number</span>
            <span class="invalid-feedback" *ngIf="(__clientForm.get('pan')).hasError('minlength')">*pan
              Number Must Be 10 Characters Long</span>
              <span class="invalid-feedback" *ngIf="(__clientForm.get('pan')).hasError('maxlength')">*pan
                number must be 10 characters long</span>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-6">
        <label for="mblNumber">Mobile Number <span class="text-danger">*</span></label>
        <input (keypress)="preventNonumeric($event)" maxlength="10" minlength="10" type="text" name="mobile" id="mblNumber" class="form-control" placeholder="Enter Mobile Number" formControlName="mobile">
        <div class="invalid-feedback" *ngIf="__clientForm.get('mobile').invalid && (__clientForm.get('mobile').dirty || __clientForm.get('mobile').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('mobile')).errors?.required">*Please provide mobile number</span>
          <span class="invalid-feedback" *ngIf="(__clientForm.get('mobile')).hasError('minlength')">*mobile number must be 10 digits</span>
          <span class="invalid-feedback" *ngIf="(__clientForm.get('mobile')).hasError('maxlength')">*mobile number must be 10 digits</span>
          <span class="invalid-feedback" *ngIf="(__clientForm.get('mobile')).hasError('pattern')">*allow only digits</span>

        </div>
      </div>
      <div class="col-sm-6">
        <label for="sec_mobile">Alternative mobile number</label>
        <input maxlength="10" minlength="10" type="text" (keypress)="preventNonumeric($event)"  name="sec_mobile" id="sec_mobile" placeholder="Enter Alternative Mobile Number" class="form-control" formControlName="sec_mobile">
        <span class="invalid-feedback" *ngIf="(__clientForm.get('sec_mobile')).hasError('minlength')">*mobile number must be 10 digits</span>
        <span class="invalid-feedback" *ngIf="(__clientForm.get('sec_mobile')).hasError('maxlength')">*mobile number must be 10 digits</span>
        <span class="invalid-feedback" *ngIf="(__clientForm.get('sec_mobile')).hasError('pattern')">*allow only digits</span>

      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-6">
        <label for="email">Email <span class="text-danger">*</span></label>
        <input type="text" name="email" id="email" class="form-control" placeholder="Enter Email" formControlName="email">
        <div class="invalid-feedback" *ngIf="__clientForm.get('email').invalid && (__clientForm.get('email').dirty || __clientForm.get('email').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('email')).errors?.required">*Please provide email</span>
          <span class="invalid-feedback" *ngIf="(__clientForm.get('email')).errors?.email">*Please provide valid email</span>
        
        </div>
      </div>
      <div class="col-sm-6">
        <label for="sec_email">Alternative Email</label>
        <input type="text" name="sec_email" id="sec_email"  class="form-control"   placeholder="Enter Alternative Email" formControlName="sec_email">
        <span class="invalid-feedback" *ngIf="(__clientForm.get('sec_email')).errors?.email">*Please provide valid email</span>
         
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-6">
        <label for="addr">Address Line 1 <span class="text-danger">*</span></label>
        <input placeholder="Enter Address 1" type="text" name="add_line_1" id="addr" class="form-control"  formControlName="add_line_1">
        <div class="invalid-feedback" *ngIf="__clientForm.get('add_line_1').invalid && (__clientForm.get('add_line_1').dirty || __clientForm.get('add_line_1').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('add_line_1')).errors?.required">*Please provide address line 1</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="addr2">Address Line 2</label>
        <input type="text" placeholder="Enter Address 2" name="add_line_2" id="addr2" class="form-control"  formControlName="add_line_2">
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-6">
        <label for="__state">State <span class="text-danger">*</span></label>
        <select name="state" id="__state" class="form-control" formControlName="state">
        <option value="">Select State</option>
        <option *ngFor="let __states of __stateMaster" value="{{__states.id}}">{{__states.name}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="__clientForm.get('state').invalid && (__clientForm.get('state').dirty || __clientForm.get('state').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('state')).errors?.required">*Please provide state</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="_dist">District <span class="text-danger">*</span></label>
        <input type="text" placeholder="Enter District" name="dist" id="_dist" class="form-control"  formControlName="dist">
        <div class="invalid-feedback" *ngIf="__clientForm.get('dist').invalid && (__clientForm.get('dist').dirty || __clientForm.get('dist').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('dist')).errors?.required">*Please provide district</span>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-6">
        <label for="__city">City / Village <span class="text-danger">*</span></label>
        <input type="text" name="city" id="__city" class="form-control" placeholder="Enter city or village" formControlName="city">
       
        <div class="invalid-feedback" *ngIf="__clientForm.get('city').invalid && (__clientForm.get('city').dirty || __clientForm.get('city').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('city')).errors?.required">*Please provide city or village</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="__pin">Pincode</label>
        <input name="pin" id="__pin" class="form-control" formControlName="pincode" placeholder="Enter Pincode" minlength="6" maxlength="6"/>
        <div class="invalid-feedback" *ngIf="__clientForm.get('pincode').invalid && (__clientForm.get('pincode').dirty || __clientForm.get('pincode').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('pincode')).errors?.required">*Please provide pincode</span>
          <span class="invalid-feedback" *ngIf="(__clientForm.get('pincode')).hasError('maxlength')">*pincode must be 6 digits</span>
          <span class="invalid-feedback" *ngIf="(__clientForm.get('pincode')).hasError('minlength')">*Please must be 6 digits</span>
        </div>
      </div>
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="popupBoxSubmitSec">
  <button class="btn addBtn"  form="__clientForm" [disabled]="this.__clientForm.invalid">Submit</button>
  <!-- <button class="btn cancelCusBtn mrgLeft" mat-dialog-close>Cancel</button> -->
</mat-dialog-actions>
<br clear="all">