<!-- <div class="bckContainer"></div> -->
<div class="row flexSec">
        <div class="col-sm-12">
                <mat-card>
                    <mat-card-header class="border-bottom">
                            <mat-card-title>
                                    <h5>
                                        TRANSACTION QUERY
                                    </h5>
                            </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="p-3">
                        <form [formGroup]="trans_query_form" (ngSubmit)="searchTrxnReport()" autocomplete="off">
                            <div class="row">
                                   <!-- <div class="col-sm-3">
                                    <label for="client_type">View Type</label>
                                    <select name="client_type" id="client_type" class="form-control" formControlName="view_type">
                                      <option value="">Select</option>
                                      <option [value]="item.id" *ngFor="let item of client_type">{{item.type}}</option>
                                    </select>
                                   </div> 
                                   <div class="col-sm-3">
                                    <app-core-srch
                                    [label]="trans_query_form.value.view_type == 'F' ? 'Family Head' : 'Investor'"
                                      [placeholder]="'Search By ' + (trans_query_form.value.view_type == 'F' ? 'Family Member ' : 'Investor ') + ' Name, Code, Email, Mobile, PAN'"
                                      [isPending]="__isClientPending" [listItems]="__clientMst" [flag]="'C'"
                                      [noDataFoundTitle]="'Sorry!! No Records Found'"
                                      [noDataFoundSubTitle]="'If your result match,they will appear here'"
                                      [propertiesToShow]="['client_name','pan']" formControlName="client_name"
                                      [displayMode]="displayMode_forClient" (setDisplayMode)="displayMode_forClient = $event"
                                      (selectedItems)="getSelectedItemsFromParent($event)"
                                      (scrollToEnd)="loadInvestorOnScrollToEnd($event)"></app-core-srch>
                                  </div>
                                  <ng-container *ngIf="trans_query_form.value.view_type == 'F'">
                                    <div class="col-sm-3">
                                      <label for="family_members">Family Members&nbsp;<i class="pi pi-info-circle" matTooltip="Search & select family head to get family members" style="font-size: 1rem" ></i></label>
                                      <ng-multiselect-dropdown
                                      [id]="'family_members'"
                                      [placeholder]="'Select Family Members'"
                                      [settings]="settingsforFamilyMembers"
                                      [data]="family_members"
                                      formControlName="family_members">
                                      </ng-multiselect-dropdown>
                                    </div>
                                    </ng-container> -->
                                    <div class="col-sm-3">
                                    <label for="folio_no">Folio No</label>
                                    <input type="text" name="folio_no" id="folio_no" class="form-control" placeholder="Enter Folio Number"
                                        formControlName="folio_no">
                                    </div>

                                    <div class="col-sm-9 d-flex align-items-end justify-content-end">
                                        <p-button type="submit" label="Show" icon="pi pi-eye" iconPos="right" styleClass="p-button-lg"></p-button>

                                        </div>

                                    <!-- <div
                                    class=" d-flex align-items-end justify-content-end"
                                    [ngClass]="{
                                        'col-sm-3': trans_query_form.value.view_type!= 'F',
                                        'col-sm-12':trans_query_form.value.view_type == 'F'
                                    }"
                                    >
                                            <p-button type="submit" label="Show" icon="pi pi-eye" iconPos="right" styleClass="p-button-lg"></p-button>

                                    </div> -->
                            </div>
                        
                        </form>
                    </mat-card-content>
                </mat-card>
        </div>
        <div class="col-sm-12 my-5" *ngIf="transaction_query_dataSource.length > 0">
            <mat-card>
                <mat-card-content >
                    <p-table
                    id="pTable"
                    #primeTble
                    [value]="transaction_query_dataSource"
                    dataKey="id"
                    [rowExpandMode]="'single'"
                    (onRowExpand)="onRowExpand($event)"
                    expandableRows="true"
                    [columns]="parent_column"
                    [responsive]="true"
                    [globalFilterFields]="getColumnsForDetails()"
                  >
                    <ng-template pTemplate="header">
                      <tr class="stickyHeader">
                        <th class="stk"
                        [ngStyle]="{
                            'width':item.width
                        }"
                          *ngFor="let item of parent_column"
                        >
                          {{ item.header }}
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="caption">
                      <div class="d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="m-0" *ngIf="transaction_query_dataSource.length > 0">
                            Showing 1 to {{transaction_query_dataSource.length}} of {{transaction_query_dataSource.length}} 
                          </h6>
                        </div>
                        <div>
                          <input class="form-control w-full" type="text" 
                          (input)="filterGlobal($event)" 
                          placeholder="Search" />
                        </div>    
                      
                    </div>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-liveMfPortFolio
                      let-expanded="expanded"
                    >
                      <tr>
                        <td *ngFor="let col of parent_column"
                        [ngStyle]="{
                            'width':col.width
                        }"
                        class="parentTD">
                          <ng-container [ngSwitch]="true">
                            <ng-container *ngSwitchCase="col.field == 'scheme_name'">
                                <p
                                class="m-0 text-left liveMf_portfolio_scm"
                                pRipple
                                [pRowToggler]="liveMfPortFolio"
                                style="cursor:pointer"
                              >
                              <strong role="button"  style="font-size:11px"
                                [matTooltip]='
                                  liveMfPortFolio[col.field]
                                    ? liveMfPortFolio[col.field] +
                                      "-" +
                                      liveMfPortFolio.plan_name +
                                      "-" +
                                      liveMfPortFolio.option_name
                                    : "N/A"
                                '
                              >
                                {{
                                  liveMfPortFolio[col.field]
                                    ? liveMfPortFolio[col.field] +
                                      "-" +
                                      liveMfPortFolio.plan_name +
                                      "-" +
                                      liveMfPortFolio.option_name
                                    : "N/A"
                                }}
                              </strong>

                              </p>
                              <p style="font-size:11px;margin:5px 0px!important;width: 100% !important;" class="text-left">Folio- <strong class="folio_isin">{{liveMfPortFolio.folio_no}}
                                <!-- {{liveMfPortFolio?.transaction_type?.includes('SIP') ? '(SIP)' : (liveMfPortFolio?.transaction_type?.includes('Purchase') ? '(PIP)' : (liveMfPortFolio?.transaction_type == 'Switch In' ? '(Switch In)' : ''))}} -->
                                {{liveMfPortFolio?.custom_trans_type}}
                              </strong></p>
                              <p style="font-size:11px" class="text-left m-0">ISIN- <strong class="folio_isin">{{liveMfPortFolio.isin_no}}</strong></p>
                             
                            </ng-container>
                            <ng-container
                              *ngSwitchCase="
                                col.field == 'inv_since' || col.field == 'nav_date'
                              "
                            >
                              <p class="m-0">
                                {{
                                  liveMfPortFolio[col.field]
                                    ? (liveMfPortFolio[col.field] | date : "dd-MM-YY")
                                    : "N/A"
                                }}
                              </p>
                            </ng-container>
                            <ng-container *ngSwitchCase="col.field == 'xirr'">
                              <p class="m-0">{{liveMfPortFolio[col.field] | percent:'1.2-2'}}</p>
                            </ng-container>
                            <ng-container *ngSwitchCase="col.field == 'inv_cost'">
                              <p class="m-0">
                                {{
                                  liveMfPortFolio[col.field]
                                    ? liveMfPortFolio[col.field]
                                    : liveMfPortFolio[col.field] == 0
                                    ?  liveMfPortFolio[col.field]
                                    : "0"
                                }}
                              </p>
                            </ng-container>
                            <ng-container
                              *ngSwitchCase="
                                col.field == 'gain_loss' ||
                                col.field == 'ret_abs' ||
                                col.field == 'curr_val' ||
                                col.field == 'idcw_reinv' ||
                                col.field == 'idcwp' ||
                                col.field == 'idcwr'
                              "
                            >
                              <p class="m-0">
                                {{
                                  liveMfPortFolio[col.field]
                                    ? liveMfPortFolio[col.field]
                                    : liveMfPortFolio[col.field] == 0
                                    ? liveMfPortFolio[col.field]
                                    : "0"
                                }}
                                {{ col.field == "ret_abs" ? "%" : "" }}
                              </p>
                            </ng-container>

                            <ng-container *ngSwitchCase="col.field == 'tot_units'">
                              <p class="m-0">
                                {{liveMfPortFolio[col.field] > 0 ? liveMfPortFolio[col.field] : 0}}
                              </p>
                            </ng-container>

                            <ng-container *ngSwitchDefault>
                              <p class="m-0">
                                {{
                                  liveMfPortFolio[col.field]
                                    ? liveMfPortFolio[col.field]
                                    : "N/A"
                                }}
                              </p>
                            </ng-container>
                          </ng-container>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                      <tr>
                        <td
                          *ngFor="let col of parent_column"
                          [style]="'width : ' + col.width"
                        >
                          <ng-container [ngSwitch]="true">
                            <ng-container *ngSwitchCase="col.field == 'scheme_name'">
                              <p class="m-0">Grand Total</p>
                            </ng-container>
                            <ng-container
                              *ngSwitchCase=" col.field == 'tot_units'">
                              <p class="m-0">
                                {{
                                  parentLiveMfPortFolio
                                    ? (parentLiveMfPortFolio[col.field]
                                      | number : "1.2-2")
                                    : "0"
                                }}
                              </p>
                              </ng-container>
                            <ng-container *ngSwitchCase="col.field == 'xirr'">
                            <p class="m-0">
                              {{parentLiveMfPortFolio ? (parentLiveMfPortFolio[col.field] | percent : "1.2-2") : "0"}}
                            </p>
                            </ng-container>
                            <ng-container
                              *ngSwitchCase=" col.field == 'inv_cost' || col.field == 'pur_nav' || col.field == 'curr_val' || col.field == 'gain_loss' || col.field == 'ret_abs'"
                            >
                              <p class="m-0">
                                {{
                                  parentLiveMfPortFolio
                                    ? (parentLiveMfPortFolio[col.field]
                                      | number : "1.2-2")
                                    : "0"
                                }}
                                {{ col.field == "ret_abs" ? "%" : "" }}
                              </p>
                            </ng-container>
                            <ng-container *ngSwitchDefault> </ng-container>
                          </ng-container>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td [attr.colspan]="parent_column.length + 1">
                          <h5 class="p-3 text-center">
                            There are no Transaction available.
                          </h5>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="rowexpansion"
                      let-liveMfPortFolio
                      let-i="rowIndex"
                    >
                      <tr>
                        <td [attr.colspan]="(parent_column.length + 1)"
                        style="background-color:'#e0e0e0'"
                        >
                          <div class="p-1">
                            <p-table
                              id="pinrTable_{{i}}"
                              #inner_tble
                              [value]="liveMfPortFolio.data "
                              dataKey="id"
                            >
                              <ng-template pTemplate="header">
                                <tr class="stickyHeader__innerTbl">
                                  <th
                                    class="subTblLiveMfPortFolio"
                                    [style.width]="col.width"
                                    *ngFor="let col of child_column"
                                  >
                                    {{ col.header }}
                                  </th>
                                </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-data let-i="rowIndex">
                                <tr
                                  class="inr_tble"
                                  [ngStyle]="{
                                    'background-color':
                                      data.transaction_subtype.includes('Redemption')
                                        ? '#b70a0a30'
                                        : data.transaction_subtype.includes('Remaining')
                                        ? '#FFA500'
                                        : ''
                                  }"
                                >
                                  <td
                                    *ngFor="let col of child_column"
                                    [style.width]="col.width"
                                  >
                                    <ng-container [ngSwitch]="true">
                                      <ng-container
                                        *ngSwitchCase="col.field == 'sl_no'"
                                      >
                                        <p class="m-0">
                                          {{ i + 1 }}
                                        </p>
                                      </ng-container>
                                      <ng-container *ngSwitchCase=" col.field == 'trans_date' || col.field == 'inv_since'">
                                        <span class="m-0">
                                          {{data[col.field] ? (data[col.field] | date : "dd-MM-YY") : "N/A"}}
                                        </span>
                                      </ng-container>
                                      <ng-container
                                        *ngSwitchCase="col.field == 'cumml_units'"
                                      >
                                        <span class="m-0">
                                          {{
                                            (data[col.field] && data[col.field] > 0)
                                              ? data[col.field]
                                              : "0"
                                          }}
                                        </span>
                                      </ng-container>

                                      <ng-container *ngSwitchCase="col.field == 'curr_val'">
                                        <span class="m-0">
                                          {{data.cumml_units > 0 ? data[col.field] : "0"}}
                                        </span>
                                      </ng-container>
                                      <ng-container *ngSwitchCase="col.field == 'gain_loss'">
                                        <span class="m-0">
                                          {{(data.cumml_units > 0 || data.transaction_type?.includes('Redemption')) ? data[col.field] : "0"}}
                                        </span>
                                      </ng-container>
                                      <ng-container
                                      *ngSwitchCase="col.field == 'xirr'">
                                      <span class="m-0">
                                        {{data.cumml_units > 0 ? (data[col.field]? (data[col.field] | percent: '1.2-2') : "0") : "0"}}
                                      </span>
                                    </ng-container>
                                    <ng-container
                                    *ngSwitchCase="col.field == 'ret_abs'">
                                    <span class="m-0">
                                      {{data.cumml_units > 0 ? (data[col.field]? (data[col.field] | number: '1.2-2') : "0") : "0"}} %
                                    </span>
                                  </ng-container>

                                      <ng-container
                                        *ngSwitchCase="
                                          col.field == 'idcwr' ||
                                          col.field == 'idcw_reinv' ||
                                          col.field == 'idcwp'
                                        "
                                      >
                                        <span class="m-0">
                                          {{ data[col.field] ? data[col.field] : '0'}}
                                        </span>
                                      </ng-container>
                                      <ng-container *ngSwitchDefault>
                                        <p class="m-0">
                                          {{data[col.field]}}
                                        </p>
                                      </ng-container>
                                    </ng-container>
                                  </td>
                                </tr>
                              </ng-template>
                              <ng-template pTemplate="footer">
                                <tr>
                                  <td
                                    class="subTblLiveMfPortFolio"
                                    *ngFor="let col of child_column"
                                    [style.min-width]="col.width"
                                    [style.max-width]="col.width"
                                  >
                                    <ng-container [ngSwitch]="true">
                                      <ng-container
                                        *ngSwitchCase="col.field == 'transaction_type'"
                                      >
                                        <p class="m-0">Total</p>
                                      </ng-container>
                                      <ng-container  *ngSwitchCase="col.field == 'tot_units'">
                                        <p class="m-0">
                                          {{subLiveMfPortFolio ? subLiveMfPortFolio[col.field]: "0"}}
                                        </p>
                                      </ng-container>
                                      <ng-container  *ngSwitchCase="col.field == 'pur_price'">
                                        <p class="m-0">
                                          {{subLiveMfPortFolio ? (subLiveMfPortFolio[col.field] | number:'1.4-4'): "0"}}
                                        </p>
                                      </ng-container>
                                      <ng-container *ngSwitchCase="col.field == 'xirr'">
                                        <p class="m-0">
                                          {{subLiveMfPortFolio ? (subLiveMfPortFolio[col.field] | percent:'1.2-2') : "0%"}}
                                        </p>
                                      </ng-container>
                                      <ng-container
                                        *ngSwitchCase="
                                          col.field == 'cumml_units' ||
                                          col.field == 'curr_val' ||
                                          col.field == 'gain_loss' ||
                                          col.field == 'ret_abs'
                                        "
                                      >
                                        <p class="m-0">
                                          {{subLiveMfPortFolio ? subLiveMfPortFolio[col.field] : "0"}}
                                          {{ col.field == "ret_abs" ? "%" : "" }}
                                        </p>
                                      </ng-container>

                                      <ng-container
                                      *ngSwitchCase="col.field == 'tot_tds' || col.field == 'tot_stamp_duty'
                                      || col.field == 'tot_amount' ||col.field == 'gross_amount'">
                                      <p class="m-0">
                                        {{subLiveMfPortFolio ? (subLiveMfPortFolio[col.field] | number:'1.2-2') : "0"}}
                                      </p>
                                    </ng-container>

                                    </ng-container>
                                  </td>
                                </tr>
                              </ng-template>
                            </p-table>
                            <!-- <div
                              class="px-0 py-2 text-left show__More"
                              *ngIf="
                                truncated_val != liveMfPortFolio.data.length &&
                                liveMfPortFolio.data.length > 0
                              "
                            >
                              <a (click)="show_more('M', i)">Show More Transactions</a>
                              &nbsp;<span>|</span>&nbsp;
                              <a (click)="show_more('A', i)">Show All Transactions</a>
                            </div> -->
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </mat-card-content>
            </mat-card>
        </div>
</div>