td,
th {
  border: 1px solid #dddddd;
  text-align: center!important;
  padding: 8px;
  width: 25%;
  font-size: 11px!important;
}
td,
th:first-child,td,
th:last-child{
  width:4%;
}

td {
    vertical-align: middle !important;
}
