<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle >

<div mat-dialog-title class="dialog-title">
  <h2>{{data.title}}</h2>
  <div class="btnIcon">
    <button mat-icon-button title="Minimize" (click)="minimize()" >
      <mat-icon >remove</mat-icon>
    </button>
    <button mat-icon-button title="Restore Down" (click)="maximize()" *ngIf="__isVisible">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
      <mat-icon>check_box_outline_blank </mat-icon>
    </button>

    <button mat-icon-button title="Close" [mat-dialog-close]="">
      <mat-icon >close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content>
  <form [formGroup]="__clientForm" (ngSubmit)="submit()" id="__clientForm" ngNativeValidate autocomplete="off">
    <!-- Buisness Type -->
    <div class="row my-5">
      <div class="col-sm-12 my-3">
        <label for="bu_type">Buisness Type <span class="text-danger">*</span></label>
        <select name="bu_type" id="bu_type" formControlName="bu_type" class="form-control">
          <option value=""> Select Buisness Type</option>
          <option *ngFor="let __bu_type of __buisness_type" value="{{__bu_type.id}}">{{__bu_type.bu_type}}</option>
        </select>
        <div class="invalid-feedback"
          *ngIf="__clientForm.get('bu_type').invalid && (__clientForm.get('bu_type').dirty || __clientForm.get('bu_type').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('bu_type')).errors?.required">*Please provide buisness
            type</span>
        </div>
      </div>
      <div class="col-sm-12 my-3" *ngIf="__clientForm.get('bu_type').value == 'B'">
      <!-- //ARN -->
      <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforSubBrkArn($event)">
        <div class="searchDiv">
          <label for="subbrkArn">Sub Broker ARN<span class="text-danger">*</span></label>
          <input type="search" id="subbrkArn" class="form-control" placeholder="Serach By Sub Broker ARN" formControlName="sub_arn_no">
          <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickforSubBrkArn($event)">
            <div class="serachresult_client" #subBrkArn>
              <ul *ngIf="__subbrkArnMst.length > 0">
                <li *ngFor="let items of __subbrkArnMst" (click)="getItems(items,'S')">
                  {{items.arn_no}} | {{items.bro_name}}
                </li>
              </ul>
              <div class="noDataFound" *ngIf="__subbrkArnMst.length == 0">
                <h5 class="text-center">
                  Sorry!! No Sub-Brokers Found
                </h5>
                <p>If your result match,they will appear here</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      </div>
      <div class="col-sm-12 my-3" *ngIf="__clientForm.get('bu_type').value == 'B'">
        <!-- Sub broker code -->
        <label for="subbrkCD">Sub Broker Code<span class="text-danger">*</span></label>
        <input type="search" id="subbrkCD" class="form-control" placeholder="Sub Broker Code" formControlName="sub_brk_cd" readonly>
      </div>
      <div class="col-sm-12 my-3" *ngIf="__clientForm.get('bu_type').value != ''">
          <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClick($event)">
          <div class="searchDiv">
            <label for="Euin">EUIN<span class="text-danger">*</span></label>
            <input type="search" id="Euin"
            class="form-control"
            placeholder="Serach By EUIN Number"
            formControlName="euin_no">
            <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClick($event)">
              <div class="serachresult_client" #searchResult>
                <ul *ngIf="__euinMst.length > 0">
                  <li *ngFor="let items of __euinMst" (click)="getItems(items,'E')">
                    {{items.euin_no}} | {{items.emp_name}}
                  </li>
                </ul>
                <div class="noDataFound" *ngIf="__euinMst.length == 0">
                  <h5 class="text-center">
                    Sorry!! No EUIN Numbers Found
                  </h5>
                  <p>If your result match,they will appear here</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="invalid-feedback"
          *ngIf="__clientForm.get('euin_no').invalid && (__clientForm.get('euin_no').dirty || __clientForm.get('euin_no').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('euin_no')).errors?.required">*Please provide EUIN number</span>
        </div>
      </div>
    </div>
    <!-- End -->
    <!-- Client Details -->

      <!-- First Client Dtls -->
      <div class="row mt-5">
        <div [ngClass]="{'col-sm-12':!__isCldtlsEmpty,'col-sm-9':__isCldtlsEmpty}">
          <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforClient($event)">
            <div class="searchDiv">
              <label for="__clntCd">Client Code <span class="text-danger">*</span></label>
              <p class="invalid-feedback"
                *ngIf="!__dialogDtForClient && __clientForm.get('client_code').value && __clientMst.length > 0">
                Client Does Not Exist
              </p>
              <input type="search" name="__clntCd" id="__clntCd" class="form-control"
                formControlName="client_code"
                placeholder="Search By Client Name,Client Code, Email, Mobile, Pan & DOB">
                <span class="spinner-border" *ngIf="__isclientVisible && __clientForm.get('client_code').value?.length > 1"></span>

              <div class="processMain_2" __searchResVisibility
                (appOutsideClick)="outsideClickforClient($event)">
                <div class="serachresult_client" #clientCd>
                  <ul *ngIf="__clientMst.length > 0">
                    <li *ngFor="let items of __clientMst" (click)="getItems(items,'C')">
                      {{items.client_code}} | {{items.pan}} | {{items.client_name}}
                    </li>
                  </ul>
                  <div class="noDataFound" *ngIf="__clientMst.length == 0">
                    <h5 class="text-center">
                      Sorry!! No Records Found
                    </h5>
                    <p>To create a new client .Please click on Create Client</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 clientCode" *ngIf="__isCldtlsEmpty && __clientForm.get('client_code').value">
          <button color="primary" type="button" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>add</mat-icon> Create Client
          </button>
          <mat-menu #menu="matMenu">
            <div class="row p-0 m-0">
              <div title="{{clOption.name}}" class="col-sm-4 d-flex justify-content-center headerMenu"
                *ngFor="let clOption of __mcOptionMenu" (click)="openDialogForclientcreation(clOption,'F')">
                <mat-icon>{{clOption.icon}}</mat-icon>
              </div>
            </div>
          </mat-menu>
        </div>
      </div>

      <ng-container *ngIf="__clientForm.get('client_code').value && __clientForm.get('client_name').value">
        <div class="row mt-5">
          <div [ngClass]="{'col-sm-12': !__dialogDtForClient,'col-sm-9':__dialogDtForClient}">
            <label for="__clName">Client Name</label>
            <input type="search" name="__clName" id="__clName" class="form-control" placeholder="Client Name"
              formControlName="client_name" [attr.disabled]="true">
          </div>
          <div class="col-sm-3  clientCode" *ngIf="__dialogDtForClient">
            <button (click)="openDialog('C')" color="primary" mat-button type="button"
              aria-label="Example icon button with a eye icon" title="View Client Details">
              <mat-icon>remove_red_eye</mat-icon>
              View Details
            </button>
          </div>

        </div>
      </ng-container>

    <!-- End -->
    <div class="row my-5">
      <!-- <div class="col-sm-6">
        <label for="temp_tin_id">Temporary TIN <span class="text-danger">*</span></label>
        <input type="text" name="temp_tin_id" id="temp_tin_id" class="form-control" formControlName="temp_tin_id">
        <div class="invalid-feedback" *ngIf="__clientForm.get('temp_tin_id').invalid && (__clientForm.get('temp_tin_id').dirty || __clientForm.get('temp_tin_id').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('temp_tin_id')).errors?.required">*Please provide temporary tin</span>
        </div>
      </div> -->
      <div class="col-sm-12">
        <label for="kyc_type">Kyc Type <span class="text-danger">*</span></label>
        <select name="kyc_type" id="kyc_type" formControlName="kyc_type" class="form-control">
          <option value="">Select kyc type</option>
          <option value="{{__item.id}}" *ngFor="let __item of __kycType">{{__item.trns_name}}</option>
         </select>
         <div class="invalid-feedback" *ngIf="__clientForm.get('kyc_type').invalid && (__clientForm.get('kyc_type').dirty || __clientForm.get('kyc_type').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('kyc_type')).errors?.required">*Please provide kyc type</span>
        </div>
      </div>

      <ng-container *ngIf="__clientForm.get('kyc_type').value">
        <div class="col-sm-12 mt-5">
          <label for="kyc_fresh_modification">{{__clientForm.get('kyc_type').value == '13' ? 'Fresh Type' : 'Modification Type'}} <span class="text-danger">*</span></label>
          <select name="kyc_fresh_modification" id="kyc_fresh_modification" formControlName="kyc_fresh_modification" class="form-control">
            <option value="">Select</option>
            <option value="{{__item.id}}" *ngFor="let __item of __kycfresh_mod">{{__item.name}}</option>
           </select>
           <div class="invalid-feedback" *ngIf="__clientForm.get('kyc_fresh_modification').invalid && (__clientForm.get('kyc_fresh_modification').dirty || __clientForm.get('kyc_fresh_modification').touched)">
            <span class="invalid-feedback" *ngIf="(__clientForm.get('kyc_fresh_modification')).errors?.required">*Please provide {{__clientForm.get('kyc_type').value == '13' ? 'fresh type' : 'modification type'}}</span>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row my-5">
      <div class="col-sm-12">
        <label for="kyc_login_type">Kyc Login Type <span class="text-danger">*</span></label>
        <select name="kyc_login_type" id="kyc_login_type" formControlName="kyc_login_type" class="form-control">
          <option value="">Select kyc type</option>
          <option value="{{__item.id}}" *ngFor="let __item of __kycLoginType">{{__item.value}}</option>
         </select>
         <div class="invalid-feedback" *ngIf="__clientForm.get('kyc_login_type').invalid && (__clientForm.get('kyc_login_type').dirty || __clientForm.get('kyc_login_type').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('kyc_login_type')).errors?.required">*Please provide kyc login type</span>
        </div>
      </div>
      <div class="col-sm-12 my-5" *ngIf="this.__clientForm.get('kyc_login_type').value == 'R' || this.__clientForm.get('kyc_login_type').value == 'A' || this.__clientForm.get('kyc_login_type').value == 'N'">
        <label for="kyc_login_at">Kyc Login At <span class="text-danger">*</span></label>
        <select name="kyc_login_at" id="kyc_login_at" formControlName="kyc_login_at" class="form-control">
          <option value="">Select kyc At</option>
          <option value="{{__item.id}}" *ngFor="let __item of __kycLoginAt">
            {{this.__clientForm.get('kyc_login_type').value == 'R' ? __item.rnt_name : (this.__clientForm.get('kyc_login_type').value == 'A' ? __item.amc_name : __item.value)}}
          </option>
         </select>
         <div class="invalid-feedback" *ngIf="__clientForm.get('kyc_login_at').invalid && (__clientForm.get('kyc_login_at').dirty || __clientForm.get('kyc_login_at').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('kyc_login_at')).errors?.required">*Please provide kyc login at</span>
        </div>
      </div>

      <!-- <ng-container *ngIf="this.__clientForm.get('kyc_login_at').value == '3'">
         <div class="col-sm-12 my-5">
          <label for="amc_id">Amc Office <span class="text-danger">*</span></label>
          <select name="amc_id" id="amc_id" formControlName="amc_id" class="form-control">
            <option value="">Select Amc Office</option>
            <option value="{{__item.id}}" *ngFor="let __item of __amcMst">
              {{__item.amc_name}}
            </option>
           </select>
           <div class="invalid-feedback" *ngIf="__clientForm.get('amc_id').invalid && (__clientForm.get('amc_id').dirty || __clientForm.get('amc_id').touched)">
            <span class="invalid-feedback" *ngIf="(__clientForm.get('amc_id')).errors?.required">*Please provide amc office</span>
          </div>
         </div>

      </ng-container> -->
      <div class="col-sm-12 my-5">
        <label for="file_scanned">Scanned Application Form <span class="text-danger">*</span></label>
        <input type="file" name="file_scanned" id="file_scanned" formControlName="scaned_form" class="form-control" accept=".pdf" (change)="getFile($event)">
        <div class="invalid-feedback"
        *ngIf=" __clientForm.get('scaned_form').invalid && ( __clientForm.get('scaned_form').dirty ||  __clientForm.get('scaned_form').touched)">
        <span class="invalid-feedback" *ngIf=" __clientForm.get('scaned_form').errors?.required">*Please
          provide file</span>
        <span class="invalid-feedback" *ngIf="__clientForm.get('scaned_form').errors?.inValidExt">*Invalid
          file extension.</span>
        <span class="invalid-feedback"
          *ngIf="__clientForm.get('scaned_form').errors?.fileSizeValidator">*File size must not exceed than
          2MB.</span>
      </div>

      </div>

      <div class="col-sm-12">
         <label for="remarks">Remarks</label>
          <textarea cols="12" rows="5" formControlName="remarks" class="form-control"></textarea>
      </div>

    </div>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end" class="popupBoxSubmitSec">
  <button class="btn addBtn" form="__clientForm"   [disabled]="__clientForm.invalid">Submit</button>
</mat-dialog-actions>
<br clear="all">
</div>
