<!-- <h2 mat-dialog-title>{{data.title}}</h2> -->
<div mat-dialog-title class="dialog-title">
  <h2>{{data.title}}</h2>
  <button mat-icon-button  [mat-dialog-close]="">
    <mat-icon >close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="__clientForm" (ngSubmit)="submit()" id="__clientForm" ngNativeValidate>
    <div class="row my-3">
      <div class="col-sm-12">
        <label for="clientCode">Client Code <span class="text-danger">*</span></label>
        <input type="text"  
        name="clientCode" 
        id="clientCode" 
        class="form-control" 
        formControlName="_client_code"
        >
      </div>
      </div>
    <div class="row ">
      <div class="col-sm-12">
        <label for="pan_no">Pan No. <span class="text-danger">*</span></label>
        <input type="text" name="pan_no" id="pan_no" class="form-control" formControlName="_pan_no">
      </div>
      </div>
    <div class="row my-3">
      <div class="col-sm-12">
        <label for="mobile">Mobile <span class="text-danger">*</span></label>
        <input type="text"  name="mobile" id="mobile" class="form-control" formControlName="mobile">
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-6">
        <label for="client_name">Client Name <span class="text-danger">*</span></label>
        <input type="text" readonly name="client_name" id="client_name" class="form-control" formControlName="client_name">
      </div>
      <div class="col-sm-6">
        <label for="email">Email <span class="text-danger">*</span></label>
        <input type="text" readonly name="email" id="email" class="form-control" formControlName="email">
      </div>
    </div>
    <table class="table table_Custome my-4" *ngIf="__isvisible">
        <thead>
        <tr>
          <th>
            Document type
          </th>
          <th>
            Thumbnail
          </th>
        </tr>
        </thead>
        <tbody  formArrayName="doc_dtls">
          <tr  *ngFor="let item of __docs.controls; let i = index;">
            <ng-container [formGroupName]="i">
              <td>
                <select name="_doc_type" id="_doc_type" formControlName="doc_type_id" class="form-control">
                  <option value="">Select document type</option>
                  <option value="{{__docType.id}}" *ngFor="let __docType of __docTypeMaster"> {{__docType.doc_type}}</option>
                </select>
              </td>
              <td>
                    <img  [src]="__docs.controls[i].get('file_preview')?.value || __noImg" alt="preview Image">
              </td>
            </ng-container>
          </tr>
        </tbody>
    </table>
    <div class="row my-5">
      <div class="col-sm-6">
        <label for="temp_tin_id">Temporary TIN <span class="text-danger">*</span></label>
        <input type="text" name="temp_tin_id" id="temp_tin_id" class="form-control" formControlName="temp_tin_id">
        <div class="invalid-feedback" *ngIf="__clientForm.get('temp_tin_id').invalid && (__clientForm.get('temp_tin_id').dirty || __clientForm.get('temp_tin_id').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('temp_tin_id')).errors?.required">*Please provide temporary tin</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="kyc_type">Kyc Type <span class="text-danger">*</span></label>
        <select name="kyc_type" id="kyc_type" formControlName="kyc_type" class="form-control">
          <option value="">Select kyc type</option>
          <option value="{{__item.id}}" *ngFor="let __item of __kycType">{{__item.value}}</option>
         </select>
         <div class="invalid-feedback" *ngIf="__clientForm.get('kyc_type').invalid && (__clientForm.get('kyc_type').dirty || __clientForm.get('kyc_type').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('kyc_type')).errors?.required">*Please provide kyc type</span>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-6">
        <label for="kyc_login_type">Kyc Login Type <span class="text-danger">*</span></label>
        <select name="kyc_login_type" id="kyc_login_type" formControlName="kyc_login_type" class="form-control">
          <option value="">Select kyc type</option>
          <option value="{{__item.id}}" *ngFor="let __item of __kycLoginType">{{__item.value}}</option>
         </select>
         <div class="invalid-feedback" *ngIf="__clientForm.get('kyc_login_type').invalid && (__clientForm.get('kyc_login_type').dirty || __clientForm.get('kyc_login_type').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('kyc_login_type')).errors?.required">*Please provide kyc login type</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="kyc_login_at">Kyc Login At <span class="text-danger">*</span></label>
        <select name="kyc_login_at" id="kyc_login_at" formControlName="kyc_login_at" class="form-control">
          <option value="">Select kyc type</option>
          <option value="{{__item.id}}" *ngFor="let __item of __kycLoginAt">
            {{this.__clientForm.get('kyc_login_type').value == 'R' ? __item.rnt_name : this.__clientForm.get('kyc_login_type').value == 'A' ? __item.amc_name : __item.value}}
          </option>
         </select>
         <div class="invalid-feedback" *ngIf="__clientForm.get('kyc_login_at').invalid && (__clientForm.get('kyc_login_at').dirty || __clientForm.get('kyc_login_at').touched)">
          <span class="invalid-feedback" *ngIf="(__clientForm.get('kyc_login_at')).errors?.required">*Please provide kyc login at</span>
        </div>
      </div>
    </div>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end" class="popupBoxSubmitSec">
  <button class="btn addBtn" form="__clientForm"   [disabled]="__clientForm.invalid">Submit</button>
</mat-dialog-actions>
<br clear="all">
