<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div mat-dialog-title class="dialog-title" [title]="data.title">
    <h2>{{data.title}}</h2>
    <div class="btnIcon">
      <button mat-icon-button (click)="minimize()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>check_box_outline_blank</mat-icon>
      </button>
      <button mat-icon-button (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button  [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>
    </div>

  </div>
  <mat-dialog-content>
    <form  [formGroup]="__subcatForm" id="subCatForm" (ngSubmit)="submit()" autocomplete="off" ngNativeValidate>
      <div class="row">
        <div class="col-sm-12 my-3">
          <label for="catName">Category <span class="text-danger">*</span></label>
           <select class="form-control" formControlName="category_id" id="catName">
             <option value="">Select Category</option>
            <option *ngFor="let __cats of __catMaster" value="{{__cats.id}}">{{__cats.cat_name}}</option>
           </select>
          <div class="invalid-feedback" *ngIf="__subcatForm.get('category_id').invalid && (__subcatForm.get('category_id').dirty || __subcatForm.get('category_id').touched)">
            <span class="invalid-feedback" *ngIf="(__subcatForm.get('category_id')).errors?.required">*Please provide category</span>
          </div>
        </div>
        <div class="col-sm-12 my-3">
          <label for="subCatName">Sub Category <span class="text-danger">*</span></label>
          <input type="text" name="subcategory_name" id="catName" class="form-control" placeholder="Enter Sub Category" formControlName="subcategory_name">
          <div class="invalid-feedback" *ngIf="__subcatForm.get('subcategory_name').invalid && (__subcatForm.get('subcategory_name').dirty || __subcatForm.get('subcategory_name').touched)">
            <span class="invalid-feedback" *ngIf="(__subcatForm.get('subcategory_name')).errors?.required">*Please provide subcategory</span>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="popupBoxSubmitSec">
    <button class="btn addBtn  ml-2" form="subCatForm" [disabled]="this.__subcatForm.invalid">
      {{this.data.id > 0 ? 'Update' : 'Submit'}}
    </button>
  </mat-dialog-actions>
  <br clear="all">
</div>
