<!-- REPORT FILTER FOR BOTH MIS & TREND -->
<mat-card>
  <mat-card-header class="border-bottom">
    <mat-card-title>
       <h5 class="customBorder">{{title}}</h5>
    </mat-card-title>
    <div class="pr-3 my-auto d-flex align-items-center">

      <p-selectButton [(ngModel)]="btn_type"
      [options]="selectBtn"
      optionValue="value"
      styleClass="p-button-lg"
      (onOptionClick)="onItemClick($event)" optionLabel="icon">
        <ng-template let-item>
          <i [class]="item.icon" [matTooltip]="item.label"></i>
        </ng-template>
      </p-selectButton>
      <button mat-icon-button class="my-auto" [matTooltip]="state == 'collapsed' ? 'EXPAND MORE' : 'EXPAND LESS'"
        color="primary" (click)="toggle()" class="mx-3">
        <mat-icon [ngClass]="{'rotateUp':state == 'collapsed','rotateDown':state == 'expanded'}">
          keyboard_arrow_up
        </mat-icon>
      </button>
    </div>
  </mat-card-header>
    <mat-card-content
    [@bodyExpansion]="state"
    [ngClass]="{'expandable-content': state == 'collapsed'}"
    >
      <ng-template #SearchBtn>
        <p-button type="submit" label="Show" icon="pi pi-eye" iconPos="right" styleClass="p-button-lg"></p-button>
      </ng-template>
      <form [formGroup]="monthly_mis_filter_form"
      (ngSubmit)="searchFilter()">
      <div class="row">
        <!-- Only For Monthly Mis Trend-->
        <ng-container *ngIf="flag == 'T';else mis">
            <div class="col-sm-3">
              <label for="view_by">View By</label>
              <select class="form-control" formControlName="view_by">
                    <option value="M">Monthly</option>
                    <option value="D">Duration</option>
                    <option value="Y">Yearly</option>
                    <option value="F">Financial Year</option>
              </select>
            </div>
            <ng-container  *ngIf="monthly_mis_filter_form.value.view_by == 'M'">
              <div class="col-sm-3">
                <label for="month">Month-Year </label>
                <p-calendar
                #MYCalendar
                [view]="'month'"
                [dateFormat]="'mm/yy'"
                [readonlyInput]="true"
                inputId="pickmonth"
                selectionMode="range"
                formControlName="month"
                [showButtonBar]="true"
                [placeholder]="'MM-YYYY - MM-YYYY'">
              </p-calendar>
              </div>
            </ng-container>
            <ng-container *ngIf="monthly_mis_filter_form.value.view_by == 'D' || monthly_mis_filter_form.value.view_by == 'F'">
               <div class="col-sm-3">
                <label for="upto">Upto</label>
                    <select class="form-control" formControlName="upto">
                        <option value="">Select</option>
                        <option value="{{item}}" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]">{{item}} {{monthly_mis_filter_form.value.view_by == 'D' ? 'Month' : 'Financial year'}}</option>
                    </select>
               </div>
            </ng-container>
            <ng-container *ngIf="monthly_mis_filter_form.value.view_by == 'Y'">
              <div class="col-sm-3">
                <label for="upto">Financial year</label>
                    <select class="form-control" formControlName="fin_year">
                        <option [value]="finYear" *ngFor="let finYear of financial_year">{{finYear}}</option>
                    </select>
               </div>
               <div class="col-sm-3">
                <label for="upto">Period Type</label>
                    <select class="form-control" formControlName="period_type">
                        <option value="M">Monthly</option>
                        <option value="Q">Quarterly</option>
                        <option value="H">Half Yearly</option>
                    </select>
               </div>
            </ng-container>
         </ng-container>
         <!-- End -->
         <!-- Only For Monthly Mis -->
         <ng-template #mis>
          <div class="col-sm-3">
          <label [attr.for]="flag == 'R' ? 'mis_month' : 'no_of_month'">{{ flag == 'R' ? 'MIS' : 'No Of'}} Month</label>
            <select class="form-control"
            [attr.id]="flag == 'R' ? 'mis_month' : 'mo_of_month'"
            [formControl]="$any(monthly_mis_filter_form.controls[flag == 'R' ? 'mis_month' : 'no_of_month'])">
            <ng-container *ngIf="flag == 'R';else trend">
              <option value="">Select MIS Month</option>
              <option value="{{monthYear}}"
              *ngFor="let monthYear of month_year">
              {{monthYear}}
              </option>
            </ng-container>
            <ng-template #trend>
              <option [value]="12">Last 12 month</option>
            </ng-template>
            </select>
          </div>
         </ng-template>
         <!-- End -->

          <div class="col-sm-3">
            <label for="amc_id">AMC</label>
            <ng-multiselect-dropdown [attr.id]="'amc_id'" [placeholder]="'Select AMC'"
              [settings]="settingsforAMCDropdown" [data]="amcMst"
              formControlName="amc_id">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="cat_id">Category</label>
            <ng-multiselect-dropdown [id]="'cat_id'" [placeholder]="'Select Category'"
              [settings]="settingsforCatDropdown" [data]="catMst"
              formControlName="cat_id">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="sub_cat_id">Sub-Category</label>
            <ng-multiselect-dropdown [id]="'sub_cat_id'" [placeholder]="'Select Sub-Category'"
              [settings]="settingsforSubCatDropdown" [data]="subcatMst"
              formControlName="sub_cat_id">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="scheme_id">Scheme</label>
            <ng-multiselect-dropdown [id]="'scheme_id'" [placeholder]="'Select Scheme'"
              [settings]="settingsforSchemeDropdown" [data]="schemeMst" formControlName="scheme_id">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="trans_type">Transaction Type</label>
            <ng-multiselect-dropdown [id]="'trans_type'"
            [placeholder]="'Select Transaction Type'"
              [settings]="settingsforTrxnTypeDropdown"
               [data]="trxnTypeMst"
              formControlName="trans_type">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="trans_sub_type">Transaction Sub-Type</label>
            <ng-multiselect-dropdown [id]="'trans_sub_type'" [placeholder]="'Select Transaction Sub-Type'"
              [settings]="settingsforTrxnSubTypeDropdown" [data]="trxnSubTypeMst" formControlName="trans_sub_type">
            </ng-multiselect-dropdown>
          </div>
          <ng-container *ngIf="btn_type == 'A';else normalFilter">
            <div class="col-sm-3">
              <label for="brn_cd">Branch</label>
              <ng-multiselect-dropdown #multiSelect id="brn_cd" [placeholder]="'Select Branch'"
                 [settings]="settingsforBrnchDropdown" [data]="__branchMst"
                formControlName="brn_cd">
              </ng-multiselect-dropdown>
            </div>
              <ng-container *ngIf="flag == 'T'">
                  <div class="col-sm-3">
                    <label for="bu_type">Business Type</label>
                    <ng-multiselect-dropdown #multiSelect id="bu_type" [placeholder]="'Select Business Type'"
                       [settings]="settingsforBuTypeDropdown" [data]="__bu_type"
                      formControlName="bu_type_id">
                    </ng-multiselect-dropdown>
                  </div>
                  <div class="col-sm-3">
                    <label for="rm_name">Relationship Manager</label>
                    <ng-multiselect-dropdown #multiSelect id="rm_name" [placeholder]="'Select Relationship Manager'"
                       [settings]="settingsforRMDropdown" [data]="__RmMst"
                      formControlName="rm_id">
                    </ng-multiselect-dropdown>
                  </div>
                  <div class="col-sm-3">
                    <label for="sub_brk_cd">Sub Broker</label>
                    <ng-multiselect-dropdown #multiSelect [id]="'sub_brk_cd'" [placeholder]="'Select Sub Broker'"
                      [settings]="settingsforSubBrkDropdown"
                      [data]="__subbrkArnMst" formControlName="sub_brk_cd">
                    </ng-multiselect-dropdown>
                  </div>
              </ng-container>
          </ng-container>
          <ng-template #normalFilter>
            <div
            class="d-flex my-2 align-items-end justify-content-end"
            [ngClass]="{
              'col-sm-12':(monthly_mis_filter_form.value.view_by != 'Y' && flag != 'R'),
               'col-sm-9': (monthly_mis_filter_form.value.view_by == 'Y' && flag != 'R'),
               'col-sm-3': flag == 'R'
            }"
            >
              <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
            </div>
          </ng-template>

      </div>
      <ng-container *ngIf="btn_type == 'A'">
        <div class="row">
            <ng-container *ngIf= "flag == 'R'">
            <div class="col-sm-3">
              <label for="bu_type">Business Type</label>
              <ng-multiselect-dropdown #multiSelect id="bu_type" [placeholder]="'Select Business Type'"
                 [settings]="settingsforBuTypeDropdown" [data]="__bu_type"
                formControlName="bu_type_id">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-3">
              <label for="rm_name">Relationship Manager</label>
              <ng-multiselect-dropdown #multiSelect id="rm_name" [placeholder]="'Select Relationship Manager'"
                 [settings]="settingsforRMDropdown" [data]="__RmMst"
                formControlName="rm_id">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-3">
              <label for="sub_brk_cd">Sub Broker</label>
              <ng-multiselect-dropdown #multiSelect [id]="'sub_brk_cd'" [placeholder]="'Select Sub Broker'"
                 [settings]="settingsforSubBrkDropdown"
                [data]="__subbrkArnMst" formControlName="sub_brk_cd">
              </ng-multiselect-dropdown>
            </div>
            </ng-container>
            <div class="col-sm-3">
              <label for="euin_no">EUIN</label>
              <ng-multiselect-dropdown #multiSelect id="euin_no" [placeholder]="'Select Employee'"
                [settings]="settingsforEuinDropdown" [data]="__euinMst" formControlName="euin_no">
              </ng-multiselect-dropdown>
            </div>
            <div
            class="d-flex align-items-end justify-content-end"
            [ngClass]="{'col-sm-12 my-2': flag == 'R','col-sm-9':flag == 'T'}"
            >
              <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
            </div>
        </div>
        <!-- <div class="row mt-2">
          <div class="col-sm-12 d-flex align-items-end justify-content-end">
            <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
          </div>
        </div> -->
      </ng-container>
    </form>
    </mat-card-content>
</mat-card>
<!-- END -->
