<div class="row flexSec">
  <div class="col-sm-12 mb-3">

    <!-- Make the Tab Section Common -->
    <core-tab [Tab]="TabMenu"
    (GetTabDtls)="changeTabDtls($event,'P')"
    [index]="index"
    ></core-tab>

    <p-card styleClass="rounded-bottom border-noround">
      <core-tab [Tab]="subTab"
      (GetTabDtls)="changeTabDtls($event,'C')"
      [customClass]="'customTabs'"
      [index]="sub_index"
      ></core-tab>
      <div class="card">
        <div class="card-body p-1">
          <mailBack-trxn-rpt-without-scm
          [tblminWidth]="tblWidth"
          [trxnRptWithOutScm]="trxnTypeRpt"
          [mismatch_flag]="mismatch_flag"
          [TrxnClm]="TrxnClm"
          (changeStatusOfTrxn)="setTrxnFromChild($event)"
          ></mailBack-trxn-rpt-without-scm>
        </div>
        </div>
    </p-card>


    <!-- <div class="card">
      <div class="card-body py-2">
        <ng-container *ngIf="index == 0">
          <mailBack-trxn-rpt-without-scm [trxnRptWithOutScm]="trxnTypeRpt"></mailBack-trxn-rpt-without-scm>
        </ng-container>
      </div>
    </div> -->

    </div>
  </div>

  <p-dialog #countModal header="Header"
  [(visible)]="isvisible"
  [modal]="true"
  [style]="{ width: '70vw',height: '400px'}"
  [draggable]="false"
  [resizable]="false">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Mismatch Files</span>
    </ng-template>

     <div class="container mt-3">
      <table style="width:100%">
        <thead>

          <tr>
            <td>File</td>
            <td class="text-right">Count</td>
          </tr>
        </thead>
        <tbody>
           <tr><th class="text-center" colspan="2">Transaction File</th></tr>
            <tr>
              <td class="text-left">AMC</td>
              <td class="text-right">2</td>
            </tr>
            <tr>
              <td class="text-left">Scheme</td>
              <td class="text-right">2</td>
            </tr>
            <tr>
              <td class="text-left">Plan & Option</td>
              <td class="text-right">2</td>
            </tr>
            <tr>
              <td class="text-left">Bussiness Type</td>
              <td class="text-right">2</td>
            </tr>
            <tr>
              <td class="text-left">IDCW Option</td>
              <td class="text-right">2</td>
            </tr>
        </tbody>

        <tbody>
          <tr><th class="text-center" colspan="2">NAV File</th></tr>

          <tr>
            <td class="text-left">AMC</td>
            <td class="text-right">2</td>
          </tr>
          <tr>
            <td class="text-left">Scheme</td>
            <td class="text-right">2</td>
          </tr>
      </tbody>
      </table>
      </div>

      <!-- <div class="container mt-3">
        <table style="width:100%">
          <thead>
            <tr><th class="text-center" colspan="2">
              NAV File
            </th>
            </tr>
            <tr>
              <td>File</td>
              <td class="text-right">Count</td>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td class="text-left">AMC</td>
                <td class="text-right">2</td>
              </tr>
              <tr>
                <td class="text-left">Scheme</td>
                <td class="text-right">2</td>
              </tr>
          </tbody>
        </table>
        </div> -->

</p-dialog>
