<div class="row flexSec">
  <div class="col-sm-12 mb-3">

    <!-- Make the Tab Section Common -->
    <core-tab [Tab]="TabMenu"
    (GetTabDtls)="changeTabDtls($event,'P')"
    [index]="index"
    ></core-tab>

    <p-card styleClass="rounded-bottom border-noround">
      <core-tab [Tab]="subTab"
      (GetTabDtls)="changeTabDtls($event,'C')"
      [customClass]="'customTabs'"
      [index]="sub_index"
      ></core-tab>
      <div class="card">
        <div class="card-body p-1">
          <mailBack-trxn-rpt-without-scm
          [tblminWidth]="tblWidth"
          [trxnRptWithOutScm]="trxnTypeRpt"
          [mismatch_flag]="mismatch_flag"
          [TrxnClm]="TrxnClm"
          (changeStatusOfTrxn)="setTrxnFromChild($event)"
          ></mailBack-trxn-rpt-without-scm>
        </div>
        </div>
    </p-card>


    <!-- <div class="card">
      <div class="card-body py-2">
        <ng-container *ngIf="index == 0">
          <mailBack-trxn-rpt-without-scm [trxnRptWithOutScm]="trxnTypeRpt"></mailBack-trxn-rpt-without-scm>
        </ng-container>
      </div>
    </div> -->

    </div>
  </div>
