<div class="bckContainer"></div>
<div class="row flexSec">
  <div class="col-sm-12 mb-3">

    <!-- Make the Tab Section Common -->
    <core-tab [Tab]="TabMenu"
              (GetTabDtls)="changeTabDtls($event,'P')"
              [customClass]="'nav'"
              [index]="index"></core-tab>

    <mat-card class="navCard p-3">
     <mat-card-content>
      <core-tab [Tab]="subTab"
      (GetTabDtls)="changeTabDtls($event,'C')"
      [customClass]="'second_tab'"
      [index]="sub_index"></core-tab>
      <mailBack-trxn-rpt-without-scm
      [tblminWidth]="tblWidth"
      [trxnRptWithOutScm]="trxnTypeRpt"
      [sub_file_type]="mismatch_flag"
      [file_type]="parent_mismatch_type"
      [TrxnClm]="TrxnClm"
      (changeStatusOfTrxn)="setTrxnFromChild($event)"></mailBack-trxn-rpt-without-scm>
     </mat-card-content>
    </mat-card>

  </div>
</div>


<!-----------------------------------------------------FOR LOCK TRANSACTION MODEL------------------------------------------------------------------->
<p-dialog #countModal header="Header"
          [(visible)]="isvisible"
          [modal]="true"
          [style]="{ width: '50vw',height: '400px'}"
          [draggable]="false"
          [resizable]="false">
  <ng-template pTemplate="header">
    <span class="text-lg font-bold">Mismatch Files</span>
  </ng-template>
  <ng-container>

  </ng-container>
  <div class="container mt-3">
    <div class="container_header">
      <core-tab [Tab]="misMatchCountFile"
                [customClass]="'second_tab'"
                (GetTabDtls)="changeTabDtls_forMismatch_count($event)"></core-tab>
    </div>
    <mat-card class="navCard mat-elevation-z1">
      <mat-card-content>
        <ng-container *ngFor="let items of misMatchCountFile;let i = index">
          <mat-list role="list" *ngIf="count_tab_index == i">
            <mat-list-item role="listitem" *ngFor="let item of items.file_type;">
              {{item.name}}
              <span align="end">
                {{item.count}}
              </span>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </ng-container>
      </mat-card-content>

    </mat-card>
  </div>

</p-dialog>
<!----------------------------------------------END-------------------------------------------------------->
