


<!-- <mat-card id="matCard"  class="mat-elevation-z0">
  <mat-card-header class="px-3">
    <mat-card-title></mat-card-title> -->

    <!-- <div class="row form-group mt-2">
      <div class="col-sm-12 d-flex justify-content-end">
        <input id="search" class="form-control rounded w-25 pr-4 mr-2" type="text" (input)="filterGlobal_secondary($event)"
          placeholder="Search" />
          <mat-button-toggle-group #group="matButtonToggleGroup" [formControl]="btnType" class="mx-3">
            <mat-button-toggle value="pdf" aria-label="Text align center">
              <i
                class="pi pi-file-pdf text-danger"
                style="font-size: 2rem"
              ></i>
            </mat-button-toggle>
            <mat-button-toggle value="xlsx" aria-label="Text align right">
              <i
                class="pi pi-file-excel text-success"
                style="font-size: 2rem"
              ></i>
            </mat-button-toggle>
          </mat-button-toggle-group>
      </div>
  </div> -->


  <!-- </mat-card-header>
  <mat-card-content> -->
    <p-table #dt [value]="pl_trxn"
    [rows]="10" [paginator]="false"
      [rowHover]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      styleClass="p-datatable-lg"
      [pageLinks]="3"
      [globalFilterFields]="getColumns()"
        [rowsPerPageOptions]="[10,50,100,{ showAll: 'All' }]"
      [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
        <tr class="stickyHeader">
            <th *ngFor="let col of column"
                pSortableColumn="{{col.field}}"
                [style]="'width : '+col.width"
               >
              {{col.header}}
              <p-sortIcon field="{{col.field}}" *ngIf="col.field != 'trans_details'"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="caption">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h6 class="m-0" *ngIf="pl_trxn.length > 0">
                Showing 1 to {{pl_trxn.length}} of {{pl_trxn.length}} Entries
              </h6>
            </div>
              <div class="w-50 d-flex justify-content-end align-items-center">
                <input id="search" class="form-control rounded w-50 pr-4 mr-2" type="text" (input)="filterGlobal_secondary($event)"
                placeholder="Search" />
                <mat-button-toggle-group #group="matButtonToggleGroup" [formControl]="btnType" class="mx-3">
                  <mat-button-toggle value="pdf" aria-label="Text align center">
                    <i
                      class="pi pi-file-pdf text-danger"
                      style="font-size: 2rem"
                    ></i>
                  </mat-button-toggle>
                  <mat-button-toggle value="xlsx" aria-label="Text align right">
                    <i
                      class="pi pi-file-excel text-success"
                      style="font-size: 2rem"
                    ></i>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
          </div>
    </ng-template>
    <ng-template pTemplate="body" let-pl_trxn>
        <tr
        >
            <td *ngFor="let col of column"
            [style]="'width : '+col.width"
            [ngClass]="{
              'inflow':col.field === 'purchase' || col.field === 'switch_in' || col.field === 'tot_inflow' || col.field === 'idcw_reinv',
              'outflow':col.field === 'redemption' || col.field === 'switch_out' || col.field === 'tot_outflow' || col.field === 'idcwp'
            }"
           >
           <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="col.field == 'scheme_name'">
              <ng-container *ngIf="folio_type == 'N';else others">
                  <a type="button" role="button"
                  (click)="getRowDtls(pl_trxn)"
                  class="text-primary"
                  >
                    {{pl_trxn[col.field] ? pl_trxn[col.field] : "N/A" }}
                  </a>
              </ng-container>
              <ng-template #others>
                <p class="m-0 text-center"
                [ngClass]="{
                  'text-danger':pl_trxn.curr_val == 0
                }"
                >
                  {{pl_trxn[col.field] ? pl_trxn[col.field] : "N/A" }}</p>
              </ng-template>

            </ng-container>

            <ng-container *ngSwitchCase="col.field == 'xirr'">
              <p class="m-0 ">
                {{pl_trxn[col.field] ? (pl_trxn[col.field] | percent : "1.2-2") : '0%' }}</p>
            </ng-container>

            <ng-container *ngSwitchCase="col.field == 'idcw_reinv' || col.field == 'idcwp'">
              <p class="m-0 ">
                {{pl_trxn[col.field] ? (pl_trxn[col.field] | number : "1.2-2") : '0' }}</p>
            </ng-container>

            <ng-container *ngSwitchCase="col.field == 'folio_no'">
              <p class="m-0 ">
                {{pl_trxn[col.field] ? pl_trxn[col.field] : "N/A" }}</p>
            </ng-container>
            <ng-container *ngSwitchCase="col.field == 'ret_abs'">
              <p class="m-0 text-center">
                {{(pl_trxn[col.field] && pl_trxn[col.field] > 0) ? (pl_trxn[col.field] | number:'1.2-2') : '0' }}%</p>
            </ng-container>
            <ng-container *ngSwitchCase="col.field == 'trans_details'">
              <span role="button" (click)="getRowDtls(pl_trxn)">
               <i class="pi pi-eye" style="font-size: 1.5rem"></i>
              </span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <p class="m-0">
                {{pl_trxn[col.field] | number : "1.2-2"}}</p>
            </ng-container>
           </ng-container>
          </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-pl_trxn>
      <tr>
        <td [attr.colspan]="column.length">
          <p class="m-0">NO RECORDS FOUND</p>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td
          *ngFor="let col of column"
          [style]="'width : ' + col.width"
        >
          <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="col.field == 'scheme_name'">
              <p class="m-0">Total</p>
            </ng-container>
            <ng-container *ngSwitchCase="col.field == 'folio_no' || col.field == 'trans_details'"></ng-container>
            <ng-container *ngSwitchCase="col.field == 'xirr'">
             {{footerDtls ? (footerDtls[col.field] ? (footerDtls[col.field] | percent:'1.2-2') : '0.00%') : '0.00%'}}
            </ng-container>
            <ng-container *ngSwitchCase="col.field == 'ret_abs'">
              {{footerDtls ? (footerDtls[col.field] ? (footerDtls[col.field] | number:'1.2-2') : '0.00') : '0.00'}}%
             </ng-container>
            <ng-container *ngSwitchDefault>
              {{footerDtls ? (footerDtls[col.field] ? (footerDtls[col.field] | number:'1.2-2') : '0.00') : '0.00'}}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    </p-table>

  <!-- </mat-card-content>



</mat-card> -->


