


<!-- <mat-card id="matCard"  class="mat-elevation-z0">
  <mat-card-header class="px-3">
    <mat-card-title></mat-card-title> -->

    <!-- <div class="row form-group mt-2">
      <div class="col-sm-12 d-flex justify-content-end">
        <input id="search" class="form-control rounded w-25 pr-4 mr-2" type="text" (input)="filterGlobal_secondary($event)"
          placeholder="Search" />
          <mat-button-toggle-group #group="matButtonToggleGroup" [formControl]="btnType" class="mx-3">
            <mat-button-toggle value="pdf" aria-label="Text align center">
              <i
                class="pi pi-file-pdf text-danger"
                style="font-size: 2rem"
              ></i>
            </mat-button-toggle>
            <mat-button-toggle value="xlsx" aria-label="Text align right">
              <i
                class="pi pi-file-excel text-success"
                style="font-size: 2rem"
              ></i>
            </mat-button-toggle>
          </mat-button-toggle-group>
      </div>
  </div> -->


  <!-- </mat-card-header>
  <mat-card-content> -->
    <p-table #dt [value]="pl_trxn"
    [rows]="10" [paginator]="false"
      [rowHover]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      styleClass="p-datatable-lg"
      [pageLinks]="3"
      [columns]="column"
      [globalFilterFields]="getColumns()"
        [rowsPerPageOptions]="[10,50,100,{ showAll: 'All' }]"
      [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
        <tr class="stickyHeader">
            <th *ngFor="let col of column"
                pSortableColumn="{{col.field}}"
                [style]="'width : '+col.width"
               >
              {{col.header}}
              <p-sortIcon field="{{col.field}}" *ngIf="col.field != 'trans_details'"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="caption">
      <div hidden>
        <div class="border">
            <div class="px-2 py-1 d-flex justify-content-between align-items-center border-bottom" style="background-color:#e7ecf7!important">
                <p class="m-0" style="font-size: 10px;font-family: RobotoCondensed-Regular!important;" >
                  Valuation Report As On Date - <b class="m-0" style="font-family: RobotoCondensed-Bold!important;">28 June, 2024</b></p>
                <div class="d-flex align-items-center flex-row" style="font-size: 10px;">
                      <b class="m-0" style="font-family: RobotoCondensed-Bold!important;"> Current Sensex :</b>
                      <p class="m-0" style="font-family: RobotoCondensed-Regular!important;">79,032.73</p>
                      <img src="../../../../assets/images/transparent_up.png" height="15" width="15"/>
                      <p class="m-0" style="font-family: RobotoCondensed-Regular!important;">210.45 (-0.27%)</p>
                </div>
            </div>
            <div class="row px-2">
                <div class="col-sm-4">
                      <p class="m-0"><b style="font-family: RobotoCondensed-Bold!important;font-size: 11px!important;">{{client_dtls?.client_name}}</b></p>
                      <p class="mb-2"><b style="font-family: RobotoCondensed-Bold!important;font-size: 10px!important;">PAN:{{client_dtls?.pan}}</b></p>
                      <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;">
                        <b style="font-family: RobotoCondensed-Bold!important;">Address:</b>
                        <span style="font-size: 8px!important;">{{client_dtls?.add_line_1}}</span>
                      </p>
                      <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;">
                        <b style="font-family: RobotoCondensed-Bold!important;">Mob:</b>{{client_dtls?.mobile}}
                      </p>
                      <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;"><b style="font-family: RobotoCondensed-Bold!important;">Email:</b>{{client_dtls?.email}}</p>
                      <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;">
                        <b style="font-family: RobotoCondensed-Bold!important;">DOB:</b>{{client_dtls?.dob | date:'dd-MM-YYYY'}}</p>
      
      
                </div>
                <div class="col-sm-4">
                  <p class="m-0"><b style="font-family: RobotoCondensed-Bold!important;font-size: 11px!important;">NuEdge Corporate Private Limited</b></p>
                  <p class="mb-1" ><b style="font-family: RobotoCondensed-Bold!important;font-size: 10px!important;">AMFI Registered Mutual Fund Distributor</b></p>
                  <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;">
                    <b style="font-family: RobotoCondensed-Bold!important;">Branch Office:</b>
                    <span style="font-size: 9px!important;">1A, Dr.Sarat Banerjee Rd, Hemanta Mukherjee Sarani, lake Terrace, Kalighat, Kolkata, West Bengal 700029</span>
                  </p>
                  <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;"><b style="font-family: RobotoCondensed-Bold!important;">Tel:</b>033-46026618
                  </p>
      
                  <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;"><b style="font-family: RobotoCondensed-Bold!important;">Email:</b>support@nuedgecorporate.com</p>
                  <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;"><b style="font-family: RobotoCondensed-Bold!important;">Website:</b>nuedgecorporate.co.in</p>
                </div>
                <div class="col-sm-4 d-flex justify-content-center align-items-center">
                      <img src="../../../../assets/images/logo.jpg" height="130" width="130"/>
                </div>
            </div>
        </div>
      </div>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h6 class="m-0" *ngIf="pl_trxn.length > 0">
                Showing 1 to {{pl_trxn.length}} of {{pl_trxn.length}} Entries
              </h6>
            </div>
              <div class="w-50 d-flex justify-content-end align-items-center">
                <input id="search" class="form-control rounded w-50 pr-4 mr-2" type="text" (input)="filterGlobal_secondary($event)"
                placeholder="Search" />
                <!-- <mat-button-toggle-group #group="matButtonToggleGroup" [formControl]="btnType" class="mx-3">
                  <mat-button-toggle value="pdf" aria-label="Text align center">
                    <i
                      class="pi pi-file-pdf text-danger"
                      style="font-size: 2rem"
                    ></i>
                  </mat-button-toggle>
                  <mat-button-toggle value="xlsx" aria-label="Text align right">
                    <i
                      class="pi pi-file-excel text-success"
                      style="font-size: 2rem"
                    ></i>
                  </mat-button-toggle>
                </mat-button-toggle-group> -->
                <button
                pButton 
                type="button"
                (click)="generatePDF('Pdf')"
                class="p-button-outlined mx-2"> 
                <i class="pi pi-file-pdf text-danger" style="font-size: 2rem"></i>
                </button> 
                <button
                pButton 
                type="button"
                (click)="dt.exportCSV()"
                class="p-button-outlined"> 
                <i class="pi pi-file-excel text-success" style="font-size: 2rem"></i>
              </button> 
              </div>
          </div>
    </ng-template>
    <ng-template pTemplate="body" let-pl_trxn>
        <tr
        >
            <td *ngFor="let col of column"
            [style]="'width : '+col.width"
            [ngClass]="{
              'inflow':col.field === 'purchase' || col.field === 'switch_in' || col.field === 'tot_inflow' || col.field === 'idcw_reinv',
              'outflow':col.field === 'redemption' || col.field === 'switch_out' || col.field === 'tot_outflow' || col.field === 'idcwp'
            }"
           >
           <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="col.field == 'scheme_name'">
              <ng-container *ngIf="folio_type == 'N';else others">
                  <a type="button" role="button"
                  (click)="getRowDtls(pl_trxn)"
                  class="text-primary"
                  >
                    {{pl_trxn[col.field] ? pl_trxn[col.field] : "N/A" }}
                  </a>
              </ng-container>
              <ng-template #others>
                <p class="m-0 text-center"
                [ngClass]="{
                  'text-danger':pl_trxn.curr_val == 0
                }"
                >
                  {{pl_trxn[col.field] ? pl_trxn[col.field] : "N/A" }}</p>
              </ng-template>

            </ng-container>

            <ng-container *ngSwitchCase="col.field == 'xirr'">
              <p class="m-0 ">
                {{pl_trxn[col.field] ? (pl_trxn[col.field] | percent : "1.2-2") : '0%' }}</p>
            </ng-container>

            <ng-container *ngSwitchCase="col.field == 'idcw_reinv' || col.field == 'idcwp'">
              <p class="m-0 ">
                {{pl_trxn[col.field] ? (pl_trxn[col.field] | number : "1.2-2") : '0' }}</p>
            </ng-container>

            <ng-container *ngSwitchCase="col.field == 'folio_no'">
              <p class="m-0 ">
                {{pl_trxn[col.field] ? pl_trxn[col.field] : "N/A" }}</p>
            </ng-container>
            <ng-container *ngSwitchCase="col.field == 'ret_abs'">
              <p class="m-0 text-center">
                {{(pl_trxn[col.field] && pl_trxn[col.field] > 0) ? (pl_trxn[col.field] | number:'1.2-2') : '0' }}%</p>
            </ng-container>
            <ng-container *ngSwitchCase="col.field == 'trans_details'">
              <span role="button" (click)="getRowDtls(pl_trxn)">
               <i class="pi pi-eye" style="font-size: 1.5rem;color:blue"></i>
              </span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <p class="m-0">
                {{pl_trxn[col.field] | number : "1.2-2"}}</p>
            </ng-container>
           </ng-container>
          </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-pl_trxn>
      <tr>
        <td [attr.colspan]="column.length">
          <p class="m-0">NO RECORDS FOUND</p>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td
          *ngFor="let col of column"
          [style]="'width : ' + col.width"
        >
          <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="col.field == 'scheme_name'">
              <p class="m-0">Total</p>
            </ng-container>
            <ng-container *ngSwitchCase="col.field == 'folio_no' || col.field == 'trans_details'"></ng-container>
            <ng-container *ngSwitchCase="col.field == 'xirr'">
             {{footerDtls ? (footerDtls[col.field] ? (footerDtls[col.field] | percent:'1.2-2') : '0.00%') : '0.00%'}}
            </ng-container>
            <ng-container *ngSwitchCase="col.field == 'ret_abs'">
              {{footerDtls ? (footerDtls[col.field] ? (footerDtls[col.field] | number:'1.2-2') : '0.00') : '0.00'}}%
             </ng-container>
            <ng-container *ngSwitchDefault>
              {{footerDtls ? (footerDtls[col.field] ? (footerDtls[col.field] | number:'1.2-2') : '0.00') : '0.00'}}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    </p-table>

  <!-- </mat-card-content>



</mat-card> -->

<!-- CLIENT DETAILS TO EXPORT  -->
<!-- <div hidden #client_container id="client_container" >
  <div class="border">
      <div class="px-2 py-1 d-flex justify-content-between align-items-center border-bottom" style="background-color:#e7ecf7!important">
          <p class="m-0" style="font-size: 10px;font-family: RobotoCondensed-Regular!important;" >
            Valuation Report As On Date - <b class="m-0" style="font-family: RobotoCondensed-Bold!important;">28 June, 2024</b></p>
          <div class="d-flex align-items-center flex-row" style="font-size: 10px;">
                <b class="m-0" style="font-family: RobotoCondensed-Bold!important;"> Current Sensex :</b>
                <p class="m-0" style="font-family: RobotoCondensed-Regular!important;">79,032.73</p>
                <img src="../../../../assets/images/transparent_up.png" height="15" width="15"/>
                <p class="m-0" style="font-family: RobotoCondensed-Regular!important;">210.45 (-0.27%)</p>
          </div>
      </div>
      <div class="row px-2">
          <div class="col-sm-4">
                <p class="m-0"><b style="font-family: RobotoCondensed-Bold!important;font-size: 11px!important;">{{client_dtls?.client_name}}</b></p>
                <p class="mb-2"><b style="font-family: RobotoCondensed-Bold!important;font-size: 10px!important;">PAN:{{client_dtls?.pan}}</b></p>
                <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;">
                  <b style="font-family: RobotoCondensed-Bold!important;">Address:</b>
                  <span style="font-size: 8px!important;">{{client_dtls?.add_line_1}}</span>
                </p>
                <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;">
                  <b style="font-family: RobotoCondensed-Bold!important;">Mob:</b>{{client_dtls?.mobile}}
                </p>
                <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;"><b style="font-family: RobotoCondensed-Bold!important;">Email:</b>{{client_dtls?.email}}</p>
                <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;">
                  <b style="font-family: RobotoCondensed-Bold!important;">DOB:</b>{{client_dtls?.dob | date:'dd-MM-YYYY'}}</p>


          </div>
          <div class="col-sm-4">
            <p class="m-0"><b style="font-family: RobotoCondensed-Bold!important;font-size: 11px!important;">NuEdge Corporate Private Limited</b></p>
            <p class="mb-1" ><b style="font-family: RobotoCondensed-Bold!important;font-size: 10px!important;">AMFI Registered Mutual Fund Distributor</b></p>
            <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;">
              <b style="font-family: RobotoCondensed-Bold!important;">Branch Office:</b>
              <span style="font-size: 9px!important;">1A, Dr.Sarat Banerjee Rd, Hemanta Mukherjee Sarani, lake Terrace, Kalighat, Kolkata, West Bengal 700029</span>
            </p>
            <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;"><b style="font-family: RobotoCondensed-Bold!important;">Tel:</b>033-46026618
            </p>

            <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;"><b style="font-family: RobotoCondensed-Bold!important;">Email:</b>support@nuedgecorporate.com</p>
            <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;"><b style="font-family: RobotoCondensed-Bold!important;">Website:</b>nuedgecorporate.co.in</p>
          </div>
          <div class="col-sm-4 d-flex justify-content-center align-items-center">
                <img src="../../../../assets/images/logo.jpg" height="130" width="130"/>
          </div>
      </div>
      <div class="px-2 border-top d-flex justify-content-start flex-column">
            <p class="my-2" style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;"><b>Mutual Fund Summary Report</b></p>
            <div class="d-flex mb-2 justify-content-between align-items-center py-2" style="border-radius: 3px!important;background-color: #e7ecf7;">
                    <div class="px-2">
                          <b style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;">Investment Amount</b>
                          <p class="my-1" style="font-family:RobotoCondensed-Regular!important;font-size: 10px!important;">120000.00</p>
                    </div>
                    <div  class="px-2">
                      <b style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;">Current Value</b>
                      <p class="my-1" style="font-family:RobotoCondensed-Regular!important;font-size: 10px!important;">120000.00</p>
                    </div>
                    <div class="px-2">
                      <b style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;">Investment Amount</b>
                      <p class="my-1" style="font-family:RobotoCondensed-Regular!important;font-size: 10px!important;">120000.00</p>
                    </div>
                    <div  class="px-2">
                      <b style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;">Current Value</b>
                      <p class="my-1" style="font-family:RobotoCondensed-Regular!important;font-size: 10px!important;">120000.00</p>
                    </div>
                    <div class="px-2">
                      <b style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;">Investment Amount</b>
                      <p class="my-1" style="font-family:RobotoCondensed-Regular!important;font-size: 10px!important;">120000.00</p>
                </div>
                <div  class="px-2">
                  <b style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;">Current Value</b>
                  <p class="my-1" style="font-family:RobotoCondensed-Regular!important;font-size: 10px!important;">120000.00</p>
                </div>
                <div  class="px-2">
                  <b style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;">Current Value</b>
                  <p class="my-1" style="font-family:RobotoCondensed-Regular!important;font-size: 10px!important;">120000.00</p>
                </div>
            </div>
      </div>
  </div>
</div> -->
<!-- END -->
 <!-- P&L Table -->
<table id="printTable" hidden>
  <thead>
    <tr>
      <ng-container *ngFor="let col of column">
        <th *ngIf="col.field != 'trans_details'">
          {{col.header}}
        </th>
      </ng-container>
    </tr>  
  </thead>
  <tbody>
    <tr *ngFor="let plTrxn of pl_trxn">
          <ng-container *ngFor="let col of column">
          </ng-container>
          <td *ngFor="let col of column">
           <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="col.field == 'scheme_name'">
                  <p class="m-0">
                    {{plTrxn[col.field]}}
                  </p>
            </ng-container>

            <ng-container *ngSwitchCase="col.field == 'xirr'">
              <p class="m-0 ">
                {{plTrxn[col.field] ? (plTrxn[col.field] | percent : "1.2-2") : '0%' }}</p>
            </ng-container>

            <ng-container *ngSwitchCase="col.field == 'idcw_reinv' || col.field == 'idcwp'">
              <p class="m-0 ">
                {{plTrxn[col.field] ? (plTrxn[col.field] | number : "1.2-2") : '0' }}</p>
            </ng-container>

            <ng-container *ngSwitchCase="col.field == 'folio_no'">
              <p class="m-0 ">
                {{plTrxn[col.field] ? plTrxn[col.field] : "N/A" }}</p>
            </ng-container>
            <ng-container *ngSwitchCase="col.field == 'ret_abs'">
              <p class="m-0 text-center">
                {{(plTrxn[col.field] && plTrxn[col.field] > 0) ? (plTrxn[col.field] | number:'1.2-2') : '0' }}%</p>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <p class="m-0">
                {{plTrxn[col.field] | number : "1.2-2"}}</p>
            </ng-container>
           </ng-container>
          </td>
    </tr>
  </tbody>
  <tfoot>
      <tr>
        <td *ngFor="let col of column">
        <ng-container [ngSwitch]="true">
          <ng-container *ngSwitchCase="col.field == 'scheme_name'">
            <p class="m-0">Total</p>
          </ng-container>
          <ng-container *ngSwitchCase="col.field == 'folio_no' || col.field == 'trans_details'"></ng-container>
          <ng-container *ngSwitchCase="col.field == 'xirr'">
           {{footerDtls ? (footerDtls[col.field] ? (footerDtls[col.field] | percent:'1.2-2') : '0.00%') : '0.00%'}}
          </ng-container>
          <ng-container *ngSwitchCase="col.field == 'ret_abs'">
            {{footerDtls ? (footerDtls[col.field] ? (footerDtls[col.field] | number:'1.2-2') : '0.00') : '0.00'}}%
           </ng-container>
          <ng-container *ngSwitchDefault>
            {{footerDtls ? (footerDtls[col.field] ? (footerDtls[col.field] | number:'1.2-2') : '0.00') : '0.00'}}
          </ng-container>
        </ng-container>
      </td>
      </tr>
  </tfoot>
  </table>
 <!-- END -->

