<core-search
(__searchItem)="getSearchItem($event)" 
[__flag]="'Y'" 
[__placeholder]="'Search by PAN number'"
[__api_name]="'/client'"
>
</core-search>




      
<table mat-table [dataSource]="__selectClients" class="mat-elevation-z3">
  <!-- Sl No. -->
  <ng-container matColumnDef="sl_no">
    <th mat-header-cell *matHeaderCellDef>Sl no.</th>
    <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
  </ng-container>

    <!-- Recieve Date Time -->
    <ng-container matColumnDef="tin_no">
      <th mat-header-cell *matHeaderCellDef>TIN No.</th>
      <td mat-cell *matCellDef="let element">{{element.tin_no}}</td>
    </ng-container>


  <!--Temporary TIN No.-->
  <ng-container matColumnDef="entry_dt">
    <th mat-header-cell *matHeaderCellDef>Entry Date</th>
    <td mat-cell *matCellDef="let element">{{element.entry_dt}}</td>
  </ng-container>



  <!-- Buisness Type-->
  <ng-container matColumnDef="pan">
    <th mat-header-cell *matHeaderCellDef>Pan</th>
    <td mat-cell *matCellDef="let element">{{element.pan_no}}</td>
  </ng-container>
 
  <!-- Buisness Type-->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let element">
      <a (click)="populateDT(element)">
        <mat-icon class="edit_icon">edit</mat-icon>
      </a>
    </td>
  </ng-container>
   
  <!-- Buisness Type-->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <a>
        <mat-icon class="delete_icon">delete</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="__columns"></tr>
  <tr mat-row *matRowDef="let row; columns: __columns;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="7">No data found</td>
  </tr>
</table>
 