<div  cdkDrag cdkDragRootElement=".cdk-overlay-pane"   cdkDragBoundary=".cdk-overlay-container">
  <div mat-dialog-title class="dialog-title" cdkDragHandle>
    <h2 >{{data.title}}</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore-down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </div>
  <mat-dialog-content>
    <form [formGroup]="mfTraxFrm" autocomplete="off" ngNativeValidate (ngSubmit)="saveMFTrax()" [attr.id]="'mfTraxFrm_'+data.id">
       <div class="form-group">
         <label for="mf_trax">MFTrax <span class="text-danger">*</span></label>
         <input type="text" name="mf_trax"
         id="mf_trax"
         formControlName="mf_trax"
         class="form-control"
         placeholder="Enter Exchange">
         <div class="invalid-feedback" *ngIf="mfTraxFrm.get('mf_trax').invalid && (mfTraxFrm.get('mf_trax').dirty || mfTraxFrm.get('mf_trax').touched)">
          <span class="invalid-feedback" *ngIf="(mfTraxFrm.get('mf_trax')).errors?.required">*Please provide mftrax</span>
        </div>
       </div>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions cdkDragHandle align="end" class="popupBoxSubmitSec">
    <button class="btn addBtn"   [attr.form]="'mfTraxFrm_'+data.id" [disabled]="mfTraxFrm.invalid">Submit</button>
  </mat-dialog-actions>
  </div>
