<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div mat-dialog-title class="dialog-title">
    <h2>Form Receivable Reports For Insurance</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore Down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>
  <mat-dialog-content>
    <div class="card my-5">
      <div class="card-body p-5">
        <form [formGroup]="__rcvForms" (ngSubmit)="submit()" autocomplete="off">
          <div class="row">
            <div class="col-sm-6 my-auto">
              <mat-radio-group aria-label="Select an option" color="primary" formControlName="options">
                <mat-radio-button value="2">Summary</mat-radio-button>
                <mat-radio-button value="1" class="ml-5">Detail</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-sm-6">
              <mat-button-toggle-group #group="matButtonToggleGroup" class="float-right">
                <mat-button-toggle value="center" aria-label="Text align center" (click)="reset()">
                  <mat-icon>restart_alt</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-sm-4">
              <label for="dt_type">Date Periods</label>
               <select class="form-control" formControlName="dt_type" name="dt_type" id="dt_type">
                   <option value="">Select</option>
                   <option value="D">Today</option>
                   <option value="W">This Week</option>
                   <option value="M">This Month</option>
                   <option value="Y">This Year</option>
                   <option value="R">Date Range</option>
               </select>
            </div>
            <div class="col-sm-4">
              <label for="start_dt">Start Date</label>
              <input type="date"
              name="start_dt"
              id="start_dt"
              class="form-control" formControlName="start_dt">
            </div>
            <div class="col-sm-4">
              <label for="end_dt">End Date</label>
              <input type="date" name="end_dt"
              id="end_dt"
              class="form-control" formControlName="end_dt">
            </div>
          </div>
          <div class="row ">
            <div class="col-sm-4">
              <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickfortempTin($event)">
                <div class="searchDiv">
                  <label for="__temp_tin_no">Temporary TIN Number
                  </label>
                  <input type="search" name="__temp_tin_no" id="__temp_tin_no" class="form-control"
                    formControlName="temp_tin_no" placeholder="Search by Temporary TIN Number">
                  <span class="spinner-border"
                    *ngIf="__istemporaryspinner && __rcvForms.get('temp_tin_no').value?.length > 1"></span>
                  <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickfortempTin($event)">
                    <div class="serachresult_client" #searchTempTin>
                      <ul *ngIf="__temp_tinMst.length > 0">
                        <li *ngFor="let items of __temp_tinMst" (click)="getItems(items,'T')">
                          {{items.temp_tin_no}} | {{items.proposer_name}} | {{items.ins_type_name}}
                        </li>
                      </ul>
                      <div class="noDataFound" *ngIf="__temp_tinMst.length == 0">
                        <h5 class="text-center">
                          Sorry!! No Records Found
                        </h5>
                        <p>Temporary TIN Number Not Available</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforClient($event)">
                <div class="searchDiv">
                  <label for="__clntCd">Proposer Details</label>
                  <input type="search"
                  name="__clntCd"
                  id="__clntCd"
                  class="form-control"
                  formControlName="proposer_code"
                  placeholder="Search By Proposer Name,Proposer Code, Email, Mobile, PAN & DOB">
                  <span class="spinner-border" *ngIf="__isClientPending && __rcvForms.get('proposer_code').value?.length > 1"></span>

                  <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickforClient($event)">
                    <div class="serachresult_client" #clientCd>
                      <ul *ngIf="__clientMst.length > 0">
                        <li *ngFor="let items of __clientMst" (click)="getItems(items,'C')">
                         {{items.client_code}} | {{items.pan}} | {{items.client_name}}
                        </li>
                      </ul>
                      <div class="noDataFound" *ngIf="__clientMst.length == 0">
                        <h5 class="text-center">
                          Sorry!! No Records Found
                        </h5>
                        <p>If your result match,they will appear here</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
                <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClick($event)">
                  <div class="searchDiv">
                    <label for="Euin">Employee</label>
                    <input type="search" id="Euin"
                    class="form-control"
                    placeholder="Serach By Employee"
                    formControlName="euin_no">
                    <span class="spinner-border" *ngIf="__isEuinPending && __rcvForms.get('euin_no').value?.length > 1"></span>

                    <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClick($event)">
                      <div class="serachresult_client" #searchEUIN>
                        <ul *ngIf="__euinMst.length > 0">
                          <li *ngFor="let items of __euinMst" (click)="getItems(items,'E')">
                           {{items.euin_no}} | {{items.emp_name}}
                          </li>
                        </ul>
                        <div class="noDataFound" *ngIf="__euinMst.length == 0">
                          <h5 class="text-center">
                            Sorry!! No Employees Found
                          </h5>
                          <p>If your result match,they will appear here</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-sm-4">
                <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforSubBrkArn($event)">
                  <div class="searchDiv">
                    <label for="subbrkArn">Sub Broker Code</label>
                    <input type="search" id="subbrkArn" class="form-control" placeholder="Serach By Sub Broker Code"
                      formControlName="sub_brk_cd">
                    <span class="spinner-border"
                      *ngIf="__isSubArnPending && __rcvForms.get('sub_brk_cd').value?.length > 1"></span>

                    <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickforSubBrkArn($event)">
                      <div class="serachresult_client" #subBrkArn>
                        <ul *ngIf="__subbrkArnMst.length > 0">
                          <li *ngFor="let items of __subbrkArnMst" (click)="getItems(items,'S')">
                            {{items.code}} | {{items.bro_name}}
                          </li>
                        </ul>
                        <div class="noDataFound" *ngIf="__subbrkArnMst.length == 0">
                          <h5 class="text-center">
                            Sorry!! No Sub Brokers Found
                          </h5>
                          <p>If your result match,they will appear here</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
              <label for="recv_from">Receive From</label>
              <input type="text" name="recv_from" id="recv_from" class="form-control" placeholder='Enter Receive From'
                formControlName="recv_from">
            </div>
          </div>
          <div class="row ">
            <div class="col-sm-5">
              <mat-checkbox color="primary"
              #insTypeChecked
              [id]="insType.id"
              [class]="i == 0 ? '' : 'ml-3'"
              *ngFor="let insType of __insTypeMst;let i=index"
              [value]="insType.id"
              (change)="onInsTypeChange($event)"
              > {{insType.type}}</mat-checkbox>
              <mat-checkbox class="ml-3" color="primary" formControlName="is_all"> All</mat-checkbox>
            </div>
            <div class="col-sm-5">
              <mat-checkbox
              #buTypeChecked
              color="primary"
              [class]="i == 0 ? '' : 'ml-3'"
              *ngFor="let bu_type of __bu_type; let i=index"
              [value]="bu_type.id"
              (change)="onbuTypeChange($event)"
              > {{bu_type.bu_type}}</mat-checkbox>
              <mat-checkbox class="ml-3" color="primary" formControlName="is_all_bu_type"> All</mat-checkbox>
            </div>
            <div class="col-sm-2 my-auto">
              <button mat-raised-button color="primary" class="float-right">
                Show
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>

    <div class="mat-elevation-z3">
      <div class="example_container_header">
        <div class="transTypeCount"></div>
        <div class="btnGrp d-flex">
          <mat-form-field appearance="fill">
            <mat-label>Select Columns</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-option
              *ngFor="let topping of toppingList"
              [value]="topping.id">
              {{topping.text}}
            </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>system_update_alt</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="exportPdf()">
              <mat-icon>download</mat-icon> Export Pdf
            </button>
            <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'Receieve Form'})">
              <mat-icon>download</mat-icon> Export Excel
            </button>
          </mat-menu>
        </div>

      </div>
      <div class="example-container">
        <table mat-table [dataSource]="__RcvForms" class="table_Custome" matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="sl_no" sticky>
            <th mat-header-cell *matHeaderCellDef >Sl No</th>
            <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
          </ng-container>

          <ng-container matColumnDef="rcv_datetime">
            <th mat-sort-header="rcv_datetime" mat-header-cell *matHeaderCellDef>Recieved Date Time</th>
            <td mat-cell *matCellDef="let element">
              {{element.rec_datetime ? (element.rec_datetime | date:'dd/MM/YYYY h:mma') : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="temp_tin_no">
            <th mat-sort-header="temp_tin_no" mat-header-cell *matHeaderCellDef>Temporary TIN No.</th>
            <td mat-cell *matCellDef="let element">{{element.temp_tin_no ? element.temp_tin_no : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="sub_brk_cd">
            <th mat-sort-header="sub_brk_cd" mat-header-cell *matHeaderCellDef>Sub Broker Code</th>
            <td mat-cell *matCellDef="let element">{{element.sub_brk_cd ? element.sub_brk_cd : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="euin_no">
            <th mat-sort-header="euin_no" mat-header-cell *matHeaderCellDef>Employee</th>
            <td mat-cell *matCellDef="let element">{{element.euin_no ? element.euin_no : 'N/A'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="proposer_name">
            <th mat-sort-header="proposer_name" mat-header-cell *matHeaderCellDef>Proposer</th>
            <td mat-cell *matCellDef="let element">{{element.proposer_name ? element.proposer_name : 'N/A'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="bu_type">
            <th mat-sort-header="bu_type" mat-header-cell *matHeaderCellDef>Buisness Type</th>
            <td mat-cell *matCellDef="let element">{{element.bu_type == 'D' ? 'B2C - Direct' : element.bu_type == 'I' ?
              'B2C -Indirect' : 'B2B'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="recv_from">
            <th mat-sort-header="recv_from" mat-header-cell *matHeaderCellDef>Receive From</th>
            <td mat-cell *matCellDef="let element">{{element.recv_from ? element.recv_from : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="ins_type_name">
            <th mat-header-cell mat-sort-header="ins_type_name" *matHeaderCellDef>Insurance Type</th>
            <td mat-cell *matCellDef="let element">{{element.ins_type_name ? element.ins_type_name : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="insure_bu_type">
            <th mat-header-cell mat-sort-header="insure_bu_type" *matHeaderCellDef>Insure Buisness Type</th>
            <td mat-cell *matCellDef="let element">{{element.insure_bu_type == 'F' ? 'Fresh' : 'Renewal'}}</td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <button  mat-icon-button (click)="populateDT(element)">
                <mat-icon class="edit_icon">edit</mat-icon>
              </button>
            </td>
          </ng-container>


          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element,let i = index">
              <button mat-icon-button (click)="deleteRcvForm(element,i)">
                <mat-icon class="delete_icon">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="__columns;sticky:true"></tr>
          <tr mat-row tabindex="999" *matRowDef="let row; columns: __columns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="__columns.length" class="text-center">No form receivable history found
            </td>
          </tr>
        </table>
      </div>

      <div class="paginator">
        <div class="itemsPerPage">
          <label>Items Per Page :&nbsp; </label>
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="10" aria-label="Text align left" (click)="getval('10')">
              10
            </mat-button-toggle>
            <mat-button-toggle value="50" aria-label="Text align center" (click)="getval('50')">
              50
            </mat-button-toggle>
            <mat-button-toggle value="100" aria-label="Text align right" (click)="getval('100')">
              100
            </mat-button-toggle>
            <mat-button-toggle value="A" aria-label="Text align right" (click)="getval('A')">
              All
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>



        <div class="paginatorContainer">
          <mat-button-toggle-group *ngFor="let paginate of __paginate">
            <mat-button-toggle [value]="paginate.url" aria-label="Text align right" (click)="getPaginate(paginate)">
              <label>
                <mat-icon *ngIf="(paginate.label | bnkrplc) == 'P'">first_page</mat-icon>
                <mat-icon *ngIf="(paginate.label | bnkrplc) == 'N'">last_page</mat-icon>
                <span
                  *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">{{paginate.label}}</span>

              </label>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <table id="rcvForm" hidden mat-table [dataSource]="__export" matTableExporter #exporter="matTableExporter">

        <ng-container matColumnDef="sl_no">
          <th mat-header-cell *matHeaderCellDef>S No.</th>
          <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="rcv_datetime">
          <th mat-header-cell *matHeaderCellDef>Recieved Date Time</th>
          <td mat-cell *matCellDef="let element">{{element.rec_datetime | date:'dd/MM/YYYY h:mma'}}</td>
        </ng-container>

        <ng-container matColumnDef="recv_from">
          <th mat-header-cell *matHeaderCellDef>Receive From</th>
          <td mat-cell *matCellDef="let element">{{element.recv_from ? element.recv_from : 'N/A'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="temp_tin_no">
          <th mat-header-cell *matHeaderCellDef>Temporary TIN No.</th>
          <td mat-cell *matCellDef="let element">{{element.temp_tin_no ? element.temp_tin_no : 'N/A'}}</td>
        </ng-container>


        <ng-container matColumnDef="bu_type">
          <th mat-header-cell *matHeaderCellDef>Buisness Type</th>
          <td mat-cell *matCellDef="let element">{{element.bu_type == 'D' ? 'B2C - Direct' : element.bu_type == 'I' ?
            'B2C -Indirect' : 'B2B'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="sub_brk_cd">
          <th mat-header-cell *matHeaderCellDef>Sub Broker Code</th>
          <td mat-cell *matCellDef="let element">{{element.sub_brk_cd ? element.sub_brk_cd : 'N/A'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="euin_no">
          <th mat-header-cell *matHeaderCellDef>Employee</th>
          <td mat-cell *matCellDef="let element">{{element.euin_no ? element.euin_no : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="proposer_name">
          <th mat-header-cell *matHeaderCellDef>Proposer</th>
          <td mat-cell *matCellDef="let element">{{element.proposer_name ? element.proposer_name : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="ins_type_name">
          <th mat-header-cell *matHeaderCellDef>Insurance Type</th>
          <td mat-cell *matCellDef="let element">{{element.ins_type_name ? element.ins_type_name : 'N/A'}}</td>
        </ng-container>

        <ng-container matColumnDef="insure_bu_type">
          <th mat-header-cell *matHeaderCellDef>Insure Buisness Type</th>
          <td mat-cell *matCellDef="let element">{{element.insure_bu_type == 'F' ? 'Fresh' : 'Renewal'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="__exportedClmns"></tr>
        <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="__exportedClmns.length" class="text-center">No form receivable history
            found</td>
        </tr>
      </table>
    </div>
  </mat-dialog-content>
</div>
