<div class="row flexSec">
  <div class="col-sm-7">
    <shared-upload-csv [leftHeaderTitle]="'Upload Product'"
    [flag]="'IP'"
    [file_name]="'Sample Product'"
    [columns]="tableColumns"
    [companyTypeMst]="__insTypeMst"
    [compMst]="__cmpMst"
    [api_name]="'/ins/productimport'"
    (setCompanyMst)="getcompanyMst($event)"
      [dataSource]="tableData" [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>
  <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All Product'" [headerTitle]="'Recent Product'" [flag]="'IP'"
      (populate)="populateDT($event)" (viewAll)="viewAll()"
      [dataSource]="__prdMst.data"></shared-mst-dtls>
  </div>
</div>
