
<div  cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle >
  <div mat-dialog-title class="dialog-title" >
    <h2 [title]="data.title">{{data.title}}</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore Down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>
  <mat-dialog-content>
    <form [formGroup]="__rcvForm" autocomplete="off" [attr.id]="'__rcvForm_INS' + data.temp_tin_no" (ngSubmit)="recieveForm()">
      <div class="row my-2">
        <div class="col-sm-12">
          <label class="form-label">Buisness Type <span class="text-danger">*</span></label>
          <select class="form-control" formControlName="bu_type">
            <option value="">Select</option>
            <option [value]="buisness.id" *ngFor="let buisness of __bu_type">{{buisness.bu_type}}</option>
          </select>
          <div class="invalid-feedback"
                *ngIf="__rcvForm.get('bu_type').invalid && (__rcvForm.get('bu_type').dirty || __rcvForm.get('bu_type').touched)">
                <span class="invalid-feedback" *ngIf="(__rcvForm.get('bu_type')).errors?.required">*Please provide buisness
                  type</span>
          </div>
        </div>
      </div>

        <!-- Sub Broker Code / ARN -->
        <ng-container *ngIf="__rcvForm.value.bu_type == 'B'">

          <div class="row my-2">
            <div class="col-sm-12">
              <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforSubBrkArn($event)">
                <div class="searchDiv">
                  <label for="subbrkArn">
                    <mat-icon
                  class="errorIcon"
                  #tooltip="matTooltip"
                  matTooltip="Sub Broker does not exists"
                  *ngIf="__rcvForm.get('sub_arn_no').errors?.empExists">
                  error</mat-icon>&nbsp;
                    Sub Broker Code<span class="text-danger">*</span></label>
                  <input type="search" id="subbrkArn" class="form-control" placeholder="Serach By Sub Broker Code" formControlName="sub_arn_no">
                  <span class="spinner-border" *ngIf="__isSubArnPending && __rcvForm.get('sub_arn_no').value?.length > 1"></span>

                  <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickforSubBrkArn($event)">
                    <div class="serachresult_client" #subBrkArn>
                      <ul *ngIf="__subbrkArnMst.length > 0">
                        <li *ngFor="let items of __subbrkArnMst" (click)="getItems(items,'S')">
                         {{items.arn_no}} | {{items.bro_name}}
                        </li>
                      </ul>
                      <div class="noDataFound" *ngIf="__subbrkArnMst.length == 0">
                        <h5 class="text-center">
                          Sorry!! No Sub-Brokers Found
                        </h5>
                        <p>If your result match,they will appear here</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-12">
              <label class="form-label">Sub Broker Code <span class="text-danger">*</span></label>
              <input type="text" placeholder="Sub Broker Code" [attr.disabled]="true" class="form-control" formControlName="sub_brk_cd">
            </div>
          </div> -->

      </ng-container>
       <!-- EUIN -->
       <ng-container *ngIf="__rcvForm.value.bu_type !=''">
        <div [class]="'row my-2'">
          <div class="col-sm-12">
            <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClick($event)">
              <div class="searchDiv">
                <label for="Euin">
                  <mat-icon
                  class="errorIcon"
                  #tooltip="matTooltip"
                  matTooltip="Employee does not exists"
                  *ngIf="__rcvForm.get('euin_no').errors?.empExists">
                  error</mat-icon> &nbsp;Employee Details<span class="text-danger"> *</span></label>
                <input type="search" id="Euin"
                class="form-control"
                placeholder="Serach By Employee Details"
                formControlName="euin_no">
                <span class="spinner-border" *ngIf="__isEuinPending && __rcvForm.get('euin_no').value?.length > 1"></span>

                <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClick($event)">
                  <div class="serachresult_client" #searchEUIN>
                    <ul *ngIf="__euinMst.length > 0">
                      <li *ngFor="let items of __euinMst" (click)="getItems(items,'E')">
                       {{items.euin_no}} | {{items.emp_name}}
                      </li>
                    </ul>
                    <div class="noDataFound" *ngIf="__euinMst.length == 0">
                      <h5 class="text-center">
                        Sorry!! No Employees Found
                      </h5>
                      <p>If your result match,they will appear here</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div [class]="__rcvForm.value.bu_type =='' ? 'row my-2' : 'row'">
        <div class="col-sm-12">
          <label class="form-label">Fixed Deposit Buisness Type <span class="text-danger"> * </span></label>
          <select class="form-control" formControlName="fd_bu_type_id">
            <option value="">Select</option>
            <option value="F">Fresh</option>
            <option value="R">Renewal</option>
          </select>
          <div class="invalid-feedback"
        *ngIf="__rcvForm.get('fd_bu_type_id').invalid && (__rcvForm.get('fd_bu_type_id').dirty || __rcvForm.get('fd_bu_type_id').touched)">
        <span class="invalid-feedback" *ngIf="(__rcvForm.get('fd_bu_type_id')).errors?.required">*Please provide fixed deposit buisness type</span>
        </div>
        </div>
      </div>
      <div [class]="__rcvForm.value.bu_type =='' ? 'row' : 'row my-2'">
        <div class="col-sm-12">
          <label class="form-label">Company <span class="text-danger"> * </span></label>
          <select class="form-control" formControlName="company_id">
            <option value="">Select</option>
            <option [value]="fdCmp.id" *ngFor="let fdCmp of __fdComp">{{fdCmp.comp_short_name}}</option>
          </select>
          <div class="invalid-feedback"
                *ngIf="__rcvForm.get('company_id').invalid && (__rcvForm.get('company_id').dirty || __rcvForm.get('company_id').touched)">
                <span class="invalid-feedback" *ngIf="(__rcvForm.get('company_id')).errors?.required">*Please provide company</span>
          </div>
        </div>
      </div>
      <div [class]="__rcvForm.value.bu_type =='' ? 'row my-2' : 'row' ">
        <div class="col-sm-12">
          <label class="form-label">Scheme <span class="text-danger"> * </span></label>
          <select class="form-control" formControlName="scheme_id">
            <option value="">Select</option>
            <option [value]="__scmMst.id" *ngFor="let __scmMst of __fdScm">{{__scmMst.scheme_name}}</option>
          </select>
          <div class="invalid-feedback"
        *ngIf="__rcvForm.get('scheme_id').invalid && (__rcvForm.get('scheme_id').dirty || __rcvForm.get('scheme_id').touched)">
        <span class="invalid-feedback" *ngIf="(__rcvForm.get('scheme_id')).errors?.required">*Please provide scheme</span>
        </div>
        </div>
      </div>

      <div [class]="__rcvForm.value.bu_type =='' ? 'row' :'row my-2'">
        <div [ngClass]="{'col-sm-12':!__isCldtlsEmpty,'col-sm-8':__isCldtlsEmpty}">
          <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforClient($event)">
            <div class="searchDiv">
              <label for="__clntCd">
                <mat-icon
                  class="errorIcon"
                  #tooltip="matTooltip"
                  matTooltip="investor does not exists"
                  *ngIf="__rcvForm.get('investor_code').errors?.investorExists">
                  error</mat-icon>&nbsp;
                Investor Details
                <span class="text-danger">*</span></label>
              <input type="search"
              name="__clntCd"
              id="__clntCd"
              class="form-control"
              formControlName="investor_code"
              placeholder="Search By investor Name,investor Code, Email, Mobile, PAN & DOB">
              <span class="spinner-border" *ngIf="__isClientPending && __rcvForm.get('investor_code').value?.length > 1"></span>

              <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickforClient($event)">
                <div class="serachresult_client" #clientCd>
                  <ul *ngIf="__clientMst.length > 0">
                    <li *ngFor="let items of __clientMst" (click)="getItems(items,'C')">
                     {{items.client_code}} | {{items.pan}} | {{items.client_name}}
                    </li>
                  </ul>
                  <div class="noDataFound" *ngIf="__clientMst.length == 0">
                    <h5 class="text-center">
                      Sorry!! No Records Found
                    </h5>
                    <p>To create a new investor .Please click on Create investor</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 clientCode" *ngIf="__isCldtlsEmpty && __rcvForm.get('investor_code').value" >
          <button
          color="primary" type="button" mat-button [matMenuTriggerFor]="menu">
          <mat-icon>add</mat-icon> Create Investor
         </button>
         <mat-menu #menu="matMenu">
          <div class="row p-0 m-0">
            <div title="{{clOption.name}}" class="col-sm-6 d-flex justify-content-center headerMenu" *ngFor="let clOption of __mcOptionMenu" (click)="navigateTo(clOption)">
              <mat-icon>{{clOption.icon}}</mat-icon>
            </div>
          </div>
        </mat-menu>
        </div>
      </div>


      <div class="row my-2">
        <div [ngClass]="{'col-sm-12': !__dialogDtForClient,'col-sm-8':__dialogDtForClient}" *ngIf="__rcvForm.get('investor_code').value && __rcvForm.get('investor_name').value">
          <label for="__clName">Investor Name</label>
              <input type="search" name="__clName" id="__clName" class="form-control" placeholder="Investor Name" formControlName="investor_name" [attr.disabled]="true">
        </div>
        <div class="col-sm-4 clientCode" *ngIf="__dialogDtForClient && __rcvForm.get('investor_code').value && __rcvForm.get('investor_name').value">
          <button (click)="openDialog('C')" color="primary" *ngIf="this.__dialogDtForClient"   mat-button type="button"  aria-label="Example icon button with a eye icon" title="View Investor Details">
            <mat-icon>remove_red_eye</mat-icon>
            View Details
          </button>
        </div>

      </div>

      <div [class]="__rcvForm.value.bu_type =='' ? 'row mb-2' : 'row my-2'">
        <div class="col-sm-12">
          <label class="form-label">Receive From</label>
          <input type="text" placeholder="Enter Receieve From" class="form-control" formControlName="recv_from">
          <!-- <div class="invalid-feedback"
          *ngIf="__rcvForm.get('recv_from').invalid && (__rcvForm.get('recv_from').dirty || __rcvForm.get('recv_from').touched)">
          <span class="invalid-feedback" *ngIf="(__rcvForm.get('recv_from')).errors?.required">*Please provide receive from</span>
    </div> -->
        </div>
      </div>


    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="popupBoxSubmitSec">
    <button class="btn addBtn"   [attr.form]="'__rcvForm_INS' + data.temp_tin_no" [disabled]="this.__rcvForm.invalid">Submit</button>
  </mat-dialog-actions>
  <br clear="all">
</div>
