<div class="row flexSec">
  <div class="col-sm-7">
    <shared-upload-csv [leftHeaderTitle]="'Upload Scheme'"
    [flag]="'SC'"
    [file_name]="'Sample Scheme'"
    [columns]="tableColumns"
    [api_name]="'/schemeimport'"
    [dataSource]="tableData"
    [amcMaster]="__amcMaster.data"
    [__colcat]="__colcat"
    [CatMst]="__catMaster.data"
    [__colAmc]="__colAmc"
    [__colsubCate]="__colsubCate"
    [subcatMaster]="__subcatMaster.data"
    [prod_id]="__prod_id"
    (setSchemeType)="setSchemeType($event)"
    [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>
  <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All Scheme'"
    [headerTitle]="'Recent Scheme'" [flag]="'SC'"
      (populate)="populateDT($event)"
      (viewAll)="viewAll()"
      [dataSource]="__selectRNT.data"></shared-mst-dtls>
  </div>
</div>
