<!-- cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle -->
<div >
  <div mat-dialog-title class="dialog-title">
    <h2>Acknowledgement Reports for {{this.data.trans_type_id == '1' ? 'Financial' : 'NFO'}}</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore Down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>

  <mat-dialog-content class="customDialog">
    <ng-template #SearchBtn>
      <p-button
      type="submit"
      label="Show"
      icon="pi pi-eye"
      iconPos="right"
      styleClass="p-button-lg"></p-button>
    </ng-template>
    <core-tab [Tab]="__transType" (GetTabDtls)="TabDetails($event)"></core-tab>
    <div class="card p-3 border-1">
      <form [formGroup]="__ackForm" (ngSubmit)="submit()" autocomplete="off">
      <div class="row">
        <div class="col-sm-6">
          <mat-radio-group aria-label="Select an option" color="primary" formControlName="options">
            <mat-radio-button value="2">Summary</mat-radio-button>
            <mat-radio-button value="1" class="mx-5">Detail</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-sm-6 d-flex  justify-content-end align-items-center">
          <p-selectButton
          [options]="selectBtn"
          formControlName="btnType"
          optionValue="value"
          styleClass="p-button-lg"
          (onOptionClick)="onItemClick($event)"
          optionLabel="icon">
            <ng-template let-item>
                <i [class]="item.icon"  [matTooltip]="item.label"></i>
            </ng-template>
        </p-selectButton>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label for="dt_type">Date Periods</label>
          <select class="form-control" formControlName="dt_type" name="dt_type" id="dt_type">
              <option value="">Select</option>
              <option value="D">Today</option>
              <option value="W">This Week</option>
              <option value="M">This Month</option>
              <option value="Y">This Year</option>
              <option value="R">Date Range</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="drm_dt">Date Range (From - To)</label>
          <p-calendar
          dateFormat="dd/mm/yy"
          placeholder="Select Date Range"
          formControlName="date_range"
          selectionMode="range"
          [readonlyInput]="true"
          [showIcon]="true"
          [hideOnDateTimeSelect]="true"
          (onClose)="close($event)"
          [showButtonBar]="true">
          </p-calendar>
        </div>
        <div class="col-sm-3">
          <app-core-srch
                [label] = "'TIN Number'"
                [placeholder]="'Search By TIN Number'"
                [isPending]="__isTinspinner"
                [listItems] = "tinMst"
                [flag] = "'T'"
                [noDataFoundTitle]="'Sorry!! No Records Found'"
                [noDataFoundSubTitle]="'If your result match,they will appear here'"
                [propertiesToShow] = "['tin_no']"
                formControlName="tin_no"
                [displayMode]="displayMode_forTemp_Tin"
                (setDisplayMode)="displayMode_forTemp_Tin = $event"
                (selectedItems)="getSelectedItemsFromParent($event)"
                ></app-core-srch>
        </div>
        <div class="col-sm-3">
          <app-core-srch
          [label] = "'Client Details'"
          [placeholder]="'Search By Client Name,Client Code, Email, Mobile, PAN & DOB'"
          [isPending]="__isClientPending"
          [listItems] = "__clientMst"
          [flag] = "'C'"
          [noDataFoundTitle]="'Sorry!! No Records Found'"
          [noDataFoundSubTitle]="'If your result match,they will appear here'"
          [propertiesToShow] = "['client_code','pan','client_name']"
          formControlName="client_name"
          [displayMode]="displayMode_forClient"
          (setDisplayMode)="displayMode_forClient = $event"
          (selectedItems)="getSelectedItemsFromParent($event)"
          ></app-core-srch>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label for="amc_id">AMC</label>
          <ng-multiselect-dropdown #multiSelect
          id="amc_id"
          [placeholder]="'Select AMC'"
          [settings]="settingsforDropdown_foramc"
          [data]="amcMst" formControlName="amc_id">
        </ng-multiselect-dropdown>
        </div>
        <div class="col-sm-3">
          <label for="scheme_name">Scheme</label>
        <ng-multiselect-dropdown #multiSelect
          id="scheme_name"
          [placeholder]="'Select Scheme'"
          [settings]="settingsforDropdown_forscheme"
          [data]="schemeMst"
          formControlName="scheme_id">
        </ng-multiselect-dropdown>
        </div>
        <div [class]="'col-sm-6 mt-2 d-flex flex-column justify-content-end align-items-start'">
          <div class="checkboxes d-flex flex-row align-items-center w-100">
            <label class="mx-2">R&T: </label>
            <div >
              <ng-container formArrayName="rnt_id">
                <ng-container *ngFor="let rnt of rnt_id.controls;let i= index">
                  <ng-container [formGroupName]="i">
                  <mat-checkbox  color="primary"
                  [class]="'mr-2'"
                    formControlName="isChecked"> {{rnt_id.controls[i].get('name').value}}</mat-checkbox>
                  </ng-container>
                </ng-container>
              </ng-container>
              <mat-checkbox color="primary" formControlName="is_all"> All</mat-checkbox>
            </div>
          </div>
      </div>

      </div>
      <div class="row my-1">
        <div class="col-sm-4 d-flex  align-items-end">
          <div class="checkboxes d-flex flex-row align-items-center w-100">
             <label>Logged Status:&nbsp;</label>
            <div>
              <ng-container formArrayName="logged_status">
                <ng-container *ngFor="let ack of logged_status.controls;let i= index">
                  <ng-container [formGroupName]="i">
                  <mat-checkbox  color="primary" [class]="'mr-2'"
                    formControlName="isChecked"> {{logged_status.controls[i].get('name').value}}</mat-checkbox>
                  </ng-container>
                </ng-container>
              </ng-container>
              <mat-checkbox color="primary" formControlName="is_all_status"> All</mat-checkbox>
            </div>
          </div>
         </div>
         <ng-container *ngIf="__ackForm.value.btnType == 'A'">
          <div class="col-sm-4">
            <label for="brn_cd">Branch</label>
            <ng-multiselect-dropdown #multiSelect
              id="brn_cd"
              [placeholder]="'Select Branch'"
              [settings]="settingsforDropdown_forbrnch"
              [data]="brnchMst"
              formControlName="brn_cd">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-4">
            <label for="bu_type">Business Type</label>
            <ng-multiselect-dropdown id="bu_type"
            [placeholder]="'Select Business Type'"
              [settings]="settingsforBuTypeDropdown"
              id="bu_type"
              [data]="__bu_type"
              formControlName="bu_type">
            </ng-multiselect-dropdown>
          </div>

         </ng-container>
         <div class="col-sm-8 d-flex  align-items-end justify-content-end" *ngIf="__ackForm.value.btnType != 'A'">
          <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
         </div>
      </div>
      <ng-container *ngIf="__ackForm.value.btnType == 'A'">
        <div class="row">
          <div class="col-sm-3">
            <label for="rm_id">Relationship Manager</label>
            <ng-multiselect-dropdown  id="rm_id" [placeholder]="'Select Relationship Manager'"
              [settings]="settingsforRMDropdown" [data]="__RmMst" formControlName="rm_id">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
              <label for="sub_brk_cd">Sub Broker</label>
              <ng-multiselect-dropdown  id="sub_brk_cd" [placeholder]="'Select Sub Broker'"
                [settings]="settingsforSubBrkDropdown" [data]="__subbrkArnMst" formControlName="sub_brk_cd">
              </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="euin_no">EUIN</label>
            <ng-multiselect-dropdown #multiSelect
            id="euin_no" [placeholder]="'Select Employee'"
              [settings]="settingsforEuinDropdown" [data]="__euinMst"
              formControlName="euin_no">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3 d-flex justify-content-end align-items-center">
            <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
          </div>
        </div>

      </ng-container>
     </form>
    </div>
    <div class="card border-1 my-2">
      <div class="example_container_header">
        <div class="transTypeCount"></div>
        <div class="btnGrp d-flex">
          <p-button type="button" icon="pi pi-server"
            #tooltip="matTooltip"
            (click)="isOpenMegaMenu=!isOpenMegaMenu"
            [matTooltipPosition]="'before'"
            matTooltip="Column Selector"
            styleClass="p-button-primary p-button-lg p-button-outlined mr-2">
            </p-button>

            <p-button icon="pi pi-file-export"
            [matMenuTriggerFor]="menu"
            [matTooltipPosition]="'after'"
            #tooltip="matTooltip"
            matTooltip="Export"
            styleClass="p-button-primary p-button-lg p-button-outlined">
            </p-button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="exportPdf()">
              <mat-icon>download</mat-icon> Export Pdf
            </button>
            <!-- (click)="exporter.exportTable('xlsx',{fileName:'NonFinancialReport'})" -->
            <button mat-menu-item >
              <mat-icon>download</mat-icon> Export Excel
            </button>
          </mat-menu>
        </div>

      </div>
      <div class="container_body">
           <!-- PrimeNg Table with column resize,
            column sorting etc  [reorderableColumns]="true"
            pReorderableColumn-->
          <p-table
          #dt
          (onLazyLoad)="customSort($event)"
          [customSort]="true"
            sortMode="single"
            [lazy]="true"
          [value]="__financMst.data"
          [columns]="__columns" [resizableColumns]="true"
            selectionMode="multiple"
            columnResizeMode="expand" [scrollable]="true"
            scrollHeight="358px"
            [autoLayout]="true" [responsive]="true" styleClass="p-datatable-gridlines"
            [tableStyle]="{ 'min-width': __ackForm.value.options == '2' ? '120rem' : '200rem' }">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th  *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field" [ngStyle]="{'width': __ackForm.value.options == '2' ? '10rem' : '17rem'}">
                  {{ col.header }}
                  <p-sortIcon *ngIf="col.field!= 'edit' && col.field!= 'app_frm_view'" [field]="col.field">
                  </p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-finance let-columns="columns">
              <tr tabindex="999">

                <td *ngFor="let col of columns">
                  <ng-container [ngSwitch]="true">
                    <ng-container *ngSwitchCase="col.field == 'edit'">
                      <p-button [icon]="finance['form_status'] == 'P' ? 'pi pi-pencil' : 'pip pi-edit'" (click)="populateDT(finance)"
                        styleClass="p-button-rounded p-button-primary">
                      </p-button>
                    </ng-container>
                    <ng-container *ngSwitchCase="col.field == 'app_frm_view'">
                      <p-button icon="pi pi-eye" (click)="DocumentView(finance)"
                        styleClass="p-button-rounded p-button-success"></p-button>
                    </ng-container>
                    <ng-container *ngSwitchCase="col.field == 'bu_type'">
                      <span #tooltip="matTooltip"
                      [matTooltip]="finance[col.field] == 'D' ? 'B2C - Direct' : (finance[col.field] == 'I' ? 'B2C - Indirect' : 'B2B')">
                        {{ finance[col.field] == 'D' ? 'B2C - Direct' : (finance[col.field] == 'I' ? 'B2C - Indirect' : 'B2B')}}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="col.field == 'mode_of_holding'">
                     <span
                     #tooltip="matTooltip"
                     [matTooltip]="finance[col.field] == 'S' ? 'Single' : (finance[col.field] == 'J' ? 'Joint' : 'Any Or Survivor')">
                     {{ finance[col.field] == 'S' ? 'Single' : (finance[col.field] == 'J' ? 'Joint' : 'Any Or Survivor')}}
                    </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="col.field == 'inv_type'">
                      <span
                      #tooltip="matTooltip"
                      [matTooltip]="finance[col.field] == 'F' ? 'Fresh' : 'Additional'">
                      {{ finance[col.field] == 'F' ? 'Fresh' : 'Additional'}}
                    </span>
                    </ng-container>

                  <ng-container *ngSwitchCase="col.field == 'switch_amt'">
                    <ng-container *ngIf="finance['switch_by'] == 'A';else Unit">
                      {{finance['switch_amt'] ? (finance['switch_amt'] | currency: 'INR') : 'N/A'}}
                    </ng-container>
                    <ng-template #Unit>
                      {{finance['switch_unit'] ? finance['switch_unit'] : 'N/A'}}
                    </ng-template>
                    </ng-container>


                    <ng-container
                      *ngSwitchCase="col.field == 'first_client_kyc_status' || col.field == 'second_client_kyc_status' || col.field == 'third_client_kyc_status'">
                      {{ finance[col.field] ? (finance[col.field] == 'Y' ? 'With KYC' : 'Without KYC') : 'N/A'}}
                    </ng-container>
                    <ng-container *ngSwitchCase="col.field == 'remarks'">
                      <ng-container *ngIf="finance[col.field];else noRemarks">
                        <p-button #tooltip="matTooltip" [matTooltip]="finance[col.field]" icon="pi pi-info-circle"
                          styleClass="p-button-rounded p-button-success">
                        </p-button>
                      </ng-container>
                      <ng-template #noRemarks>
                        N/A
                      </ng-template>

                    </ng-container>
                    <ng-container *ngSwitchCase="col.field == 'rcv_datetime'">
                      <span #tooltip="matTooltip" [matTooltip]="(finance[col.field] | date:'dd-MM-YYYY hh:mma')">{{ finance[col.field] ? (finance[col.field] | date:'dd-MM-YYYY hh:mma') : 'N/A' }}</span>
                      </ng-container>
                      <ng-container *ngSwitchCase="col.field == 'switch_amt'">
                        <ng-container *ngIf="finance['switch_by'] == 'A';else Unit">
                          {{finance['switch_amt'] ? (finance['switch_amt'] | currency: 'INR') : 'N/A'}}
                        </ng-container>
                        <ng-template #Unit>
                          {{finance['switch_unit'] ? finance['switch_unit'] : 'N/A'}}
                        </ng-template>
                        </ng-container>
                      <ng-container *ngSwitchCase="col.field == 'amount' || col.field == 'sip_amount'">
                        <span #tooltip="matTooltip" [matTooltip]="(finance[col.field] | currency:'INR')">{{ finance[col.field] ? (finance[col.field] | currency:'INR') : 'N/A' }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="col.field == 'entry_date'
                        || col.field == 'sip_date'
                        || col.field == 'sip_end_date'
                        || col.field == 'sip_end_date'
                        || col.field == 'rnt_login_dt'">
                          <span #tooltip="matTooltip" [matTooltip]="(finance[col.field] | date:'dd-MM-YYYY')">{{ finance[col.field] ? (finance[col.field] | date:'dd-MM-YYYY') : 'N/A' }}</span>
                          </ng-container>
                    <ng-container *ngSwitchDefault>
                      <span #tooltip="matTooltip" [matTooltip]="finance[col.field]">
                        {{ finance[col.field] ? finance[col.field] : 'N/A' }}
                      </span>
                    </ng-container>


                  </ng-container>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length" class="noHistoryAvailable">
                   No Records Found
                </td>
              </tr>
            </ng-template>
          </p-table>
          <!-- End -->
          <div class="paginator">
            <div class="itemsPerPage d-flex">
                <label class="mr-3">Items per page: </label>
                <p-selectButton
                [options]="itemsPerPage"
                [formControl]="__pageNumber"
                optionLabel="label" optionValue="value"
                (onOptionClick)="onselectItem($event)"
                ></p-selectButton>
              </div>
              <div  class="paginatorContainer">
                <ul>
                  <li *ngFor="let paginate of __paginate" (click)="getPaginate(paginate)">
                    <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                      *ngIf="(paginate.label | bnkrplc) == 'P'">
                      <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                        keyboard_double_arrow_left</mat-icon>
                    </a>
                    <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                      *ngIf="(paginate.label | bnkrplc) == 'N'">
                      <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                        keyboard_double_arrow_right</mat-icon>
                    </a>
                    <a [class]="paginate.active ? 'activePaginator paginateNumber' : 'paginateNumber'"
                      *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">
                      {{paginate.label}}
                    </a>
                  </li>
                </ul>


              </div>
              </div>
                        <!-- Meage Menu For Check box -->
          <core-mega-menu-for-column [isOpenMegaMenu]="isOpenMegaMenu" [ColumnList]="clmList"
            [selectedClmns]="SelectedClms" (hideMegamenu)="isOpenMegaMenu = $event"
            (getSelectedColumns)="getSelectedColumns($event)">
          </core-mega-menu-for-column>
          <!-- End -->

      </div>
    </div>
    <!-- <div class="card my-5">
      <div class="card-body p-5">

        <form [formGroup]="__rcvForms" (ngSubmit)="submit()" autocomplete="off">
          <div class="row">
            <div class="col-sm-8 my-auto">
              <mat-radio-group aria-label="Select an option" color="primary" formControlName="options">
                <mat-radio-button value="2">Summary</mat-radio-button>
                <mat-radio-button value="1" class="mx-5">Detail</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-sm-4 my-auto" >
              <mat-button-toggle-group #group="matButtonToggleGroup" class="float-right">
                <mat-button-toggle value="left" aria-label="Text align left"
                (click)="
                __isAdd=!__isAdd;
                this.__rcvForms.get('cat_id').setValue('');
                this.__rcvForms.get('subcat_id').setValue('')"
                *ngIf="this.__rcvForms.get('options').value != '3'"
                >
                  <mat-icon>filter_alt</mat-icon>
                  Advance Filter
                </mat-button-toggle>
                <mat-button-toggle value="center" aria-label="Text align center" (click)="
             reset()">
                  <mat-icon>restart_alt</mat-icon>
                </mat-button-toggle>

              </mat-button-toggle-group>
            </div>
          </div>
          <ng-container>

          <div class="row my-2">
            <div class="col-sm-4">
              <label for="dt_type">Date Periods</label>
                <select class="form-control" formControlName="dt_type" name="dt_type" id="dt_type">
                    <option value="">Select</option>
                    <option value="D">Today</option>
                    <option value="W">This Week</option>
                    <option value="M">This Month</option>
                    <option value="Y">This Year</option>
                    <option value="R">Date Range</option>
                </select>
            </div>
            <div class="col-sm-4">
              <label for="frm_dt">Start Date</label>
              <input type="date"
              name="frm_dt"
              id="frm_dt"
              class="form-control" formControlName="frm_dt">
            </div>
            <div class="col-sm-4">
              <label for="to_dt">End Date</label>
              <input type="date" name="to_dt"
              id="to_dt"
              class="form-control" formControlName="to_dt">
            </div>
          </div>

          <div class="row ">
            <div class="col-sm-4">
                <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforTin($event)">
                  <div class="searchDiv">
                    <label for="tin_no">TIN Number
                    </label>
                    <input type="search" name="tin_no" id="tin_no" class="form-control"
                      formControlName="tin_no" placeholder="Search by TIN Number">
                    <span class="spinner-border"
                      *ngIf="__isTinspinner && __rcvForms.get('tin_no').value?.length > 1"></span>
                    <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickforTin($event)">
                      <div class="serachresult_client" #searchTin>
                        <ul *ngIf="tinMst.length > 0">
                          <li *ngFor="let items of tinMst" (click)="getItems(items,'T')">
                            {{items.tin_no}} | {{items.client_name}}
                          </li>
                        </ul>
                        <div class="noDataFound" *ngIf="tinMst.length == 0">
                          <h5 class="text-center">
                            Sorry!! No Records Found
                          </h5>
                          <p>If your result match,they will appear here</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforClient($event)">
                  <div class="searchDiv">
                    <label for="client_code">Client Details</label>
                    <input type="text" name="client_code" id="client_code" class="form-control" formControlName="client_code"
                      placeholder="Enter Client code / Name / PAN / email">
                    <span class="spinner-border" *ngIf="__isClientPending && __rcvForms.get('client_code').value?.length > 1"></span>

                    <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickforClient($event)">
                      <div class="serachresult_client" #clientCd>
                        <ul *ngIf="__clientMst.length > 0">
                          <li *ngFor="let items of __clientMst" (click)="getItems(items,'C')">
                           {{items.client_code}} | {{items.pan}} | {{items.client_name}}
                          </li>
                        </ul>
                        <div class="noDataFound" *ngIf="__clientMst.length == 0">
                          <h5 class="text-center">
                            Sorry!! No Records Found
                          </h5>
                          <p>If your result match,they will appear here</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            <div class="col-sm-4">
                <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforSubBrkArn($event)">
                  <div class="searchDiv">
                    <label for="subbrkArn">Sub Broker Code</label>
                    <input type="search" id="subbrkArn" class="form-control" placeholder="Search By Sub Broker Code"
                      formControlName="sub_brk_cd">
                    <span class="spinner-border"
                      *ngIf="__isSubArnPending && __rcvForms.get('sub_brk_cd').value?.length > 1"></span>

                    <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickforSubBrkArn($event)">
                      <div class="serachresult_client" #subBrkArn>
                        <ul *ngIf="__subbrkArnMst.length > 0">
                          <li *ngFor="let items of __subbrkArnMst" (click)="getItems(items,'S')">
                            {{items.code}} | {{items.bro_name}}
                          </li>
                        </ul>
                        <div class="noDataFound" *ngIf="__subbrkArnMst.length == 0">
                          <h5 class="text-center">
                            Sorry!! No Sub Brokers Found
                          </h5>
                          <p>If your result match,they will appear here</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-sm-4">
              <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickForAMC($event)">
                <div class="searchDiv">
                  <label for="amc_name">AMC Name</label>
                  <input type="search" id="amc_name"
                  class="form-control"
                  placeholder="Search By AMC"
                  formControlName="amc_name">
                  <span class="spinner-border" *ngIf="__isAmcPending && __rcvForms.get('amc_name').value?.length > 1"></span>

                  <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickForAMC($event)">
                    <div class="serachresult_client" #searchAMC>
                      <ul *ngIf="amcMst.length > 0">
                        <li *ngFor="let items of amcMst" (click)="getItems(items,'A')">
                         {{items.amc_name}}
                        </li>
                      </ul>
                      <div class="noDataFound" *ngIf="amcMst.length == 0">
                        <h5 class="text-center">
                          Sorry!! No AMC Found
                        </h5>
                        <p>If your result match,they will appear here</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="inv_type">Investment Type</label>
              <select name="inv_type" id="inv_type" class="form-control" formControlName="inv_type">
                <option value="">Select Investment Type</option>
                <option value="F">Fresh</option>
                <option value="A">Additional</option>
              </select>
            </div>
            <div class="col-sm-4">
              <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClick($event)">
                <div class="searchDiv">
                  <label for="Euin">EUIN</label>
                  <input type="search" id="Euin"
                  class="form-control"
                  placeholder="Search By EUIN"
                  formControlName="euin_no">
                  <span class="spinner-border" *ngIf="__isEuinPending && __rcvForms.get('euin_no').value?.length > 1"></span>

                  <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClick($event)">
                    <div class="serachresult_client" #searchEUIN>
                      <ul *ngIf="__euinMst.length > 0">
                        <li *ngFor="let items of __euinMst" (click)="getItems(items,'E')">
                         {{items.euin_no}} | {{items.emp_name}}
                        </li>
                      </ul>
                      <div class="noDataFound" *ngIf="__euinMst.length == 0">
                        <h5 class="text-center">
                          Sorry!! No Employees Found
                        </h5>
                        <p>If your result match,they will appear here</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-sm-4">
              <label for="brn_cd">Branch</label>
              <input type="text" name="brn_cd" id="brn_cd" class="form-control" formControlName="brn_cd"
                placeholder="Enter Branch">
            </div>
            <div class="col-sm-4 my-auto">
              <mat-checkbox
              #buTypeChecked
              color="primary"
              [class]="'mr-3'"
              *ngFor="let bu_type of __bu_type; let i=index"
              [value]="bu_type.id"
              (change)="onbuTypeChange($event)"
              > {{bu_type.bu_type}}</mat-checkbox>
              <mat-checkbox color="primary" formControlName="is_all_bu_type"> All</mat-checkbox>
            </div>
            <div class="col-sm-4 my-auto">
              <mat-checkbox
              #trnsTypeChecked
              color="primary"
              [class]="'mr-3'"
              *ngFor="let __trns of __transType; let i=index"
              [value]="__trns.id"
              (change)="ontrnsTypeChange($event)"
              > {{__trns.trns_name}}</mat-checkbox>
              <mat-checkbox  color="primary" formControlName="is_all_trns_type"> All</mat-checkbox>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-sm-12 my-auto">
              <mat-checkbox
              #rntChecked
              color="primary"
              [class]="'mr-3'"
              *ngFor="let rnt of __rnt; let i=index"
              [value]="rnt.id"
              (change)="onrntTypeChange($event)"
              > {{rnt.rnt_name}}</mat-checkbox>
              <mat-checkbox  color="primary" formControlName="is_all_rnt"> All</mat-checkbox>
            </div>
          </div>
          <div class="row" *ngIf="__isAdd">
            <div class="col-sm-4">
              <label for="cat">Category</label>
              <select class="form-control" formControlName="cat_id" name="cat" id="cat">
                <option value="">Select Category</option>
                <option [value]="__cat.id" *ngFor="let __cat of __category">{{__cat.cat_name}}</option>
              </select>
            </div>
            <div class="col-sm-4">
              <label for="subcat">Sub Category</label>
              <select class="form-control" formControlName="subcat_id" name="subcat" id="subcat">
                <option value="">Select Sub Category</option>
                <option [value]="__subcat.id" *ngFor="let __subcat of __subCat">{{__subcat.subcategory_name}}</option>
              </select>
            </div>

          </div>
        </ng-container>
          <div class="row">
            <div class="col-sm-12">
              <button mat-raised-button color="primary" class="float-right">
                Show
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="mat-elevation-z3">
      <div class="example_container_header">
        <div class="transTypeCount">
          <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
            <mat-chip class="example-box" cdkDrag color="primary" *ngFor="let trnsType of __trans_types">
              {{trnsType.name}} : {{trnsType.count}}
            </mat-chip>
          </mat-chip-list>
        </div>



        <div class="btnGrp d-flex">
            <mat-form-field appearance="fill">
              <mat-label>Select Columns</mat-label>
              <mat-select [formControl]="toppings" multiple>
                <mat-option
                *ngFor="let topping of toppingList"
                [value]="topping.id">
                {{topping.text}}
              </mat-option>
              </mat-select>
            </mat-form-field>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>system_update_alt</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="exportPdf()">
              <mat-icon>download</mat-icon> Export Pdf
            </button>
            <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:this.data.trans_type_id == '1' ? 'FinancialReport' : 'NFOReport'})">
              <mat-icon>download</mat-icon> Export Excel
            </button>
          </mat-menu>
        </div>

      </div>
      <div class="example-container">
        <table mat-table [dataSource]="__financMst" class="table_Custome" matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="sl_no" sticky>
            <th mat-header-cell *matHeaderCellDef>Sl No</th>
            <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
          </ng-container>

          <ng-container matColumnDef="temp_tin_no">
            <th mat-sort-header="temp_tin_no" mat-header-cell *matHeaderCellDef>Temporary TIN</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.temp_tin_no}}</td>
          </ng-container>
          <ng-container matColumnDef="bu_type">
            <th mat-sort-header="bu_type" mat-header-cell *matHeaderCellDef>Buisness Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{(element.bu_type == 'D' ? 'B2C - Direct' : (element.bu_type == 'I' ? 'B2C - Indirect' : 'B2B'))}}
            </td>
          </ng-container>

          <ng-container matColumnDef="arn_no">
            <th mat-sort-header="arn_no" mat-header-cell *matHeaderCellDef>ARN No</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.arn_no ? element.arn_no : 'N/A'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="rnt_name">
            <th mat-sort-header="rnt_name" mat-header-cell *matHeaderCellDef>R&T</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{(element.rnt_name ? element.rnt_name : 'N/A')}}
            </td>
          </ng-container>
          <ng-container matColumnDef="rnt_login_cutt_off">
            <th mat-sort-header="rnt_login_cutt_off" mat-header-cell *matHeaderCellDef>Login Cut Off</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.rnt_login_cutt_off ? element.rnt_login_cutt_off : 'N/A'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="rnt_login_dt">
            <th mat-sort-header="rnt_login_dt" mat-header-cell *matHeaderCellDef>Login Date</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.rnt_login_dt ? element.rnt_login_dt : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="euin_no">
            <th mat-sort-header="euin_no" mat-header-cell *matHeaderCellDef>EUIN</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.euin_no ? element.euin_no : 'N/A'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-sort-header="amount" mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.amount ? element.amount : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="chq">
            <th mat-sort-header="chq" mat-header-cell *matHeaderCellDef>Cheque</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.chq_no ? element.chq_no : 'N/A'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="bank">
            <th mat-sort-header="bank" mat-header-cell *matHeaderCellDef>Bank</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.bank_name ? element.bank_name : 'N/A'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="inv_type">
            <th mat-sort-header="inv_type" mat-header-cell *matHeaderCellDef>Investment Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.inv_type == 'F' ? 'Fresh' : "Additional"}}
            </td>
          </ng-container>
          <ng-container matColumnDef="apl_no">
            <th mat-sort-header="apl_no" mat-header-cell *matHeaderCellDef>Application Number</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.apl_no ? element.apl_no : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="mode_of_holding">
            <th mat-sort-header="mode_of_holding" mat-header-cell *matHeaderCellDef>Mode Of Holding</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.mode_of_holding == 'S' ? 'Single' : element.mode_of_holding == 'J' ? 'Joint' : 'Anyone Or Survivor'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="plan">
            <th mat-sort-header="plan" mat-header-cell *matHeaderCellDef>Plan</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.plan_name ? element.plan_name : 'N/A'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="option">
            <th mat-sort-header="option" mat-header-cell *matHeaderCellDef>Option</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.opt_name ? element.opt_name : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="fol_no">
            <th mat-sort-header="fol_no" mat-header-cell *matHeaderCellDef>Folio Number</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.fol_no ? element.fol_no : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="kyc_status">
            <th mat-sort-header="kyc_status" mat-header-cell *matHeaderCellDef>KYC Status</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.kyc_status ? (element.kyc_status == 'Y' ? 'With KYC' : 'Without KYC') : 'N/A' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="first_client_name">
            <th mat-sort-header="first_client_name" mat-header-cell *matHeaderCellDef>First Client Name</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.first_client_name ? element.first_client_name : 'N/A'}}</td>
          </ng-container>


          <ng-container matColumnDef="first_client_code">
            <th mat-sort-header="first_client_code" mat-header-cell *matHeaderCellDef>First Client Code</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.first_client_code ? element.first_client_code : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="first_client_pan">
            <th mat-sort-header="first_client_pan" mat-header-cell *matHeaderCellDef>First Client Pan</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.first_client_pan ? element.first_client_pan : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="second_client_name">
            <th mat-sort-header="second_client_name" mat-header-cell *matHeaderCellDef>Second Client Name</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.second_client_name ? element.second_client_name : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="second_client_code">
            <th mat-sort-header="second_client_code" mat-header-cell *matHeaderCellDef>Second Client Code</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.second_client_code ? element.second_client_code : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="second_client_pan">
            <th mat-sort-header="second_client_pan" mat-header-cell *matHeaderCellDef>Second Client Pan</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.second_client_pan ? element.second_client_pan : 'N/A'}}</td>
          </ng-container>


          <ng-container matColumnDef="third_client_name">
            <th mat-sort-header="third_client_name" mat-header-cell *matHeaderCellDef>Third Client Name</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.third_client_name ? element.third_client_name : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="third_client_code">
            <th mat-sort-header="third_client_code" mat-header-cell *matHeaderCellDef>Third Client Code</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.third_client_code ? element.third_client_code : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="third_client_pan">
            <th mat-sort-header="third_client_pan" mat-header-cell *matHeaderCellDef>Third Client Pan</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.third_client_pan ? element.third_client_pan : 'N/A'}}</td>
          </ng-container>


          <ng-container matColumnDef="transaction">
            <th mat-sort-header="transaction" mat-header-cell *matHeaderCellDef>Transaction</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.trans_name ? element.trans_name : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="scheme_name">
            <th mat-sort-header="scheme_name" mat-header-cell *matHeaderCellDef>Scheme Name</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.scheme_name ? element.scheme_name : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="populateDT(element)">
                <mat-icon class="edit_icon">{{element.form_status == 'P' ? 'edit' : 'visibility'}}</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="__columns;sticky:true"></tr>
          <tr mat-row tabindex="999" *matRowDef="let row; columns: __columns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="__columns.length" class="text-center">No Acknowledgement History Found
            </td>
          </tr>
        </table>
      </div>
      <div class="paginator">
        <div class="itemsPerPage">
          <label>Items Per Page :&nbsp; </label>
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="10" aria-label="Text align left" (click)="getval(group.value)">
              10
            </mat-button-toggle>
            <mat-button-toggle value="50" aria-label="Text align center" (click)="getval(group.value)">
              50
            </mat-button-toggle>
            <mat-button-toggle value="100" aria-label="Text align right" (click)="getval(group.value)">
              100
            </mat-button-toggle>
            <mat-button-toggle value="A" aria-label="Text align right" (click)="getval(group.value)">
              All
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="paginatorContainer">
          <mat-button-toggle-group *ngFor="let paginate of __paginate">
            <mat-button-toggle [value]="paginate.url" aria-label="Text align right" (click)="getPaginate(paginate)">
              <label>
                <mat-icon *ngIf="(paginate.label | bnkrplc) == 'P'">first_page</mat-icon>
                <mat-icon *ngIf="(paginate.label | bnkrplc) == 'N'">last_page</mat-icon>
                <span
                  *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">{{paginate.label}}</span>

              </label>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>




      </div>

      <div id="FinRPT" style="display:none">
      <table mat-table id="__finRPT"  [dataSource]="__export" matTableExporter #exporter="matTableExporter">

        <ng-container matColumnDef="sl_no">
          <th mat-header-cell *matHeaderCellDef>Sl No</th>
          <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="temp_tin_no">
          <th mat-header-cell *matHeaderCellDef>Temporary TIN</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.temp_tin_no}}</td>
        </ng-container>
        <ng-container matColumnDef="bu_type">
          <th mat-header-cell *matHeaderCellDef>Buisness Type</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{(element.bu_type == 'D' ? 'B2C - Direct' : (element.bu_type == 'I' ? 'B2C - Indirect' : 'B2B'))}}
          </td>
        </ng-container>

        <ng-container matColumnDef="arn_no">
          <th mat-header-cell *matHeaderCellDef>ARN No</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.arn_no ? element.arn_no : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="rnt_name">
          <th mat-header-cell *matHeaderCellDef>R&T</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{(element.rnt_name ? element.rnt_name : 'N/A')}}
          </td>
        </ng-container>
        <ng-container matColumnDef="rnt_login_cutt_off">
          <th mat-header-cell *matHeaderCellDef>Login Cut Off</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.rnt_login_cutt_off ? element.rnt_login_cutt_off : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="rnt_login_dt">
          <th mat-header-cell *matHeaderCellDef>Login Date</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.rnt_login_dt ? element.rnt_login_dt : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="euin_no">
          <th mat-header-cell *matHeaderCellDef>EUIN</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.euin_no ? element.euin_no : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.amount ? element.amount : 'N/A'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="chq">
          <th mat-header-cell *matHeaderCellDef>Cheque</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.chq_no ? element.chq_no : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="bank">
          <th mat-header-cell *matHeaderCellDef>Bank</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.bank_name ? element.bank_name : 'N/A'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="inv_type">
          <th mat-header-cell *matHeaderCellDef>Investment Type</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.inv_type == 'F' ? 'Fresh' : "Additional"}}
          </td>
        </ng-container>
        <ng-container matColumnDef="apl_no">
          <th mat-header-cell *matHeaderCellDef>Application Number</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.apl_no ? element.apl_no : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="plan">
          <th mat-header-cell *matHeaderCellDef>Plan</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.plan_name ? element.plan_name : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="option">
          <th mat-header-cell *matHeaderCellDef>Option</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.opt_name ? element.opt_name : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="mode_of_holding">
          <th mat-header-cell *matHeaderCellDef>Mode Of Holding</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.mode_of_holding == 'S' ? 'Single' : element.mode_of_holding == 'J' ? 'Joint' : 'Anyone Or Survivor'}}
          </td>
        </ng-container>




        <ng-container matColumnDef="fol_no">
          <th mat-header-cell *matHeaderCellDef>Folio Number</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.fol_no ? element.fol_no : 'N/A'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="kyc_status">
          <th mat-header-cell *matHeaderCellDef>KYC Status</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.kyc_status ? (element.kyc_status == 'Y' ? 'With KYC' : 'Without KYC') : 'N/A' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="first_client_name">
          <th mat-header-cell *matHeaderCellDef>First Client Name</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.first_client_name ? element.first_client_name : 'N/A'}}</td>
        </ng-container>


        <ng-container matColumnDef="first_client_code">
          <th mat-header-cell *matHeaderCellDef>First Client Code</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.first_client_code ? element.first_client_code : 'N/A'}}</td>
        </ng-container>

        <ng-container matColumnDef="first_client_pan">
          <th mat-header-cell *matHeaderCellDef>First Client Pan</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.first_client_pan ? element.first_client_pan : 'N/A'}}</td>
        </ng-container>

        <ng-container matColumnDef="second_client_name">
          <th mat-header-cell *matHeaderCellDef>Second Client Name</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.second_client_name ? element.second_client_name : 'N/A'}}</td>
        </ng-container>

        <ng-container matColumnDef="second_client_code">
          <th mat-header-cell *matHeaderCellDef>Second Client Code</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.second_client_code ? element.second_client_code : 'N/A'}}</td>
        </ng-container>

        <ng-container matColumnDef="second_client_pan">
          <th mat-header-cell *matHeaderCellDef>Second Client Pan</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.second_client_pan ? element.second_client_pan : 'N/A'}}</td>
        </ng-container>


        <ng-container matColumnDef="third_client_name">
          <th mat-header-cell *matHeaderCellDef>Third Client Name</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.third_client_name ? element.third_client_name : 'N/A'}}</td>
        </ng-container>

        <ng-container matColumnDef="third_client_code">
          <th mat-header-cell *matHeaderCellDef>Third Client Code</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.third_client_code ? element.third_client_code : 'N/A'}}</td>
        </ng-container>

        <ng-container matColumnDef="third_client_pan">
          <th mat-header-cell *matHeaderCellDef>Third Client Pan</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.third_client_pan ? element.third_client_pan : 'N/A'}}</td>
        </ng-container>


        <ng-container matColumnDef="transaction">
          <th mat-header-cell *matHeaderCellDef>Transaction</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.trans_name ? element.trans_name : 'N/A'}}</td>
        </ng-container>
        <ng-container matColumnDef="scheme_name">
          <th mat-header-cell *matHeaderCellDef>Scheme Name</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.scheme_name ? element.scheme_name : 'N/A'}}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="__exportedClmns"></tr>
        <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="__exportedClmns.length" class="text-center">No Acknowledgement History
            Found</td>
        </tr>
      </table>
      </div>
    </div> -->
  </mat-dialog-content>
</div>
