<div class="row flexSec">
  <div class="col-sm-7 p-0">
    <div class="cardSec m-1">
      <div class="card_header">
        <h3>{{this.__scmId > 0 ? 'Update' : 'Add'}} {{__flag == 'N' ? 'NFO' : 'Ongoing Scheme'}} </h3>
      </div>
      <div class="card_body">
        <form  [formGroup]="__scmForm" (ngSubmit)="submit()"  autocomplete="off" ngNativeValidate>
          <div class="row">
            <div class="col-sm-12 my-4">
              <label for="prdName">Product <span class="text-danger">*</span></label>
              <select class="form-control" formControlName="product_id" id="prdName">
                <option value="">Select Product</option>
               <option *ngFor="let __prd of __ProductMaster" value="{{__prd.id}}">{{__prd.product_name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="__scmForm.get('product_id').invalid && (__scmForm.get('product_id').dirty || __scmForm.get('product_id').touched)">
                <span class="invalid-feedback" *ngIf="(__scmForm.get('product_id')).errors?.required">*Please provide Product</span>
              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="amcName">AMC <span class="text-danger">*</span></label>
              <select class="form-control" formControlName="amc_id" id="amcName">
                <option value="">Select AMC</option>
               <option *ngFor="let __amc of __amcMaster" value="{{__amc.id}}">{{__amc.amc_name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="__scmForm.get('amc_id').invalid && (__scmForm.get('amc_id').dirty || __scmForm.get('amc_id').touched)">
                <span class="invalid-feedback" *ngIf="(__scmForm.get('amc_id')).errors?.required">*Please provide AMC</span>
              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="catName">Category <span class="text-danger">*</span></label>
               <select class="form-control" formControlName="category_id" id="catName">
                 <option value="">Select Category</option>
                <option *ngFor="let __cats of __catMaster" value="{{__cats.id}}">{{__cats.cat_name}}</option>
               </select>
              <div class="invalid-feedback" *ngIf="__scmForm.get('category_id').invalid && (__scmForm.get('category_id').dirty || __scmForm.get('category_id').touched)">
                <span class="invalid-feedback" *ngIf="(__scmForm.get('category_id')).errors?.required">*Please provide category</span>
              </div>
            </div>

            <div class="col-sm-12 my-4">
              <label for="subCatName">Sub Category <span class="text-danger">*</span></label>
              <select class="form-control" formControlName="subcategory_id" id="subCatName">
                <option value="">Select SubCategory</option>
               <option *ngFor="let __subcats of __subcatMaster" value="{{__subcats.id}}">{{__subcats.subcategory_name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="__scmForm.get('subcategory_id').invalid && (__scmForm.get('subcategory_id').dirty || __scmForm.get('subcategory_id').touched)">
                <span class="invalid-feedback" *ngIf="(__scmForm.get('subcategory_id')).errors?.required">*Please provide subcategory</span>
              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="scmName">Scheme <span class="text-danger">*</span></label>
              <input type="text" name="scmName" id="scmName" class="form-control" formControlName="scheme_name" placeholder="Enter Scheme Name"/>
              <div class="invalid-feedback" *ngIf="__scmForm.get('scheme_name').invalid && (__scmForm.get('scheme_name').dirty || __scmForm.get('scheme_name').touched)">
                <span class="invalid-feedback" *ngIf="(__scmForm.get('scheme_name')).errors?.required">*Please provide scheme</span>
              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="isin_number">ISIN Number <span class="text-danger">*</span></label>
              <input type="text" name="isin_number" id="isin_number" class="form-control" formControlName="isin_no" placeholder="Enter ISIN number"/>
              <div class="invalid-feedback" *ngIf="__scmForm.get('isin_no').invalid && (__scmForm.get('isin_no').dirty || __scmForm.get('isin_no').touched)">
                <span class="invalid-feedback" *ngIf="(__scmForm.get('isin_no')).errors?.required">*Please provide ISIN number</span>
              </div>
            </div>
            <!-- New -->
            <div class="col-sm-12 my-4" *ngIf="__flag == 'N'">
              <label for="nfo_start_dt">NFO Start Date <span class="text-danger">*</span></label>
              <input type="date" name="nfo_start_dt" id="nfo_start_dt" class="form-control" formControlName="nfo_start_dt" />
              <div class="invalid-feedback" *ngIf="__scmForm.get('nfo_start_dt').invalid && (__scmForm.get('nfo_start_dt').dirty || __scmForm.get('nfo_start_dt').touched)">
                <span class="invalid-feedback" *ngIf="(__scmForm.get('nfo_start_dt')).errors?.required">*Please provide nfo start date</span>
              </div>
            </div>
            <div class="col-sm-12 my-4" *ngIf="__flag == 'N'">
              <label for="nfo_end_dt">NFO End Date <span class="text-danger">*</span></label>
              <input type="date" name="nfo_end_dt" id="nfo_end_dt" class="form-control" formControlName="nfo_end_dt"/>
              <div class="invalid-feedback" *ngIf="__scmForm.get('nfo_end_dt').invalid && (__scmForm.get('nfo_end_dt').dirty || __scmForm.get('nfo_end_dt').touched)">
                <span class="invalid-feedback" *ngIf="(__scmForm.get('nfo_end_dt')).errors?.required">*Please provide nfo start date</span>
              </div>
            </div>
            <div class="col-sm-12 my-4" *ngIf="__flag == 'N'">
              <label for="nfo_reopen_dt">NFO Reopen Date <span class="text-danger">*</span></label>
              <input type="date" name="nfo_reopen_dt" id="nfo_reopen_dt" class="form-control" formControlName="nfo_reopen_dt"/>
              <div class="invalid-feedback" *ngIf="__scmForm.get('nfo_reopen_dt').invalid && (__scmForm.get('nfo_reopen_dt').dirty || __scmForm.get('nfo_reopen_dt').touched)">
                <span class="invalid-feedback" *ngIf="(__scmForm.get('nfo_reopen_dt')).errors?.required">*Please provide nfo reopen date</span>
              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="pip_fresh_min_amt">PIP Fresh Min Amount <span class="text-danger">*</span></label>
              <input type="text" name="pip_fresh_min_amt" id="pip_fresh_min_amt" class="form-control" formControlName="pip_fresh_min_amt" placeholder="Enter PIP Fresh Min Amount"/>
              <div class="invalid-feedback" *ngIf="__scmForm.get('pip_fresh_min_amt').invalid && (__scmForm.get('pip_fresh_min_amt').dirty || __scmForm.get('pip_fresh_min_amt').touched)">
                <span class="invalid-feedback" *ngIf="(__scmForm.get('pip_fresh_min_amt')).errors?.required">*Please provide PIP fresh min amount</span>
              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="pip_add_min_amt">PIP Additional Min Amount <span class="text-danger">*</span></label>
              <input type="text" name="pip_add_min_amt" id="pip_add_min_amt" class="form-control" formControlName="pip_add_min_amt" placeholder="Enter PIP Additional Min Amount"/>
              <div class="invalid-feedback" *ngIf="__scmForm.get('pip_add_min_amt').invalid && (__scmForm.get('pip_add_min_amt').dirty || __scmForm.get('pip_add_min_amt').touched)">
                <span class="invalid-feedback" *ngIf="(__scmForm.get('pip_add_min_amt')).errors?.required">*Please provide PIP additional min amount</span>
              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="sip_fresh_min_amt">SIP Fresh Min Amount <span class="text-danger">*</span></label>
              <input type="text" name="sip_fresh_min_amt" id="sip_fresh_min_amt" class="form-control" formControlName="sip_fresh_min_amt" placeholder="Enter SIP Fresh Min Amount"/>
              <div class="invalid-feedback" *ngIf="__scmForm.get('sip_fresh_min_amt').invalid && (__scmForm.get('sip_fresh_min_amt').dirty || __scmForm.get('sip_fresh_min_amt').touched)">
                <span class="invalid-feedback" *ngIf="(__scmForm.get('sip_fresh_min_amt')).errors?.required">*Please provide SIP fresh min amount</span>
              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="sip_add_min_amt">SIP Additional Min Amount <span class="text-danger">*</span></label>
              <input type="text" name="sip_add_min_amt" id="sip_add_min_amt" class="form-control" formControlName="sip_add_min_amt" placeholder="Enter SIP Additional Min Amount"/>
              <div class="invalid-feedback" *ngIf="__scmForm.get('sip_add_min_amt').invalid && (__scmForm.get('sip_add_min_amt').dirty || __scmForm.get('sip_add_min_amt').touched)">
                <span class="invalid-feedback" *ngIf="(__scmForm.get('sip_add_min_amt')).errors?.required">*Please provide SIP addiotional min amount</span>
              </div>
            </div>
            <!-- End -->
            <div class="col-sm-12 my-3">
              <button class="btn addBtn  ml-2" [disabled]="this.__scmForm.invalid">
                {{this.__scmId > 0 ? 'Update' : 'Submit'}}
              </button>
              <button class="btn  resetBtn" (click)="reset()" type="reset">RESET</button>

            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
  <div class="col-sm-5 p-0">
    <div class="cardSec m-1">
      <div class="card_header">
        <h3>Recent Entries</h3>
        <button mat-icon-button title="View All R&T" [routerLink]="['/main/master/scheme']">
          <mat-icon>north_east</mat-icon>
        </button>
      </div>
      <div class="card_body">
        <mat-paginator hidden [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" [showFirstLastButtons]="true"></mat-paginator>
        <table mat-table [dataSource]="__selectScheme">
          <!-- Sl No. -->
          <ng-container matColumnDef="sl_no">
            <th mat-header-cell *matHeaderCellDef>Sl no.</th>
            <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
          </ng-container>



          <!--Temporary TIN.-->
          <ng-container matColumnDef="scm_name">
            <th mat-header-cell *matHeaderCellDef>Scheme</th>
            <td mat-cell *matCellDef="let element">
              {{element.scheme_name}}

            </td>
          </ng-container>


          <!-- Buisness Type-->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="populateDT(element)">
                <mat-icon class="edit_icon">edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Buisness Type-->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button>
                <mat-icon class="delete_icon">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="__columns"></tr>
          <tr mat-row *matRowDef="let row; columns: __columns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data found</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
