<!-- Filter Criteria -->
<div class="row flexSec">
  <div class="col-sm-12">
    <core-mis-report-filter
    [title]="'Monthly MIS Report'"
    [flag]="'R'"
    (searchReport)="searchFilter($event)"
    ></core-mis-report-filter>
  </div>
</div>
<!-- END -->
<hr class="my-2"/>
<!-- Monthly MIS REPORT calculation for TOTAL MONTHLY INFLOW,
     TOTAL MONTHLY OUTFLOW,
     NET MONTHLY INFLOW -->
     <div class="container-fluid py-5 marginCard mat-elevation-z8">
     <div class="row my-4">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-2 d-flex justify-content-center flex-column" *ngIf="form__data">
            <p class="m-0 text-white">(Monthly)</p>
            <h6 class="m-0 text-white">MIS Summary For {{form__data?.mis_month?.month}}</h6>
          </div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-4">
                <mat-card matTooltipClass="ToolTip"
                matTooltip="TOTAL MONTHLY INFLOW:₹{{(total_mis_calculation ? total_mis_calculation?.tot_inflow_amt : 0)?.toFixed(2)}}"
                class="outFlow__inflow monthly__inflow my-1">
                  <mat-card-content class="inFlow__outFlow_card_content"
                  >
                    <h5 class="text-center">TOTAL MONTHLY INFLOW</h5>
                    <p class="OutFlow__InFlow__Text text-center">
                      ₹{{(total_mis_calculation ? (total_mis_calculation?.tot_inflow_amt | currency:"symbol":"") : '0.00')}}
                    </p>


                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-sm-4">
                <mat-card matTooltipClass="ToolTip" matTooltip="TOTAL MONTHLY OUTFLOW:₹{{(total_mis_calculation ? total_mis_calculation?.tot_outflow_amt : 0)?.toFixed(2)}}" class="outFlow__inflow monthly__outflow my-1">
                  <mat-card-content class="inFlow__outFlow_card_content"
                    >
                   <h5 class="text-center">TOTAL MONTHLY OUTFLOW</h5>
                   <p class="OutFlow__InFlow__Text text-center">₹{{(total_mis_calculation ? (total_mis_calculation?.tot_outflow_amt | currency:"symbol":"") : '0.00')}}</p>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-sm-4">
                <mat-card matTooltipClass="ToolTip" matTooltip="NET MONTHLY INFLOW:₹{{(total_mis_calculation?.tot_inflow_amt - total_mis_calculation?.tot_outflow_amt)?.toFixed(2)}}" class="outFlow__inflow monthly__inflow my-1">
                  <mat-card-content class="inFlow__outFlow_card_content">
                    <h5 class="text-center">NET MONTHLY INFLOW</h5>
                    <p class="OutFlow__InFlow__Text text-center">₹{{(total_mis_calculation?.tot_inflow_amt - total_mis_calculation?.tot_outflow_amt) | currency:"symbol":""}}</p>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


<core-tab [Tab]="mis_tab"
[customClass]="'nav'"
(GetTabDtls)="TabDetails($event)"></core-tab>
<mat-card class="navCard">
  <mat-card-header>
    <mat-card-title>
  
        <!-- <button
            pButton 
            type="button"
            class="p-button-outlined"> 
            <i class="pi pi-file-pdf" style="font-size: 2rem"></i>
           </button> -->

           <!-- <button
            pButton 
            type="button"
            (click)="exportAsPdf()"
            title="Export as pdf"
            class="p-button-outlined mx-2"> 
            <i class="pi pi-file-pdf text-danger" style="font-size: 2rem"></i>
           </button>  -->
           <button
            pButton 
            (click)="exportAsExcel()"
            type="button"
            title="Export as excel"
            class="p-button-outlined mx-2"> 
            <i class="pi pi-file-excel text-success" style="font-size: 2rem"></i>
           </button>

      <!-- <button mat-button [matMenuTriggerFor]="menu" #t="matMenuTrigger">
        {{transType | titlecase}} Transaction Reports
        <mat-icon class="inActivebtnIcon">arrow_drop_down</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item class="trxnRptCount"
          (click)="__monthly_mis_trxn = [] ;__monthly_mis_trxn = item.value; transType = item.key"
          *ngFor="let item of trxn_count | keyvalue">
          <span [ngClass]="{'text-danger':item.key == 'reject'}">
            {{item.key | titlecase}}
          </span>
          <span [ngClass]="{'text-danger':item.key == 'reject'}">
            {{item.value.length}}
          </span>
        </button>
      </mat-menu> -->
    </mat-card-title>
    <div class="w-25 my-auto pr-4">
      <span class="ml-auto">
        <input id="search" class="form-control rounded" autocomplete="off" type="text" (input)="filterGlobal($event)"
          placeholder="Search" />
      </span>
    </div>
  </mat-card-header>
  <mat-card-content>
      <core-mis-tbl
      #MISTABLE
      [dataSource]="__monthly_mis_trxn | filter:flag"
      [column]="__monthly__MIS_Column"
      [scroll_height]="'324px'"
      [flag]="'M'"
      [min_width]="'374rem'"
      [virtual_scroll]="true"
      ></core-mis-tbl>

      <div class="my-3 p-2" *ngIf="disclaimer">
        <p
          [ngStyle]="{
            'font-size':disclaimer ? (disclaimer?.font_size + 'px') : '',
            'color':disclaimer ? disclaimer?.color_code : ''
          }"
        >
          {{disclaimer?.dis_des}}
        </p>
      </div>                                                                                                       
  </mat-card-content>
</mat-card>
    </div>

<!-- END -->
<!-- <hr/> -->
<!-- TABLE & TAB -->
<!-- END -->
<!-- For PDF -->
<div id="container" hidden 
style="font-family: RobotoCondensed-Regular!important;">
        <!-- <div class="title_header" style="border-bottom:1px solid gray;background-color: rgba(0, 0, 255, 0.137);">
          <div class="d-flex justify-content-center align-items-center flex-row" >
            <p class="m-0"  style="font-family: RobotoCondensed-Regular!important;">(Monthly)</p>
            <h6 class="m-0"  style="font-family: RobotoCondensed-Regular!important;">MIS Summary For {{form__data?.mis_month?.month}}</h6>
          </div>
        </div>
        <div class="p-1">
          <div class="row" style="background-color: #d5d5d5;border-radius: 3px;" >
            <div class="col-sm-4 d-flex justify-content-center align-items-center flex-column">
              <h5 class="text-center" style="font-size: 10px!important;font-family: RobotoCondensed-Regular!important;">TOTAL MONTHLY INFLOW</h5>
              <p class="OutFlow__InFlow__Text text-center"  style="font-size: 10px!important;font-family: RobotoCondensed-Regular!important;">
                ₹{{(total_mis_calculation ? (total_mis_calculation?.tot_inflow_amt | currency:"symbol":"") : '0.00')}}
              </p>

            </div>
            <div class="col-sm-4 d-flex justify-content-center align-items-center flex-column">
              <h5 class="text-center"  style="font-size: 10px!important;font-family: RobotoCondensed-Regular!important;">TOTAL MONTHLY OUTFLOW</h5>
              <p class="OutFlow__InFlow__Text text-center"  style="font-size: 10px!important;font-family: RobotoCondensed-Regular!important;">₹{{(total_mis_calculation ? (total_mis_calculation?.tot_outflow_amt | currency:"symbol":"") : '0.00')}}</p>
            </div>
            <div class="col-sm-4 d-flex justify-content-center align-items-center flex-column">
              <h5 class="text-center"  style="font-size: 10px!important;font-family: RobotoCondensed-Regular!important;">NET MONTHLY INFLOW</h5>
              <p class="OutFlow__InFlow__Text text-center"  style="font-size: 10px!important;font-family: RobotoCondensed-Regular!important;">₹{{(total_mis_calculation?.tot_inflow_amt - total_mis_calculation?.tot_outflow_amt) | currency:"symbol":""}}</p>
            </div>
        </div>
        </div> -->


        <div class="border">
          <div class="px-2 py-1 d-flex justify-content-between align-items-center border-bottom" style="background-color:#e7ecf7!important">
              <p class="m-0" style="font-size: 10px;font-family: RobotoCondensed-Regular!important;" >
                (Monthly) MIS Summary For - <b class="m-0" style="font-family: RobotoCondensed-Bold!important;">{{form__data?.mis_month?.month}}</b></p>
          </div>
          <div class="px-2 py-1 ">
            <div class="d-flex justify-content-between align-items-center px-5 py-3"  style="border-radius:5px;background-color:#ebebeb!important">
                <div>
                  <h5 class="text-center" style="font-size: 10px!important;font-family: RobotoCondensed-Regular!important;">Total Monthly Inflow</h5>
                  <p class="OutFlow__InFlow__Text text-center m-0"  style="font-size: 10px!important;font-family: RobotoCondensed-Regular!important;">
                    {{(total_mis_calculation ? (total_mis_calculation?.tot_inflow_amt | currency:"symbol":"") : '0.00')}}
                  </p>
                </div>
                <div>
                  <h5 class="text-center"  style="font-size: 10px!important;font-family: RobotoCondensed-Regular!important;">Total Monthly Outflow</h5>
                  <p class="OutFlow__InFlow__Text text-center m-0"  style="font-size: 10px!important;font-family: RobotoCondensed-Regular!important;">{{(total_mis_calculation ? (total_mis_calculation?.tot_outflow_amt | currency:"symbol":"") : '0.00')}}</p>
                </div>
                <div>
                  <h5 class="text-center"  style="font-size: 10px!important;font-family: RobotoCondensed-Regular!important;">Net Monthly Inflow</h5>
                   <p class="OutFlow__InFlow__Text text-center m-0"  style="font-size: 10px!important;font-family: RobotoCondensed-Regular!important;">{{(total_mis_calculation?.tot_inflow_amt - total_mis_calculation?.tot_outflow_amt) | currency:"symbol":""}}</p>
                </div>
              </div>
          </div>
        </div>
       
</div>




<!-- End -->