.customBorder{
 font-weight: 500;
  margin:10px 0px;
}
.OutFlow__InFlow{
  font-weight: 500;
  margin: 10px 0px;
  font-size: 18px;
  text-align: center;
  color: #10486b;
  font-family: 'Montserrat';
}
