td,
th {
  border: 1px solid #dddddd;
  text-align: center!important;
  padding: 8px;
  width: 12%;
  font-size: 11px!important;
}
td,
/* th:first-child,td, */
th:last-child{
  width:4%;
}


td img {
  height: 44px;
  width: 144px;
  object-fit: contain;
}

td {
    vertical-align: middle !important;
}
