
<div class="row flexSec">
  <div class="col-sm-12">
     <mat-card>
        <mat-card-content class="p-3">
          <div class="d-flex align-items-center justify-content-between border-bottom py-2">
              <ul id="progress"><li class="progess_active">Step-1  (Select Family Head) </li></ul>
               <div class="input__container">
                <form [formGroup]="search_family_form">
                  <input type="text"
                  formControlName="family_head_name"
                  placeholder="Search family head by Name or Pan"
                  class="form-control">
                </form>
               </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-12">
              <!-- TABLE -->

              <p-table #dt [value]="family_head"
              [rows]="10" [paginator]="true"
               [autoLayout]="true"
               [selectionMode]="'single'"
                [scrollable]="true"
                loadingIcon="pi pi-spinner pi-spin"
                [loading]="__is__spinner_family_head"
                [(selection)]="selectedFamily_header" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                styleClass="p-datatable-lg"
                [tableStyle]="{ 'min-width': '130rem' }"

                [showCurrentPageReport]="true">
              <ng-template pTemplate="header">
                  <tr>
                      <th [style]="'max-width:4rem'"></th>
                      <th *ngFor="let col of family_tbl_column"
                          pSortableColumn="{{col.field}}"
                          [style.max-width]="(col.field == 'client_addr' || col.field == 'email' || col.field == 'pan' || col.field == 'mobile' || col.field == 'client_code' || col.field == 'relationship' ) ? col.width : ''"
                          [style.min-width]="(col.field == 'client_addr' || col.field == 'email' || col.field == 'pan' || col.field == 'mobile' || col.field == 'client_code' || col.field == 'relationship') ? col.width : ''">
                        {{col.header}}
                        <p-sortIcon field="{{col.field}}"></p-sortIcon>
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-family_header>
                  <tr>
                      <td [style]="'max-width:4rem'">
                          <p-tableRadioButton
                          [value]="family_header"
                          ></p-tableRadioButton>
                      </td>

                      <td *ngFor="let col of family_tbl_column"
                      [style.max-width]="(col.field == 'client_addr' || col.field == 'email' || col.field == 'pan' || col.field == 'mobile' || col.field == 'client_code' || col.field == 'relationship' ) ? col.width : ''"
                      [style.min-width]="(col.field == 'client_addr' || col.field == 'email' || col.field == 'pan' || col.field == 'mobile' || col.field == 'client_code' || col.field == 'relationship') ? col.width : ''">
                      <p class="m-0">
                        {{ family_header[col.field] ? family_header[col.field] : 'N/A' }}</p>
                       </td>

                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-family_header>
                <tr>
                  <td [attr.colspan]="(family_tbl_column.length + 1)">
                    <h4>No Records Found</h4>
                  </td>
                </tr>
              </ng-template>
          </p-table>
              <!-- END -->
            </div>
          </div>
        </mat-card-content>
      </mat-card>
  </div>

</div>


<!-- STEP 2 -->
<div class="row flexSec">
  <div class="col-sm-12">
     <mat-card>
        <mat-card-content class="p-3 m-0">
          <div class="d-flex align-items-center justify-content-between">
              <ul id="progress"><li class="progess_active">Step-2 (Select Family Members) </li></ul>
               <div class="input__container">
                <form [formGroup]="search_family_form">
                  <input type="text"
                  formControlName="family_member_name"
                  placeholder="Search family member by Name or Pan"
                  class="form-control">
                </form>
               </div>

          </div>
          <div class="row mt-3">
            <div class="col-sm-12">
              <!-- TABLE -->

              <p-table #pTble [value]="family_member | clientFltr:selectedFamily_header" [rows]="10" [paginator]="true"
               [autoLayout]="true"
               [selectionMode]="'single'"

              loadingIcon="pi pi-spinner pi-spin"
              [loading]="__is__spinner_family_member"
                [(selection)]="selectedFamily_member" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                styleClass="p-datatable-lg"
                [showCurrentPageReport]="true">
              <ng-template pTemplate="header">
                  <tr>
                      <th [style]="'max-width:4rem'"></th>
                      <th *ngFor="let col of family_member_tbl_column"
                          pSortableColumn="{{col.field}}"
                          [style.max-width]="(col.field == 'client_addr' || col.field == 'email' || col.field == 'pan' || col.field == 'mobile' || col.field == 'client_code' || col.field == 'relationship' ) ? col.width : ''"
                          [style.min-width]="(col.field == 'client_addr' || col.field == 'email' || col.field == 'pan' || col.field == 'mobile' || col.field == 'client_code' || col.field == 'relationship') ? col.width : ''">
                        {{col.header}}
                        <p-sortIcon field="{{col.field}}"></p-sortIcon>
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-family_member let-i="rowIndex">
                  <tr>
                      <td [style]="'max-width:4rem'">
                          <p-tableCheckbox  [value]="family_member"></p-tableCheckbox>
                      </td>

                      <td *ngFor="let col of family_member_tbl_column"
                      [style.max-width]="(col.field == 'client_addr' || col.field == 'email' || col.field == 'pan' || col.field == 'mobile' || col.field == 'client_code' || col.field == 'relationship' ) ? col.width : ''"
                      [style.min-width]="(col.field == 'client_addr' || col.field == 'email' || col.field == 'pan' || col.field == 'mobile' || col.field == 'client_code' || col.field == 'relationship') ? col.width : ''"
                      [pEditableColumn]="family_member.relationship" pEditableColumnField="relationship"
                      >
                      <ng-container [ngSwitch]="true">
                        <ng-container *ngSwitchCase="col.field == 'relationship'">
                                <!-- <select class="form-control" (change)="changeRelation($event,family_member,i)">
                                      <option value="">Select</option>
                                       <option value="{{dt.id}}" *ngFor="let dt of relation">{{dt.relation}}</option>
                                </select> -->
                                <!-- <p-cellEditor
                                style="width:100%!important"
                                > -->
                                  <!-- <ng-template pTemplate="input"> -->
                                      <p-dropdown [options]="relation"
                                      [filter]="true" filterBy="relation" [showClear]="true" placeholder="Select Relation"
                                      appendTo="body" [(ngModel)]="family_member.relationship"
                                      optionLabel="relation"
                                      optionValue="relation"
                                      [style]="{'width':'100%'}"></p-dropdown>
                                  <!-- </ng-template>
                                  <ng-template pTemplate="output">
                                      {{family_member.relation ? family_member.relation : 'N/A'}}
                                  </ng-template>
                              </p-cellEditor> -->
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                                <p class="m-0">
                                  {{ family_member[col.field] ? family_member[col.field] : 'N/A' }}
                                </p>
                        </ng-container>
                        </ng-container>
                       </td>

                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-family_header>
                <tr>
                  <td [attr.colspan]="(family_member_tbl_column.length + 1)">
                    <h4>No Records Found</h4>
                  </td>
                </tr>
              </ng-template>
          </p-table>
              <!-- END -->
            </div>
          </div>
        </mat-card-content>
        <!-- <mat-card-footer align="end" class="w-100 p-3">
            <p-button label="Create Family" class="p-button-lg" (click)="createFamily()"></p-button>
        </mat-card-footer> -->
      </mat-card>
  </div>

</div>
<!-- END -->


<!-- For Showing Selecting Members  -->
    <div class="row">
      <div class="col-sm-7">
            <mat-card class="my-5">
              <mat-card-header>
                <mat-card-title>Selected Family Members</mat-card-title>

              </mat-card-header>
              <mat-card-content style="overflow-x:auto;">
                <table style="width:100%" id="FamilyMembers">
                  <thead>
                    <tr>
                        <th *ngFor="let clmn of selected_family_member_column">
                            {{clmn.header}}
                        </th>
                        <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="selectedFamily_member.length > 0;else noMembers_selected">
                      <tr *ngFor="let members of selectedFamily_member;let i=index">
                        <td *ngFor="let clmn of selected_family_member_column">
                          <ng-container *ngIf="clmn.field != 'sl_no';else sl_no">
                                <p class="m-0">{{members[clmn.field] ? members[clmn.field] : 'N/A'}}</p>
                          </ng-container>
                          <ng-template #sl_no>
                            {{i + 1}}
                          </ng-template>
                        </td>
                        <td>
                          <button mat-icon-button align="end" (click)="deleteMembers(members,i)">
                            <mat-icon class="text-danger">delete</mat-icon>
                          </button>
                        </td>
                    </tr>
                    </ng-container>
                    <ng-template #noMembers_selected>
                        <tr>
                           <td [attr.colspan]="(selected_family_member_column.length + 1)" class="p-3 text-center">
                              <p class="text-center m-0">No Members Selected</p>
                           </td>
                        </tr>
                    </ng-template>

                  </tbody>

                </table>


              </mat-card-content>
            </mat-card>
      </div>
      <div class="col-sm-5 d-flex align-items-end justify-content-end">
        <p-button label="Create Family" class="p-button-lg my-5" (click)="createFamily()"></p-button>
      </div>
    </div>
<!-- End -->

<!-- Confirm Submission of Create Family Members -->
<p-dialog
[(visible)]="visible"
[modal]="true"
[draggable]="false"
[maximizable]="false"
[resizable]="false"
[style]="{width: '80vw'}">
<ng-template  pTemplate="header">
  <h5>Family members &  Family head Details</h5>
</ng-template>

    <table style="width:100%" id="FamilyMembers">
      <thead>
        <tr>
            <th *ngFor="let clmn of selected_family_member_column">
                {{clmn.header}}
            </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="confirm_selected_family_members.length > 0;else noMembers_selected">
          <tr *ngFor="let members of confirm_selected_family_members;let i=index">
            <td *ngFor="let clmn of selected_family_member_column">
              <ng-container *ngIf="clmn.field != 'sl_no';else sl_no">
                    <p class="m-0"
                    [ngClass]="{'text-success': i == 0}"
                    >{{members[clmn.field] ? members[clmn.field] : 'N/A'}}</p>
              </ng-container>
              <ng-template #sl_no>
                {{i + 1}}
              </ng-template>
            </td>

        </tr>
        </ng-container>
        <ng-template #noMembers_selected>
            <tr>
               <td [attr.colspan]="(selected_family_member_column.length + 1)" class="p-3 text-center">
                  <p class="text-center m-0">No Members Selected</p>
               </td>
            </tr>
        </ng-template>

      </tbody>

    </table>
    <ng-template  pTemplate="footer">
      <!-- <h5>Family members &  Family head Details</h5>
       -->
        <p-button label="Confirm" class="p-button-lg"></p-button>

    </ng-template>
</p-dialog>
<!-- End -->
