/* .his-bar { display: flex; position: relative; padding-top: 50px; width: 100%; margin:auto; margin-top: 40px; }

.his-bar:before { content: ''; border: 1px solid #727272; position: absolute; top: 60px; right: 0; width: 99%; }

.his-bar .point { border: 2px solid #872071; width: 20px; height: 20px; border-radius: 50%; display: inline-block; background-color: #F8F8F8; z-index: 2; position: relative; }

.his-bar .point-start:after { content: '2000'; position: absolute; top: 30px; left: -7px; }

.his-bar .point-end { margin-left: auto; }

.his-bar .point-end:after { content: '2021'; position: absolute; top: 30px; left: -7px; } */


