<div class="row flexSec">
  <div class="col-sm-2" (click)="navigate('/main/rcvDashboard')">
    <div class="smallBox">
      <div class="smallBoxIconSec">
        <div class="iconCol_12 iconSec">
          <i class="fa fa-user-o" aria-hidden="true"></i>
        </div>
      </div>
      <h2>Form Receivable</h2>
    </div>
  </div>

  <div class="col-sm-2" (click)="navigate('/main/operations/manualEntr')">
    <div class="smallBox">
      <div class="smallBoxIconSec">
        <div class="iconCol_12 iconSec">
          <i class="fa fa-user-o" aria-hidden="true"></i>
        </div>
      </div>
      <h2>Manual Entry</h2>
    </div>
  </div>
  <div class="col-sm-2" (click)="navigate('/main/operations/reports')">
    <div class="smallBox">
      <div class="smallBoxIconSec">
        <div class="iconCol_12 iconSec">
          <i class="fa fa-user-o" aria-hidden="true"></i>
        </div>
      </div>
      <h2>Report</h2>
    </div>
  </div>


</div>
