.heading_title{
  font-size: 12px;
  margin: 0 7px;
  color: #3a5076;
  font-weight: 500;
}
.titles__value{
  font-weight: 500;
  font-size: 11px;
  color: gray;
}


.details__icon{
  border-radius: 27%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}
.infoIcon{
  background: #27bad229;
  color: #13a7c0;
}
.warningIcon{
  background: #e09d0b29;
  color: #ffb637;
}
.successIcon{
  background: #a5a5a530;
  color: #959595;
}

textarea{
  height:86px;
  min-height:86px;
  max-height:86px;
}

.show__More > a{
  color:blue;
  text-decoration: underline;
  cursor: pointer;
}


/* Tabs ul li css */
.container-fluid>ul{
  display: flex;
  align-items: center;
}
ul > li{
  /* display: inline-block; */

list-style: none;
}
.container-fluid>ul>li{
  padding: 12px 8px;
  font-size: 11px;
  font-weight: 500;
  /* margin: 2px; */
  margin:0px 10px;
  text-align: center;
  /* background: #ffff; */
  border-radius: 2px;
  /* box-shadow: 0px 0px 2px 0px gray; */
  position: relative;
}
.container-fluid>ul>li>a{
  padding: 0px!important;
}
.container-fluid>ul>li>a:hover{
  color:#1378b8;
}
span.activeSpan {
  font-weight: 600;
  transition: font-weight 250ms;
}
.container-fluid>ul>li:hover{
  cursor: pointer;
  box-shadow:none;
  transition: box-shadow 300ms;
}
.underlineBorder{
    height: 2px;
    width: 0%;
    background: #10486b;
    border-radius: 20px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    right: 0px;
    transform: translateX(-50%);
}
.container-fluid{
  margin: 8px 0px;
  border-bottom: 1px solid #d9d9d9;
}
.activeBoder{
  width:100%;
  transition: width 300ms;
}
/****End******/

::ng-deep .mat-menu-item {
  font-size: 11px !important;
  font-weight: 500 !important;
  color: #707070 !important;
  height: 35px!important;
  line-height: 35px!important;
}
.activeMenus{
  background: #10486b0a !important;
  color: #10486b !important;
  border-left: 3px solid #10486b;
  font-weight: 600 !important;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: #10486b;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 0;
}
