<div class="row">


<div [class]="__flag == 'BM' ? 'col-sm-4' : 'col-sm-3'" *ngFor="let items of __items">
    <div [class]="__flag == 'BM' ? 'smallBox' : 'topValueBox ' + items.class_name " (click)="navigate(items)">
     <div class="smallBoxIconSec" *ngIf="__flag == 'BM'">
      <div [class]="items.class">
        <ng-container *ngIf="items.icon;else img">
          <i [class]="items.icon" aria-hidden="true"></i>
        </ng-container>
        <ng-template #img>
        <img [src]="'../../../../../../assets/images/' + items.img" [class]="items.icon" [alt]="items.title">
        </ng-template>
      </div>
    </div>
    <h2 *ngIf="__flag == 'BM'">{{items.title}}</h2>

    <ng-container *ngIf="__flag == 'TV'">
      <div class="w-100 d-flex justify-content-center align-items-center p-3">
                      <h3>{{items.title}}</h3>
                      <button mat-icon-button
                      class="titleIcons"
                      [routerLink]="items.route_url"
                      matTooltipClass="ToolTip"
                      matTooltip="View Report">
                        <mat-icon> visibility</mat-icon>
                      </button>


      </div>
      <!-- Loader -->
      <p class="text-center" *ngIf="!items.is_pending;else pending_states">
          {{items.amount > 0 ? (items.amount | shortNumber) : ('0' | number:'1.2-2')}}
      </p>
      <ng-template #pending_states>
        <div class="tiles_loader"></div>
      </ng-template>
      <!-- End -->
      <div class="mb-0 w-100 d-flex align-items-center justify-content-center p-3">
        <div class="text-sm font-weight-bolder
        d-flex align-items-center">
         <ng-container *ngIf="!items.is_pending;else pending_states_mom">
          <div
          class="d-flex align-items-center"
          [ngClass]="{
            'text-danger':items.mom_percentage.toString().includes('-'),
            'text-success':!items.mom_percentage.toString().includes('-')
            }"
          >
            <mat-icon style="font-size:30px!important;height: 30px;width: 30px;">
              arrow_drop_{{items.mom_percentage.toString().includes('-') ? 'down' : 'up'}}
            </mat-icon>
            <span>{{items.mom_percentage | number:'1.2-2'}}%</span>
          </div>
          &nbsp;
          <span class="ml-1">MoM</span>
         </ng-container>
         <ng-template #pending_states_mom>
          <span class="text-sm font-weight-light">Calculating MOM....</span>
         </ng-template>
        </div>
        <!-- (click)="sendReport(items)" -->

        <button mat-icon-button
        (click)="showReport(items);op.toggle($event)"
        class="titleIcons"
        matTooltipClass="ToolTip" matTooltip="View Trend">
          <mat-icon>signal_cellular_alt</mat-icon>
        </button>
       </div>


      <!-- <i class="fa fa-clock-o timerCustom" aria-hidden="true"></i> -->
    </ng-container>
  </div>
</div>
</div>

<p-overlayPanel #op
[style]="{ width: '450px' }"
[showCloseIcon]="true"
[dismissable]="false"
>
 <ng-container *ngIf="chart_dtls;else noDataAvailable">
  <core-chart [getbarChartDetails]="chart_dtls"></core-chart>
 </ng-container>
 <ng-template #noDataAvailable>
  <div class="container">
    <div class="tiles_loader my-4 mx-auto"></div>
    <h5 class="text-center">Loading.....</h5>
  </div>
 </ng-template>
</p-overlayPanel>
