
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle >
  <div mat-dialog-title class="dialog-title">
    <h2 >Plan Reports</h2>
    <div class="btnIcon">
      <button mat-icon-button  (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button  (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>check_box_outline_blank</mat-icon>
      </button>
      <button mat-icon-button  (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>

      <button mat-icon-button  [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>
<mat-dialog-content>
  <div class="card my-5">
    <div class="card-body p-5">
  <form [formGroup]="__catForm" (ngSubmit)="submit()" autocomplete="off">
    <div class="row ">
      <div class="col-sm-6 my-auto">
          <mat-radio-group aria-label="Select an option" color="primary" formControlName="options">
            <mat-radio-button value="2">Summary</mat-radio-button>
            <mat-radio-button value="1" class="ml-3">Detail</mat-radio-button>
          </mat-radio-group>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-sm-5">
        <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClick($event,'I')">
          <div class="searchDiv">
            <label for="ifsc">IFS Code
            </label>
            <input type="search" name="ifsc" id="ifsc" class="form-control"
              formControlName="ifsc" placeholder="Search by IFS Code">
              <span class="spinner-border" *ngIf="__isifsspinner && __catForm.get('ifsc').value?.length > 1"></span>
             <div class="processMain_2" __searchResVisibility
              (appOutsideClick)="outsideClick($event,'I')">
              <div class="serachresult_client" #searchIfs>
                <ul *ngIf="__bnkMstforIfs.length > 0">
                  <li *ngFor="let items of __bnkMstforIfs" (click)="getItems(items,'I')">
                    {{items.ifs_code}}
                  </li>
                </ul>
                <div class="noDataFound" *ngIf="__bnkMstforIfs.length == 0">
                  <h5 class="text-center">
                    Sorry!! No Records Found
                  </h5>
                  <p class="text-wrap">Ifs Code Not AVailable</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClick($event,'M')">
          <div class="searchDiv">
            <label for="micr_code">MICR
            </label>
            <input type="search" name="micr_code" id="micr_code" class="form-control"
              formControlName="micr_code" placeholder="Search by Micr">
              <span class="spinner-border" *ngIf="__ismicrspinner && __catForm.get('micr_code').value?.length > 1"></span>
            <div class="processMain_2" __searchResVisibility
              (appOutsideClick)="outsideClick($event,'M')">
              <div class="serachresult_client" #searchMicr>
                <ul *ngIf="__bnkMstformicr.length > 0">
                  <li *ngFor="let items of __bnkMstformicr" (click)="getItems(items,'M')">
                    {{items.micr_code}}
                  </li>
                </ul>
                <div class="noDataFound" *ngIf="__bnkMstformicr.length == 0">
                  <h5 class="text-center">
                    Sorry!! No Records Found
                  </h5>
                  <p class="text-wrap">MICR Not Available</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container>

      <!-- <div class="row my-5">
        <div class="col-sm-5">
           <label for="bnk_name">Bank</label>
           <input type="text" name="bnk_name" id="bnk_name" class="form-control" formControlName="bnk_name">
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-12">
            <button mat-raised-button  color="primary" class="float-right">
              <!-- <mat-icon>visibility</mat-icon> -->
              Show
            </button>
        </div>
      </div>
    </ng-container>

  </form>
  </div>
</div>
<div class="mat-elevation-z3">
  <div class="example_container_header">
    <div class="btnGrp">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>system_update_alt</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="exportPdf()">
          <mat-icon>download</mat-icon> Export Pdf
        </button>
        <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'Bank'})">
          <mat-icon>download</mat-icon> Export Excel
        </button>
      </mat-menu>
      <!-- <button class="float-right" color="primary" type="button" mat-button (click)="exportPdf()">
        <mat-icon>download</mat-icon> Export Pdf
      </button>
      <button class="float-right" color="primary" type="button" mat-button
        (click)="exporter.exportTable('xlsx',{fileName:'Bank'})">
        <mat-icon>download</mat-icon> Export Excel
      </button> -->
    </div>

  </div>
  <div class="example-container">
    <table mat-table [dataSource]="__selectPLN" class="table_Custome">
      <!-- Sl No. -->
      <ng-container matColumnDef="sl_no">
        <th mat-header-cell *matHeaderCellDef>Sl no.</th>
        <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
      </ng-container>

      <!--Temporary TIN No.-->
      <ng-container matColumnDef="bank_name">
        <th mat-header-cell *matHeaderCellDef>Bank</th>
        <td mat-cell *matCellDef="let element"><p class="text-wrap">{{element.bank_name}}</p></td>
      </ng-container>
        <!--Temporary TIN No.-->
        <ng-container matColumnDef="ifsc_code">
          <th mat-header-cell *matHeaderCellDef>Ifsc</th>
          <td mat-cell *matCellDef="let element"><p class="text-wrap">{{element.ifs_code}}</p></td>
        </ng-container>
        <ng-container matColumnDef="micr_code">
          <th mat-header-cell *matHeaderCellDef>MICR</th>
          <td mat-cell *matCellDef="let element"><p class="text-wrap">{{element.micr_code}}</p></td>
        </ng-container>
          <!--Temporary TIN No.-->
          <ng-container matColumnDef="branch_name">
            <th mat-header-cell *matHeaderCellDef>Branch</th>
            <td mat-cell *matCellDef="let element"><p class="text-wrap">{{element.branch_name}}</p></td>
          </ng-container>
             <!--Temporary TIN No.-->
             <ng-container matColumnDef="branch_addr">
              <th mat-header-cell *matHeaderCellDef>Branch Address</th>
              <td mat-cell *matCellDef="let element"><p class="text-wrap">{{element.branch_addr}}</p></td>
            </ng-container>

      <!-- Buisness Type-->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element">
          <a (click)="populateDT(element)">
            <mat-icon class="edit_icon">edit</mat-icon>
          </a>
        </td>
      </ng-container>

      <!-- Buisness Type-->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <a>
            <mat-icon class="delete_icon">delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="__columns"></tr>
      <tr mat-row *matRowDef="let row; columns: __columns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data found</td>
      </tr>
    </table>
</div>
  <div class="paginator">
    <div class="itemsPerPage">
      <label>Items Per Page :&nbsp; </label>
      <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle value="10" aria-label="Text align left" (click)="getval(group.value)">
          10
        </mat-button-toggle>
        <mat-button-toggle value="50" aria-label="Text align center" (click)="getval(group.value)">
          50
        </mat-button-toggle>
        <mat-button-toggle value="100" aria-label="Text align right" (click)="getval(group.value)">
          100
        </mat-button-toggle>
        <mat-button-toggle value="A" aria-label="Text align right" (click)="getval(group.value)">
          All
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="paginatorContainer">
      <mat-button-toggle-group *ngFor="let paginate of __paginate">
        <mat-button-toggle [value]="paginate.url" aria-label="Text align right" (click)="getPaginate(paginate)">
          <label>
            <mat-icon *ngIf="(paginate.label | bnkrplc) == 'P'">first_page</mat-icon>
            <mat-icon *ngIf="(paginate.label | bnkrplc) == 'N'">last_page</mat-icon>
            <span
              *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">{{paginate.label}}</span>

          </label>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>




  </div>

  <table id="bnk"
  hidden mat-table
  [dataSource]="__export"
  matTableExporter
  #exporter="matTableExporter">


  <ng-container matColumnDef="sl_no">
    <th mat-header-cell *matHeaderCellDef>Sl no.</th>
    <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
  </ng-container>

  <!--Temporary TIN No.-->
  <ng-container matColumnDef="bank_name">
    <th mat-header-cell *matHeaderCellDef>Bank</th>
    <td mat-cell *matCellDef="let element"><p class="text-wrap">{{element.bank_name}}</p></td>
  </ng-container>
    <!--Temporary TIN No.-->
    <ng-container matColumnDef="ifsc_code">
      <th mat-header-cell *matHeaderCellDef>Ifsc</th>
      <td mat-cell *matCellDef="let element"><p class="text-wrap">{{element.ifs_code}}</p></td>
    </ng-container>
    <ng-container matColumnDef="micr_code">
      <th mat-header-cell *matHeaderCellDef>MICR</th>
      <td mat-cell *matCellDef="let element"><p class="text-wrap">{{element.micr_code}}</p></td>
    </ng-container>
      <!--Temporary TIN No.-->
      <ng-container matColumnDef="branch_name">
        <th mat-header-cell *matHeaderCellDef>Branch</th>
        <td mat-cell *matCellDef="let element"><p class="text-wrap">{{element.branch_name}}</p></td>
      </ng-container>
         <!--Temporary TIN No.-->
         <ng-container matColumnDef="branch_addr">
          <th mat-header-cell *matHeaderCellDef>Branch Address</th>
          <td mat-cell *matCellDef="let element"><p class="text-wrap">{{element.branch_addr}}</p></td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="__exportedClmns"></tr>
    <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4" class="text-center">No Plans History Found</td>
    </tr>
  </table>
</div>
</mat-dialog-content>
</div>
