
<div  cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle >
  <div mat-dialog-title class="dialog-title" [title]="data.title">
    <h2 >{{data.title}}</h2>
    <div class="btnIcon">
      <button mat-icon-button  (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button  (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>check_box_outline_blank</mat-icon>
      </button>
      <button mat-icon-button  (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>

      <button mat-icon-button  [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>

<mat-dialog-content>
  <form  [formGroup]="__optForm" (ngSubmit)="submit()" id="__optForm_{{data.id}}" autocomplete="off" ngNativeValidate>
    <div class="row">
      <div class="col-sm-12 my-3">
        <label for="pln_name">Option <span class="text-danger">*</span></label>
          <input type="text" name="pln_name" id="pln_name" class="form-control" formControlName="opt_name" placeholder="Enter Option">
        <div class="invalid-feedback" *ngIf="__optForm.get('opt_name').invalid && (__optForm.get('opt_name').dirty || __optForm.get('opt_name').touched)">
          <span class="invalid-feedback" *ngIf="(__optForm.get('opt_name')).errors?.required">*Please Provide Option</span>
        </div>
      </div>
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="popupBoxSubmitSec">
  <button class="btn addBtn"   [attr.form]="'__optForm_'+data.id" [disabled]="this.__optForm.invalid">Submit</button>
</mat-dialog-actions>
<br clear="all">
</div>
