
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".body">
  <div mat-dialog-title class="dialog-title" [title]="data.title" cdkDragHandle >
    <h2 >{{data.title}}</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize"  (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore-down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>
  <mat-dialog-content>
    <form [formGroup]="__compTypeForm" [attr.id]="'__compTypeForm__'+ this.data.id" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-sm-12 my-3">
          <label class="form-label" for="comp_type_id">Type Of Company <span class="text-danger">*</span></label>
          <select class="form-control" id="comp_type_id" name="comp_type_id" formControlName = "comp_type_id">
            <option value="">Select</option>
             <option *ngFor="let compType of fdcomptype" [value]="compType.id">{{compType.comp_type}}</option>
          </select>
          <div class="invalid-feedback"
          *ngIf="__compTypeForm.get('comp_type_id').invalid && (__compTypeForm.get('comp_type_id').dirty || __compTypeForm.get('comp_type_id').touched)">
          <span class="invalid-feedback" *ngIf="(__compTypeForm.get('comp_type_id')).errors?.required">*Please provide company type
            </span>
        </div>
        </div>
        <div class="col-sm-12">
          <label class="form-label" for="comp_id">Company Name <span class="text-danger">*</span></label>
          <select class="form-control" id="company_name" name="company_name"  formControlName="comp_id">
            <option value="">Select</option>
            <option *ngFor="let cmpMst of __cmpMst" [value]="cmpMst.id">{{cmpMst.comp_short_name}}</option>
          </select>
          <div class="invalid-feedback"
          *ngIf="__compTypeForm.get('comp_id').invalid && (__compTypeForm.get('comp_id').dirty || __compTypeForm.get('comp_id').touched)">
          <span class="invalid-feedback" *ngIf="(__compTypeForm.get('comp_id')).errors?.required">*Please provide company name
            </span>
        </div>
        </div>
        <div class="col-sm-12 my-3">
          <label class="form-label" for="scheme_name">Scheme Name<span class="text-danger">*</span></label>
           <input type="text" class="form-control" placeholder="Enter Scheme Name" formControlName="scheme_name" id="scheme_name" name="scheme_name"/>
          <div class="invalid-feedback"
          *ngIf="__compTypeForm.get('scheme_name').invalid && (__compTypeForm.get('scheme_name').dirty || __compTypeForm.get('scheme_name').touched)">
          <span class="invalid-feedback" *ngIf="(__compTypeForm.get('scheme_name')).errors?.required">*Please provide scheme name
            </span>
        </div>
        </div>
      </div>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions cdkDragHandle  align="end" class="popupBoxSubmitSec">
    <button class="btn addBtn  ml-2" [attr.form]="'__compTypeForm__'+ data.id" [disabled]="this.__compTypeForm.invalid">
      {{this.data.id > 0 ? 'Update' : 'Submit'}}
    </button>
  </mat-dialog-actions>
    </div>
