<div class="row flexSec">
    <div class="col-sm-7">
      <shared-upload-csv [leftHeaderTitle]="'Upload Company'" [flag]="'IC'"
      [file_name]="'Sample Company'" [columns]="tableColumns" [api_name]="'/ins/companyimport'"
        [dataSource]="tableData"
        [companyTypeMst]="instTypeMst"
        [displayedColumns]="displayedColumns"
        ></shared-upload-csv>
    </div>
    <div class="col-sm-5">
      <shared-mst-dtls [btnTitle]="'View All Company'"
      [headerTitle]="'Recent Company'"
      [flag]="'IC'"
      [props]="'comp_short_name'"
        (populate)="populateDT($event)" (viewAll)="viewAll()"
        [dataSource]="__cmpMst.data"></shared-mst-dtls>
    </div>
  </div>
