<mat-card id="matCard"  class="mat-elevation-z0">
  <mat-card-header class="border_bottom">
    <mat-card-title>
      <ng-content select="[form]"></ng-content>
    </mat-card-title>
    <div class="w-25 my-auto pr-4">
      <span class="ml-auto">
        <input id="search" class="form-control rounded" type="text" placeholder="Search" />
      </span>
    </div>
  </mat-card-header>

  <mat-card-content class="py-2">
    <p-table #primeTbl id="trxDt" [value]="divHistory"      [rows]="10" [paginator]="false"
    [rowHover]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    styleClass="p-datatable-lg"
    [pageLinks]="3"
    [globalFilterFields]="getColumns()"
      [rowsPerPageOptions]="[10,50,100,{ showAll: 'All' }]"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
      <tr class="stickyHeader">
        <th *ngFor="let col of column" [pSortableColumn]="col.field"
        [style.width]="col.width">
          {{ col.header }}
          <p-sortIcon [field]="col.field">
          </p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-trxn let-i="rowIndex">
      <tr tabindex="999">
        <td *ngFor="let col of column" [style.width]="col.width">
          <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="col.header == 'IDCWP'">
              <p class="m-0">{{ (trxn[col.field] && trxn.transaction_subtype == 'Dividend Payout') ? (trxn[col.field] | number:'1.2-2') : '0.00' }}</p>
            </ng-container>

            <ng-container *ngSwitchCase="col.header == 'IDCWP Date'">
              <p class="m-0">{{ (trxn[col.field] && trxn.transaction_subtype == 'Dividend Payout') ? (trxn.trans_date | date:'dd-MM-YYYY') : 'N/A' }}</p>
            </ng-container>

            <ng-container *ngSwitchCase="col.header == 'IDCW Reinv.'">
              <p class="m-0">{{ (trxn[col.field] && trxn.transaction_subtype == 'Dividend Reinvestment') ? (trxn[col.field] | number:'1.2-2') : '0.00' }}</p>
            </ng-container>

            <ng-container *ngSwitchCase="col.header == 'IDCW Reinv. Date'">
              <p class="m-0">{{ (trxn[col.field] && trxn.transaction_subtype == 'Dividend Reinvestment') ? (trxn.trans_date | date:'dd-MM-YYYY') : 'N/A' }}</p>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <p class="m-0">{{ trxn[col.field] ? trxn[col.field] : 'N/A' }}</p>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colSpan]="column.length" class="noHistoryAvailable">
          <p class="m-0">NO RECORDS FOUND</p>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
      <tr style="height:34px">
          <td *ngFor="let col of columns; let even = even">
              <p-skeleton [ngStyle]="{'width': col.width}"></p-skeleton>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td
        *ngFor="let col of column"
        [style]="'width : ' + col.width"
      >
        <ng-container [ngSwitch]="true">
          <ng-container *ngSwitchCase="col.field == 'scheme_name'">
            <p class="m-0">Total</p>
          </ng-container>
          <ng-container *ngSwitchCase="col.header == 'IDCWP' || col.header == 'IDCW Reinv.'">
            <p class="m-0">{{__footer_div_history[col.header] ? (__footer_div_history[col.header] | number:'1.2-2') : '0.00'}}</p>
          </ng-container>
          <ng-container *ngSwitchDefault></ng-container>
        </ng-container>
      </td>
    </tr>
  </ng-template>
  </p-table>
  </mat-card-content>
</mat-card>
