<mat-card id="matCard"  class="mat-elevation-z0">
  <mat-card-header class="border_bottom">
    <mat-card-title>
      <ng-content select="[form]"></ng-content>
    </mat-card-title>
    <div class="w-25 my-auto pr-4">
      <span class="ml-auto">
        <input id="search" class="form-control rounded" type="text" placeholder="Search" />
      </span>
    </div>
  </mat-card-header>
  <mat-card-content class="py-2">
    <p-table #primeTbl id="trxDt" [value]="divHistory" [responsive]="true" [rowHover]="true"
    styleClass="p-datatable-striped p-datatable-lg"
    [columns]="column" [paginator]="true"
    [autoLayout]="true" [totalRecords]="divHistory.length" [pageLinks]="3"
    [rowsPerPageOptions]="[10,50,100,{ showAll: 'All' }]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="10"
    [showCurrentPageReport]="true" [globalFilterFields]="getColumns()">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of column" [pSortableColumn]="col.field"
        [style.width]="col.width">
          {{ col.header }}
          <p-sortIcon [field]="col.field">
          </p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-trxn let-i="rowIndex">
      <tr tabindex="999">
        <td *ngFor="let col of column" [style.width]="col.width">
          <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="col.field == 'idcwp' || col.field == 'idcw_reinv'">
              <p class="m-0">{{ trxn[col.field] ? (trxn[col.field] | number:'1.2-2') : '0.00' }}</p>
            </ng-container>

            <ng-container *ngSwitchCase="col.field == 'idcwp_date' || col.field == 'idcw_reinv_date'">
              <p class="m-0">{{ trxn[col.field] ? (trxn[col.field] | date:'dd-MM-YYYY') : 'N/A' }}</p>
            </ng-container>

            <ng-container *ngSwitchDefault>
              <p class="m-0">{{ trxn[col.field] ? trxn[col.field] : 'N/A' }}</p>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colSpan]="columns.length" class="noHistoryAvailable">
          <h5>No Records Found</h5>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
      <tr style="height:34px">
          <td *ngFor="let col of columns; let even = even">
              <p-skeleton [ngStyle]="{'width': col.width}"></p-skeleton>
          </td>
      </tr>
  </ng-template>
  </p-table>
  </mat-card-content>
</mat-card>
