<div class="row flexSec">
  <div class="col-sm-7">
    <shared-upload-csv [leftHeaderTitle]="'Upload Client'"
    [flag]="'CL'"
    [file_name]="'Sample Client'"
    [columns]="clmsToDisplay" [api_name]="'/clientimport'"
      [dataSource]="tableData" [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>
  <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All Client'" [headerTitle]="'Recent Client'" [flag]="'CL'"
      (populate)="populateDT($event)"
      [props]="'client_name'"
      (viewAll)="viewAll()"
      [dataSource]="__selectClient.data"></shared-mst-dtls>
  </div>
</div>
