
<div class="row flexSec">
  <div class="col-sm-10 col-sm-offset-1">
    <core-tab [Tab]="TabMenu" [customClass]="'customTabs'"
    (GetTabDtls)="onTabChange($event)" [index]="tabindex">
    </core-tab>
    <div class="card">
       <div class="card-body p-4">
      <form [formGroup]="manualUpldFrm" id="mailBck">
           <div class="row">
             <div class="col-sm-1 my-auto  text-center">
              <label for="file_type">File Type <span class="text-danger">*</span></label>
             </div>
             <div class="col-sm-3 my-auto ">
              <select name="file_type_id" formControlName="file_type_id" class="form-control" id="file_type">
                <option value="">Select File Type</option>
               <option [value]="fileType.id" *ngFor="let fileType of fileTypeMst" >{{fileType.name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="manualUpldFrm.get('file_type_id').invalid && (manualUpldFrm.get('file_type_id').dirty || manualUpldFrm.get('file_type_id').touched)">
                <span class="invalid-feedback" *ngIf="(manualUpldFrm.get('file_type_id')).errors?.required">*Please provide file type</span>
              </div>
            </div>
            <div class="col-sm-1 my-auto   text-center">
              <label for="file_id">File Name<span class="text-danger">*</span></label>
             </div>
             <div class="col-sm-3 my-auto">
              <select name="file_id" formControlName="file_id" id="file_id" class="form-control">
                <option value="">Select File Name</option>
               <option *ngFor="let file of fileMst" [value]="file.id">{{file.name}}</option>

              </select>
              <div class="invalid-feedback" *ngIf="manualUpldFrm.get('file_id').invalid && (manualUpldFrm.get('file_id').dirty || manualUpldFrm.get('file_id').touched)">
                <span class="invalid-feedback" *ngIf="(manualUpldFrm.get('file_id')).errors?.required">*Please provide file name</span>
              </div>
            </div>

            <div class="col-sm-1 p-0 my-auto  text-center">
              <label for="upload_file">Upload File <span class="text-danger">*</span></label>
             </div>
             <div class="col-sm-3 my-auto">
              <div class="input-group">
                <input type="file"
                (change)="getFile($event)"
                class="form-control"
                id="upload_file"
                formControlName="file"
                />
                <div class="invalid-feedback"
                *ngIf=" manualUpldFrm.get('file').invalid && ( manualUpldFrm.get('file').dirty ||  manualUpldFrm.get('file').touched)">
                <span class="invalid-feedback" *ngIf=" manualUpldFrm.get('file').errors?.required">*Please
                  provide file</span>
                <span class="invalid-feedback" *ngIf=" manualUpldFrm.get('file').errors?.inValidExt">*Please
                  provide valid file format</span>
              </div>
              </div>
            </div>
          </div>
      </form>
    </div>
    <div class="card-footer">
      <label>
        <i class="pi pi-info-circle" style="font-size: 1.5rem"></i>
      NOTE: Allowed Format: CSV
      </label>
      <p-button
      type="button"
      label="Upload"
      icon="pi pi-upload"
      iconPos="right"
      class="float-right"
      (click)="uploadFile()"
      [disabled]="manualUpldFrm.invalid"
      styleClass="p-button-lg p-button-primary">
      </p-button>
    </div>
    </div>
    <div class="card my-3">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <label class="m-0">
              <i class="pi pi-database mr-2" style="font-size:2rem"></i>
              File Details</label>
        </div>
      </div>
      <div class="card-body">
        <p-table
        id="trxDt"
        [value]="FileMstData"
        [responsive]="true"
        [rowHover]="true"
        styleClass="p-datatable-striped"
        [autoLayout]="true"
        scrollHeight="350px"
        [scrollable]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th  *ngFor="let col of columns"
              [pSortableColumn]="col.field"
              >
                {{ col.header }}
                <p-sortIcon [field]="col.field" *ngIf="col.field!= 'upload_file'">
                </p-sortIcon>
              </th>
          </tr>
          </ng-template>
          <ng-template pTemplate="body" let-file>
            <tr tabindex="999">
              <td *ngFor="let col of columns">
                <ng-container [ngSwitch]="true">
                  <ng-container *ngSwitchCase="col.field == 'file_type_id'">
                     <b>{{(file[col.field] | fileType:fileTypeMst)}}
                    </b>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'file_name'">
                    <b>{{(file['file_id'] | fileType:fileMst)}}
                   </b>
                 </ng-container>
                 <ng-container *ngSwitchCase="col.field == 'process_date'">
                  <b>{{file[col.field] ? (file[col.field] | date:'dd-MM-YYYY h:mma') : 'N/A'}}
                 </b>
               </ng-container>

                 <ng-container *ngSwitchCase="col.field == 'upload_file'">
                  <a
                  [matTooltipPosition]="'after'"
                  #tooltip="matTooltip"
                  matTooltip="Download"
                   href="{{file[col.field]}}"
                   download="file[col.field]"
                   styleClass="p-button-rounded p-button-danger p-button-text"
                  >
                  <i class="pi pi-download" style="font-size:2rem"></i>
                </a>
                 </ng-container>
                  <ng-container *ngSwitchDefault>
                    <span>{{ file[col.field] ? file[col.field]  : 'N/A'}}
                   </span>
                 </ng-container>
                </ng-container>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage" let-file>
            <tr [style.height]="'350px'">
              <td [attr.colspan]="5">
                 <h4>No Records Found</h4>
              </td>
            </tr>
          </ng-template>
      </p-table>
        <!-- For Paginate and Show Item Per page -->
        <shared-paginate [__paginate]="paginate"
        (itemPerpageShow)="onSelectItem($event)"
        (PaginateFn)="getPaginate($event)"
        ></shared-paginate>
        <!-- End -->
      </div>
      <div class="card-footer">
        In Total There Are {{FileMstData.length}} Files Are Uploaded
      </div>
    </div>
    </div>
    <!-- <div class="col-sm-12  my-3">

    </div> -->

</div>
<!--  -->

