<core-search [__flag]="'Y'" (__searchItem)="getSearchItem($event)" [__api_name]="'/formreceived'"
  [__placeholder]="'Search by temporary TIN number, pan, mobile, email, application number'"></core-search>

<div class="mat-elevation-z3">
  <table mat-table [dataSource]="__RcvForms">
    <!-- Sl No. -->
    <ng-container matColumnDef="sl_no">
      <th mat-header-cell *matHeaderCellDef>Sl no.</th>
      <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
    </ng-container>

    <!-- Recieve Date Time -->
    <ng-container matColumnDef="rcv_datetime">
      <th mat-header-cell *matHeaderCellDef>Recieved Date Time</th>
      <td mat-cell *matCellDef="let element">{{element.rec_datetime | date:'dd/MM/YYYY h:mma'}}</td>
    </ng-container>


    <!--Temporary TIN No.-->
    <ng-container matColumnDef="temp_tin_no">
      <th mat-header-cell *matHeaderCellDef>Temporary TIN No.</th>
      <td mat-cell *matCellDef="let element">{{element.temp_tin_id}}</td>
    </ng-container>
   <!-- <ng-container matColumnDef="trans_type">
    <th mat-header-cell *matHeaderCellDef>Transaction Type</th>
    <td mat-cell *matCellDef="let element">{{element.trans_type}}</td>
  </ng-container>

   
   <ng-container matColumnDef="trans_name">
    <th mat-header-cell *matHeaderCellDef>Transaction</th>
    <td mat-cell *matCellDef="let element">{{element.trans_name}}</td>
  </ng-container> -->

    <!-- Buisness Type-->
    <ng-container matColumnDef="bu_type">
      <th mat-header-cell *matHeaderCellDef>Buisness Type</th>
      <td mat-cell *matCellDef="let element">{{element.bu_type == 'D' ? 'B2C - Direct' : element.bu_type == 'I' ? 'B2C -
        Indirect' : 'B2B'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="__columns"></tr>
    <tr mat-row *matRowDef="let row; columns: __columns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">No data found</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>