<core-report-filter
(getsearchValues)="searchSwpReport($event)"
[title]="__title"
[amcMst]="amc"
[clientMst]="client"
[type]="swp_type"
[state]= "state"
(changeState)="changeState($event)"
[report_type]="report_type"
[sip_stp_swp_type_mst]="sip_stp_swp_type_mst"
></core-report-filter>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <i class="fa fa-databse"></i>
      {{__title}} Reports
    </mat-card-title>

    <div class="my-auto marque__tag">
      <merque
      [trxn_type]="report_type"
      [trxn_sub_type]="swp_type"
      [type]="__title"
      [number]="live_swp_rpt.length"
      [value]="total_live_swp_amt"
      ></merque>
    </div>
    <div class="my-auto w-25 pr-4">
      <span class="ml-auto">
        <input id="search" class="form-control rounded" type="text"
               (input)="filterGlobal($event)"
               placeholder="Search" />
      </span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p-table
    #primeTbl
    id="trxDt"
    [value]="live_swp_rpt"
    [scrollable]="true"
    [scrollHeight]="'370px'"
    [virtualScroll]="true"
    [virtualRowHeight]="33"
    [responsive]="true"
    [rowHover]="true"
    styleClass="p-datatable-striped"
    [autoLayout]="true"
    [scrollable]="true"
    appendTo="body"
    [columns]="column"
    [paginator]="true"
    [totalRecords]="live_swp_rpt.length"
    [pageLinks]="3"
    [rowsPerPageOptions]="[10,50,100,{ showAll: 'All' }]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '369rem' }"
    >
      <ng-template pTemplate="header">
          <tr>
              <th *ngFor="let col of column" [pSortableColumn]="col.field"
              [style.min-width]="col.width"
              [style.max-width]="col.width"
              >
                {{ col.header }}
                <p-sortIcon [field]="col.field">
                </p-sortIcon>
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-trxn let-columns="columns"  let-i="rowIndex">
        <tr tabindex="999"
        [ngStyle]="{'background-color':trxn.pause_end_date && trxn.pause_start_date ? '#fcf8e3' : '',
        'color':trxn.pause_end_date && trxn.pause_start_date ? '#8a6d3b' : '',
        'height':'33px'
      }"
        >
          <td *ngFor="let col of column"
          [style.min-width]="col.width"
          [style.max-width]="col.width"
          [ngStyle]="{'font-weight':trxn.pause_end_date && trxn.pause_start_date ? 700 : 500}"
          >
            <ng-container [ngSwitch]="true">
              <ng-container *ngSwitchCase="col.field == 'sl_no'">
                <p class="m-0">{{i + 1}}</p>
             </ng-container>
             <ng-container *ngSwitchCase="col.field == 'from_date' || col.field == 'to_date' || col.field == 'reg_date'">
                <p class="m-0">{{ trxn[col.field] ? (trxn[col.field] | date:'dd-MM-YYYY') : 'N/A' }}</p>
             </ng-container>

           <ng-container *ngSwitchCase="col.field == 'scheme_name'">
            <p class="m-0">{{ trxn[col.field] ? (trxn[col.field]  + '-' + trxn['plan_name'] + '-' + trxn['option_name']) : 'N/A' }}</p>
             </ng-container>
             <ng-container *ngSwitchCase="col.field == 'amount'">
              <p class="m-0" [matTooltip]="trxn[col.field]">{{ trxn[col.field] ? trxn[col.field]  : '0' }}</p>
           </ng-container>
            <ng-container *ngSwitchCase="col.field == 'swp_date' || col.field == 'freq'">
              <p class="m-0" [matTooltip]="trxn[col.field]">{{ trxn[col.field] ? (trxn[col.field].toString() | titlecase) : 'N/A' }}</p>
            </ng-container>

            <ng-container *ngSwitchCase="col.field == 'sub_brk_cd'">
              <p class="m-0">{{ (trxn[col.field] && (trxn[col.field] | titlecase)!="Not Provided" && trxn[col.field]!="BLANK"
              && trxn[col.field]!='0' && trxn[col.field]!= ' '
              && (trxn[col.field] | titlecase)!="Not Provid"
              && (trxn[col.field] | titlecase)!="Notprovided"
              ) ? trxn[col.field] : 'N/A' }}</p>
              </ng-container>
              <ng-container *ngSwitchCase="col.field == 'first_client_name'  || col.field == 'bank_name'">
                <p class="m-0">{{ trxn[col.field] ? (trxn[col.field] | titlecase) : 'N/A' }}</p>
                </ng-container>
                <ng-container *ngSwitchCase="col.field == 'remarks'">
                  <p class="m-0" [matTooltip]="trxn[col.field]">{{trxn['remarks'] ? (trxn['remarks'] | ellipsis:30 | titlecase):
                    'N/A'}}</p>
                </ng-container>
              <ng-container *ngSwitchDefault>
                <p class="m-0" [matTooltip]="trxn[col.field]">{{ trxn[col.field] ? trxn[col.field] : 'N/A' }}</p>
              </ng-container>
            </ng-container>
          </td>
          </tr>
        </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colSpan]="columns.length" class="noHistoryAvailable">
             No Records Found
          </td>
        </tr>
      </ng-template>
  </p-table>
 </mat-card-content></mat-card>
