<p-table [value]="data"
#primeTbl
[autoLayout]="true"
[responsive]="true"
[paginator]="false"
[rows]="5"
[(selection)]="SelectedData"
[showCurrentPageReport]="true"
[pageLinks]="3"
[totalRecords]="data.length"
selectionMode="multiple"
(selectionChange)="checkedDt($event)"
(onHeaderCheckboxToggle)="checkedDt($event)"
[rowsPerPageOptions]="[10,50,100,{ showAll: 'All' }]"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
styleClass="p-datatable-striped p-datatable-md p-datatable-gridlines"
 [tableStyle]="{'min-width': table_min_width}">
  <ng-template pTemplate="header">
      <tr>
          <th style="width: 4rem" *ngIf="is_selectable">
            <ng-container *ngIf="parent_id == '46'">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </ng-container>
          </th>
          <th  *ngFor="let col of column"
          pResizableColumn
          [pSortableColumn]="col.field == 'view_dtls' ? col.field : ''"
           [style.width]="col.width">
            {{ col.header }}
            <p-sortIcon  [field]="col.field" *ngIf="col.field != 'view_dtls'">
            </p-sortIcon>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data let-i="rowIndex">
    <tr tabindex="999">
      <td *ngIf="is_selectable">
        <ng-container *ngIf="parent_id == '46';else rplc_acq">
          <p-tableCheckbox id="{{i}}" name="{{i}}" [value]="data"
          ></p-tableCheckbox>
        </ng-container>
        <ng-template #rplc_acq>
          <p-tableRadioButton
          [value]="data"
          ></p-tableRadioButton>
        </ng-template>

      </td>
      <td *ngFor="let col of column" [style.width]="col.width">
        <ng-container [ngSwitch]="true">
          <ng-container *ngSwitchCase="col.field == 'sl_no'">
            <b>{{i+1}}</b>
           </ng-container>
           <ng-container *ngSwitchCase="col.field == 'view_dtls'">
            <p-button label="View Details"
            (click)="view_details(data)"
            icon="pi pi-info-circle" iconPos="left">
          </p-button>
           </ng-container>
           <ng-container *ngSwitchDefault>
            <span   matTooltip="{{data[col.field]}}">
              <b>{{ data[col.field] ? data[col.field] : 'N/A' }}</b>
            </span>
          </ng-container>

          </ng-container>

      </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colSpan]="(column.length + 1)" class="noHistoryAvailable">
         No Records Found
      </td>
    </tr>
  </ng-template>
</p-table>

<div class="row row__sticky" *ngIf="is_btn_show">
  <div class="col-sm-12 d-flex justify-content-end align-items-end">

    <p-button (click)="Next()"  label="Next" icon="pi pi-arrow-right" iconPos="right"></p-button>
  </div>

 </div>
