<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div mat-dialog-title class="dialog-title">
    <h2>Manual Entry For FD Certificate Delivery</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore Down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon>close</mat-icon>
      </button>

    </div>

  </div>
  <mat-dialog-content class="customDialog">
    <div class="card p-3 border-1">
      <ng-template #SearchBtn>
        <p-button type="submit" label="Show" icon="pi pi-eye" iconPos="right" styleClass="p-button-lg"></p-button>
      </ng-template>
      <form [formGroup]="__insTraxForm" (ngSubmit)="searchInsurance()" autocomplete="off">
        <!-- <div class="row">
          <div class="col-sm-8 d-flex justify-content-start align-items-center">
            <mat-radio-group aria-label="Select an option" formControlName="options">
              <mat-radio-button color="primary" value="2">Summary</mat-radio-button>
              <mat-radio-button color="primary" value="1" class="ml-5">Detail</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-sm-4 d-flex justify-content-end align-items-center">
            <p-selectButton [options]="selectBtn" formControlName="btn_type" optionValue="value"
              styleClass="p-button-lg" (onOptionClick)="onItemClick($event)" optionLabel="icon">
              <ng-template let-item>
                <i [class]="item.icon" [matTooltip]="item.label"></i>
              </ng-template>
            </p-selectButton>
          </div>
        </div> -->
        <div class="row">
          <div class="col-sm-3">
            <label for="dt_type">Date Periods</label>
            <select class="form-control" formControlName="dt_type" name="dt_type" id="dt_type">
              <option value="">Select</option>
              <option value="D">Today</option>
              <option value="W">This Week</option>
              <option value="M">This Month</option>
              <option value="Y">This Year</option>
              <option value="R">Date Range</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="date_range">Date (From - To)</label>
            <p-calendar dateFormat="dd/mm/yy" placeholder="Select Date Range" formControlName="date_range"
              selectionMode="range" [readonlyInput]="true" id="date_range" [showIcon]="true"
              [hideOnDateTimeSelect]="true" (onClose)="close($event)" [showButtonBar]="true">
            </p-calendar>
          </div>
          <div class="col-sm-3">
            <app-core-srch [label]="'TIN'" [placeholder]="'Search By TIN'" [isPending]="__istemporaryspinner"
              [listItems]="__tinMst" [flag]="'T'" [noDataFoundTitle]="'Sorry!! No Records Found'"
              [noDataFoundSubTitle]="'If your result match,they will appear here'"
              [propertiesToShow]="['tin_no','investor_name']" formControlName="tin_no"
              [displayMode]="displayMode_forTemp_Tin" (setDisplayMode)="displayMode_forTemp_Tin = $event"
              (selectedItems)="getSelectedItemsFromParent($event)"></app-core-srch>
          </div>
          <div class="col-sm-3">
            <app-core-srch [label]="'Client Details'"
              [placeholder]="'Search By Client Name,Client Code, Email, Mobile, PAN & DOB'"
              [isPending]="__isClientPending" [listItems]="__clientMst" [flag]="'C'"
              [noDataFoundTitle]="'Sorry!! No Records Found'"
              [noDataFoundSubTitle]="'If your result match,they will appear here'"
              [propertiesToShow]="['client_code','pan','client_name']" formControlName="investor_name"
              [displayMode]="displayMode_forClient" (setDisplayMode)="displayMode_forClient = $event"
              (selectedItems)="getSelectedItemsFromParent($event)"></app-core-srch>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-3">
            <label for="comp_type_id">Company Type</label>
            <ng-multiselect-dropdown id="comp_type_id" [placeholder]="'Select Company Type'"
              [settings]="__comp_type_setting" [data]="__compTypeMst" formControlName="comp_type_id">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="company_id">Company</label>
            <ng-multiselect-dropdown id="company_id" [placeholder]="'Select Company'" [settings]="__comp_setting"
              [data]="__compMst" formControlName="company_id">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="scheme_id">Scheme</label>
            <ng-multiselect-dropdown id="scheme_id" [placeholder]="'Select Scheme'" [settings]="__scm_setting"
              [data]="__scmMst" formControlName="scheme_id">
            </ng-multiselect-dropdown>
          </div>
          <ng-container *ngIf="__insTraxForm.value.btn_type == 'A';else noAdv">
            <div class="col-sm-3">
              <label for="branch">Branch</label>
              <ng-multiselect-dropdown id="branch" [placeholder]="'Select Branch'" [settings]="settingsForbrnch"
                [data]="__brnchMst" formControlName="brn_cd">
              </ng-multiselect-dropdown>
            </div>
          </ng-container>
          <ng-template #noAdv>
            <div class="col-sm-3 d-flex flex-column justify-content-end align-items-end">
              <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
            </div>
          </ng-template>
        </div>
        <ng-container *ngIf="__insTraxForm.value.btn_type == 'A'">
          <div class="row">
            <div class="col-sm-3">
              <label for="bu_type">Business Type</label>
              <ng-multiselect-dropdown id="bu_type" [placeholder]="'Select Business Type'"
                [settings]="settingsForbuType" [data]="__bu_type" formControlName="bu_type">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-3">
              <label for="rm_id">Relationship Manager</label>
              <ng-multiselect-dropdown id="rm_id" [placeholder]="'Select Relationship Manager'"
                [settings]="settingsForbuType" [data]="__rmMst" formControlName="rm_id">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-3">
              <label for="sub_brk_cd">Sub Broker Code</label>
              <ng-multiselect-dropdown id="sub_brk_cd" [placeholder]="'Select Sub Broker Code'"
                [settings]="settingsForsubCode" [data]="__subbrkArnMst" formControlName="sub_brk_cd">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-3">
              <label for="euin_no">Employee</label>
              <ng-multiselect-dropdown id="euin_no" [placeholder]="'Select Employee'" [settings]="settingsForEUIN"
                [data]="__euinMst" formControlName="euin_no">
              </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-sm-12 d-flex flex-column justify-content-end align-items-end">
              <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
            </div>
          </div>
        </ng-container>

      </form>
    </div>

    <div class="card border-1 mt-1">
      <div class="example_container_header">
        <div class="transTypeCount"></div>
      </div>
      <div class="container_body">
        <p-table (onLazyLoad)="customSort($event)" [customSort]="true" sortMode="single" [lazy]="true"
          [value]="__insTrax.data" [columns]="__columns" [resizableColumns]="true" selectionMode="multiple"
          columnResizeMode="expand" [scrollable]="true" scrollHeight="358px" [autoLayout]="true" [responsive]="true"
          styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '120rem' }">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                [ngStyle]="{'width': __insTraxForm.value.options == 2 ? '15rem' : '17rem'}">
                {{ col.header }}
                <p-sortIcon *ngIf="
                col.field!= 'delete'
                && col.field!='app_form_scan'
                && col.field!='collected_from_comp'
                && col.field!='delivery_by'
                && col.field!='received_by'"
                [field]="col.field">
                </p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rcvFormDT let-columns="columns" let-i="rowIndex">
            <tr tabindex="999">
              <td *ngFor="let col of columns">
                <ng-container [ngSwitch]="true">
                  <ng-container *ngSwitchCase="col.field == 'bu_type'">
                    <span #tooltip="matTooltip"
                      [matTooltip]="rcvFormDT[col.field] == 'D' ? 'B2C - Direct' : (rcvFormDT[col.field] == 'I' ? 'B2C - Indirect' : 'B2B')">
                      {{ rcvFormDT[col.field] == 'D' ? 'B2C - Direct' : (rcvFormDT[col.field] == 'I' ? 'B2C - Indirect'
                      : 'B2B')}}</span>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'rec_datetime'">
                    <span #tooltip="matTooltip" [matTooltip]="(rcvFormDT[col.field] | date:'dd-MM-YYYY hh:mma')">{{
                      rcvFormDT[col.field] ? (rcvFormDT[col.field] | date:'dd-MM-YYYY hh:mma') : 'N/A' }}</span>
                  </ng-container>

                  <ng-container *ngSwitchCase="col.field == 'entry_date'">
                    <span #tooltip="matTooltip" [matTooltip]="(rcvFormDT[col.field] | date:'dd-MM-YYYY')">{{
                      rcvFormDT[col.field] ? (rcvFormDT[col.field] | date:'dd-MM-YYYY') : 'N/A' }}</span>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'investment_type'">
                    <ng-container *ngIf="rcvFormDT['investment_type'];else noModeOfHolding">
                      {{rcvFormDT[col.field] == 'F' ? 'Fresh' : 'Renewal'}}
                    </ng-container>
                    <ng-template #noModeOfHolding>N/A</ng-template>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'option' || col.field == 'sub_option'">
                    {{rcvFormDT[col.field] ? (rcvFormDT[col.field] == 'C' ? 'Cumulative' : 'Non Cumulative') : 'N/A'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'tenure_type'">
                    {{rcvFormDT[col.field] ? (rcvFormDT[col.field] == 'M' ? 'Monthly' : 'Yearly') : 'N/A'}}
                  </ng-container>

                  <ng-container *ngSwitchCase="col.field == 'maturity_instruction'">
                    {{rcvFormDT[col.field] ? (rcvFormDT[col.field] == 'P' ? 'Auto Pay On Maturity' : 'Auto Renew On Maturity') : 'N/A'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'mode_of_payment'">
                    {{rcvFormDT[col.field] ? (rcvFormDT[col.field] == 'N' ? 'Online' : 'Offline') : 'N/A'}}
                  </ng-container>

                  <ng-container *ngSwitchCase="col.field == 'certificate_delivery_opt'">
                    {{rcvFormDT[col.field] ? (rcvFormDT[col.field] == 'E' ? 'EFDR' : (rcvFormDT[col.field] == 'H' ?
                    'Hand Delivery' : 'Postal Delivery')) : 'N/A'}}
                  </ng-container>

                  <ng-container *ngSwitchCase="col.field == 'collected_from_comp'">
                    <ng-container *ngIf="rcvFormDT['certificate_delivery_opt'] == 'H';else notAvailablecollected_from_comp;">
                    <p-button [icon]="rcvFormDT['cert_delivery_flag'] != 'P' ? 'pi pi-eye' : 'pi pi-pencil'"
                    (click)="rcvFormDT['certificate_delivery_opt'] == 'H' ? populateDT(rcvFormDT) : ''"
                    styleClass="p-button-rounded p-button-primary"></p-button>
                    </ng-container>
                    <ng-template #notAvailablecollected_from_comp>
                      <span>N/A</span>
                    </ng-template>
                  </ng-container>

                  <ng-container *ngSwitchCase="col.field == 'delivery_by'">
                    <ng-container *ngIf="rcvFormDT['certificate_delivery_opt'] != 'E';else not_available_delivery_by;">
                    <p-button
                    [disabled]="rcvFormDT['cert_delivery_flag'] == 'P' && rcvFormDT['certificate_delivery_opt'] == 'H'"
                    [icon]="(rcvFormDT['cert_delivery_flag'] == 'C' || rcvFormDT['cert_delivery_flag'] == 'B') ? 'pi pi-eye' : 'pi pi-pencil'"
                    (click)="(rcvFormDT['cert_delivery_flag'] == 'P' && rcvFormDT['certificate_delivery_opt'] == 'H') ? '' : populateDT(rcvFormDT)"
                    styleClass="p-button-rounded p-button-primary"></p-button>
                    </ng-container>
                    <ng-template #not_available_delivery_by>
                      <span>N/A</span>
                    </ng-template>
                  </ng-container>


                  <ng-container *ngSwitchCase="col.field == 'received_by'">
                    <ng-container *ngIf="rcvFormDT['certificate_delivery_opt'] != 'E';
                    else not_available_received_by;">
                    <p-button
                    [disabled]="rcvFormDT['cert_delivery_flag'] == 'P' || rcvFormDT['cert_delivery_flag'] == 'A'"
                    [icon]="rcvFormDT['cert_delivery_flag'] == 'C' ? 'pi pi-eye' : 'pi pi-pencil'"
                    (click)="(rcvFormDT['cert_delivery_flag'] == 'P' || rcvFormDT['cert_delivery_flag'] == 'A') ? '' : populateDT(rcvFormDT) "
                    styleClass="p-button-rounded p-button-primary"></p-button>
                    </ng-container>
                    <ng-template #not_available_received_by>
                      <span>N/A</span>
                    </ng-template>
                  </ng-container>

                  <ng-container *ngSwitchCase="col.field == 'interest_rate'">
                    {{rcvFormDT[col.field] ? ((rcvFormDT[col.field] / 100) | percent) : 'N/A'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'amount'">
                    {{rcvFormDT[col.field] ? (rcvFormDT[col.field] | currency:'INR') : 'N/A'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'app_form_scan'">

                    <p-button icon="pi pi-eye"  (click)="DocumentView(rcvFormDT)"
                      styleClass="p-button-rounded p-button-primary"></p-button>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'mode_of_holding'">
                    <ng-container *ngIf="rcvFormDT['mode_of_holding'];else noModeOfHolding">
                      {{rcvFormDT[col.field] == 'S' ? 'Survivor' : 'Anyone or survivor'}}
                    </ng-container>
                    <ng-template #noModeOfHolding>N/A</ng-template>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <span #tooltip="matTooltip" [matTooltip]="rcvFormDT[col.field]">
                      {{ rcvFormDT[col.field] ? rcvFormDT[col.field] : 'N/A' }}
                    </span>
                  </ng-container>
                </ng-container>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length" class="noHistoryAvailable">
                No Records Found
              </td>
            </tr>
          </ng-template>
        </p-table>
        <!-- For Paginate and Show Item Per page -->
        <shared-paginate [__paginate]="__paginate"
        [btn_type]="__insTraxForm.value.btn_type"
        (itemPerpageShow)="onSelectItem($event)"
        (PaginateFn)="getPaginate($event)"
        ></shared-paginate>
        <!-- End -->


      </div>
      </div>
  </mat-dialog-content>
</div>
