td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 4px;
    /* width: 25%; */
}
td{
    font-size: 11px;
}
th{
    font-size: 13px;
}

td {
    vertical-align: middle !important;
}

/* .rowWidth {
    width: 30% !important;
} */

tr:nth-child(even) {background-color: #f2f2f2;}

