/* Suman Mitra add this css for bootsrap not being used */
.invalid-feedback {
  /* color: #9f030a;
  margin-top: 4px;
  font-size: 12px;
  font-weight: 500; */
  margin-top: 4px;
  font-size: 11px;
  font-weight: 550;
}

.btn {
  background: #5687e6;
  color: #fff;
  ;
}

.flexSecCard {
  padding: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 0;
  width: 100%;
}

.card .card-body {
  flex: 1 1 auto;
  padding: 0;
}

.card .card-body .titleSec {
  margin: 0 0 10px 0;
  height: 60px;
}

.iconButton .backIcon {
  font-size: 16px;
  color: #444;
}

.title {
  margin-left: 10px;
  font-size: 17px;
  color: #898989;
  font-weight: 500;
}

.iconButton {
  border-radius: 50px;
  padding: 11px;
  cursor: pointer;
}

.iconButton:hover {
  background: #0000001a;
  border-color: solid #00000000;
}

.addBtn {
  float: right;
  border: 0px;
  outline: 0;
  background: #10486b;
  color: #f8f8f8;
  line-height: 17px;
  border-radius: 5px;
  width: 100px;
  font-weight: 500;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6)!important;
}

.searchInput {
  width: 100%;
  border: 1px solid #d1d1d1;
  height: 47px;
  padding: 6px 30px 6px 57px;
  outline: 0;
  background: #f1f1f1;
  transition: .2s all;
  display: block;
  border-radius: 5px;
  color: #444;
}


.flexSec_1 {
  display: flex;
  padding: 9px;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

.processMain_2 {
  width: 32%;
}


.searchDiv {
  position: relative;
}

.searchDiv .searchIcon {
  position: absolute;
  left: 35px;
  top: 52%;
  transform: translate(-50%, -50%);
  color: #5c5e5c;
}

.serachresult {
  height: 300px;
  width: 100%;
  display: none;
  background: rgb(255 255 255);
  position: absolute;
  top: 48px;
  left: 2%;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  transform: translate(-8px, -2px);
  transition: height .1s;
  overflow: auto;
  border: 1px solid #d1d1d1;
  z-index: 999;
  background: #fff;
  border: 1px solid #ccc;
  border-top-color: rgb(204, 204, 204);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #d9d9d9;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.serachresult ul li {
  font-size: 15px;
  padding: 13px 32px;
}

.serachresult ul li:hover {
  background-color: rgb(31 69 132 / 19%);
  cursor: pointer;
  color: #1f4584;
}

.serachresult ul li a {
  font-weight: 500;
}

.processMain_3 {
  width: 20%;
}

.processMain_1 {

  width: auto;
}

table {
  width: 100%;
}

.edit_icon {
  color: #6477a5;
}

.delete_icon {
  color: #de3039;
}

.mat-snack-bar-container {
  max-width: 100% !important;
  padding: 6px 16px !important;
}

.btn:hover {
  color: #fff !important;
}

.noDataFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.noDataFound h5 {
  font-size: 16px;
  color: gray;
  font-weight: 500;
  margin: 0;
}

.noDataFound p {
  font-size: 12px;
  color: gray;
  font-weight: 500;
  margin: 11px 0;
}


.roundedBtn {
  border-radius: 20px;
  outline: 0;
  border: 0;
}

.errorKyc {
  height: 100% !important;
  vertical-align: middle;
  font-size: 20px !important;
  font-weight: 500 !important;
}


.mat-icon-button {
  /* height: 50px !important;
  width: 50px !important; */
}

.cardSec {
  height: 474px;
  overflow: auto;
  background: #fff;
  box-shadow: 2px 2px 16px gainsboro;
}

.cardSec .card_header {
  height: 50px;
  padding: 11px;
  background: rgb(31, 69, 132);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.cardSec .card_header h3 {
  color: #fff;
  font-size: 17px;
}

.cardSec .card_body {
  height: calc(100% - 50px);
  overflow: auto;
  padding: 20px;
}

.resetBtn {
  float: right;
  border: 0px;
  outline: 0;
  background: #de3039;
  color: #f8f8f8;
  line-height: 17px;
  border-radius: 2px;
  width: 100px;
  font-weight: 500;
  padding: 10px;
}


.divider {
  font-size: 16px;
  font-weight: 500;
  padding: 25px 0px;
  position: relative;
}

.divider span {
  background-color: #fff;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.divider .line {
  margin: 0;
  border-top: 1px solid #a9a9a9;
  position: absolute;
  width: 100%;
  top: 36px;
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.files-list {
  margin-top: 9px;
  height: auto;
  border-radius: 10px;
  margin-top: 1.5rem;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  background: #ffffff;
  padding: 25px;
}

.single-file {

  /* display: flex; */
  flex-grow: 1;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: dashed 1px #979797;
  margin-bottom: 1rem;
}

.delete {
  display: flex;
  margin-left: 0.5rem;
  cursor: pointer;
  /* align-self: flex-end; */
}

.name {
  font-size: 14px;
  font-weight: 500;
  color: #353f4a;
  margin: 0;
}

.size {
  font-size: 12px;
  font-weight: 500;
  color: #a4a4a4;
  margin: 0;
  margin-bottom: 0.25rem;
}

.info {
  width: 100%
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.container_zone {
  width: 100%;
  height: auto;
  padding: 4rem;
  text-align: center;
  border: dashed 2px #1f4584;
  position: relative;
  margin: 0 auto;
  background: #25348817;
  border-radius: 5px;
}

.hoverableText:hover {
  color: #1f4584 !important;
  text-decoration: underline !important;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}




.paginator {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 25px;
  border-top: 1px solid #c5c5c5;
  background: #fff */
  display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 6px 18px; */
    padding: 10px 18px;
    border-top: 1px solid #c5c5c5;
    background: #fff;
}

.paginator ul {
  /* list-style: none; */
  display: flex;
  align-items: center;
}

.paginator ul li {
  display: block;
  float: left;

}

.paginator .paginatorContainer mat-icon {
  /* vertical-align: inherit; */
    vertical-align: bottom;

}

.paginator ul li a {
  padding: 12px;
  /* margin-right: -1px; */
  margin-right: 6px;
  font-size: 13px;
  font-weight: 500;
  cursor:pointer;
}

.paginator ul li a.paginateNumber {
  border-radius: 10%!important;
  padding: 8px 12px;
  border: 1px solid #d1d1d1;
  /* box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
}
.paginator ul li a.paginateNumber:hover{
  /* cursor: pointer;
  background: #53a6ff4f;
  color: blue; */

  cursor: pointer;
  background: #10486b2b;
  color: #10486b;
}



.clearIcon {
  position: absolute;
  top: 15%;
  right: 0;
  transform: translate(-12px, -8px);
}

.clearIcon:hover {
  cursor: pointer;
}

.serachresult_client {
  height: 200px;
  width: 100%;
  display: none;
  background: rgb(255 255 255);
  position: absolute;
  transition: height .1s;
  overflow: auto;
  border: 1px solid #d1d1d1;
  z-index: 1000;
  background: #fff;
  /* box-shadow: 0px 3px 9px 0px grey; */
  box-shadow: 0px 3px 12px 0px #bababa;
  margin-top: 1px;
}

.serachresult_client ul {
  /* line-height: 30px;
  font-weight: 500;
  font-size: 13px;
  list-style-type: none; */
  line-height: 30px;
  /* font-weight: 700; */
  font-weight: 500;
  font-size: 11px;
  list-style-type: none;
  text-align: left;
}

.serachresult_client ul li {
  /* padding: 3px 15px;
  border-bottom: 1px solid #ebebeb; */
 /** MAY BE REMOVE LATER**/
  /* line-height: 14px; */
  /*** END ***/

  padding: 3px 15px;
  border-bottom: 1px solid #ebebeb;
  line-height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .serachresult_client ul.keyNavigateHover li{
  background-color: #1f458424!important;
} */
.serachresult_client ul li:hover {
  background-color: #1f458424;
  cursor: pointer;
  color: #1f4584;
}

.headerMenu {
  padding: 15px;
}

.headerMenu:hover {
  cursor: pointer;
  background: #e7e7e7;
  transition: .3s all;
}

.headerMenu mat-icon {
  font-size: 25px;
  text-align: center;
}

/* .card-header {
  border-bottom: 0px !important;
  background: #3bb8b3;
  color: #fff;
  padding: 11px;
}

.card-header h4 {
  font-size: 14px;
  font-weight: 400;
}

.customSmallBox {
  box-shadow: none !important
}

.customTableCell {
  border: 0px !important;
  padding: 0px !important;
}

.customCard {
  border: 0px !important;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px #b9b9b9;
} */
.searchDiv p{
  font-size: 11px;
  font-weight: bold;
  margin: 0;
}
mat-hint p{
  font-size: 12px;
  font-weight: 600;
  color: #3a5076;
  padding: 6px 0px!important;
}

.errorIcon{
  font-size: 13px!important;
  height: 14px!important;
  width: 14px!important;
  color: #e35d69;
  text-align: center;
  vertical-align: bottom;
}


.previewImg {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 100px; /* Set a small width */
}
.noteMsg{
  font-size: 13px;
  font-weight: 500;
  color: #1f4584;
}

.activeIconINBtn{
  transform: rotate(180deg);
  transition: .1s ease-in-out;
}
.inActivebtnIcon{
  transform: rotate(360deg);
  transition: .1s ease-in-out;
}

input[name="pan"]{
  /* text-transform: uppercase; */
}
.btn-danger {
  color: #fff!important;
  background-color: #d9534f!important;
  line-height: 23px;
  padding: 6px 20px;
  border-radius: 0px;
}

.checkboxes{
  border: 1px solid #3f5077;
  padding: 0px 6px;
  /* background: #ed860614; */
  background:#3f507726;
  border-radius: 3px;
}

.mega_menu{
  width: 900px;
    height: 260px;
    box-sizing: border-box;
    border: solid 1px #c1c1c1;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    background: #fff;
    position: absolute;
    z-index: 99999;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    right: 84px;
    top:0;
}

.mega_menu_container_header{
  height: 42px;
  padding: 5px;
  width: 100%;
  background: #eaeaea;
  border-bottom: 1px solid #c3c3c3;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mega_menu_container_body{
  height: calc(100% - 50px);
  text-align: justify;
  padding: 0px 13px;
  overflow: auto;
  /* margin: 42px 0px 0px 0px; */
}

.mega_menu:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.drag-handle {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  color: #ccc;
  cursor: move;
  /* width: 24px;
  height: 24px; */
}

/* End */
/* **Paginator Active class */
.activePaginator{
  background: #10486b!important;
    color: #fff!important;
    border: none!important;
}
/*** End*/
.TabImg{
  object-fit: contain;
  height: 22px;
  margin-right: 6px;
}
.prevNext{
  color: #10486b;
}
.prevNext:hover{
   cursor: pointer;
}
.transTypeCount>h4{
  font-size: 13px;
  font-weight: 500;
  color: #3f51b5;
}

textarea{
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 11px;
  line-height: 1.428571429;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
}

textarea:focus {
  border-width: 2px;
    border-color: #3F51B5!important;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgb(63 81 181 / 30%);
}

/***PrimeNg Input***/
.p-inputgroup > .p-component,
.p-inputgroup > .p-element,
.p-inputgroup > .p-inputwrapper > .p-component > .p-inputtext,
.p-inputgroup > .p-float-label > .p-component {
  font-size: 11px!important;
  font-weight: 700!important;
}
/*** End*/
.main-pannel{
  margin-top: 97px;
  height: calc(100vh - 97px);
}
.home_pannel{
  margin-top: 35px;
  /* height: calc(100vh - 38px); */
}
/*Notification CSS*/
/* .Notification{
  height: 100vh;
  position: relative;
  width: 100%;

} */
.Notification>.no__notification{
  position: absolute;
  top: 50%;
  width: calc(100% - 25px);
  text-align: center;
  transform: translate(0, -50%);

}
.no__notification>p>b{
  font-size: 14px;
    font-weight: 500;
    color: #5d5d5d;
}
/** End*/
/**Prime Ng Sidepanel CSS**/
.p-sidebar-content{
 height: 100%!important;
}

/*** Horizontal Line Css****/

.main__line__container{
  position: relative;
  display: -webkit-flex;
  display: flex;
}

.main__line__container__header{
  flex: 1 1 100%;
  padding-bottom: 2rem;
}
.main__line__container__title{
  position: relative;
  display: -webkit-inline-flex;
  display: inline-flex;
  padding-left: 1rem;
  padding-right: 0.75rem;
  color: #fff;
  background-color: #1f4584;
  align-items: center;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  box-shadow: #cecece 1px 4px 0px;
}

.main__line__container__title:after{
  position: absolute;
  z-index: 1;
  content: "";
  right: -33px;
  border-width: 17px;
  border-color: transparent transparent transparent #1f4584;
  border-style: solid;
  filter: drop-shadow(1px 4px 0px #cecece);
}

.main__line__container__line{
  position: relative;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex: 1 1;
  height: 2px;
  background-color: #1f4584;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 5px;
}
.main__line__container__line:after{
  position: absolute;
  width: 9px;
  height: 9px;
  content: "";
  top: -3px;
  right: 0px;
  background-color: #1f4584;
}


/*** End ***/
.invalid-feedback{
  width:auto!important;
}

/**MONTHLY MIS REPORT*/
.customBorder{
  font-weight: 500;
   margin:10px 0px;
   /* mix-blend-mode: multiply; */
 }
 .OutFlow__InFlow__Text{
   font-weight: 500;
   margin: 7px 0px;
   /* font-size: 20px; */
   font-size: 16px;
   text-align: left;
   color: #10486b;
   /* font-family: 'Montserrat'; */
  font-family: "Roboto", sans-serif!important;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }
 .outFlow__inflow>mat-card-content>h5{
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }
 .monthly__outflow:before{
   background-image: url('../../../../../../../../assets/images/monthlyMIS/mis.png');

 }

 .monthly__inflow:before{
   background-image: url('../../../../../../../../assets/images/monthlyMIS/mis.png');
 }

 .outFlow__inflow{
     position: relative;
     border-radius: 10px!important;
 }
 .outFlow__inflow:before{
  content: ' ';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 40%;
  height: 40%;
  opacity: 0.1;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
  /* background-color: #0051851f; */
  transform: translate(-10%, -50%);
 }
 .inFlow__outFlow_card_content{
  padding: 15px 3rem!important;
 }
 /* mat-card:last-child{
   border: none!important;
 } */

 .marginCard{
   background: #004875;
   border-radius: 7px;
 }

 /* Style the tab content */
.arrow-left {
  position: absolute!important;;
  top: 50%;
  left:0;
  transform: translate(0, -50%);
  /* display: none!important; */
}

.arrow-right {
  position: absolute!important;
  right:0;
  top: 50%;
  transform: translate(0, -50%);
  /* display: none!important; */
}

.cus__tab {
  overflow-x: hidden;
  white-space: nowrap;
  /* margin-left: 0px;
  margin-right: 0px; */
}
/***End**/

ul>li:first-child.activeList{
  border-top-left-radius: 8px!important;
}

ul>li:last-child.activeList{
border-top-right-radius: 8px!important;
}


/**** END**/

@media (min-width: 1024px) and (max-width: 1115px) {
  .arrow-left,.arrow-right {
    display: block!important
  }
  .cus__tab {
    margin-left: 33px;
    margin-right: 33px;
  }
  ul>li:first-child.activeList{
    border-top-left-radius: 0px!important;
  }
  ul>li:last-child.activeList{
    border-top-right-radius: 0px!important;
  }
}

@media (min-width: 991.98px) and (max-width: 1024px) {
  .arrow-left,.arrow-right {
    display: block!important
  }
  .cus__tab {
    margin-left: 33px;
    margin-right: 33px;
  }
  ul>li:first-child.activeList{
    border-top-left-radius: 0px!important;
  }
  ul>li:last-child.activeList{
    border-top-right-radius: 0px!important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
        .border-right{
              border-right:0px solid #fff !important;
        }
        .arrow-left,.arrow-right {
          display: block!important
        }
        .cus__tab {
          margin-left: 33px;
          margin-right: 33px;
        }
        ul>li:first-child.activeList{
          border-top-left-radius: 0px!important;
        }
        ul>li:last-child.activeList{
          border-top-right-radius: 0px!important;
        }

 }
@media (min-width: 575.98px) and (max-width:768px) {
  .border-right{
    border-right:0px solid #fff !important;
  }
  .arrow-left,.arrow-right{
    display:block!important
  }
  .cus__tab {
    margin-left: 33px;
    margin-right: 33px;
  }
  ul>li:first-child.activeList{
    border-top-left-radius: 0px!important;
  }
  ul>li:last-child.activeList{
    border-top-right-radius: 0px!important;
  }

}

/*** Xs*/
@media (max-width:575.98px) {
  .border-right{
    border-right:0px solid #fff !important;
  }
  .arrow-left,
  .arrow-right{
    display: block!important;
  }
  .cus__tab {
    margin-left: 33px;
    margin-right: 33px;
  }
  ul>li:first-child.activeList{
    border-top-left-radius: 0px!important;
  }
  ul>li:last-child.activeList{
    border-top-right-radius: 0px!important;
  }
}

