<!-- <div 
class="query_page d-flex align-items-center justify-content-center"

>
    <div class="container mx-auto ">
        <div class="text-center">
                <img src="../../../assets/images/logowithOutbg.png" 
                height="200" style="margin: auto;" width="200"
          alt="Nuedge Logo"/>    
          <h5 class="mb-5 mt-3">
              Welcome To Nuedge Co-orporate Pvt Ltd.  
          </h5>    
        </div>
        <table>
            <tbody>
                
                    <tr>
                                 <td >
                                       Name
                                </td>
                                <td >
                                       SUMAN MITRA
                                </td>
                                <td >
                                E-mail
                                </td>
                                <td >
                                                sumanmitra0096@gmail.com
                                </td>
                                
                    </tr>
                    <tr>
                        <td >
                              Code
                       </td>
                       <td >
                              SM310796
                       </td>
                       <td >
                       PAN
                       </td>
                       <td>
                                       ABCDE1234L
                       </td>
                       
                </tr>
                <tr>
                        <td >
                                Query ID
                       </td>
                       <td >
                              QRY-MD-1001
                       </td>
                       <td >
                                 Query Status
                       </td>
                       <td>
                                In-Process
                       </td>
                       
                </tr>
                <tr>
                        <td >
                                Query Type
                       </td>
                       <td >
                              SIP-Dynamical-Test
                       </td>
                       <td >
                                Sub Type
                       </td>
                       <td>
                        SIP-Dynamical-Test
                       </td>
                       
                </tr>
            </tbody>
    </table>
    </div>
   

</div> -->
<div class="container mx-auto p-5 ">

<table cellpadding="0" cellspacing="0" width="700" align="center" style="border:solid 1px #ccc;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif">
        <tbody><tr>
           <td >
              <table cellpadding="0" cellspacing="0" style="width:100%;border-bottom:1px solid #ddd">
                 <tbody><tr>
                    <td style="width:2%"></td>
                    <td style="width:96%">
                       <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                          <tbody><tr>
                             <td align="left" height="80">
                                <img src="../../../assets/images/logowithOutbg.png" 
                                    height="80"
                                alt="NuedgeLogo" class="CToWUd" data-bit="iit">
                             </td>
                          </tr>
                       </tbody></table>
                    </td>
                    <td style="width:2%"></td>
                 </tr>
              </tbody></table>
              <!-- <table cellpadding="0" cellspacing="0" style="width:100%">
                 <tbody><tr>
                    <td style="width:2%"></td>
                    <td style="width:96%">
                       <table cellpadding="0" cellspacing="0" style="width:100%">
                          <tbody><tr>
                             <td height="10"></td>
                          </tr>
                          <tr>
                             <td height="22" style="width:100%;text-align:left;color:#666666;vertical-align:top;font-weight:700;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px">Dear {{query_dtls?.investor_name}},</td>
                          </tr>
                          <tr>
                             <td height="22" style="width:100%;text-align:left;color:#666666;vertical-align:top;font-weight:400;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif">  Greetings from NuEdge Corporate Private Limited.</td>
                          </tr>
                          <tr>
                             <td height="22" style="width:100%;text-align:left;color:#666666;vertical-align:top;font-weight:400;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif">
                                Request you to kindly check reply description in below Status. If you find the reply irrelevant to you, you can reopen this query OR email us at<a href="mailto:service@nuedgecorporate.co.in" target="_blank">
                                    service@nuedgecorporate.co.in.</a>
                          </td></tr>
                       </tbody></table>
                    </td>
                    <td style="width:2%"></td>
                 </tr>
              </tbody></table> -->
              <table border="0" cellpadding="0 " cellspacing="0 " style="width:100%">
                 <tbody><tr>
                    <td height="20"></td>
                 </tr>
                 <tr>
                    <td style="width:1%"></td>
                    <td style="width:98%">
                       <table cellpadding="0 " cellspacing="0 " style="width:100%">
                          <tbody><tr style="background:#f6f6f6">
                             <td style="width:20%;font-weight:600;color:#000;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-top:1px solid #ddd">Query ID
                             </td>
                             <td style="width:34%;font-weight:bold;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-top:1px solid #ddd">{{query_dtls?.query_id}}</td>
                             <td style="width:14%;font-weight:600;color:#000;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-top:1px solid #ddd">Query Status </td>
                             <td 
                              [ngStyle]="{
                                 color:query_dtls?.color_code
                              }"
                             style="width:30%;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-top:1px solid #ddd">{{query_dtls?.status_name}}</td>
                          </tr>
                          <tr>
                             <td style="width:20%;font-weight:600;color:#000;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd">Query type
                             </td>
                             <td style="width:34%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">{{query_dtls?.query_type}}</td>
                             <td style="width:14%;font-weight:600;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">Sub Type</td>
                             <td style="width:30%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-bottom:1px solid #ddd;border-right:1px solid #ddd">{{query_dtls?.query_subtype}}</td>
                          </tr>
                          <tr style="background:#f6f6f6">
                             <td style="width:20%;font-weight:600;color:#000;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd">Branch  
                             </td>
                             <td style="width:34%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">{{query_dtls?.branch_name ? query_dtls?.branch_name : 'N/A'}}</td>
                             <td style="width:20%;font-weight:600;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">Query Received through </td>
                             <td style="width:30%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-bottom:1px solid #ddd;border-right:1px solid #ddd">{{query_dtls?.query_receive_through ? query_dtls?.query_receive_through : 'N/A'}}</td>
                          </tr>
                          <tr>
                             <td style="width:20%;font-weight:600;color:#000;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd">Query Received By
                             </td>
                             <td style="width:34%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">{{query_dtls?.entry_name ? query_dtls?.entry_name : 'N/A'}}</td>
                             <td style="width:14%;font-weight:600;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">Query Solved By</td>
                             <td style="width:30%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-bottom:1px solid #ddd;border-right:1px solid #ddd">{{query_dtls?.query_solve_by ? query_dtls?.query_solve_by : "N/A"}}</td>
                          </tr>
                          <tr style="background:#f6f6f6">
                             <td style="width:20%;font-weight:600;color:#000;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd">Business type
                             </td>
                             <td style="width:34%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">
                              <!-- {{query_dtls?.bu_type ? query_dtls?.bu_type : "N/A"}} -->
                               {{query_dtls ? 'B2C - Direct' : 'N/A'}}
                           </td>
                             <td style="width:14%;font-weight:600;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">Employee/Sub Broker</td>
                             <td style="width:30%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-bottom:1px solid #ddd;border-right:1px solid #ddd">
                              <!-- {{query_dtls?.emp_name ? query_dtls?.emp_name : 'N/A'}} -->
                               {{query_dtls ? 'Tanmay Sarkar' : 'N/A'}}
                           </td>
                          </tr>
                          <tr>
                             <td style="width:20%;font-weight:600;color:#000;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd">Client Name
                             </td>
                             <td style="width:34%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">{{query_dtls?.investor_name}}</td>
                             <td style="width:14%;font-weight:600;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">PAN No</td>
                             <td style="width:30%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-bottom:1px solid #ddd;border-right:1px solid #ddd">{{query_dtls?.investor_pan ? query_dtls?.investor_pan : 'N/A'}}</td>
                          </tr>
                          <tr style="background:#f6f6f6">
                             <td style="width:20%;font-weight:600;color:#000;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd">Application No
                             </td>
                             <td style="width:34%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">{{query_dtls?.application_no ? query_dtls?.application_no : 'N/A'}}</td>
                             <td style="width:14%;font-weight:600;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">Folio No</td>
                             <td style="width:30%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-bottom:1px solid #ddd;border-right:1px solid #ddd">{{query_dtls?.folio_no ? query_dtls?.folio_no : 'N/A'}}</td>
                          </tr>
                          <tr>
                             <td style="width:20%;font-weight:600;color:#000;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd">Query Received Date
                             </td>
                             <td style="width:34%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">{{query_dtls?.date_time ? (query_dtls?.date_time | date:'dd-MM-yyyy') : 'N/A'}}</td>
                             <td style="width:14%;font-weight:600;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">Query Solved Date</td>
                             <td style="width:30%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-bottom:1px solid #ddd;border-right:1px solid #ddd">{{query_dtls?.actual_close_date ? (query_dtls?.actual_close_date | date:'dd-MM-yyyy') : 'N/A'}}</td>
                          </tr>
                          <tr style="background:#f6f6f6">
                             <td style="width:20%;font-weight:600;color:#000;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd">Expected Close Date
                             </td>
                             <td style="width:34%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">{{query_dtls?.expected_close_date ? (query_dtls?.expected_close_date | date:'dd-MM-yyyy') : 'N/A'}}</td>
                             <td style="width:14%;font-weight:600;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd">Query TAT Expired</td>
                             <td style="width:30%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-bottom:1px solid #ddd;border-right:1px solid #ddd">{{query_dtls?.query_tat ? query_dtls?.query_tat : 'N/A'}}</td>
                          </tr>
                          <tr>
                             <td valign="top" style="width:20%;font-weight:600;color:#000;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd">AMC Name
                             </td>
                             <td  style="width:34%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-bottom:1px solid #ddd;border-right:1px solid #ddd">{{query_dtls?.amc_name ? query_dtls?.amc_name : 'N/A'}}</td>
    
                             <td valign="top" style="width:20%;font-weight:600;color:#000;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd">Scheme Name
                            </td>
                            <td  style="width:34%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-bottom:1px solid #ddd;border-right:1px solid #ddd">{{query_dtls?.scheme_name}}</td>
                          </tr>
                          <tr style="background:#f6f6f6">
                            <td valign="top" style="width:20%;font-weight:600;color:#000;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd">Query Details
                            </td>
                            <td colspan="3" style="width:34%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-bottom:1px solid #ddd;border-right:1px solid #ddd">
                               {{query_dtls?.query_details ? query_dtls?.query_details : 'N/A'}}</td>
                         </tr>
                          <tr style="background:#f6f6f6">
                             <td valign="top" style="width:20%;font-weight:600;color:#000;font-size:14px;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd">Reply Description
                             </td>
                             <td colspan="3" style="width:34%;color:#000;font-size:14px;text-align:left;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;padding:6px 0 6px 10px;border-bottom:1px solid #ddd;border-right:1px solid #ddd">
                              {{query_dtls?.remarks ? query_dtls?.remarks : 'N/A'}}</td>
                          </tr>
                        
                       </tbody></table>
                       <!-- <table width="100%" style="border-color:#000;width:100%">
                          <tbody><tr>
                             <td height="10"></td>
                          </tr>
                          <tr>
                             <td style="width:100%;font-weight:600;border-color:#000;font-family:'calibri','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;color:#000;font-size:14px;text-align:left;vertical-align:top">For any queries, our Customer Care Helpline is available to assist you from Monday to Saturday between 9:00 A.M. to 6:30 P.M. (except Holidays in Prudent) at 1800 419 9992 from registered Mobile No only.  </td>
                          </tr>
                       </tbody></table> -->
                    </td>
                    <td style="width:1%"></td>
                 </tr>
                 <tr>
                    <td height="20"></td>
                 </tr>
              </tbody></table>
        
           </td>
        </tr>
     </tbody></table> 
</div>
    