<div>
  <div mat-dialog-title class="dialog-title">
    <h2>Client Reports for {{this.data.client_type == 'P' ? 'PAN Holder' : (this.data.client_type == 'N' ? 'NON PAN Holder' : (this.data.client_type == 'M' ? 'Minor' : 'Existing'))}}</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore Down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>
      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>
    </div>

  </div>
  <mat-dialog-content  class="customDialog">

    <div class="card p-3 border-1 mb-2">
      <ng-template #SearchBtn>
        <p-button type="submit" label="Show" icon="pi pi-eye" iconPos="right" styleClass="p-button-lg"></p-button>
      </ng-template>
        <form [formGroup]="__clientForm" (ngSubmit)="submit()" autocomplete="off">
          <div class="row ">
            <div class="col-sm-6 my-auto" >
              <mat-radio-group *ngIf="this.data.client_type != 'E'" aria-label="Select an option" color="primary" formControlName="options">
                <mat-radio-button value="2">Summary</mat-radio-button>
                <mat-radio-button value="1" class="ml-3">Detail</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-sm-6 d-flex justify-content-end align-items-center">
              <p-selectButton
              [options]="selectBtn"
              formControlName="advanceFlt"
              optionValue="value"
              styleClass="p-button-lg"
              (onOptionClick)="onItemClick($event)"
              optionLabel="icon">
                <ng-template let-item>
                    <i [class]="item.icon"  [matTooltip]="item.label"></i>
                </ng-template>
            </p-selectButton>
            </div>
          </div>

            <div class="row my-2">
              <div class="col-sm-3">
                  <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforClient($event)">
                    <div class="searchDiv">
                      <label for="__clntCd">Client Details</label>
                      <input type="search" name="__clntCd" id="__clntCd" class="form-control"
                        formControlName="client_name"
                        [placeholder]="'Search By Client Name,Client Code, Email, Mobile,' + (data.client_type == 'N' ? '' : 'PAN &') +' DOB'">
                      <span class="spinner-border"
                        *ngIf="__isClientPending && __clientForm.get('client_code').value?.length > 1"></span>

                      <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickforClient($event)">
                        <div class="serachresult_client" #clientCd>
                          <ul *ngIf="__clientMst.length > 0">
                            <li *ngFor="let items of __clientMst" (click)="getItems(items,'C')">
                              {{items.client_code}} | {{items.pan}} | {{items.client_name}}
                            </li>
                          </ul>
                          <div class="noDataFound" *ngIf="__clientMst.length == 0">
                            <h5 class="text-center">
                              Sorry!! No Records Found
                            </h5>
                            <p>If your result match,they will appear here</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="col-sm-3">
                <label for="cl_dob">Date Of Birth As Per Month</label>
                  <select name="cl_dob" id="cl_dob" class="form-control" formControlName="dob">
                    <option value="">Select</option>
                    <option [value]="month.id" *ngFor="let month of Month">{{month.month}}</option>
                  </select>
              </div>
              <div class="col-sm-3">
                <label for="anniversary_date">Date Of Anniversary As Per Month</label>
                  <select name="anniversary_date" id="anniversary_date" class="form-control" formControlName="anniversary_date">
                    <option value="">Select</option>
                    <option [value]="month.id" *ngFor="let month of Month">{{month.month}}</option>
                  </select>
              </div>
              <div class="col-sm-3" *ngIf="(__clientForm.get('advanceFlt').value == 'A')">
                <label for="cat_id">State </label>
                 <ng-multiselect-dropdown #multiSelect
                id="state"
                [placeholder]="'Select'"
                [settings]="stateOptForMultiselectDropDown"
                [data]="__stateMst"
                formControlName="state">
              </ng-multiselect-dropdown>
              </div>
              <div class="col-sm-3 d-flex align-items-end justify-content-end" *ngIf="(__clientForm.get('advanceFlt').value != 'A')">
                <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
              </div>
            </div>
            <ng-container  *ngIf="__clientForm.get('advanceFlt').value == 'A'">
            <div class="row my-2">

              <div class="col-sm-3">
                <label for="dist">District </label>
                <ng-multiselect-dropdown #multiSelect
                id="dist"
                [placeholder]="'Select'"
                [settings]="distOptForMultiselectDropDown"
                [data]="__distMst"
                formControlName="dist">
              </ng-multiselect-dropdown>
              </div>
              <div class="col-sm-3">
                <label for="city">City </label>
                <ng-multiselect-dropdown #multiSelect
                id="city"
                [placeholder]="'Select'"
                [settings]="cityOptForMultiselectDropDown"
                [data]="__cityMst"
                formControlName="city">
                </ng-multiselect-dropdown>
              </div>
              <div class="col-sm-3">
                <label for="pincode">Pincode </label>
                <input type="text" placeholder="Enter Pincode" name="pincode" id="pincode" class="form-control"
                  formControlName="pincode">
              </div>
              <div class="col-sm-3">
                <label for="city_type">City Type </label>
                 <select name="city_type" class="form-control" id="city_type" formControlName="city_type">
                  <option value="">Select</option>
                  <option [value]="cityType.id" *ngFor="let cityType of city_type">{{cityType.city_type}}</option>
                 </select>
              </div>

            </div>
            <div class="row">
                <div class="col-sm-12 d-flex align-items-end justify-content-end" >
                  <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
                </div>
            </div>
            </ng-container>
        </form>
    </div>
    <div class="card border-1 rounded-top">
      <div class="example_container_header">
        <div class="transTypeCount">
        </div>
        <div class="btnGrp d-flex">
          <p-button type="button" icon="pi pi-server"
            #tooltip="matTooltip"
            *ngIf="data.client_type!='E'"
            (click)="isOpenMegaMenu = !isOpenMegaMenu"
            [matTooltipPosition]="'before'"
            matTooltip="Column Selector"
            styleClass="p-button-primary p-button-lg p-button-outlined mr-2">
            </p-button>

            <p-button icon="pi pi-file-export"
            [matMenuTriggerFor]="menu"
            [matTooltipPosition]="'after'"
            #tooltip="matTooltip"
            matTooltip="Export"
            styleClass="p-button-primary p-button-lg p-button-outlined">
            </p-button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="exportPdf()">
              <mat-icon>download</mat-icon> Export Pdf
            </button>
            <button mat-menu-item  (click)="exporter.exportTable('xlsx',{fileName:'Client Report'})">
              <mat-icon>download</mat-icon> Export Excel
            </button>
          </mat-menu>
        </div>

      </div>
      <div class="container_body">
        <p-table
        #dt
        (onLazyLoad)="customSort($event)"
        [customSort]="true"
          sortMode="single"
          [lazy]="true"
        [value]="__selectClient.data"
        [columns]="__columns" [resizableColumns]="true"
          selectionMode="multiple"
          columnResizeMode="expand" [scrollable]="true"
          scrollHeight="355px"
          [autoLayout]="true" [responsive]="true" styleClass="p-datatable-gridlines"
          [tableStyle]="{ 'min-width': __clientForm.value.options == 2 ? '120rem'  : '150rem'}">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th  *ngFor="let col of columns" pResizableColumn
              [pSortableColumn]="col.field"
              [style.width]="__clientForm.value.options == 2 ? '10rem' : '15rem'">
                {{ col.header }}
                <p-sortIcon *ngIf="col.field!= 'edit' && col.field!= 'upload_details' && col.field!= 'delete'" [field]="col.field">
                </p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-client let-columns="columns" let-i="rowIndex">
            <tr tabindex="999">
              <td *ngFor="let col of columns" style="width: 10rem">
                <ng-container [ngSwitch]="true">
                  <ng-container *ngSwitchCase="col.field == 'sl_no'">
                    {{i+1}}
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'edit'">
                    <p-button icon="pi pi-pencil" (click)="populateDT(client)"
                      styleClass="p-button-rounded p-button-primary">
                    </p-button>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'delete'">
                    <p-button icon="pi pi-trash" (click)="deleteClient(client,i)"
                      styleClass="p-button-rounded p-button-danger">
                    </p-button>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'upload_details'">
                    <p-button icon="pi pi-eye" (click)="PreviewDocs(client)"
                      styleClass="p-button-rounded p-button-primary"></p-button>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'dob' || col.field == 'dob_actual' || col.field == 'anniversary_date'">
                    <b #tooltip="matTooltip" [matTooltip]="(client[col.field] | date:'dd-MM-YYYY')">{{ client[col.field] ? (client[col.field] | date:'dd-MM-YYYY') : 'N/A' }}</b>
                    </ng-container>
                    <ng-container *ngSwitchCase="col.field == 'relation'">
                      <ng-container *ngIf="client[col.field];else noRelationship">
                        <b #tooltip="matTooltip"
                         [matTooltip]="(client[col.field] | relationship)">
                          {{(client[col.field] | relationship)}}</b>
                      </ng-container>
                      <ng-template #noRelationship>
                          N/A
                      </ng-template>

                      </ng-container>


                  <ng-container *ngSwitchDefault>
                    <b #tooltip="matTooltip" [matTooltip]="client[col.field]">
                      {{ client[col.field] ? client[col.field] : 'N/A' }}
                    </b>
                  </ng-container>


                </ng-container>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length" class="noHistoryAvailable">
                 No Records Found
              </td>
            </tr>
          </ng-template>
        </p-table>

           <!-- Paginator with item per page -->
           <div class="paginator">
            <div class="itemsPerPage d-flex">
                <label class="mr-3">Items per page: </label>
                <p-selectButton
                [options]="itemsPerPage"
                [formControl]="__pageNumber"
                optionLabel="label" optionValue="value"
                (onOptionClick)="onselectItem($event)"
                ></p-selectButton>
              </div>

            <div  class="paginatorContainer">
              <ul>
                <li *ngFor="let paginate of __paginate" (click)="getPaginate(paginate)">
                  <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                    *ngIf="(paginate.label | bnkrplc) == 'P'">
                    <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                      keyboard_double_arrow_left</mat-icon>
                  </a>
                  <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                    *ngIf="(paginate.label | bnkrplc) == 'N'">
                    <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                      keyboard_double_arrow_right</mat-icon>
                  </a>
                  <a [class]="paginate.active ? 'activePaginator paginateNumber' : 'paginateNumber'"
                    *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">
                    {{paginate.label}}
                  </a>
                </li>
              </ul>


            </div>

          </div>
          <!-- End -->
           <!-- Meage Menu For Check box -->
        <core-mega-menu-for-column [isOpenMegaMenu]="isOpenMegaMenu" [ColumnList]="ClmnList"
        [selectedClmns]="SelectedClms" (hideMegamenu)="isOpenMegaMenu = $event"
        (getSelectedColumns)="getSelectedColumns($event)">
      </core-mega-menu-for-column>
      <!-- End -->
      </div>
      </div>


      <table id="client" hidden mat-table [dataSource]="__export" matTableExporter #exporter="matTableExporter">

        <ng-container matColumnDef="sl_no">
          <th mat-header-cell *matHeaderCellDef>Sl No</th>
          <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="type_name">
          <th mat-header-cell *matHeaderCellDef>Client Type</th>
          <td mat-cell *matCellDef="let element">{{element.type_name ? element.type_name : 'N/A'}}</td>
        </ng-container>

          <ng-container matColumnDef="client_code">
            <th mat-header-cell *matHeaderCellDef>Client Code</th>
            <td mat-cell *matCellDef="let element">{{element.client_code ? element.client_code : 'N/A'}}</td>
          </ng-container>

        <ng-container matColumnDef="client_name">
          <th mat-header-cell *matHeaderCellDef>Client Name</th>
          <td mat-cell *matCellDef="let element">{{element.client_name ? element.client_name : 'N/A'}}</td>
        </ng-container>

        <ng-container matColumnDef="client_type">
          <th mat-header-cell *matHeaderCellDef>Client Type</th>
          <td mat-cell *matCellDef="let element">{{element.client_type == 'P' ? 'PAN Holder' : (element.client_type == 'N' ? 'Non PAN Holder' : 'Existing')}}</td>
        </ng-container>

        <ng-container matColumnDef="pan">
          <th mat-header-cell *matHeaderCellDef>PAN</th>
          <td mat-cell *matCellDef="let element">{{element.pan ? element.pan : 'N/A'}}</td>
        </ng-container>

         <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef>
            {{data.client_type == 'P' ? 'DOB As Per Pan' : 'Date Of Birth'}}
          </th>
          <td mat-cell *matCellDef="let element">{{element.dob ? (element.dob | date: 'dd-MM-YYYY') : 'N/A'}}</td>
        </ng-container>
          <ng-container matColumnDef="dob_actual">
            <th mat-header-cell *matHeaderCellDef>Actual Date Of Birth</th>
            <td mat-cell *matCellDef="let element">{{element.dob_actual ? (element.dob_actual | date:'dd-MM-YYYY') : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef>Mobile</th>
            <td mat-cell *matCellDef="let element">{{element.mobile ? element.mobile  : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="sec_mobile">
            <th mat-header-cell *matHeaderCellDef>Alternative Mobile</th>
            <td mat-cell *matCellDef="let element">{{element.sec_mobile ? element.sec_mobile : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="sec_email">
            <th mat-header-cell *matHeaderCellDef>Alternative Email</th>
            <td mat-cell *matCellDef="let element">{{element.sec_email ? element.sec_email : 'N/A'}}</td>
          </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let element">{{element.email ? element.email : 'N/A'}}</td>
            </ng-container>

            <ng-container matColumnDef="guardians_pan">
              <th mat-header-cell *matHeaderCellDef>Gurdian PAN</th>
              <td mat-cell *matCellDef="let element">{{element.guardians_pan ? element.guardians_pan : 'N/A'}}</td>
            </ng-container>
            <ng-container matColumnDef="guardians_name">
              <th mat-header-cell *matHeaderCellDef>Gurdian Name</th>
              <td mat-cell *matCellDef="let element">{{element.guardians_name ? element.guardians_name : 'N/A'}}</td>
            </ng-container>
              <ng-container matColumnDef="relation">
                <th mat-header-cell *matHeaderCellDef>Relationship</th>
                <td mat-cell *matCellDef="let element">{{element.relation ? (element.relation | relationship ) : 'N/A'}}</td>
              </ng-container>
              <ng-container matColumnDef="maritial_status">
                <th mat-header-cell *matHeaderCellDef>Maritial Status</th>
                <td mat-cell *matCellDef="let element">{{element.maritial_status ? element.maritial_status : 'N/A'}}</td>
              </ng-container>
              <ng-container matColumnDef="anniversary_date">
                <th mat-header-cell *matHeaderCellDef>Anniversary Date</th>
                <td mat-cell *matCellDef="let element">{{element.anniversary_date ? (element.anniversary_date | date:'dd-MM-YYYY') : 'N/A'}}</td>
              </ng-container>

              <ng-container matColumnDef="add_line_1">
                <th mat-header-cell *matHeaderCellDef>Address-1</th>
                <td mat-cell *matCellDef="let element">{{element.add_line_1 ? element.add_line_1 : 'N/A'}}</td>
              </ng-container>
                <ng-container matColumnDef="add_line_2">
                  <th mat-header-cell *matHeaderCellDef>Address-2</th>
                  <td mat-cell *matCellDef="let element">{{element.add_line_2 ? element.add_line_2 : 'N/A'}}</td>
                </ng-container>
              <ng-container matColumnDef="state_name">
                <th mat-header-cell *matHeaderCellDef>State</th>
                <td mat-cell *matCellDef="let element">{{element.state_name ? element.state_name : 'N/A'}}</td>
              </ng-container>

              <ng-container matColumnDef="district_name">
                <th mat-header-cell *matHeaderCellDef>District</th>
                <td mat-cell *matCellDef="let element">{{element.district_name ? element.district_name : 'N/A'}}</td>
              </ng-container>
              <ng-container matColumnDef="city_name">
                <th mat-header-cell *matHeaderCellDef>City</th>
                <td mat-cell *matCellDef="let element">{{element.city_name ? element.city_name : 'N/A'}}</td>
              </ng-container>
                <ng-container matColumnDef="pincode">
                  <th mat-header-cell *matHeaderCellDef>Pincode</th>
                  <td mat-cell *matCellDef="let element">{{element.pincode ? element.pincode : 'N/A'}}</td>
                </ng-container>


    <tr mat-header-row *matHeaderRowDef="__exportedClmns"></tr>
    <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="__exportedClmns.length" class="text-center">No Client History Found</td>
    </tr>
  </table>
    <!-- <div class="mat-elevation-z3">
      <div class="example_container_header">
        <div class="btnGrp d-flex">

          <mat-form-field appearance="fill">
            <mat-label>Select Columns</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-option
              *ngFor="let topping of toppingList"
              [value]="topping.id">
              {{topping.text}}
            </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>system_update_alt</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="exportPdf()">
              <mat-icon>download</mat-icon> Export Pdf
            </button>
            <button mat-menu-item  (click)="exporter.exportTable('xlsx',{fileName:'Client'})">
              <mat-icon>download</mat-icon> Export Excel
            </button>
          </mat-menu>
        </div>

      </div>
      <div class="example-container">
        <table mat-table [dataSource]="__selectClient" class="table_Custome" matSort (matSortChange)="sortData($event)">
            <ng-container matColumnDef="sl_no">
              <th mat-header-cell *matHeaderCellDef>Sl No</th>
              <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="client_type">
              <th mat-sort-header="client_type" mat-header-cell *matHeaderCellDef>Client Type</th>
              <td mat-cell *matCellDef="let element">{{element.type_name ? element.type_name : 'N/A'}}</td>
            </ng-container>

              <ng-container matColumnDef="client_code" >
                <th mat-sort-header="client_code"  mat-header-cell *matHeaderCellDef>Client Code</th>
                <td mat-cell *matCellDef="let element">{{element.client_code ? element.client_code : 'N/A'}}</td>
              </ng-container>

            <ng-container matColumnDef="client_name">
              <th mat-sort-header="client_name" mat-header-cell *matHeaderCellDef>Client Name</th>
              <td mat-cell *matCellDef="let element">{{element.client_name ? element.client_name : 'N/A'}}</td>
            </ng-container>
            <ng-container matColumnDef="pan">
              <th mat-sort-header="pan" mat-header-cell *matHeaderCellDef>PAN</th>
              <td mat-cell *matCellDef="let element">{{element.pan ? element.pan : 'N/A'}}</td>
            </ng-container>

            <ng-container matColumnDef="cl_type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="cl_type">Client Type</th>
              <td mat-cell *matCellDef="let element">{{element.client_type == 'P' ? 'PAN Holder' : (element.client_type == 'N' ? 'Non PAN Holder' : (element.client_type == 'E' ? 'Existing' : 'Minor'))}}</td>
            </ng-container>

             <ng-container matColumnDef="dob">
              <th mat-sort-header="dob" mat-header-cell *matHeaderCellDef>{{data.client_type == 'P' ? 'DOB As Per PAN' : 'Date Of Birth'}}</th>
              <td mat-cell *matCellDef="let element">{{element.dob ? (element.dob | date: 'dd-MM-YYYY') : 'N/A'}}</td>
            </ng-container>
              <ng-container matColumnDef="dob_actual">
                <th mat-sort-header="dob_actual" mat-header-cell *matHeaderCellDef>Actual Date Of Birth</th>
                <td mat-cell *matCellDef="let element">{{element.dob_actual ? (element.dob_actual | date:'dd-MM-YYYY') : 'N/A'}}</td>
              </ng-container>
              <ng-container matColumnDef="mobile">
                <th mat-sort-header="mobile" mat-header-cell *matHeaderCellDef>Mobile</th>
                <td mat-cell *matCellDef="let element">{{element.mobile ? element.mobile  : 'N/A'}}</td>
              </ng-container>
              <ng-container matColumnDef="sec_mobile">
                <th mat-sort-header="sec_mobile" mat-header-cell *matHeaderCellDef>Alternative Mobile</th>
                <td mat-cell *matCellDef="let element">{{element.sec_mobile ? element.sec_mobile : 'N/A'}}</td>
              </ng-container>
              <ng-container matColumnDef="sec_email">
                <th mat-sort-header="sec_email" mat-header-cell *matHeaderCellDef>Alternative Email</th>
                <td mat-cell *matCellDef="let element">{{element.sec_email ? element.sec_email : 'N/A'}}</td>
              </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-sort-header="email" mat-header-cell *matHeaderCellDef>Email</th>
                  <td mat-cell *matCellDef="let element">{{element.email ? element.email : 'N/A'}}</td>
                </ng-container>

                <ng-container matColumnDef="guardians_pan">
                  <th mat-sort-header="guardians_pan" mat-header-cell *matHeaderCellDef>Gurdian PAN</th>
                  <td mat-cell *matCellDef="let element">{{element.guardians_pan ? element.guardians_pan : 'N/A'}}</td>
                </ng-container>
                <ng-container matColumnDef="guardians_name">
                  <th mat-sort-header="guardians_name" mat-header-cell *matHeaderCellDef>Gurdian Name</th>
                  <td mat-cell *matCellDef="let element">{{element.guardians_name ? element.guardians_name : 'N/A'}}</td>
                </ng-container>
                  <ng-container matColumnDef="relation">
                    <th mat-sort-header="relation" mat-header-cell *matHeaderCellDef>Relationship</th>
                    <td mat-cell *matCellDef="let element">{{element.relation ? (element.relation | relationship ) : 'N/A'}}</td>
                  </ng-container>

                  <ng-container matColumnDef="add_line_1">
                    <th mat-sort-header="add_line_1" mat-header-cell *matHeaderCellDef>Address-1</th>
                    <td mat-cell *matCellDef="let element">{{element.add_line_1 ? element.add_line_1 : 'N/A'}}</td>
                  </ng-container>
                  <ng-container matColumnDef="maritial_status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="maritial_status">Maritial Status</th>
                    <td mat-cell *matCellDef="let element">{{element.maritial_status ? element.maritial_status : 'N/A'}}</td>
                  </ng-container>

                  <ng-container matColumnDef="anniversary_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="anniversary_date">Anniversary Date</th>
                    <td mat-cell *matCellDef="let element">{{element.anniversary_date ? (element.anniversary_date | date:'dd-MM-YYYY') : 'N/A'}}</td>
                  </ng-container>
                    <ng-container matColumnDef="add_line_2">
                      <th mat-sort-header="add_line_2" mat-header-cell *matHeaderCellDef>Address-2</th>
                      <td mat-cell *matCellDef="let element">{{element.add_line_2 ? element.add_line_2 : 'N/A'}}</td>
                    </ng-container>
                  <ng-container matColumnDef="state">
                    <th mat-sort-header="state" mat-header-cell *matHeaderCellDef>State</th>
                    <td mat-cell *matCellDef="let element">{{element.state_name ? element.state_name : 'N/A'}}</td>
                  </ng-container>

                  <ng-container matColumnDef="dist">
                    <th mat-sort-header="dist" mat-header-cell *matHeaderCellDef>District</th>
                    <td mat-cell *matCellDef="let element">{{element.district_name ? element.district_name : 'N/A'}}</td>
                  </ng-container>
                  <ng-container matColumnDef="city">
                    <th mat-sort-header="city" mat-header-cell *matHeaderCellDef>City</th>
                    <td mat-cell *matCellDef="let element">{{element.city_name ? element.city_name : 'N/A'}}</td>
                  </ng-container>
                    <ng-container matColumnDef="pincode">
                      <th mat-sort-header="pincode" mat-header-cell *matHeaderCellDef>Pincode</th>
                      <td mat-cell *matCellDef="let element">{{element.pincode ? element.pincode : 'N/A'}}</td>
                    </ng-container>


            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>Edit</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="populateDT(element)">
                  <mat-icon class="edit_icon">edit</mat-icon>
                </button>
              </td>
            </ng-container>

              <ng-container matColumnDef="upload_details" >
                <th mat-sort-header="upload_details"  mat-header-cell *matHeaderCellDef>Upload Details</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="PreviewDocs(element)">
                    <mat-icon class="edit_icon">visibility</mat-icon>
                  </button>
                </td>
              </ng-container>

            <ng-container matColumnDef="delete" >
              <th mat-header-cell *matHeaderCellDef>Delete</th>
              <td mat-cell *matCellDef="let element;let i = index">
                <button mat-icon-button (click)="deleteClient(element,i)">
                  <mat-icon class="delete_icon">delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="__columns;sticky:true"></tr>
            <tr mat-row tabindex="999" *matRowDef="let row; columns: __columns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell text-center" [attr.colspan]="__columns.length">No Client History Found</td>
            </tr>
          </table>
      </div>
      <div class="paginator">
        <div class="itemsPerPage">
          <label>Items Per Page :&nbsp; </label>
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="10" aria-label="Text align left" (click)="getval(group.value)">
              10
            </mat-button-toggle>
            <mat-button-toggle value="50" aria-label="Text align center" (click)="getval(group.value)">
              50
            </mat-button-toggle>
            <mat-button-toggle value="100" aria-label="Text align right" (click)="getval(group.value)">
              100
            </mat-button-toggle>
            <mat-button-toggle value="A" aria-label="Text align right" (click)="getval(group.value)">
              All
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="paginatorContainer">
          <mat-button-toggle-group *ngFor="let paginate of __paginate">
            <mat-button-toggle [value]="paginate.url" aria-label="Text align right" (click)="getPaginate(paginate)">
              <label>
                <mat-icon *ngIf="(paginate.label | bnkrplc) == 'P'">first_page</mat-icon>
                <mat-icon *ngIf="(paginate.label | bnkrplc) == 'N'">last_page</mat-icon>
                <span
                  *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">{{paginate.label}}</span>

              </label>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>




      </div>

      <table id="client" hidden mat-table [dataSource]="__export" matTableExporter #exporter="matTableExporter">

            <ng-container matColumnDef="sl_no">
              <th mat-header-cell *matHeaderCellDef>Sl No</th>
              <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="client_type">
              <th mat-header-cell *matHeaderCellDef>Client Type</th>
              <td mat-cell *matCellDef="let element">{{element.type_name ? element.type_name : 'N/A'}}</td>
            </ng-container>

              <ng-container matColumnDef="client_code">
                <th mat-header-cell *matHeaderCellDef>Client Code</th>
                <td mat-cell *matCellDef="let element">{{element.client_code ? element.client_code : 'N/A'}}</td>
              </ng-container>

            <ng-container matColumnDef="client_name">
              <th mat-header-cell *matHeaderCellDef>Client Name</th>
              <td mat-cell *matCellDef="let element">{{element.client_name ? element.client_name : 'N/A'}}</td>
            </ng-container>

            <ng-container matColumnDef="cl_type">
              <th mat-header-cell *matHeaderCellDef>Client Type</th>
              <td mat-cell *matCellDef="let element">{{element.client_type == 'P' ? 'PAN Holder' : (element.client_type == 'N' ? 'Non PAN Holder' : 'Existing')}}</td>
            </ng-container>

            <ng-container matColumnDef="pan">
              <th mat-header-cell *matHeaderCellDef>PAN</th>
              <td mat-cell *matCellDef="let element">{{element.pan ? element.pan : 'N/A'}}</td>
            </ng-container>

             <ng-container matColumnDef="dob">
              <th mat-header-cell *matHeaderCellDef>
                {{data.client_type == 'P' ? 'DOB As Per Pan' : 'Date Of Birth'}}
              </th>
              <td mat-cell *matCellDef="let element">{{element.dob ? (element.dob | date: 'dd-MM-YYYY') : 'N/A'}}</td>
            </ng-container>
              <ng-container matColumnDef="dob_actual">
                <th mat-header-cell *matHeaderCellDef>Actual Date Of Birth</th>
                <td mat-cell *matCellDef="let element">{{element.dob_actual ? (element.dob_actual | date:'dd-MM-YYYY') : 'N/A'}}</td>
              </ng-container>
              <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef>Mobile</th>
                <td mat-cell *matCellDef="let element">{{element.mobile ? element.mobile  : 'N/A'}}</td>
              </ng-container>
              <ng-container matColumnDef="sec_mobile">
                <th mat-header-cell *matHeaderCellDef>Alternative Mobile</th>
                <td mat-cell *matCellDef="let element">{{element.sec_mobile ? element.sec_mobile : 'N/A'}}</td>
              </ng-container>
              <ng-container matColumnDef="sec_email">
                <th mat-header-cell *matHeaderCellDef>Alternative Email</th>
                <td mat-cell *matCellDef="let element">{{element.sec_email ? element.sec_email : 'N/A'}}</td>
              </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>Email</th>
                  <td mat-cell *matCellDef="let element">{{element.email ? element.email : 'N/A'}}</td>
                </ng-container>

                <ng-container matColumnDef="guardians_pan">
                  <th mat-header-cell *matHeaderCellDef>Gurdian PAN</th>
                  <td mat-cell *matCellDef="let element">{{element.guardians_pan ? element.guardians_pan : 'N/A'}}</td>
                </ng-container>
                <ng-container matColumnDef="guardians_name">
                  <th mat-header-cell *matHeaderCellDef>Gurdian Name</th>
                  <td mat-cell *matCellDef="let element">{{element.guardians_name ? element.guardians_name : 'N/A'}}</td>
                </ng-container>
                  <ng-container matColumnDef="relation">
                    <th mat-header-cell *matHeaderCellDef>Relationship</th>
                    <td mat-cell *matCellDef="let element">{{element.relation ? (element.relation | relationship ) : 'N/A'}}</td>
                  </ng-container>
                  <ng-container matColumnDef="maritial_status">
                    <th mat-header-cell *matHeaderCellDef>Maritial Status</th>
                    <td mat-cell *matCellDef="let element">{{element.maritial_status ? element.maritial_status : 'N/A'}}</td>
                  </ng-container>
                  <ng-container matColumnDef="anniversary_date">
                    <th mat-header-cell *matHeaderCellDef>Anniversary Date</th>
                    <td mat-cell *matCellDef="let element">{{element.anniversary_date ? (element.anniversary_date | date:'dd-MM-YYYY') : 'N/A'}}</td>
                  </ng-container>

                  <ng-container matColumnDef="add_line_1">
                    <th mat-header-cell *matHeaderCellDef>Address-1</th>
                    <td mat-cell *matCellDef="let element">{{element.add_line_1 ? element.add_line_1 : 'N/A'}}</td>
                  </ng-container>
                    <ng-container matColumnDef="add_line_2">
                      <th mat-header-cell *matHeaderCellDef>Address-2</th>
                      <td mat-cell *matCellDef="let element">{{element.add_line_2 ? element.add_line_2 : 'N/A'}}</td>
                    </ng-container>
                  <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>State</th>
                    <td mat-cell *matCellDef="let element">{{element.state_name ? element.state_name : 'N/A'}}</td>
                  </ng-container>

                  <ng-container matColumnDef="dist">
                    <th mat-header-cell *matHeaderCellDef>District</th>
                    <td mat-cell *matCellDef="let element">{{element.district_name ? element.district_name : 'N/A'}}</td>
                  </ng-container>
                  <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef>City</th>
                    <td mat-cell *matCellDef="let element">{{element.city_name ? element.city_name : 'N/A'}}</td>
                  </ng-container>
                    <ng-container matColumnDef="pincode">
                      <th mat-header-cell *matHeaderCellDef>Pincode</th>
                      <td mat-cell *matCellDef="let element">{{element.pincode ? element.pincode : 'N/A'}}</td>
                    </ng-container>


        <tr mat-header-row *matHeaderRowDef="__exportedClmns"></tr>
        <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="__exportedClmns.length" class="text-center">No Client History Found</td>
        </tr>
      </table>
    </div> -->
  </mat-dialog-content>
</div>
