<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div mat-dialog-title class="dialog-title">
    <h2>{{data.title}}</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore Down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>
      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>

  <mat-dialog-content>
    <div class="card my-5">
      <div class="card-body p-5">

        <form [formGroup]="__rcvForms" (ngSubmit)="submit()" autocomplete="off">
          <div class="row">
            <div class="col-sm-8 my-auto">
              <mat-radio-group aria-label="Select an option" color="primary" formControlName="options">
                <mat-radio-button value="2">Summary</mat-radio-button>
                <mat-radio-button value="1" class="radio1">Detail</mat-radio-button>
                <!-- <mat-radio-button value="3" class="radio1">Day Sheet</mat-radio-button> -->
              </mat-radio-group>
            </div>
            <div class="col-sm-4 my-auto" >
              <mat-button-toggle-group #group="matButtonToggleGroup" class="float-right">
                <mat-button-toggle value="left" aria-label="Text align left"
                (click)="
                __isAdd=!__isAdd;
                this.__rcvForms.get('cat_id').setValue('');
                this.__rcvForms.get('subcat_id').setValue('')"
                *ngIf="this.__rcvForms.get('options').value != '3'"
                >
                  <mat-icon>filter_alt</mat-icon>
                  Advance Filter
                </mat-button-toggle>
                <mat-button-toggle value="center" aria-label="Text align center" (click)="reset()">
                  <mat-icon>restart_alt</mat-icon>
                </mat-button-toggle>

              </mat-button-toggle-group>
            </div>
          </div>
          <ng-container *ngIf="__rcvForms.get('options').value!= '3'">

          <div class="row my-2">
            <div class="col-sm-4">
              <label for="tin_no">Tin Number</label>
              <input type="text" placeholder="Enter TIN Number" name="tin_no" id="tin_no" class="form-control"
                formControlName="tin_no">
            </div>
            <div class="col-sm-4">
              <label for="client_code">Client Details</label>
              <input type="text" name="client_code" id="client_code" class="form-control"
                placeholder="Enter Client Code / Name / Pan / email / dob" formControlName="client_code">
            </div>
            <div class="col-sm-4">
              <label for="sub_brk_cd">Sub Broker Code</label>
              <input type="text" name="sub_brk_cd" id="sub_brk_cd" class="form-control" formControlName="sub_brk_cd"
                placeholder="Enter Sub Broker Code">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <label for="amc_name">Amc Name</label>
              <input type="text" name="amc_name" id="amc_name" class="form-control" formControlName="amc_name"
                placeholder="Enter AMC Name">
            </div>
            <div class="col-sm-4">
              <label for="inv_type">Investment Type</label>
              <select name="inv_type" id="inv_type" class="form-control" formControlName="inv_type">
                <option value="">Select Investment Type</option>
                <option value="F">Fresh</option>
                <option value="A">Additional</option>
              </select>
            </div>
            <div class="col-sm-4">
              <label for="euin_no">EUIN</label>
              <input type="text" name="euin_no" id="euin_no" class="form-control" formControlName="euin_no"
                placeholder="Enter EUIN">
            </div>
          </div>
          <div class="row my-2">
            <div class="col-sm-4">
              <label for="brn_cd">Branch</label>
              <input type="text" name="brn_cd" id="brn_cd" class="form-control" formControlName="brn_cd"
                placeholder="Enter Branch">
            </div>
            <div class="col-sm-4 my-auto">
              <label for="">Buisness Type: </label>
              <label *ngFor="let bu_type of __bu_type; let i=index" for="{{bu_type.id}}" class="mx-3">
                <input type="checkbox" id="{{bu_type.id}}" [value]="bu_type.id" (change)="onbuTypeChange($event)" />
                {{bu_type.bu_type}}
              </label>
            </div>
            <!-- <div class="col-sm-4 my-auto">

              <label for="">Transaction Type : </label>
              <label *ngFor="let __trns of __transType; let i=index" for="{{__trns.id}}" class="mx-3">
                <input type="checkbox" id="{{__trns.id}}" [value]="__trns.id" (change)="onbuTypeChange($event)" />
                {{__trns.trns_name}}
              </label>
            </div> -->
          </div>
          <div class="row my-2">
            <div class="col-sm-12 my-auto">
              <label for="">R&T: </label>
              <label *ngFor="let __rnt of __rnt; let i=index" for="rnt_{{__rnt.id}}" class="mx-3">
                <input type="checkbox" id="rnt_{{__rnt.id}}" [value]="__rnt.id" (change)="onbuTypeChange($event)" />
                {{__rnt.rnt_name}}
              </label>
            </div>
          </div>
          <div class="row my-2" *ngIf="__isAdd">
            <div class="col-sm-4">
              <label for="cat">Category</label>
              <select class="form-control" formControlName="cat_id" name="cat" id="cat">
                <option value="">Select Category</option>
                <option [value]="__cat.id" *ngFor="let __cat of __category">{{__cat.cat_name}}</option>
              </select>
            </div>
            <div class="col-sm-4">
              <label for="subcat">Sub Category</label>
              <select class="form-control" formControlName="subcat_id" name="subcat" id="subcat">
                <option value="">Select Sub Category</option>
                <option [value]="__subcat.id" *ngFor="let __subcat of __subCat">{{__subcat.subcategory_name}}</option>
              </select>
            </div>

          </div>
        </ng-container>
        <ng-container *ngIf="__rcvForms.get('options').value == '3'">
          <div class="row my-2">
            <div class="col-sm-6">
              <mat-radio-group aria-label="Select an option" color="primary" formControlName="date_status">
                <mat-radio-button value="T">Today</mat-radio-button>
                <mat-radio-button value="D" class="radio2">Date Range</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <ng-container *ngIf="__rcvForms.get('date_status').value== 'D'">
            <div class="row my-2">
              <div class="col-sm-4">
                <label for="start_date">Start Date</label>
                <input type="date" [min]="getminDate()" [max]="getTodayDate()" name="start_date" id="start_date" class="form-control" formControlName="start_date">
              </div>
               <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <label for="end_date">End Date</label>
                <input type="date" [min]="getminDate()" [max]="getTodayDate()" name="end_date" id="end_date" class="form-control" formControlName="end_date">
              </div>
            </div>
          </ng-container>

          <div class="row my-2">
            <div class="col-sm-4">
              <!-- <label>Login Status: &nbsp; &nbsp;</label> -->
              <mat-radio-group aria-label="Select an option" color="primary" formControlName="login_status">
                <mat-radio-button value="N">Not Logged</mat-radio-button>
                <mat-radio-button value="L" class="radio3">Logged</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

        </ng-container>
          <div class="row">
            <div class="col-sm-12">
              <button mat-raised-button color="primary" class="float-right">
                Show
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="mat-elevation-z3">
      <div class="example_container_header">
        <div class="transTypeCount">
          <!-- <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
            <mat-chip class="example-box" cdkDrag color="primary" *ngFor="let trnsType of __trans_types">
              {{trnsType.name}} : {{trnsType.count}}
            </mat-chip>
          </mat-chip-list> -->
        </div>



        <div class="btnGrp d-flex">
            <mat-form-field appearance="fill">
              <mat-label>Select Columns</mat-label>
              <mat-select [formControl]="toppings" multiple>
                <mat-option
                *ngFor="let topping of toppingList"
                [value]="topping.id">
                {{topping.text}}
              </mat-option>
              </mat-select>
            </mat-form-field>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>system_update_alt</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="exportPdf()">
              <mat-icon>download</mat-icon> Export Pdf
            </button>
            <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'FinancialReport'})">
              <mat-icon>download</mat-icon> Export Excel
            </button>
          </mat-menu>
        </div>

      </div>
      <div class="example-container">
        <table mat-table [dataSource]="__financMst" class="table_Custome" matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="sl_no" sticky>
            <th mat-header-cell *matHeaderCellDef>Sl No</th>
            <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
          </ng-container>

          <ng-container matColumnDef="temp_tin_no">
            <th mat-sort-header="temp_tin_no" mat-header-cell *matHeaderCellDef>TIN Number</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.tin_no}}</td>
          </ng-container>
          <ng-container matColumnDef="bu_type">
            <th mat-sort-header="bu_type" mat-header-cell *matHeaderCellDef>Buisness Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{(element.bu_type == 'D' ? 'B2C - Direct' : (element.bu_type == 'I' ? 'B2C - Indirect' : 'B2B'))}}
            </td>
          </ng-container>

          <ng-container matColumnDef="arn_no">
            <th mat-sort-header="arn_no" mat-header-cell *matHeaderCellDef>ARN No</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.arn_no}}
            </td>
          </ng-container>

          <ng-container matColumnDef="rnt_name">
            <th mat-sort-header="rnt_name" mat-header-cell *matHeaderCellDef>R&T</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.rnt_name ? element.rnt_name : ''}}
            </td>
          </ng-container>

          <ng-container matColumnDef="euin_no">
            <th mat-sort-header="euin_no" mat-header-cell *matHeaderCellDef>EUIN</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.euin_no}}
            </td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-sort-header="amount" mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.amount}}
            </td>
          </ng-container>

          <ng-container matColumnDef="chq">
            <th mat-sort-header="chq" mat-header-cell *matHeaderCellDef>Cheque</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.chq_no}}
            </td>
          </ng-container>
          <ng-container matColumnDef="bank">
            <th mat-sort-header="bank" mat-header-cell *matHeaderCellDef>Bank</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.chq_bank}}
            </td>
          </ng-container>
          <ng-container matColumnDef="inv_type">
            <th mat-sort-header="inv_type" mat-header-cell *matHeaderCellDef>Investment Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.inv_type == 'F' ? 'Fresh' : "Additional"}}
            </td>
          </ng-container>
          <ng-container matColumnDef="apl_no">
            <th mat-sort-header="apl_no" mat-header-cell *matHeaderCellDef>Application Number</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.apl_no}}
            </td>
          </ng-container>

          <ng-container matColumnDef="mode_of_holding">
            <th mat-sort-header="mode_of_holding" mat-header-cell *matHeaderCellDef>Mode Of Holding</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.mode_of_holding == 'S' ? 'Single' : element.mode_of_holding == 'J' ? 'Joint' : 'Any Or Survivor'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="plan">
            <th mat-sort-header="plan" mat-header-cell *matHeaderCellDef>Plan</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.plan}}
            </td>
          </ng-container>
          <ng-container matColumnDef="option">
            <th mat-sort-header="option" mat-header-cell *matHeaderCellDef>Option</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.option}}
            </td>
          </ng-container>

          <ng-container matColumnDef="fol_no">
            <th mat-sort-header="fol_no" mat-header-cell *matHeaderCellDef>Folio Number</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.fol_no}}
            </td>
          </ng-container>

          <ng-container matColumnDef="kyc_status">
            <th mat-sort-header="kyc_status" mat-header-cell *matHeaderCellDef>KYC Status</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.kyc_status}}
            </td>
          </ng-container>

          <ng-container matColumnDef="first_client_name">
            <th mat-sort-header="first_client_name" mat-header-cell *matHeaderCellDef>First Client Name</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.first_client_name}}</td>
          </ng-container>


          <ng-container matColumnDef="first_client_code">
            <th mat-sort-header="first_client_code" mat-header-cell *matHeaderCellDef>First Client Code</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.first_client_code}}</td>
          </ng-container>

          <ng-container matColumnDef="first_client_pan">
            <th mat-sort-header="first_client_pan" mat-header-cell *matHeaderCellDef>First Client Pan</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.first_client_pan}}</td>
          </ng-container>

          <ng-container matColumnDef="second_client_name">
            <th mat-sort-header="second_client_name" mat-header-cell *matHeaderCellDef>Second Client Name</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.second_client_name ? element.second_client_name : ''}}</td>
          </ng-container>

          <ng-container matColumnDef="second_client_code">
            <th mat-sort-header="second_client_code" mat-header-cell *matHeaderCellDef>Second Client Code</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.second_client_code ? element.second_client_code : ''}}</td>
          </ng-container>

          <ng-container matColumnDef="second_client_pan">
            <th mat-sort-header="second_client_pan" mat-header-cell *matHeaderCellDef>Second Client Pan</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.second_client_pan ? element.second_client_pan : ''}}</td>
          </ng-container>


          <ng-container matColumnDef="third_client_name">
            <th mat-sort-header="third_client_name" mat-header-cell *matHeaderCellDef>Third Client Name</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.third_client_name ? element.third_client_name : ''}}</td>
          </ng-container>

          <ng-container matColumnDef="third_client_code">
            <th mat-sort-header="third_client_code" mat-header-cell *matHeaderCellDef>Third Client Code</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.third_client_code ? element.third_client_code : ''}}</td>
          </ng-container>

          <ng-container matColumnDef="third_client_pan">
            <th mat-sort-header="third_client_pan" mat-header-cell *matHeaderCellDef>Third Client Pan</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.third_client_pan ? element.third_client_pan : ''}}</td>
          </ng-container>


          <ng-container matColumnDef="transaction">
            <th mat-sort-header="transaction" mat-header-cell *matHeaderCellDef>Transaction</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.trans_name}}</td>
          </ng-container>
          <ng-container matColumnDef="scheme_name">
            <th mat-sort-header="scheme_name" mat-header-cell *matHeaderCellDef>Scheme Name</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.scheme_name}}</td>
          </ng-container>


          <!-- Buisness Type-->
          <ng-container matColumnDef="edit" sticky>
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="populateDT(element)">
                <mat-icon class="edit_icon">{{element.form_status == 'A' ? 'edit' : 'visibility'}}</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Buisness Type-->
          <ng-container matColumnDef="delete" sticky>
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button>
                <mat-icon class="delete_icon">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="__columns;sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: __columns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="__columns.length" class="text-center">No Financial History Found
            </td>
          </tr>
        </table>
      </div>
      <div class="paginator">
        <div class="itemsPerPage">
          <label>Items Per Page :&nbsp; </label>
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="10" aria-label="Text align left" (click)="getval(group.value)">
              10
            </mat-button-toggle>
            <mat-button-toggle value="50" aria-label="Text align center" (click)="getval(group.value)">
              50
            </mat-button-toggle>
            <mat-button-toggle value="100" aria-label="Text align right" (click)="getval(group.value)">
              100
            </mat-button-toggle>
            <mat-button-toggle value="A" aria-label="Text align right" (click)="getval(group.value)">
              All
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="paginatorContainer">
          <mat-button-toggle-group *ngFor="let paginate of __paginate">
            <mat-button-toggle [value]="paginate.url" aria-label="Text align right" (click)="getPaginate(paginate)">
              <label>
                <mat-icon *ngIf="(paginate.label | bnkrplc) == 'P'">first_page</mat-icon>
                <mat-icon *ngIf="(paginate.label | bnkrplc) == 'N'">last_page</mat-icon>
                <span
                  *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">{{paginate.label}}</span>

              </label>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>




      </div>

      <div id="NonFinRPT" style="display:none">
      <table mat-table id="__nonFinRPT"   [dataSource]="__export" matTableExporter #exporter="matTableExporter">

        <ng-container matColumnDef="sl_no">
          <th mat-header-cell *matHeaderCellDef>Sl No</th>
          <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="temp_tin_no">
          <th mat-header-cell *matHeaderCellDef>Temporary TIN Number</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.temp_tin_no}}</td>
        </ng-container>
        <ng-container matColumnDef="bu_type">
          <th mat-header-cell *matHeaderCellDef>Buisness Type</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{(element.bu_type == 'D' ? 'B2C - Direct' : (element.bu_type == 'I' ? 'B2C - Indirect' : 'B2B'))}}
          </td>
        </ng-container>

        <ng-container matColumnDef="arn_no">
          <th mat-header-cell *matHeaderCellDef>ARN No</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.arn_no}}
          </td>
        </ng-container>
        <ng-container matColumnDef="rnt_name">
          <th mat-header-cell *matHeaderCellDef>R&T</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{(element.rnt_name ? element.rnt_name : '')}}
          </td>
        </ng-container>

        <ng-container matColumnDef="euin_no">
          <th mat-header-cell *matHeaderCellDef>EUIN</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.euin_no}}
          </td>
        </ng-container>
        <ng-container matColumnDef="rcv_datetime">
          <th mat-header-cell *matHeaderCellDef>Receive DateTime</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.rcv_datetime}}
          </td>
        </ng-container>

        <ng-container matColumnDef="recv_from">
          <th mat-header-cell *matHeaderCellDef>Receive From</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.recv_from}}
          </td>
        </ng-container>


        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.amount}}
          </td>
        </ng-container>

        <ng-container matColumnDef="chq">
          <th mat-header-cell *matHeaderCellDef>Cheque</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.chq_no}}
          </td>
        </ng-container>
        <ng-container matColumnDef="bank">
          <th mat-header-cell *matHeaderCellDef>Bank</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.chq_bank}}
          </td>
        </ng-container>

        <ng-container matColumnDef="inv_type">
          <th mat-header-cell *matHeaderCellDef>Investment Type</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.inv_type == 'F' ? 'Fresh' : "Additional"}}
          </td>
        </ng-container>
        <ng-container matColumnDef="apl_no">
          <th mat-header-cell *matHeaderCellDef>Application Number</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.apl_no}}
          </td>
        </ng-container>
        <ng-container matColumnDef="plan">
          <th mat-header-cell *matHeaderCellDef>Plan</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.plan}}
          </td>
        </ng-container>
        <ng-container matColumnDef="option">
          <th mat-header-cell *matHeaderCellDef>Option</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.option}}
          </td>
        </ng-container>
        <ng-container matColumnDef="mode_of_holding">
          <th mat-header-cell *matHeaderCellDef>Mode Of Holding</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.mode_of_holding == 'S' ? 'Single' : element.mode_of_holding == 'J' ? 'Joint' : 'Any Or Survivor'}}
          </td>
        </ng-container>




        <ng-container matColumnDef="fol_no">
          <th mat-header-cell *matHeaderCellDef>Folio Number</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.fol_no}}
          </td>
        </ng-container>

        <ng-container matColumnDef="kyc_status">
          <th mat-header-cell *matHeaderCellDef>KYC Status</th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{element.kyc_status}}
          </td>
        </ng-container>

        <ng-container matColumnDef="first_client_name">
          <th mat-header-cell *matHeaderCellDef>First Client Name</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.first_client_name}}</td>
        </ng-container>


        <ng-container matColumnDef="first_client_code">
          <th mat-header-cell *matHeaderCellDef>First Client Code</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.first_client_code}}</td>
        </ng-container>

        <ng-container matColumnDef="first_client_pan">
          <th mat-header-cell *matHeaderCellDef>First Client Pan</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.first_client_pan}}</td>
        </ng-container>

        <ng-container matColumnDef="second_client_name">
          <th mat-header-cell *matHeaderCellDef>Second Client Name</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.second_client_name ? element.second_client_name : ''}}</td>
        </ng-container>

        <ng-container matColumnDef="second_client_code">
          <th mat-header-cell *matHeaderCellDef>Second Client Code</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.second_client_code ? element.second_client_code : ''}}</td>
        </ng-container>

        <ng-container matColumnDef="second_client_pan">
          <th mat-header-cell *matHeaderCellDef>Second Client Pan</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.second_client_pan ? element.second_client_pan : ''}}</td>
        </ng-container>


        <ng-container matColumnDef="third_client_name">
          <th mat-header-cell *matHeaderCellDef>Third Client Name</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.third_client_name ? element.third_client_name : ''}}</td>
        </ng-container>

        <ng-container matColumnDef="third_client_code">
          <th mat-header-cell *matHeaderCellDef>Third Client Code</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.third_client_code ? element.third_client_code : ''}}</td>
        </ng-container>

        <ng-container matColumnDef="third_client_pan">
          <th mat-header-cell *matHeaderCellDef>Third Client Pan</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.third_client_pan ? element.third_client_pan : ''}}</td>
        </ng-container>


        <ng-container matColumnDef="transaction">
          <th mat-header-cell *matHeaderCellDef>Transaction</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.trans_name}}</td>
        </ng-container>
        <ng-container matColumnDef="scheme_name">
          <th mat-header-cell *matHeaderCellDef>Scheme Name</th>
          <td mat-cell *matCellDef="let element;let i = index">{{element.scheme_name}}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="__exportedClmns"></tr>
        <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="__exportedClmns.length" class="text-center">No Financial History
            Found</td>
        </tr>
      </table>
      </div>




    </div>
  </mat-dialog-content>
</div>
