.file-man-box {
  padding: 20px;
  border: 1px solid #e3eaef;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}
.file-man-box .file-img-box {
  line-height: 120px;
  text-align: center;
}

.file-man-box .file-img-box img {
  height: 64px;
}