
<!-- cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle -->

<div  >
  <div mat-dialog-title class="dialog-title">
    <h2 >Geographic Report</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore Down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>
  <mat-dialog-content class="customDialog">
    <mat-card>
      <mat-card-content class="p-3">
        <form [formGroup]="geographicForm" (ngSubmit)="submitgeographical()">
          <div class="row my-2">
            <div class="col-sm-3">
              <label for="country_id">Country</label>
              <ng-multiselect-dropdown
              id="country_id"
              #country
              [placeholder]="'Select Country'"
              [settings]="settings_country"
              [data]="__countryMst"
              formControlName="country_id">
            </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-3">
              <label for="state_id">State</label>
              <ng-multiselect-dropdown
              id="state_id"
              [placeholder]="'Select State'"
              [settings]="settings_state"
              [data]="__stateMst"
              formControlName="state_id">
            </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-3">
              <label for="district_id">District</label>
              <ng-multiselect-dropdown
              id="district_id"
              [placeholder]="'Select District'"
              [settings]="settings_dist"
              [data]="__districtMst"
              formControlName="district_id">
            </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-3">
              <label for="dist_id">City</label>
              <ng-multiselect-dropdown
              id="city_id"
              [placeholder]="'Select City'"
              [settings]="settings_city"
              [data]="__cityMst"
              formControlName="city_id">
            </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-sm-3">
                <app-core-srch
                [label] = "'Pincode'"
                [placeholder]="'Search By Pincode'"
                [isPending]="__isPincodePending"
                [listItems] = "__pincodeMst"
                [flag] = "'P'"
                [isRequired]="false"
                [noDataFoundTitle]="'Sorry!! No Records Found'"
                [noDataFoundSubTitle]="'If your result match,they will appear here'"
                [propertiesToShow] = "['pincode']"
                formControlName="pincode"
                [displayMode]="displayMode_forClient"
                (setDisplayMode)="displayMode_forClient = $event"
                (selectedItems)="getSelectedItemsFromParent($event)"
                ></app-core-srch>
            </div>
            <div class="col-sm-5 d-flex flex-column justify-content-end align-items-start">

              <div class="checkboxes d-flex flex-row align-items-center">
                <label for="rnt_ofc" class="mx-2">City Type: </label>
                <div>
                  <ng-container formArrayName="city_type_id">
                    <ng-container *ngFor="let items of city_type_id.controls;let i=index">
                      <ng-container [formGroupName]="i">
                        <mat-checkbox class="mr-3" formControlName="isChecked" color="primary">
                          {{city_type_id.controls[i].get('city_type_name').value}}
                        </mat-checkbox>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  <mat-checkbox  formControlName="is_all" color="primary">All</mat-checkbox>
                </div>
                </div>

            </div>
            <div class="col-sm-4 d-flex justify-content-end align-items-end">
              <p-button class="mx-3" (click)="reset()" type="button" label="Reset" icon="pi pi-refresh" iconPos="right" styleClass="p-button-danger p-button-lg"></p-button>

              <p-button type="submit" label="Show" icon="pi pi-eye" iconPos="right" styleClass="p-button-lg"></p-button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card class="mt-3">
        <mat-card-header>
          <mat-card-title>
            Geographic Report
          </mat-card-title>
          <div class="btnGrp my-auto">
            <p-button type="button" icon="pi pi-server"
            #tooltip="matTooltip"
            [matTooltipPosition]="'before'"
            (click)="isOpenMegaMenu = !isOpenMegaMenu"
            matTooltip="Column Selector"
            styleClass="p-button-primary p-button-lg p-button-outlined mr-2">
            </p-button>

            <p-button icon="pi pi-file-export"
            [matMenuTriggerFor]="menu"
            [matTooltipPosition]="'after'"
            #tooltip="matTooltip"
            matTooltip="Export"
            styleClass="p-button-primary mr-3 p-button-lg p-button-outlined">
            </p-button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="exportPdf()">
              <mat-icon>download</mat-icon> Export Pdf
            </button>
            <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'GeographicalReport'})">
              <mat-icon>download</mat-icon> Export Excel
            </button>
          </mat-menu>
          </div>
        </mat-card-header>
        <mat-card-content>
          <!-- PrimeNg Table with column resize, column sorting etc  [reorderableColumns]="true" pReorderableColumn-->
          <p-table
          (onLazyLoad)="customSort($event)" [customSort]="true"
          sortMode="single"
          [lazy]="true"
          #dt [value]="geographicMst" [columns]="__columns" [resizableColumns]="true"
            selectionMode="multiple" columnResizeMode="expand" [scrollable]="true"
            scrollHeight="300px"
            [autoLayout]="true" [responsive]="true" styleClass="p-datatable-gridlines"
            [tableStyle]="{ 'min-width': '120rem' }">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th  *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field" style="width: 10rem">
                  {{ col.header }}
                  <p-sortIcon  [field]="col.field">
                  </p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-geography let-columns="columns" let-i="rowIndex">
              <tr tabindex="999">
                <td *ngFor="let col of columns" style="width: 10rem">
                 <p class="m-0">
                    {{ geography[col.field] ? geography[col.field] : 'N/A' }}
                 </p>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length" class="noHistoryAvailable">
                   No records found
                </td>
              </tr>
            </ng-template>
          </p-table>
          <!-- End -->


           <!-- Paginator with item per page -->
           <div class="paginator">
            <div class="itemsPerPage d-flex">
              <label class="mr-3">Items per page: </label>
              <p-selectButton
              [options]="itemsPerPage"
              [formControl]="__pageNumber"
              optionLabel="label" optionValue="value"
              (onOptionClick)="onselectItem($event)"
              ></p-selectButton>
            </div>

            <div class="paginatorContainer">
              <ul>
                <li *ngFor="let paginate of __paginate" (click)="getPaginate(paginate)">
                  <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                    *ngIf="(paginate.label | bnkrplc) == 'P'">
                    <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                      keyboard_double_arrow_left</mat-icon>
                  </a>
                  <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                    *ngIf="(paginate.label | bnkrplc) == 'N'">
                    <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                      keyboard_double_arrow_right</mat-icon>
                  </a>
                  <a [class]="paginate.active ? 'activePaginator paginateNumber' : 'paginateNumber'"
                    *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">
                    {{paginate.label}}
                  </a>
                </li>
              </ul>


            </div>

          </div>
          <!-- End -->
          <!-- Meage Menu For Check box -->
          <core-mega-menu-for-column [isOpenMegaMenu]="isOpenMegaMenu" [ColumnList]="clmList"
            [selectedClmns]="selectedClms" (hideMegamenu)="isOpenMegaMenu = $event"
            (getSelectedColumns)="getSelectedColumns($event)">
          </core-mega-menu-for-column>
          <!-- End -->

        </mat-card-content>
    </mat-card>

          <!-- Export -->
          <!-- <div  style="display:none"> -->
            <table mat-table hidden id="GeoGraphicRPT" [dataSource]="export" matTableExporter #exporter="matTableExporter">

              <ng-container matColumnDef="sl_no">
                <th mat-header-cell *matHeaderCellDef>Sl No</th>
                <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
              </ng-container>
              <ng-container matColumnDef="country_name">
                <th mat-header-cell *matHeaderCellDef>Country</th>
                <td mat-cell *matCellDef="let element;let i = index">{{element.country_name ? element.country_name : ''}}</td>
              </ng-container>

              <ng-container matColumnDef="states_name">
                <th mat-header-cell *matHeaderCellDef>State</th>
                <td mat-cell *matCellDef="let element;let i = index">{{element.states_name ? element.states_name : ''}}</td>
              </ng-container>

              <ng-container matColumnDef="district_name">
                <th mat-header-cell *matHeaderCellDef>District</th>
                <td mat-cell *matCellDef="let element;let i = index">{{element.district_name ? element.district_name : ''}}</td>
              </ng-container>
              <ng-container matColumnDef="city_name">
                <th mat-header-cell *matHeaderCellDef>City</th>
                <td mat-cell *matCellDef="let element;let i = index">{{element.city_name ? element.city_name : ''}}</td>
              </ng-container>
              <ng-container matColumnDef="city_type_name">
                <th mat-header-cell *matHeaderCellDef>City Type</th>
                <td mat-cell *matCellDef="let element;let i = index">{{element.city_type_name ? element.city_type_name : ''}}</td>
              </ng-container>
              <ng-container matColumnDef="pincode">
                <th mat-header-cell *matHeaderCellDef>Pincode</th>
                <td mat-cell *matCellDef="let element;let i = index">{{element.pincode ? element.pincode : ''}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="exportClms"></tr>
              <tr mat-row *matRowDef="let row; columns: exportClms;"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="exportClms.length" class="text-center">No Record
                  Found</td>
              </tr>
            </table>
          <!-- End -->
          <!-- </div> -->
          <!-- End -->


  </mat-dialog-content>
  </div>
