<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div mat-dialog-title class="dialog-title">
    <h2>Product Reports</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore-down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>
      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-dialog-content>
    <div class="card my-5">
      <div class="card-body p-5">
        <form [formGroup]="__prdSearchForm" (ngSubmit)="searchProduct()" autocomplete="off">
            <div class="row">
              <div class="col-sm-4">
                 <label class="form-label">Company</label>
                <ng-multiselect-dropdown #multiSelect
                id="company_id"
                [placeholder]="'Select Companies'"
                [settings]="__settings"
                [data]="__companyMst"
                formControlName="company_id">
              </ng-multiselect-dropdown>
              </div>
              <div class="col-sm-4">
                <label class="form-label">Product Type</label>
                <ng-multiselect-dropdown #multiSelect
                id="product_type_id"
                [placeholder]="'Select Product Type'"
                [settings]="__settings_productType"
                [data]="__prdTypeMst"
                formControlName="product_type_id">
              </ng-multiselect-dropdown>
              </div>
              <div class="col-sm-4">
                <!-- <label class="form-label">Product Name</label>
                <input type="text" class="form-control" formControlName="product_name" placeholder="Enter Product Name"> -->
            <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClick($event)">
                <div class="searchDiv">
                  <label for="Prd">Product</label>
                   <input type="text"
                   class="form-control"
                   id="Prd"
                   formControlName="product_name"
                   placeholder="Search By Product Name">
                  <span class="spinner-border" *ngIf="__isProductnameVisisble && __prdSearchForm.get('product_name').value?.length > 1"></span>
                  <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClick($event)">
                    <div class="serachresult_client" #prdName>
                      <ul *ngIf="__productMst.length > 0">
                        <li *ngFor="let items of __productMst" (click)="getItems(items,'P')">
                         {{items.product_name}}
                        </li>
                      </ul>
                      <div class="noDataFound" *ngIf="__productMst.length == 0">
                        <h5 class="text-center">
                          Sorry!! No Records Found
                        </h5>
                        <p>If your result match, they will appear here</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>

            </div>
            <div class="row mt-4">
              <div class="col-sm-6">
                <mat-checkbox color="primary"
                #insTypeChecked
                [id]="insType.id"
                class="mr-3"
                *ngFor="let insType of __insTypeMst;let i=index"
                [value]="insType.id"
                (change)="onInsTypeChange($event)"
                > {{insType.type}}</mat-checkbox>
                <mat-checkbox class="ml-3" color="primary" formControlName="is_all"> All</mat-checkbox>
              </div>
              <div class="col-sm-6 my-auto">

                <mat-button-toggle-group #group="matButtonToggleGroup" class="float-right">
                  <mat-button-toggle value="center" aria-label="Text align center" (click)="reset()">
                    <mat-icon>restart_alt</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
                <button mat-raised-button color="primary" class="float-right mr-3">
                  Show
                </button>
              </div>
            </div>
        </form>
      </div>
      </div>
      <div class="mat-elevation-z3">
        <div class="example_container_header">
          <div class="btnGrp">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>system_update_alt</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="exportPdf()">
                <mat-icon>download</mat-icon> Export Pdf
              </button>
              <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'Product'})">
                <mat-icon>download</mat-icon> Export Excel
              </button>
            </mat-menu>
          </div>

        </div>
        <div class="example-container">
          <table mat-table [dataSource]="__selectPrdMst" class="table_Custome" matSort (matSortChange)="sortData($event)">
            <!-- Sl No. -->
            <ng-container matColumnDef="sl_no">
              <th mat-header-cell *matHeaderCellDef>Sl No</th>
              <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="product_type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="product_type">Product Type</th>
              <td mat-cell *matCellDef="let element;">{{element.product_type}}</td>
            </ng-container>

            <ng-container matColumnDef="ins_type_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="ins_type_name">Insurance Type</th>
              <td mat-cell *matCellDef="let element">{{element.ins_type_name}}</td>
            </ng-container>

            <ng-container matColumnDef="product_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="product_name">Product</th>
              <td mat-cell *matCellDef="let element">{{element.product_name}}</td>
            </ng-container>


            <ng-container matColumnDef="comp_full_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="comp_full_name">Company Full Name</th>
              <td mat-cell *matCellDef="let element">{{element.comp_full_name}}</td>
            </ng-container>
            <ng-container matColumnDef="comp_short_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="comp_short_name">Company Short Name</th>
              <td mat-cell *matCellDef="let element">{{element.comp_short_name}}</td>
            </ng-container>



            <!-- Buisness Type-->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>Edit</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="populateDT(element)">
                  <mat-icon class="edit_icon">edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- Buisness Type-->
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>Delete</th>
              <td mat-cell *matCellDef="let element;let i = index">
                <button mat-icon-button (click)="delete(element,i)">
                  <mat-icon class="delete_icon">delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="__columns"></tr>
            <tr mat-row *matRowDef="let row; columns: __columns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="__columns.length">No Product History found</td>
            </tr>
          </table>
        </div>
        <div class="paginator">
          <div class="itemsPerPage">
            <label>Items Per Page :&nbsp; </label>
            <mat-button-toggle-group #group="matButtonToggleGroup">
              <mat-button-toggle value="10" aria-label="Text align left" (click)="getval('10')">
                10
              </mat-button-toggle>
              <mat-button-toggle value="50" aria-label="Text align center" (click)="getval('50')">
                50
              </mat-button-toggle>
              <mat-button-toggle value="100" aria-label="Text align right" (click)="getval('100')">
                100
              </mat-button-toggle>
              <mat-button-toggle value="A" aria-label="Text align right" (click)="getval('A')">
                All
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div class="paginatorContainer">
            <mat-button-toggle-group *ngFor="let paginate of __paginate">
              <mat-button-toggle [value]="paginate.url" aria-label="Text align right" (click)="getPaginate(paginate)">
                <label>
                  <mat-icon *ngIf="(paginate.label | bnkrplc) == 'P'">first_page</mat-icon>
                  <mat-icon *ngIf="(paginate.label | bnkrplc) == 'N'">last_page</mat-icon>
                  <span
                    *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">{{paginate.label}}</span>

                </label>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>




        </div>

        <table id="plan" hidden mat-table [dataSource]="__exportPrdMst" matTableExporter #exporter="matTableExporter">


          <ng-container matColumnDef="sl_no">
            <th mat-header-cell *matHeaderCellDef>Sl No</th>
            <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
          </ng-container>

          <ng-container matColumnDef="product_type">
            <th mat-header-cell *matHeaderCellDef>Product Type</th>
            <td mat-cell *matCellDef="let element">{{element.product_type}}</td>
          </ng-container>

          <ng-container matColumnDef="ins_type_name">
            <th mat-header-cell *matHeaderCellDef >Insurance Type</th>
            <td mat-cell *matCellDef="let element">{{element.ins_type_name}}</td>
          </ng-container>

          <ng-container matColumnDef="product_name">
            <th mat-header-cell *matHeaderCellDef>Product</th>
            <td mat-cell *matCellDef="let element">{{element.product_name}}</td>
          </ng-container>


          <ng-container matColumnDef="comp_full_name">
            <th mat-header-cell *matHeaderCellDef >Company Full Name</th>
            <td mat-cell *matCellDef="let element">{{element.comp_full_name}}</td>
          </ng-container>
          <ng-container matColumnDef="comp_short_name">
            <th mat-header-cell *matHeaderCellDef >Company Short Name</th>
            <td mat-cell *matCellDef="let element">{{element.comp_short_name}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="__exportedClmns"></tr>
          <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell"  [attr.colspan]="__exportedClmns.length" class="text-center">No Product History Found</td>
          </tr>
        </table>
      </div>
   </mat-dialog-content>
  </div>
