<!-- cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle -->
<div >
  <div mat-dialog-title class="dialog-title">
    <h2>Product Reports</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore-down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>
      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-dialog-content class="customDialog">
    <div class="card p-3 border-1">
        <form [formGroup]="__prdSearchForm" (ngSubmit)="searchProduct()" autocomplete="off">
            <div class="row">
              <div class="col-sm-4">
                 <label class="form-label">Company</label>
                <ng-multiselect-dropdown #multiSelect
                id="company_id"
                [placeholder]="'Select Companies'"
                [settings]="__settings"
                [data]="__companyMst"
                formControlName="company_id">
              </ng-multiselect-dropdown>
              </div>
              <div class="col-sm-4">
                <label class="form-label">Product Type</label>
                <ng-multiselect-dropdown #multiSelect
                id="product_type_id"
                [placeholder]="'Select Product Type'"
                [settings]="__settings_productType"
                [data]="__prdTypeMst"
                formControlName="product_type_id">
              </ng-multiselect-dropdown>
              </div>
              <div class="col-sm-4">
            <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClick($event)">
                <div class="searchDiv">
                  <label for="Prd">Product</label>
                   <input type="text"
                   class="form-control"
                   id="Prd"
                   formControlName="product_name"
                   placeholder="Search By Product Name">
                  <span class="spinner-border" *ngIf="__isProductnameVisisble && __prdSearchForm.get('product_name').value?.length > 1"></span>
                  <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClick($event)">
                    <div class="serachresult_client" #prdName>
                      <ul *ngIf="__productMst.length > 0">
                        <li *ngFor="let items of __productMst" (click)="getItems(items,'P')">
                         {{items.product_name}}
                        </li>
                      </ul>
                      <div class="noDataFound" *ngIf="__productMst.length == 0">
                        <h5 class="text-center">
                          Sorry!! No Records Found
                        </h5>
                        <p>If your result match, they will appear here</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>

            </div>
            <div class="row mt-4">
              <div class="col-sm-6">
                <div class="checkboxes d-flex flex-row align-items-center w-100">
                  <label>Insurance Type:&nbsp;</label>
                <div>
                <ng-container formArrayName="ins_type_id">
                  <ng-container *ngFor="let ins_typeDtls of ins_type_id.controls; let i = index">
                       <ng-container [formGroupName]="i">
                        <mat-checkbox color="primary" class="mr-3" formControlName="isChecked">{{ins_typeDtls.get('type').value}}</mat-checkbox>
                       </ng-container>
                  </ng-container>
                </ng-container>
                <mat-checkbox class="ml-3" color="primary" formControlName="is_all"> All</mat-checkbox>

                </div></div>
              </div>
              <div class="col-sm-6 my-auto">
                <p-button type="button" (click)="reset()" label="Reset" icon="pi pi-refresh"
                iconPos="right" styleClass="p-button-lg p-button-danger"
                class="mx-3 float-right"></p-button>
                <p-button type="submit"
                label="Show" icon="pi pi-eye"
                iconPos="right"
                class="mx-3 float-right"
                styleClass="p-button-lg"></p-button>
              </div>
            </div>
        </form>
      </div>

      <div class="card border-1 rounded-top mt-2">
        <div class="example_container_header">
          <div class="transTypeCount"><h4></h4></div>
          <div class="btnGrp">
            <p-button icon="pi pi-file-export"
            [matMenuTriggerFor]="menu"
            [matTooltipPosition]="'after'"
            #tooltip="matTooltip"
            matTooltip="Export"
            styleClass="p-button-primary p-button-lg p-button-outlined">
            </p-button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="exportPdf()">
                <mat-icon>download</mat-icon> Export Pdf
              </button>
              <!-- (click)="exporter.exportTable('xlsx',{fileName:'FDScheme Report'})" -->
              <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'ProductReport'})">
                <mat-icon>download</mat-icon> Export Excel
              </button>
            </mat-menu>
            </div>
          </div>
          <div class="container_body">
            <p-table #dt
            (onLazyLoad)="customSort($event)"
            [customSort]="true"
              sortMode="single"
              [lazy]="true"
            [value]="__selectPrdMst.data"
            [columns]="__columns"
            [resizableColumns]="true"
            selectionMode="multiple" columnResizeMode="expand" [scrollable]="true"
            scrollHeight="300px"
            [autoLayout]="true" [responsive]="true" styleClass="p-datatable-gridlines"
            [tableStyle]="{ 'min-width': '120rem' }">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th  *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field" [ngStyle]="{'width':(col.field!= 'edit' && col.field!= 'delete') ? '14rem' : '2rem'}">
                  {{ col.header }}
                  <p-sortIcon *ngIf="col.field!= 'edit' && col.field!= 'delete'" [field]="col.field">
                  </p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-scheme let-columns="columns"  let-i="rowIndex">
              <tr tabindex="999">
                <td *ngFor="let col of columns" [ngStyle]="{'width':(col.field!= 'edit' && col.field!= 'delete') ? '14rem' : '2rem'}">
                  <ng-container [ngSwitch]="true">
                    <ng-container *ngSwitchCase="col.field == 'edit'">
                      <p-button icon="pi pi-pencil" (click)="populateDT(scheme)"
                        styleClass="p-button-rounded p-button-primary">
                      </p-button>
                    </ng-container>
                    <ng-container *ngSwitchCase="col.field == 'delete'">
                      <p-button icon="pi pi-trash" (click)="delete(scheme,i)"
                        styleClass="p-button-rounded p-button-danger">
                      </p-button>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <span  matTooltip="{{scheme[col.field]}}">
                        {{ scheme[col.field] ? scheme[col.field] : 'N/A' }}
                      </span>
                    </ng-container>
                  </ng-container>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length" class="noHistoryAvailable">
                   No records found
                </td>
              </tr>
            </ng-template>
          </p-table>

               <!-- Paginator with item per page -->
               <div class="paginator">
                <div class="itemsPerPage d-flex">
                  <label class="mr-3">Items per page: </label>
                  <p-selectButton
                  [options]="itemsPerPage"
                  optionLabel="label" optionValue="value"
                  (onOptionClick)="onselectItem($event)"
                  ></p-selectButton>
                </div>

                <div class="paginatorContainer">
                  <ul>
                    <li *ngFor="let paginate of __paginate" (click)="getPaginate(paginate)">
                      <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                        *ngIf="(paginate.label | bnkrplc) == 'P'">
                        <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                          keyboard_double_arrow_left</mat-icon>
                      </a>
                      <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                        *ngIf="(paginate.label | bnkrplc) == 'N'">
                        <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                          keyboard_double_arrow_right</mat-icon>
                      </a>
                      <a [class]="paginate.active ? 'activePaginator paginateNumber' : 'paginateNumber'"
                        *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">
                        {{paginate.label}}
                      </a>
                    </li>
                  </ul>


                </div>

              </div>
              <!-- End -->
          </div>
      </div>
      <table id="plan" hidden mat-table [dataSource]="__exportPrdMst" matTableExporter #exporter="matTableExporter">


        <ng-container matColumnDef="sl_no">
          <th mat-header-cell *matHeaderCellDef>Sl No</th>
          <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="product_type">
          <th mat-header-cell *matHeaderCellDef>Product Type</th>
          <td mat-cell *matCellDef="let element">{{element.product_type}}</td>
        </ng-container>

        <ng-container matColumnDef="ins_type_name">
          <th mat-header-cell *matHeaderCellDef >Insurance Type</th>
          <td mat-cell *matCellDef="let element">{{element.ins_type_name}}</td>
        </ng-container>

        <ng-container matColumnDef="product_name">
          <th mat-header-cell *matHeaderCellDef>Product</th>
          <td mat-cell *matCellDef="let element">{{element.product_name}}</td>
        </ng-container>


        <ng-container matColumnDef="comp_full_name">
          <th mat-header-cell *matHeaderCellDef >Company Full Name</th>
          <td mat-cell *matCellDef="let element">{{element.comp_full_name}}</td>
        </ng-container>
        <ng-container matColumnDef="comp_short_name">
          <th mat-header-cell *matHeaderCellDef >Company Short Name</th>
          <td mat-cell *matCellDef="let element">{{element.comp_short_name}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="__exportedClmns"></tr>
        <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell"  [attr.colspan]="__exportedClmns.length" class="text-center">No Product History Found</td>
        </tr>
      </table>
   </mat-dialog-content>
  </div>
