<core-search 
(__searchItem)="getSearchItem($event)" 
[__flag]="'N'" 
[__api_name]="'/documentsearch'"
[__placeholder]="'Search by Name, Pan, Mobile, Email, DOB, Client code'">
</core-search>

<div class="card" >
  <div class="card-body">
    <table class="table table_Custome" *ngIf="__documents.length > 0">
      <thead>
        <tr>
          <th>SL No.</th>
          <th>code</th>
          <th>Name</th>
          <th>Pan</th>
          <th>Mobile</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let __selectedItems of __documents;let i =index">
           <td>{{i + 1}}</td>
           <td>{{__selectedItems.client_code}}</td>
           <td>{{__selectedItems.client_name}}</td>
           <td>{{__selectedItems.pan}}</td>
           <td>{{__selectedItems.mobile}}</td>

           <td>
            <a (click)="populateDT(__selectedItems)">
              <mat-icon class="edit_icon">edit</mat-icon>
            </a>
           </td>
           <td>
            <a>
              <mat-icon class="delete_icon">delete</mat-icon>
            </a>
           </td>
        </tr>
      </tbody>
    </table>
   
     <div class="noDataAvailable" *ngIf="__documents.length == 0">
      <h4 class="my-4">No Documents Available For This Client </h4>
       <p class="my-4 text-muted">If there are any documents available, they will appear here </p>
       <button class="btn addBtn" (click)="addMasters(0,'')">+ Add New</button>
     </div>
       
  </div>
</div>