.example_container_header{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;;
  padding: 6px 20px;
  border-bottom: 1px solid #cfcfcf;
  box-shadow: inset 0 -1px 0 0 transparent;
  background: #5454541f;

}


.custom_container>ul{
  padding: 16px;
  list-style: none;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin: 14px 0px;
  background: #f6f6f6;
}

.custom_container>ul>li>h4,
.custom_container>ul>li>p
{
    font-size: 13px;
}

.custom_container>ul:hover{
  cursor: pointer;
  background: #1616d630;
  color: #141458;
  font-weight: 500;
  border: 1px solid #54548e7d;
  transition: all .5s;
}
.custom_container>ul.active{
  cursor: pointer;
  background: #1616d630!important;
  color: #141458!important;
  font-weight: 500;
  border: 1px solid #54548e7d;
}




.details__icon{
  border-radius: 27%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}
.infoIcon{
  background: #27bad229;
  color: #13a7c0;
}
.warningIcon{
  background: #e09d0b29;
  color: #ffb637;
}
.successIcon{
  background: #a5a5a530;
  color: #959595;
}

.heading_title{
  font-size: 12px;
  margin: 0 7px;
  color: #3a5076;
  font-weight: 500;
}
.titles__value{
  font-weight: 500;
  font-size: 11px;
  color: gray;
}
