<div class="bckContainer"></div>

<div class="row flexSec">
  <div class="col-sm-12 mb-3">
      <core-tab
      [customClass]="'nav'"
      [Tab]="clientTypeMst" (GetTabDtls)="TabDetails($event)"></core-tab>
    <ng-container *ngIf="clientFrm.value.client_type != 'MC';else MergeClient">
    <mat-card class="navCard p-3">
      <ng-template #SearchBtn>
        <p-button type="submit" label="Show" icon="pi pi-eye" iconPos="right" styleClass="p-button-lg"></p-button>
      </ng-template>
      <form [formGroup]="clientFrm" [autocomplete]="'off'" (ngSubmit)="searchClient()">
        <div class="row">
          <div class="col-sm-6 d-flex justify-content-start align-items-center">
            <mat-radio-group aria-label="Select an option" color="primary"
              *ngIf="this.clientFrm.value.client_type != 'E'" formControlName="options">
              <mat-radio-button value="2">Summary</mat-radio-button>
              <mat-radio-button value="1" class="ml-3">Detail</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-sm-6 d-flex justify-content-end align-items-center">
            <p-selectButton [options]="filterType" optionValue="value" formControlName="btn_type"
              styleClass="p-button-lg" (onOptionClick)="onItemClick($event)" optionLabel="icon">
              <ng-template let-item>
                <i [class]="item.icon" [matTooltip]="item.label"></i>
              </ng-template>
            </p-selectButton>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-3">
            <app-core-srch [label]="'Client Details'"
              [placeholder]="'Search By Client Name,Client Code, Email, Mobile, PAN & DOB'"
              [isPending]="isClientPending" [listItems]="searchedClientMst" [flag]="'C'"
              [noDataFoundTitle]="'Sorry!! No Records Found'"
              [noDataFoundSubTitle]="'If your result match,they will appear here'"
              [propertiesToShow]="['client_name','client_code','pan']" formControlName="client_name"
              [displayMode]="displayMode_forClient" (setDisplayMode)="displayMode_forClient = $event"
              (selectedItems)="getSelectedItemsFromParent($event)"></app-core-srch>
          </div>
          <ng-container *ngIf="clientFrm.value.client_type != 'E'">
            <div class="col-sm-3">
              <label for="dob_as_per_month">Date Of Birth As Per Month</label>
              <select name="dob_as_per_month" id="dob_as_per_month" class="form-control"
                formControlName="dob_as_per_month">
                <option value="">Select</option>
                <option [value]="month.id" *ngFor="let month of dob_doa_month">{{month.month}}</option>
              </select>
            </div>
            <div class="col-sm-3" *ngIf="clientFrm.value.client_type != 'M'">
              <label for="doa_as_per_month">Date Of Anniversary As Per Month</label>
              <select name="doa_as_per_month" id="doa_as_per_month" class="form-control"
                formControlName="doa_as_per_month">
                <option value="">Select</option>
                <option [value]="month.id" *ngFor="let month of dob_doa_month">{{month.month}}</option>
              </select>
            </div>
          </ng-container>

          <ng-container *ngIf="clientFrm.value.btn_type == 'A';else noAdv">
            <div class="col-sm-3">
              <label for="state_id">State </label>
              <ng-multiselect-dropdown id="state_id" [placeholder]="'Select State'"
                [settings]="stateOptForMultiselectDropDown" [data]="stateMst" formControlName="state_id">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-3">
              <label for="dist_id">District </label>
              <ng-multiselect-dropdown id="dist_id" [placeholder]="'Select District'"
                [settings]="distOptForMultiselectDropDown" [data]="distMst" formControlName="dist_id">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-3">
              <label for="city_id">City </label>
              <ng-multiselect-dropdown id="city_id" [placeholder]="'Select City'"
                [settings]="cityOptForMultiselectDropDown" [data]="cityMst" formControlName="city_id">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-3">
              <label for="pincode">Pincode </label>
              <input type="text" placeholder="Enter Pincode" name="pincode" id="pincode" class="form-control"
                formControlName="pincode">
            </div>
            <div class="col-sm-3">
              <label for="city_type">City Type </label>
              <select name="city_type" class="form-control" id="city_type" formControlName="city_type_id">
                <option value="">Select</option>
                <option [value]="cityType.id" *ngFor="let cityType of citytype">{{cityType.city_type}}</option>
              </select>
            </div>
            <div class="d-flex justify-content-end align-items-end" [ngClass]="{
              'col-sm-12 mt-2':clientFrm.value.client_type != 'E' && clientFrm.value.client_type != 'M',
              'col-sm-6':clientFrm.value.client_type == 'E',
              'col-sm-3':clientFrm.value.client_type == 'M'
            }">
              <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
            </div>
          </ng-container>
          <ng-template #noAdv>
            <div class="d-flex justify-content-end align-items-end" [ngClass]="{
            'col-sm-3':clientFrm.value.client_type != 'E' && clientFrm.value.client_type != 'M',
            'col-sm-9':clientFrm.value.client_type == 'E',
            'col-sm-6':clientFrm.value.client_type == 'M'
          }">
              <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
            </div>
          </ng-template>
        </div>
      </form>
    </mat-card>

    <mat-card class="mt-3">
      <mat-card-header>
        <mat-card-title>
          {{this.clientFrm.value.client_type == 'P' ? 'PAN Holder' : (this.clientFrm.value.client_type == 'N' ? 'NON PAN
          Holder' : (this.clientFrm.value.client_type == 'M' ? 'Minor' : 'Existing'))}} Client Report
        </mat-card-title>
        <div class="btnGrp my-auto d-flex justify-content-between">
          <div class="w-100 pr-4">
            <span class="ml-auto">
              <input id="search" class="form-control rounded" type="text" (input)="filterGlobal($event)"
                placeholder="Search" />
            </span>
          </div>
          <div class="d-flex justify-center items-center">
            <p-button type="button" icon="pi pi-server" #tooltip="matTooltip"
              *ngIf="this.clientFrm.value.client_type != 'E'" (click)="isOpenMegaMenu = !isOpenMegaMenu"
              [matTooltipPosition]="'before'" matTooltip="Column Selector"
              styleClass="p-button-primary p-button-lg p-button-outlined mr-2">
            </p-button>

            <p-button icon="pi pi-file-export" [matMenuTriggerFor]="menu" [matTooltipPosition]="'after'"
              #tooltip="matTooltip" matTooltip="Export"
              styleClass="p-button-primary mr-3 p-button-lg p-button-outlined">
            </p-button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="exportPdf()">
                <mat-icon>download</mat-icon> Export Pdf
              </button>
              <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'Client Report'})">
                <mat-icon>download</mat-icon> Export Excel
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p-table #dt [rowHover]="true" styleClass="p-datatable-striped p-datatable-lg" [virtualScroll]="true"
          [virtualRowHeight]="40" [value]="clientMst" [paginator]="true" [totalRecords]="clientMst.length"
          [pageLinks]="3" [rowsPerPageOptions]="[10,50,100,{ showAll: 'All' }]"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="10"
          [showCurrentPageReport]="true" [columns]="__columns" [resizableColumns]="true" columnResizeMode="expand"
          [scrollable]="true" [scrollHeight]="'370px'" [globalFilterFields]="getColumns()" [autoLayout]="true"
          [responsive]="true"
          [tableStyle]="{ 'min-width': ((clientFrm.value.options == '1' || __columns.length === ClmnList.length) && clientFrm.value.client_type !== 'E') ? '300rem' : '120rem' }">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                [style.width]=" clientFrm.value.options == '1' ? '15rem' : '10rem'">
                {{ col.header }}
                <p-sortIcon *ngIf="col.field!= 'edit' && col.field!= 'upload_details' && col.field!= 'delete'"
                  [field]="col.field">
                </p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-client let-columns="columns" let-i="rowIndex">
            <tr tabindex="999" [ngStyle]="{'height':'40px'}">
              <td *ngFor="let col of columns" style="width: 10rem">
                <ng-container [ngSwitch]="true">
                  <ng-container *ngSwitchCase="col.field == 'sl_no'">
                    {{i+1}}
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'upload_details'">
                    <p-button icon="pi pi-eye" (click)="PreviewDocs(client)"
                      styleClass="p-button-rounded p-button-text p-button-lg"></p-button>
                  </ng-container>
                  <ng-container
                    *ngSwitchCase="col.field == 'dob' || col.field == 'dob_actual' || col.field == 'anniversary_date'">
                    <p class="m-0" #tooltip="matTooltip" [matTooltip]="(client[col.field] | date:'dd-MM-YYYY')">{{
                      client[col.field] ? (client[col.field] | date:'dd-MM-YYYY') : 'N/A' }}</p>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'relation'">
                    <ng-container *ngIf="client[col.field];else noRelationship">
                      <p class="m-0" #tooltip="matTooltip" [matTooltip]="client[col.field]">
                        {{client[col.field]}}</p>
                    </ng-container>
                    <ng-template #noRelationship>
                      N/A
                    </ng-template>

                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'edit'">
                    <button pButton type="button" icon="pi pi-pencil" (click)="EditClient(client)"
                      class="p-button-text p-button-lg"></button>
                  </ng-container>

                  <ng-container *ngSwitchCase="col.field == 'client_type'">
                    <ng-container [ngSwitch]="true">
                      <ng-container *ngSwitchCase="client[col.field] == 'E'">
                        <p class="m-0">Existing</p>
                      </ng-container>
                      <ng-container *ngSwitchCase="client[col.field] == 'P'">
                        <p class="m-0">PAN Holder</p>
                      </ng-container>
                      <ng-container *ngSwitchCase="client[col.field] == 'N'">
                        <p class="m-0">Non PAN Holder</p>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        <p class="m-0">Minor</p>
                      </ng-container>
                    </ng-container>

                  </ng-container>

                  <ng-container *ngSwitchCase="col.field == 'delete'">
                    <button pButton type="button" icon="pi pi-trash" (click)="deleteClient(client)"
                      class="p-button-text p-button-lg"></button>
                  </ng-container>

                  <ng-container *ngSwitchCase="col.field == 'client_name'">
                    <p class="m-0" #tooltip="matTooltip" [matTooltip]="client[col.field]">
                      {{ client[col.field] ? (client[col.field] | titlecase) : 'N/A' }}
                    </p>
                  </ng-container>

                  <ng-container *ngSwitchDefault>
                    <p class="m-0" #tooltip="matTooltip" [matTooltip]="client[col.field]">
                      {{ client[col.field] ? client[col.field] : 'N/A' }}
                    </p>
                  </ng-container>


                </ng-container>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length" class="noHistoryAvailable">
                No Records Found
              </td>
            </tr>
          </ng-template>
        </p-table>
        <core-mega-menu-for-column [isOpenMegaMenu]="isOpenMegaMenu" [ColumnList]="ClmnList"
          [selectedClmns]="SelectedClms" (hideMegamenu)="isOpenMegaMenu = $event"
          (getSelectedColumns)="getSelectedColumns($event)">
        </core-mega-menu-for-column>
      </mat-card-content>
    </mat-card>
    <table id="client" hidden mat-table [dataSource]="__exportClient" matTableExporter #exporter="matTableExporter">

      <ng-container matColumnDef="sl_no">
        <th mat-header-cell *matHeaderCellDef>Sl No</th>
        <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
      </ng-container>

      <ng-container matColumnDef="type_name">
        <th mat-header-cell *matHeaderCellDef>Client Type</th>
        <td mat-cell *matCellDef="let element">{{element.type_name ? element.type_name : 'N/A'}}</td>
      </ng-container>

      <ng-container matColumnDef="client_code">
        <th mat-header-cell *matHeaderCellDef>Client Code</th>
        <td mat-cell *matCellDef="let element">{{element.client_code ? element.client_code : 'N/A'}}</td>
      </ng-container>

      <ng-container matColumnDef="client_name">
        <th mat-header-cell *matHeaderCellDef>Client Name</th>
        <td mat-cell *matCellDef="let element">{{element.client_name ? (element.client_name | titlecase) : 'N/A'}}</td>
      </ng-container>

      <ng-container matColumnDef="client_type">
        <th mat-header-cell *matHeaderCellDef>Client Type</th>
        <td mat-cell *matCellDef="let element">{{element.client_type == 'P' ? 'PAN Holder' : (element.client_type == 'N'
          ? 'Non PAN Holder' : 'Existing')}}</td>
      </ng-container>

      <ng-container matColumnDef="pan">
        <th mat-header-cell *matHeaderCellDef>PAN</th>
        <td mat-cell *matCellDef="let element">{{element.pan ? element.pan : 'N/A'}}</td>
      </ng-container>

      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef>
          {{clientFrm.value.client_type == 'P' ? 'DOB As Per Pan' : 'Date Of Birth'}}
        </th>
        <td mat-cell *matCellDef="let element">{{element.dob ? (element.dob | date: 'dd-MM-YYYY') : 'N/A'}}</td>
      </ng-container>
      <ng-container matColumnDef="dob_actual">
        <th mat-header-cell *matHeaderCellDef>Actual Date Of Birth</th>
        <td mat-cell *matCellDef="let element">{{element.dob_actual ? (element.dob_actual | date:'dd-MM-YYYY') : 'N/A'}}
        </td>
      </ng-container>
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef>Mobile</th>
        <td mat-cell *matCellDef="let element">{{element.mobile ? element.mobile : 'N/A'}}</td>
      </ng-container>
      <ng-container matColumnDef="sec_mobile">
        <th mat-header-cell *matHeaderCellDef>Alternative Mobile</th>
        <td mat-cell *matCellDef="let element">{{element.sec_mobile ? element.sec_mobile : 'N/A'}}</td>
      </ng-container>
      <ng-container matColumnDef="sec_email">
        <th mat-header-cell *matHeaderCellDef>Alternative Email</th>
        <td mat-cell *matCellDef="let element">{{element.sec_email ? element.sec_email : 'N/A'}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{element.email ? element.email : 'N/A'}}</td>
      </ng-container>

      <ng-container matColumnDef="guardians_pan">
        <th mat-header-cell *matHeaderCellDef>Gurdian PAN</th>
        <td mat-cell *matCellDef="let element">{{element.guardians_pan ? element.guardians_pan : 'N/A'}}</td>
      </ng-container>
      <ng-container matColumnDef="guardians_name">
        <th mat-header-cell *matHeaderCellDef>Gurdian Name</th>
        <td mat-cell *matCellDef="let element">{{element.guardians_name ? element.guardians_name : 'N/A'}}</td>
      </ng-container>
      <ng-container matColumnDef="relation">
        <th mat-header-cell *matHeaderCellDef>Relationship</th>
        <td mat-cell *matCellDef="let element">{{element.relation ? element.relation : 'N/A'}}</td>
      </ng-container>
      <ng-container matColumnDef="maritial_status">
        <th mat-header-cell *matHeaderCellDef>Maritial Status</th>
        <td mat-cell *matCellDef="let element">{{element.maritial_status ? element.maritial_status : 'N/A'}}</td>
      </ng-container>
      <ng-container matColumnDef="anniversary_date">
        <th mat-header-cell *matHeaderCellDef>Anniversary Date</th>
        <td mat-cell *matCellDef="let element">{{element.anniversary_date ? (element.anniversary_date |
          date:'dd-MM-YYYY') : 'N/A'}}</td>
      </ng-container>

      <ng-container matColumnDef="add_line_1">
        <th mat-header-cell *matHeaderCellDef>Address-1</th>
        <td mat-cell *matCellDef="let element">{{element.add_line_1 ? element.add_line_1 : 'N/A'}}</td>
      </ng-container>
      <ng-container matColumnDef="add_line_2">
        <th mat-header-cell *matHeaderCellDef>Address-2</th>
        <td mat-cell *matCellDef="let element">{{element.add_line_2 ? element.add_line_2 : 'N/A'}}</td>
      </ng-container>

      <ng-container matColumnDef="add_line_3">
        <th mat-header-cell *matHeaderCellDef>Address-3</th>
        <td mat-cell *matCellDef="let element">{{element.add_line_3 ? element.add_line_3 : 'N/A'}}</td>
      </ng-container>
      <ng-container matColumnDef="state_name">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let element">{{element.state_name ? element.state_name : 'N/A'}}</td>
      </ng-container>

      <ng-container matColumnDef="district_name">
        <th mat-header-cell *matHeaderCellDef>District</th>
        <td mat-cell *matCellDef="let element">{{element.district_name ? element.district_name : 'N/A'}}</td>
      </ng-container>
      <ng-container matColumnDef="city_name">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let element">{{element.city_name ? element.city_name : 'N/A'}}</td>
      </ng-container>
      <ng-container matColumnDef="pincode">
        <th mat-header-cell *matHeaderCellDef>Pincode</th>
        <td mat-cell *matCellDef="let element">{{element.pincode ? element.pincode : 'N/A'}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="__exportedClmns"></tr>
      <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="__exportedClmns.length" class="text-center">No Client History Found</td>
      </tr>
    </table>
    </ng-container>
    <ng-template #MergeClient>
        <mat-card>
            <mat-card-header class="border-bottom">
              <mat-card-title>Select client to merge</mat-card-title>
              <input id="search"
              (input)="filterGlobal_merge($event)"
              class="form-control rounded w-25 mr-2"
              type="text"
              placeholder="Search" />
            </mat-card-header>
            <mat-card-content>
              <p-table #mClientTble [value]="mergeClient"
              (onRowSelect)="handleSelect($event)"
              [autoLayout]="true"
              [scrollHeight]="'370px'"
              [virtualScroll]="true"
              [virtualRowHeight]="40"
              [globalFilterFields]="getcolumns()"
              [rowsPerPageOptions]="[10,50,100,{ showAll: 'All' }]"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="10"
              [showCurrentPageReport]="true"
              [paginator]="true"
              [responsive]="true"
              [scrollable]="true"
              [selectionMode]="'single'"
               [(selection)]="selectedMergeClient" [rowHover]="true" dataKey="id"
               styleClass="p-datatable-lg"
               >
             <ng-template pTemplate="header">
                 <tr >
                     <th
                     [style]="'max-width:4rem'"
                     [style]="'min-width:2rem'"
                     ></th>
                     <th *ngFor="let col of merge_client_column"
                         pSortableColumn="{{col.field}}"
                         [style.max-width]="col.width"
                         [style.min-width]="col.width">
                       {{col.header}}
                       <p-sortIcon field="{{col.field}}"></p-sortIcon>
                     </th>
                 </tr>
             </ng-template>
             <ng-template pTemplate="body" let-m_client let-i="rowIndex">
                 <tr [ngStyle]="{'height':'40px'}">
                     <td
                     [style]="'max-width:4rem'"
                     [style]="'min-width:2rem'"
                     >
                         <p-tableCheckbox  [value]="m_client"></p-tableCheckbox>
                     </td>

                     <td *ngFor="let col of merge_client_column"
                     [style.max-width]="col.width"
                     [style.min-width]="col.width"
                     >
                     <ng-container [ngSwitch]="true">

                      <ng-container *ngSwitchCase="col.field == 'sl_no'">
                        {{i+1}}
                      </ng-container>
                       <ng-container *ngSwitchDefault>
                               <p class="m-0">
                                 {{ m_client[col.field] ? m_client[col.field] : 'N/A' }}
                               </p>
                       </ng-container>
                       </ng-container>
                      </td>

                 </tr>
             </ng-template>
             <ng-template pTemplate="emptymessage" let-m_client>
               <tr
               [ngStyle]="{'height':'40px'}"
               >
                 <td [attr.colspan]="(merge_client_column.length + 1)">
                   <p class="m-0">No Records Found</p>
                 </td>
               </tr>
             </ng-template>
         </p-table>
            </mat-card-content>
        </mat-card>

    </ng-template>
  </div>
</div>
<p-sidebar
[(visible)]="display_merge_client"
[style]="{width:'30em'}"
appendTo="body"
[modal]="true"
[ngStyle]="{overflow:'auto'}"
[blockScroll]="true"
[closeOnEscape]="true"
[showCloseIcon]="false"
position="right">
<!-- <h5>Merge Client</h5> -->
<ng-template pTemplate="headless">

  <div class="d-flex justify-content-between align-items-center">
      <p class="m-0">
        Select client to merge</p>
        <button mat-icon-button
        (click)="display_merge_client = false"
        aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>close</mat-icon>
        </button>
  </div>

 <div class="container">
  <form [formGroup]="mergeClientForm" (ngSubmit)="makeMainClient()">
    <ng-container formArrayName="m_client">
        <ng-container *ngFor="let mClient of m_client.controls;let i=index"
        [formGroupName]="i">
                    <div class="custom_container">
                        <ul class="list-style-none"
                        [ngClass]="{'active':m_client.controls[i].get('is_checked').value}"
                        (click)="getDetails(i, m_client.controls[i].value)">
                          <li>
                              <mat-radio-button
                              color="primary"
                              [checked]="m_client.controls[i].get('is_checked').value"
                              >
                                <p class="m-0">{{m_client.controls[i].get('client_name').value}} ({{m_client.controls[i].get('client_code').value}})</p>
                              </mat-radio-button>

                            <p class="my-2">{{m_client.controls[i].get('email').value}}</p>

                            <p
                            >{{m_client.controls[i].get('client_addr').value | lowercase}}</p>
                          </li>
                        </ul>
                    </div>
        </ng-container>

    </ng-container>

    <button class="btn-block btn btn-primary" type="submit">
      Save
      </button>
  </form>

 </div>
</ng-template>
</p-sidebar>
