td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
  width: 30%;
  font-size: 13px!important;
  /* text-align: left!important; */
  font-weight: 500;
}

td,
th:nth-child(1) {
    width: 3% !important;
}
td,
th:nth-child(2) {
    width: 17% !important;
}

.folio_tbl{
  width: 80%!important;
  text-align: center;
}
.nominee_tbl{
  width: 40%!important;
  text-align: center;
}
.sync_alt{
  transform: rotate(90deg);
}

