<!-- cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle -->
<div>
  <div mat-dialog-title class="dialog-title">
    <h2>Form Receivable Reports for {{this.data.trans_type_id == '1'
                                       ? ' Financial' : (this.data.trans_type_id == '4' ? 'NFO' : 'Non Financial')}}</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore Down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>
  <mat-dialog-content class="customDialog">

<ng-template #SearchBtn>
  <p-button
  type="submit"
  label="Show"
  icon="pi pi-eye"
  iconPos="right"
  styleClass="p-button-lg"></p-button>
</ng-template>
    <div class="card my-2">
      <div class="card-body px-5 py-2">
        <form [formGroup]="__rcvForms" (ngSubmit)="submit()" autocomplete="off">
          <div class="row">
            <div class="col-sm-6">
              <mat-radio-group aria-label="Select an option" color="primary" formControlName="options">
                <mat-radio-button value="2">Summary</mat-radio-button>
                <mat-radio-button value="1" class="ml-5">Detail</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-sm-6 d-flex justify-content-end align-items-center">
              <p-selectButton
              [options]="selectBtn"
              formControlName="advFilt_reset"
              optionValue="value"
              formControlName="btnType"
              styleClass="p-button-lg"
              (onOptionClick)="onItemClick($event)"
              optionLabel="icon">
                <ng-template let-item>
                    <i [class]="item.icon"  [matTooltip]="item.label"></i>
                </ng-template>
            </p-selectButton>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label for="dt_type">Date Periods</label>
               <select class="form-control" formControlName="dt_type" name="dt_type" id="dt_type">
                   <option value="">Select</option>
                   <option value="D">Today</option>
                   <option value="W">This Week</option>
                   <option value="M">This Month</option>
                   <option value="Y">This Year</option>
                   <option value="R">Date Range</option>
               </select>
            </div>
            <div class="col-sm-3">
              <label for="dt_type">Date (From - To)</label>
              <p-calendar
              dateFormat="dd/mm/yy"
              placeholder="Select Date Range"
              formControlName="date_range"
              selectionMode="range"
              [readonlyInput]="true"
              [showIcon]="true"
              [hideOnDateTimeSelect]="true"
              (onClose)="close($event)"
              [showButtonBar]="true">
              </p-calendar>
          </div>
          <div class="col-sm-3">
            <app-core-srch
            [label] = "'Temporary TIN'"
            [placeholder]="'Search By Temporary TIN'"
            [isPending]="__istemporaryspinner"
            [listItems] = "__temp_tinMst"
            [flag] = "'T'"
            [noDataFoundTitle]="'Sorry!! No Records Found'"
            [noDataFoundSubTitle]="'If your result match,they will appear here'"
            [propertiesToShow] = "['temp_tin_no','client_name']"
            formControlName="temp_tin_no"
            [displayMode]="displayMode_forTemp_Tin"
            (setDisplayMode)="displayMode_forTemp_Tin = $event"
            (selectedItems)="getSelectedItemsFromParent($event)"
            ></app-core-srch>

          </div>
          <div class="col-sm-3">
            <app-core-srch
            [label] = "'Client Details'"
            [placeholder]="'Search By Client Name,Client Code, Email, Mobile, PAN & DOB'"
            [isPending]="__isClientPending"
            [listItems] = "__clientMst"
            [flag] = "'C'"
            [noDataFoundTitle]="'Sorry!! No Records Found'"
            [noDataFoundSubTitle]="'If your result match,they will appear here'"
            [propertiesToShow] = "['client_name','client_code','pan']"
            formControlName="client_name"
            [displayMode]="displayMode_forClient"
            (setDisplayMode)="displayMode_forClient = $event"
            (selectedItems)="getSelectedItemsFromParent($event)"
            ></app-core-srch>
          </div>
          </div>

          <div class="row ">
            <div class="col-sm-3">
            <label for="trans_type">Transaction</label>
            <select name="trans_type" id="trans_type" class="form-control" formControlName="trans_type">
              <option value="">Select Transaction</option>
              <option [value]="trnsType.id" *ngFor="let trnsType of __transType">{{trnsType.trns_name}}</option>
            </select>
            </div>
            <div class="col-sm-3">
              <label for="recv_from">Receive From</label>
              <input type="text" name="recv_from" id="recv_from" class="form-control" placeholder='Enter Receive From'
                formControlName="recv_from">
            </div>
            <div class="col-sm-6
            d-flex flex-column justify-content-end align-items-end"
            *ngIf="__rcvForms.value.advFilt_reset != 'A'">
              <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
            </div>
            <ng-container *ngIf="__rcvForms.value.advFilt_reset == 'A'">
              <div class="col-sm-3">
                <label for="branch">Branch</label>
                <ng-multiselect-dropdown #multiSelect
                id="branch"
                [placeholder]="'Select Branch'"
                [settings]="settingsForbrnch"
                [data]="__brnchMst"
                formControlName="branch">
              </ng-multiselect-dropdown>
              </div>
              <div class="col-sm-3">
                <label for="bu_type">Business Type</label>
                <ng-multiselect-dropdown #multiSelect
                id="bu_type"
                [placeholder]="'Select Business Type'"
                [settings]="settingsForbuType"
                [data]="__bu_type"
                formControlName="bu_type">
              </ng-multiselect-dropdown>
              </div>
            </ng-container>
          </div>
          <ng-container *ngIf="__rcvForms.value.advFilt_reset == 'A'">
          <div class="row" >
            <div class="col-sm-3">
              <label for="rm_name">Relationship Manager</label>
              <ng-multiselect-dropdown #multiSelect
              id="rm_name"
              [placeholder]="'Select Relationship Manager'"
              [settings]="settingsForRM"
              [data]="__rmMst"
              formControlName="rm_name">
            </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-3">
              <label for="sub_brk_cd">Sub Broker Code</label>
              <ng-multiselect-dropdown #multiSelect
              id="sub_brk_cd"
              [placeholder]="'Select Sub Broker Code'"
              [settings]="settingsForsubCode"
              [data]="__subbrkArnMst"
              formControlName="sub_brk_cd">
            </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-3">
              <label for="euin_no">EUIN</label>
              <ng-multiselect-dropdown #multiSelect
              id="euin_no"
              [placeholder]="'Select EUIN'"
              [settings]="settingsForEUIN"
              [data]="__euinMst"
              formControlName="euin_no">
            </ng-multiselect-dropdown>
            </div>
            <div class="col-sm-3
            d-flex flex-column justify-content-end align-items-end">
              <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
            </div>
          </div>
        </ng-container>
        </form>
      </div>

    </div>
    <div class="card border-1 rounded-top mt-2">
      <div class="example_container_header">
        <div class="transTypeCount">
          <!-- <mat-chip-list
          *ngIf="this.data.trans_type_id != '3'">
            <mat-chip class="example-box"
            matBadgeSize="small"
            [matBadge]="trnsType.count" matBadgeColor="warn"
            color="primary" *ngFor="let trnsType of __trans_types">
              {{trnsType.name}}
            </mat-chip>
          </mat-chip-list> -->
          </div>
          <div class="btnGrp">
            <!-- (click)="isOpenMegaMenu = !isOpenMegaMenu" -->
            <p-button type="button" icon="pi pi-server"
            #tooltip="matTooltip"
            (click)="isOpenMegaMenu = !isOpenMegaMenu"
            [matTooltipPosition]="'before'"
            matTooltip="Column Selector"
            styleClass="p-button-primary p-button-lg p-button-outlined mr-2">
            </p-button>
            <p-button icon="pi pi-file-export"
            [matMenuTriggerFor]="menu"
            [matTooltipPosition]="'after'"
            #tooltip="matTooltip"
            matTooltip="Export"
            styleClass="p-button-primary p-button-lg p-button-outlined">
            </p-button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="exportPdf()">
                <mat-icon>download</mat-icon> Export Pdf
              </button>
              <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'Receieve Form'})">
                <mat-icon>download</mat-icon> Export Excel
              </button>
            </mat-menu>
         </div>
         </div>
      <div class="container_body">
        <p-table
        (onLazyLoad)="customSort($event)"
          [customSort]="true"
            sortMode="single"
            [lazy]="true"
        [value]="__RcvForms.data"
      [columns]="columns" [resizableColumns]="true"
    selectionMode="multiple"
    columnResizeMode="expand" [scrollable]="true"
    scrollHeight="358px"
    [autoLayout]="true" [responsive]="true" styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '120rem' }">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th  *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
        [ngStyle]="{'width': __rcvForms.value.options == 2 ? '12rem' : '17rem'}">
          {{ col.header }}
          <p-sortIcon *ngIf="col.field!= 'edit' && col.field!= 'delete'" [field]="col.field">
          </p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rcvFormDT let-columns="columns" let-i="rowIndex">
      <tr tabindex="999">
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="col.field == 'bu_type'">
              <b #tooltip="matTooltip"
              [matTooltip]="rcvFormDT[col.field] == 'D' ? 'B2C - Direct' : (rcvFormDT[col.field] == 'I' ? 'B2C - Indirect' : 'B2B')">
                {{ rcvFormDT[col.field] == 'D' ? 'B2C - Direct' : (rcvFormDT[col.field] == 'I' ? 'B2C - Indirect' : 'B2B')}}</b>
            </ng-container>
            <ng-container *ngSwitchCase="col.field == 'rec_datetime' || col.field == 'entry_date'">
              <b #tooltip="matTooltip" [matTooltip]="(rcvFormDT[col.field] | date:'dd-MM-YYYY hh:mma')">{{ rcvFormDT[col.field] ? (rcvFormDT[col.field] | date:'dd-MM-YYYY hh:mma') : 'N/A' }}</b>
              </ng-container>
              <ng-container *ngSwitchCase="col.field == 'edit'">
                <p-button icon="pi pi-pencil" (click)="populateDT(rcvFormDT)"
                  styleClass="p-button-rounded p-button-primary">
                </p-button>
              </ng-container>
              <ng-container *ngSwitchCase="col.field == 'delete'">
                <p-button icon="pi pi-trash" (click)="deleteRcvForm(rcvFormDT,i)"
                  styleClass="p-button-rounded p-button-danger"></p-button>
              </ng-container>
            <ng-container *ngSwitchDefault>
              <b #tooltip="matTooltip" [matTooltip]="rcvFormDT[col.field]">
                {{ rcvFormDT[col.field] ? rcvFormDT[col.field] : 'N/A' }}
              </b>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="noHistoryAvailable">
           No Records Found
        </td>
      </tr>
    </ng-template>
       </p-table>

       <div class="paginator">
        <div class="itemsPerPage d-flex">
          <label class="mr-3">Items per page: </label>
          <p-selectButton
          [options]="itemsPerPage"
          [formControl]="__pageNumber"
           optionLabel="label" optionValue="value"
           (onOptionClick)="onselectItem($event)"
           ></p-selectButton>
        </div>


        <div  class="paginatorContainer">
          <ul>
            <li *ngFor="let paginate of __paginate" (click)="getPaginate(paginate)">
              <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                *ngIf="(paginate.label | bnkrplc) == 'P'">
                <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                  keyboard_double_arrow_left</mat-icon>
              </a>
              <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                *ngIf="(paginate.label | bnkrplc) == 'N'">
                <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                  keyboard_double_arrow_right</mat-icon>
              </a>
              <a [class]="paginate.active ? 'activePaginator paginateNumber' : 'paginateNumber'"
                *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">
                {{paginate.label}}
              </a>
            </li>
          </ul>
          </div>

        </div>

 <!-- Meage Menu For Check box -->
 <core-mega-menu-for-column [isOpenMegaMenu]="isOpenMegaMenu" [ColumnList]="columnMst"
 [selectedClmns]="SelectedClms" (hideMegamenu)="isOpenMegaMenu = $event"
 (getSelectedColumns)="getSelectedColumns($event)">
 </core-mega-menu-for-column>
 <!-- End -->
       <table id="rcvForm" hidden mat-table [dataSource]="__export" matTableExporter #exporter="matTableExporter">
        <ng-container matColumnDef="rec_datetime">
          <th mat-header-cell *matHeaderCellDef>Recieved Date Time</th>
          <td mat-cell *matCellDef="let element">{{element.rec_datetime | date:'dd-MM-YYYY h:mma'}}</td>
        </ng-container>

        <ng-container matColumnDef="recv_from">
          <th mat-header-cell *matHeaderCellDef>Receive From</th>
          <td mat-cell *matCellDef="let element">{{element.recv_from ? element.recv_from : 'N/A'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="entry_date">
          <th mat-header-cell *matHeaderCellDef>Entry Date</th>
          <td mat-cell *matCellDef="let element">{{element.entry_date ? (element.entry_date | date: 'dd-MM-YYYY') : 'N/A'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="temp_tin_no">
          <th mat-header-cell *matHeaderCellDef>Temporary TIN</th>
          <td mat-cell *matCellDef="let element">{{element.temp_tin_no ? element.temp_tin_no : 'N/A'}}</td>
        </ng-container>


        <ng-container matColumnDef="folio_no">
          <th  mat-header-cell *matHeaderCellDef>Folio Number</th>
          <td mat-cell *matCellDef="let element">{{element.folio_no ? element.folio_no : 'N/A'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="bu_type">
          <th mat-header-cell *matHeaderCellDef>Business Type</th>
          <td mat-cell *matCellDef="let element">{{element.bu_type == 'D' ? 'B2C - Direct' : element.bu_type == 'I' ?
            'B2C -Indirect' : 'B2B'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="trans_name">
          <th mat-header-cell *matHeaderCellDef>Transaction Type</th>
          <td mat-cell *matCellDef="let element">{{element.trans_name}}
          </td>
        </ng-container>
        <ng-container matColumnDef="branch_name">
          <th mat-header-cell *matHeaderCellDef>Branch Name</th>
          <td mat-cell *matCellDef="let element">{{element.branch_name ? element.branch_name : 'N/A'}}</td>
        </ng-container>
        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef>Remarks</th>
          <td mat-cell *matCellDef="let element">
            {{element.remarks ? element.remarks : 'N/A'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="rm_name">
          <th mat-header-cell *matHeaderCellDef>RM Name</th>
          <td mat-cell *matCellDef="let element">{{element.rm_name ? element.rm_name : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="sub_brk_cd">
          <th mat-header-cell *matHeaderCellDef>Sub Broker Code.</th>
          <td mat-cell *matCellDef="let element">{{element.sub_brk_cd ? element.sub_brk_cd : 'N/A'}}</td>
        </ng-container>
        scheme_name
        <ng-container matColumnDef="scheme_name">
          <th mat-header-cell *matHeaderCellDef>Scheme</th>
          <td mat-cell *matCellDef="let element">{{element.scheme_name ? element.scheme_name : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="euin_no">
          <th mat-header-cell *matHeaderCellDef>EUIN</th>
          <td mat-cell *matCellDef="let element">{{element.euin_no ? element.euin_no : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="client_name">
          <th mat-header-cell *matHeaderCellDef>First Holder Name</th>
          <td mat-cell *matCellDef="let element">{{element.client_name ? element.client_name : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="client_code">
          <th mat-header-cell *matHeaderCellDef>First Holder Code</th>
          <td mat-cell *matCellDef="let element">{{element.client_code ? element.client_code : 'N/A'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="application_no">
          <th mat-header-cell *matHeaderCellDef>Application No.</th>
          <td mat-cell *matCellDef="let element">{{element.application_no ? element.application_no : 'N/A'}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="__exportedClmns"></tr>
        <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="__exportedClmns.length" class="text-center">No record
            found</td>
        </tr>
      </table>
      </div>
    </div>

  </mat-dialog-content>
</div>
