<div mat-dialog-title class="dialog-title" [title]="data.title">
  <h2>{{data.title}} {{this.__frmDtls.get('client_type').value ? "(" + this.__frmDtls.get('client_type').value + ")" : ''}}</h2>
  <div class="btnIcon">
    <button mat-icon-button [mat-dialog-close]="">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<mat-dialog-content>
  <form [formGroup]="__frmDtls">
    <div class="row" *ngIf="data.flag == 'C' || data.flag == 'FC' || data.flag == 'TC'">
      <div class="col-sm-12 my-3">
        <label>Client Code</label>
        <input type="text" class="form-control" [attr.disabled]="true" formControlName="client_code">
      </div>
      <div class="col-sm-12 my-3">
        <label>Client Name</label>
        <input type="text" class="form-control" [attr.disabled]="true" formControlName="client_name">
      </div>
      <div class="col-sm-12 my-3">
        <label>Date Of Birth</label>
        <input type="text" class="form-control" [attr.disabled]="true" formControlName="dob">
      </div>
      <div class="col-sm-12 my-3" *ngIf="this.data.dt.client_type == 'P'">
        <label>Pan Number</label>
        <input type="text" class="form-control" [attr.disabled]="true" formControlName="pan">
      </div>
      <div class="col-sm-12 my-3" *ngIf="this.data.dt.client_type == 'M'">
        <label>Gurdialns Pan Number</label>
        <input type="text" class="form-control" [attr.disabled]="true" formControlName="gurdians_pan">
      </div>
      <div class="col-sm-12 my-3"  *ngIf="this.data.dt.client_type == 'M'">
        <label>Gurdialns Name</label>
        <input type="text" class="form-control" [attr.disabled]="true" formControlName="gurdians_name">
      </div>
      <div class="col-sm-12 my-3"  *ngIf="this.data.dt.client_type == 'M'">
        <!-- <label>Relations</label>
        <input type="text" class="form-control" [attr.disabled]="true" formControlName="relations"> -->
        <label>RelationShip</label>
        <select class="form-control" formControlName="relations" [attr.disabled]="true">
          <option value="">Select RelationShip</option>
          <option value="S">Son</option>
          <option value="D">Daughter</option>
          <option value="F">Father</option>
          <option value="M">Mother</option>
        </select>
      </div>
      <div class="col-sm-12 my-3">
        <label>Email</label>
        <input type="text" class="form-control" [attr.disabled]="true" formControlName="email">
      </div>
      <div class="col-sm-12 my-3">
        <label>Mobile</label>
        <input type="text" class="form-control" [attr.disabled]="true" formControlName="mobile">
      </div>
      <div class="col-sm-12 my-3">
        <label>Address 1</label>
        <textarea class="form-control"  cols="30" rows="5" formControlName="add_line_1" [attr.disabled]="true"></textarea>
      </div>
      <div class="col-sm-12 my-3">
        <label>Address 2</label>
        <textarea class="form-control"  cols="30" rows="5" formControlName="add_line_2" [attr.disabled]="true"></textarea>
      </div>
      <div class="col-sm-12 my-3">
        <label>State</label>
        <input type="text" class="form-control" [attr.disabled]="true" formControlName="state">
      </div>
      <div class="col-sm-12 my-3">
        <label>District</label>
        <input type="text" class="form-control" [attr.disabled]="true" formControlName="dist">
      </div>
      <div class="col-sm-12 my-3">
        <label>City</label>
        <input type="text" class="form-control" [attr.disabled]="true" formControlName="city">
      </div>
      <div class="col-sm-12 my-3">
        <label>Pincode</label>
        <input type="text" class="form-control" [attr.disabled]="true" formControlName="pincode">
      </div>
      <div class="col-sm-12">
        <table class="my-4">
          <thead>
            <tr>
              <th class="text-center">
                Document type <span class="text-danger">*</span>
              </th>
              <th class="text-center">
                Thumbnail
              </th>
            </tr>
          </thead>
          <tbody formArrayName="doc_dtls">
            <tr *ngFor="let item of __docs.controls; let i = index;">
              <ng-container [formGroupName]="i">
                <td class="rowWidth text-center">
                  <select name="_doc_type" id="_doc_type" formControlName="doc_type_id" class="form-control" [attr.disabled]="true">
                    <option value="">Select document type</option>
                    <option value="{{__docType.id}}" *ngFor="let __docType of __docTypeMaster"> {{__docType.doc_type}}
                    </option>
                  </select>
                </td>
                <td class="rowWidth text-center">
                  <img [src]="__docs.controls[i].get('file_preview')?.value || __noImg" alt="preview Image">
                </td>
              </ng-container>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th class="text-center">
                Document type <span class="text-danger">*</span>
              </th>
              <th class="text-center">
                Thumbnail
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row" *ngIf="data.flag == 'S' || data.flag == 'ST'">
      <div class="col-sm-12 my-3">
        <label>AMC</label>
         <input type="text" class="form-control" formControlName="amc" [attr.disabled]="true">
      </div>
      <div class="col-sm-12 my-3">
        <label>Category</label>
         <input type="text" class="form-control" formControlName="cat" [attr.disabled]="true">
      </div>
      <div class="col-sm-12 my-3">
        <label>Sub Category</label>
         <input type="text" class="form-control" formControlName="sub_cat" [attr.disabled]="true">
      </div>
      <div class="col-sm-12 my-3">
        <label>R&T</label>
         <input type="text" class="form-control" formControlName="rnt" [attr.disabled]="true">
      </div>

    </div>
    <div class="row" *ngIf="data.flag == 'B' || data.flag == 'NB' || data.flag == 'OB'">
      <div class="col-sm-12 my-3">
        <label>Ifs Code</label>
         <input type="text" class="form-control" formControlName="ifs_code" [attr.disabled]="true">
      </div>
      <div class="col-sm-12 my-3">
        <label>MICR Code</label>
         <input type="text" class="form-control" formControlName="micr_code" [attr.disabled]="true">
      </div>
      <div class="col-sm-12 my-3">
        <label>Branch</label>
         <input type="text" class="form-control" formControlName="branch_name" [attr.disabled]="true">
      </div>
      <div class="col-sm-12 my-3">
        <label>Branch Address</label>
        <textarea name="brnh_addr" id="brnh_addr" cols="30" rows="5" class="form-control" formControlName="branch_addr" [attr.disabled]="true"></textarea>
      </div>
    </div>
  </form>
</mat-dialog-content>
