<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <form  [formGroup]="__subcatForm" (ngSubmit)="submit()" id="__subcatForm" autocomplete="off" ngNativeValidate>
    <div class="row">
      <div class="col-sm-12 card_2">
        <label for="catName">Category <span class="text-danger">*</span></label>
         <select class="form-control" formControlName="category_id" id="catName">
           <option value="">Select Category</option>
          <option *ngFor="let __cats of __catMaster" value="{{__cats.id}}">{{__cats.cat_name}}</option>
         </select>
        <div class="invalid-feedback" *ngIf="__subcatForm.get('category_id').invalid && (__subcatForm.get('category_id').dirty || __subcatForm.get('category_id').touched)">
          <span class="invalid-feedback" *ngIf="(__subcatForm.get('category_id')).errors?.required">*Please provide category</span>
        </div>
      </div>
      <div class="col-sm-12 card_2">
        <label for="subCatName">Sub Category <span class="text-danger">*</span></label>
        <input type="text" name="subcategory_name" id="catName" class="form-control" placeholder="Enter SubCategory" formControlName="subcategory_name">
        <div class="invalid-feedback" *ngIf="__subcatForm.get('subcategory_name').invalid && (__subcatForm.get('subcategory_name').dirty || __subcatForm.get('subcategory_name').touched)">
          <span class="invalid-feedback" *ngIf="(__subcatForm.get('subcategory_name')).errors?.required">*Please provide subcategory</span>
        </div>
      </div>
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end" >
  <button class="btn" mat-dialog-close>Cancel</button>
  <button class="btn addBtn" mat-button  form="__subcatForm" [disabled]="this.__subcatForm.invalid">Submit</button>
</mat-dialog-actions>