<div class="row flexSec">
  <div class="col-sm-12">
    <shared-upload-csv [leftHeaderTitle]="'Upload ISIN'"
    [flag]="'IS'"
    [file_name]="'Sample ISIN'"
    [columns]="tableColumns"
    [api_name]="'/isinimport'"
    [dataSource]="tableData"
    [prod_id]="'3'"
    [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>
  <!-- <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All ISIN'"
    [headerTitle]="'Recent ISIN'"
    [flag]="'IS'"
      (populate)="populateDT($event)"
      (viewAll)="viewAll()"
      [dataSource]="__selectISIN.data"></shared-mst-dtls>
  </div> -->
</div>
