<div class="row flexSec">
  <div class="col-sm-7">
    <shared-upload-csv [leftHeaderTitle]="'Upload ISIN'"
    [flag]="'IS'"
    [file_name]="'Sample ISIN'"
    [amcMaster]="amcMst"
    [__optcol]="optClm"
    [__plncol]="planClm"
    [__schemecol]="scmClm"
    [optionMst] ="optionMst"
    [plnMst] = "planMst"
    [schemeMst] = "schemeMst"
    [__schemecol]="scmClm"
    [columns]="tableColumns"
    [api_name]="'/schemeISINimport'"
    [dataSource]="tableData"
    [prod_id]="'3'"
    (getschemeMst)="getAmcWisescheme($event)"
    [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>
  <div class="col-sm-5">
    <!-- <shared-mst-dtls [btnTitle]="'View All ISIN'"
    [headerTitle]="'Recent ISIN'"
    [flag]="'IS'"
      (populate)="populateDT($event)"
      (viewAll)="viewAll()"
      [dataSource]="isinMst"></shared-mst-dtls> -->
  </div>
</div>
