<div class="row flexSec">
  <div class="col-sm-8 col-sm-offset-2">
    <shared-upload-csv [leftHeaderTitle]="'Upload ISIN'"
    [flag]="'IS'"
    [file_name]="'Sample ISIN'"
    [amcMaster]="amcMst"
    [__optcol]="optClm"
    [__plncol]="planClm"
    [__schemecol]="scmClm"
    [optionMst] ="optionMst"
    [plnMst] = "planMst"
    [schemeMst] = "schemeMst"
    [__schemecol]="scmClm"
    [columns]="tableColumns"
    [api_name]="'/schemeISINimport'"
    [dataSource]="tableData"
    [prod_id]="'3'"
    (getschemeMst)="getAmcWisescheme($event)"
    [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>

</div>
