<input
[class]="__class"
[required]="__required"
[readonly]="__readonly"
[placeholder]="_placeholder"
[formControl]="control" [type]="_type" [id]="_type" />
<div @load  *ngIf="control.invalid && (control.dirty || control.touched)">
<div class="invalid-feedback" *ngIf="control.errors?.['required']">
  *Please Provide {{_placeholder}}
</div>
<div class="invalid-feedback" *ngIf="control.errors?.['email']">
  *Please Provide Valid Email
</div>
</div>
<!-- [class.is-invalid]="control.touched && control.invalid" -->
