<div class="row flexSec">
  <div class="col-sm-7 p-0">
    <div class="cardSec m-1">
      <div class="card_header">
        <h3>Upload R&T</h3>
      </div>
      <div class="card_body">

        <form [formGroup]="__uploadRnt" (ngSubmit)="uploadRnt()">
          <div class="row">
            <div class="col-sm-12">
              <button class="float-right mb-5" color="primary" type="button" mat-button (click)="exporter.exportTable('csv',{fileName:'SampleR&T'})"><mat-icon>download</mat-icon>Download Sample </button>
            </div>
            <div class="col-sm-12">
              <div class="container_zone" appDrag (fileDropped)="onFileDropped($event)">
               <img src="../../../../../../assets/images/____upload.png" alt="Upload Images" height="63" width="63">
              <input type="file" accept=".csv,.xlsx" max="1" min="1" #fileDropRef  name="upload_file" id="fileDropRef" accept=".csv,.xlsx" class="form-control" (change)="getFiles($event.target)" formControlName="rntFile">
               <h3>Drag and drop files here</h3>
               <h3>or</h3>
               <label for="fileDropRef">Browse files</label>
             </div>
               <p class="my-4"><strong>Note:</strong><span> Format allowed: CSV,XLSX  ( Maximum Size Upto 2MB )</span></p>
              <!-- <div class="invalid-feedback"
              *ngIf=" __uploadRnt.get('rntFile').invalid && ( __uploadRnt.get('rntFile').dirty ||  __uploadRnt.get('rntFile').touched)">
              <span class="invalid-feedback" *ngIf=" __uploadRnt.get('rntFile').errors?.required">*Please
                provide file</span>
              <span class="invalid-feedback"
                *ngIf="__uploadRnt.get('file').errors?.fileSizeValidator">*File size must not exceed than
                2MB.</span>
              </div> -->
              <strong #showing class="text-danger"></strong>

              <div class="files-list my-3" *ngIf="this.__uploadRnt.get('file').value">
                <div class="single-file" >
                  <div class="file-icon" style="width: 50px">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px" viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
                      <polygon style="fill:#EDEADA;" points="51.5,14 37.5,0 6.5,0 6.5,58 51.5,58 " />
                      <g>
                        <path style="fill:#CEC9AE;"
                          d="M16.5,23h25c0.552,0,1-0.447,1-1s-0.448-1-1-1h-25c-0.552,0-1,0.447-1,1S15.948,23,16.5,23z" />
                        <path style="fill:#CEC9AE;"
                          d="M16.5,15h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S15.948,15,16.5,15z" />
                        <path style="fill:#CEC9AE;"
                          d="M41.5,29h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,29,41.5,29z" />
                        <path style="fill:#CEC9AE;"
                          d="M41.5,37h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,37,41.5,37z" />
                        <path style="fill:#CEC9AE;"
                          d="M41.5,45h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,45,41.5,45z" />
                      </g>
                      <polygon style="fill:#CEC9AE;" points="37.5,0 37.5,14 51.5,14 " />
                    </svg>
                  </div>
                  <div class="info">
                    <h4 class="name">
                      {{ this.__uploadRnt.get('file').value?.name}}
                    </h4>
                    <p class="size">
                      {{ formatBytes(this.__uploadRnt.get('file').value?.size) }}
                    </p>
                    <!-- <app-progress [progress]="file?.progress"></app-progress> -->
                  </div>
        
                  <!-- Delete Icon -->
                  <div class="delete" (click)="deleteFiles()">
                    <mat-icon>
                      delete_forever
                      </mat-icon>
                  </div>
                </div>
          </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button class="btn addBtn"  [disabled]="this.__uploadRnt.invalid">Upload</button>
            </div>  
          </div>
        </form>

      </div>
      </div>
    </div>
    <div class="col-sm-5 p-0">
      <div class="cardSec m-1">
        <div class="card_header">
          <h3>Recent Entries</h3>
          <button mat-icon-button title="View All R&T" [routerLink]="['/main/master/rntmaster']">
            <mat-icon>north_east</mat-icon>
          </button>
        </div>
        <div class="card_body">
          <table mat-table [dataSource]="__selectRNT">
            <!-- Sl No. -->
            <ng-container matColumnDef="sl_no">
              <th mat-header-cell *matHeaderCellDef>Sl no.</th>
              <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
            </ng-container>
            <!--Temporary TIN No.-->
            <ng-container matColumnDef="rnt_name">
              <th mat-header-cell *matHeaderCellDef>R&T</th>
              <td mat-cell *matCellDef="let element">
                <a (click)="showCorrospondingAMC(element)" class="hoverableText">{{element.rnt_name}}</a>
              </td>
            </ng-container>
            <!-- Buisness Type-->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>Edit</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="populateDT(element)">
                  <mat-icon class="edit_icon">edit</mat-icon>
                </button>
              </td>
            </ng-container>
            <!-- Buisness Type-->
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>Delete</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button>
                  <mat-icon class="delete_icon">delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="__columns"></tr>
            <tr mat-row *matRowDef="let row; columns: __columns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data found</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>


<table mat-table hidden [dataSource]="tableData" matTableExporter class="mat-elevation-z8" #exporter="matTableExporter">
  <ng-container
    *ngFor="let disCol of tableColumns let colIndex = index;"
    matColumnDef="{{disCol.columnDef}}"
  >
    <th mat-header-cell *matHeaderCellDef>
      {{ disCol.header }}
    </th>

    <td mat-cell *matCellDef="let element">
      <span > 
        {{ disCol.cell(element) }}
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>