<!--

  ** This is the page where user can upload CSV in specified Format for R&T
  ** This page holds two things i.e one is the latest R&T Details And another one is where the user will be upload CSV
 -->

<div class="row flexSec">
  <!-- Hold the UI For Upload CSV -->
  <div class="col-sm-7">
    <shared-upload-csv [leftHeaderTitle]="'Upload R&T'" [flag]="'R'"
    [file_name]="'Sample R&T'"
    [columns]="tableColumns"
    [api_name]="'/rntimport'"
    [dataSource]="tableData" [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>
  <!-- End -->
  <!-- Hold the UI for View Latest R&T -->
  <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All R&T'"
    [headerTitle]="'Recent R&T'" [flag]="'R'"
    [props]="'rnt_name'"
      (populate)="populateDT($event)" (showCorrospondingDetails)="showCorrospondingAMC($event)" (viewAll)="viewAll()"
      [dataSource]="__selectRNT.data"></shared-mst-dtls>
  </div>
  <!-- End -->
</div>
