<div class="row flexSec">
  <div class="col-sm-7">
    <shared-upload-csv [leftHeaderTitle]="'Upload Bank'" [flag]="'B'" [file_name]="'Sample Bank'" [columns]="tableColumns" [api_name]="'/depositbankimport'"
      [dataSource]="tableData" [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>
  <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All Bank'" [headerTitle]="'Recent Bank'"
    [flag]="'B'"
    [props]="'bank_name'"
      (populate)="populateDT($event)"
      (viewAll)="viewAll()"
      [dataSource]="__selectRNT.data"></shared-mst-dtls>
  </div>
</div>
