<div class="card my-5">
  <div class="card_body">
    <div class="row">

      <div class="col-sm-9 p-5">
        <div class="separator">
          <div class="separator_header">
            <h3>{{__product_type == '1' ? 'Financial' : (__product_type == '4' ? 'NFO' : 'Non Financial')}} Trax</h3>
          </div>
          <div class="separator_body">
            <form [formGroup]="__traxForm" id="__traxForm" (ngSubmit)="submit()">
              <div class="row">
                <div class="col-sm-12">
                  <label class="ml-2"><input type="radio" value="Y" formControlName="tin_status"><span>&nbsp;With
                      TTIN</span></label>
                  <label class="ml-3"><input type="radio" value="N" formControlName="tin_status"><span>&nbsp;Without
                      TTIN</span></label>
                </div>
              </div>
              <div class="row my-4">
                <div class="col-sm-12">
                  <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforClient($event)">
                    <div class="searchDiv">
                      <label for="__temp_tin_no">Temporary TIN Number <span class="text-danger">*</span></label>
                      <input type="search" name="__temp_tin_no" id="__temp_tin_no" class="form-control"
                        formControlName="temp_tin_no" placeholder="Search by Temporary TIN Number">
                      <div class="processMain_2" __searchResVisibility
                        (appOutsideClick)="outsideClickforClient($event)">
                        <div class="serachresult_client" #searchTin>
                          <ul *ngIf="__temp_tinMst.length > 0">
                            <li *ngFor="let items of __temp_tinMst" (click)="getItems(items)">
                              {{items.temp_tin_no}} | {{items.client_name}} | {{items.trans_name}}
                            </li>
                          </ul>
                          <div class="noDataFound" *ngIf="__temp_tinMst.length == 0">
                            <h5 class="text-center">
                              Sorry!! No Results Found
                            </h5>
                            <p>Temporary TIN Number Not AVailable</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row my-4">
                <div class="col-sm-12 my-3">
                  <label for="bu_type">Buisness Type <span class="text-danger">*</span></label>
                  <select name="bu_type" id="bu_type" formControlName="bu_type" class="form-control">
                    <option value=""> Select Buisness Type</option>
                    <option *ngFor="let __bu_type of __buisness_type" value="{{__bu_type.id}}">{{__bu_type.bu_type}}
                    </option>
                  </select>
                  <div class="invalid-feedback"
                    *ngIf="__traxForm.get('bu_type').invalid && (__traxForm.get('bu_type').dirty || __traxForm.get('bu_type').touched)">
                    <span class="invalid-feedback" *ngIf="(__traxForm.get('bu_type')).errors?.required">*Please provide
                      buisness
                      type</span>
                  </div>
                </div>
              </div>
              <div class="row my-4" *ngIf="__traxForm.get('bu_type').value == 'B'">
                <div class="col-sm-12">
                  <label>Sub Broker Code <span class="text-danger">*</span></label>
                  <input type="text" name="sub_brk_cd" id="sub_brk_cd" class="form-control"
                    formControlName="sub_brk_cd">
                </div>
              </div>
              <div class="row my-4" *ngIf="__traxForm.get('bu_type').value == 'B'">
                <div class="col-sm-12">
                  <label>Sub Broker ARN <span class="text-danger">*</span></label>
                  <input type="text" name="sub_brk_arn" id="sub_brk_arn" class="form-control"
                    formControlName="sub_arn_no">
                </div>
              </div>
              <div class="row my-4">
                <div class="col-sm-12 my-3" *ngIf="__traxForm.get('bu_type').value != ''">
                  <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClick($event)">
                    <div class="searchDiv">
                      <label for="Euin">EUIN<span class="text-danger">*</span></label>
                      <input type="search" id="Euin" class="form-control" placeholder="Serach By EUIN Number"
                        formControlName="euin_no">
                      <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClick($event)">
                        <div class="serachresult_client" #searchResult>
                          <ul *ngIf="__euinMst.length > 0">
                            <li *ngFor="let items of __euinMst" (click)="getItemsDtls(items,'E')">
                              {{items.euin_no}} | {{items.emp_name}}
                            </li>
                          </ul>
                          <div class="noDataFound" *ngIf="__euinMst.length == 0">
                            <h5 class="text-center">
                              Sorry!! No EUIN Numbers Found
                            </h5>
                            <p>If your result match,they will appear here</p>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="invalid-feedback"
                    *ngIf="__traxForm.get('euin_no').invalid && (__traxForm.get('euin_no').dirty || __traxForm.get('euin_no').touched)">
                    <span class="invalid-feedback" *ngIf="(__traxForm.get('euin_no')).errors?.required">*Please provide
                      EUIN number</span>
                  </div>
                </div>
              </div>

              <div class="row my-4">
                <div class="col-sm-12">
                  <label for="kyc_stats">KYC Status: </label>
                  <label class="ml-2"><input type="radio" value="Y" formControlName="kyc_status"><span>&nbsp;With
                      KYC</span></label>
                  <label class="ml-3"><input type="radio" value="N" formControlName="kyc_status"><span>&nbsp;Without
                      KYC</span></label>
                </div>
              </div>
              <!-- Client Dtls -->
              <div class="row my-4">
                <div class="col-sm-12">
                  <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforClient($event)">
                    <div class="searchDiv">
                      <label for="__clntCd">Client Code <span class="text-danger">*</span></label>
                      <p class="text-danger" *ngIf="__clientMst.length == 0 && __traxForm.get('client_code').value">
                        Client does not exists</p>
                      <input type="search" name="__clntCd" id="__clntCd" class="form-control"
                        formControlName="client_code"
                        placeholder="Search By Client Name,Client Code, Email, Mobile, Pan & DOB">
                      <div class="processMain_2" __searchResVisibility
                        (appOutsideClick)="outsideClickforClient($event)">
                        <div class="serachresult_client" #clientCd>
                          <ul *ngIf="__clientMst.length > 0">
                            <li *ngFor="let items of __clientMst" (click)="getItemsDtls(items,'C')">
                              {{items.client_code}} | {{items.pan}} | {{items.client_name}}
                            </li>
                          </ul>
                          <div class="noDataFound" *ngIf="__clientMst.length == 0">
                            <h5 class="text-center">
                              Sorry!! No Results Found
                            </h5>
                            <p>To create a new client .Please click on Create Client</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
              <div class="row my-4">
                <div class="my-3" [ngClass]="{'col-sm-12': !__dialogDtForClient,'col-sm-10':__dialogDtForClient}"
                  *ngIf="__traxForm.get('client_code').value && __traxForm.get('client_name').value">
                  <label for="__clName">Client Name</label>
                  <input type="search" name="__clName" id="__clName" class="form-control" placeholder="Client Name"
                    formControlName="client_name" [attr.disabled]="true">
                </div>
                <div class="col-sm-2 clientCode"
                  *ngIf="__dialogDtForClient && __traxForm.get('client_code').value && __traxForm.get('client_name').value">
                  <button (click)="openDialog('C')" color="primary" *ngIf="this.__dialogDtForClient" mat-button
                    type="button" aria-label="Example icon button with a eye icon" title="View Client Details">
                    <mat-icon>remove_red_eye</mat-icon>
                    View Details
                  </button>
                </div>

              </div>
              <div class="row my-4">
                <div class="col-sm-12">
                  <label for="first_kyc_view">Client KYC Status <span class="text-danger">*</span>
                  </label>
                  <select name="first_kyc" id="first_kyc" class="form-control" formControlName="first_kyc">
                    <option value="">Select KYC</option>
                    <option *ngFor="let __kyc of __kycMst" [value]="__kyc.id"> {{__kyc.value}}</option>
                  </select>
                </div>

              </div>

             <!-- Mode Of Holding -->
             <div class="row my-4">
              <div class="col-sm-12">
                <label for="mode_of_holding">Mode Of Holding</label>
                <select class="form-control" formControlName="mode_of_holding"> 
                  <option value="">Select mode of holding</option>
                  <option value="A">Any Or Survivor</option>
                  <option value="J">Joint</option>
                  <option value="S">Single</option>
                </select>
              </div>
             </div>
             <!-- End -->
             
             <div class="row">
              <div class="col-sm-12">
                <table>
                  <thead>
                    <tr>
                      <th class="text-center">
                        Add Second Applicant
                      </th>
                      <th class="text-center">
                        <button mat-button  color="primary" type="button">
                          + Add Additional Applicant
                        </button>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                         <div class="row">
                          <div class="col-sm-12 my-3">
                            <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforSecondClient($event)">
                              <div class="searchDiv">
                                <label for="__clntCd">Client Code <span class="text-danger">*</span></label>
                                <input type="search" name="__clntCd" id="__clntCd" class="form-control"
                                  formControlName="second_client_code"
                                  placeholder="Search By Client Name,Client Code, Email, Mobile, Pan & DOB">
                                <div class="processMain_2" __searchResVisibility
                                  (appOutsideClick)="outsideClickforSecondClient($event)">
                                  <div class="serachresult_client" #secondclientCd>
                                    <ul *ngIf="__sec_clientMst.length > 0">
                                      <li *ngFor="let items of __sec_clientMst" (click)="getadditionalApplicant(items,'FC')">
                                        {{items.client_code}} | {{items.pan}} | {{items.client_name}}
                                      </li>
                                    </ul>
                                    <div class="noDataFound" *ngIf="__sec_clientMst.length == 0">
                                      <h5 class="text-center">
                                        Sorry!! No Results Found
                                      </h5>
                                      <p>To create a new client .Please click on Create Client</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12 my-3" *ngIf="__SecondClient">
                             <label for="second_cl_name">Client name</label>
                             <input 
                             type="text" 
                             [attr.disabled]="__SecondClient"
                             name="second_client_name" 
                             id="second_client_name" 
                             class="form-control" 
                             formControlName="second_client_name"/>
                          </div>
                          <div class="col-sm-12 my-3" *ngIf="__SecondClient">
                            <label for="second_cl_name">Pan No</label>
                            <input 
                            type="text" 
                            [attr.disabled]="__SecondClient"
                            name="second_client_pan" 
                            id="second_client_pan" 
                            class="form-control" 
                            formControlName="second_client_pan"/>
                         </div>
                         </div>
                      </td>
                      <td class="text-center">
                          <ng-container *ngIf="__traxForm.get('second_client_code').value && __SecondClient">
                             <button type="button" mat-button color="primary" (click)="openDialogForAdditionalApplicant('FC')">
                              <mat-icon>visibility</mat-icon> View Details</button>
                          </ng-container>
                          <ng-container *ngIf="__traxForm.get('second_client_code').value && __sec_clientMst.length == 0">
                            <button mat-button color="primary" type="button">
                              <mat-icon>add</mat-icon> Create Client Clode</button>
                            <button mat-button color="primary">
                              Create Client Clode Later</button>

                          </ng-container>
                      </td>
                    </tr>
                  </tbody>

                </table>
                <table>
                  <thead>
                    <tr>
                      <th>Add Additioanal Client</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                            <tr>
                                <td>
                                   <div class="row">
                                    <div class="col-sm-12 my-3">
                                      <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforThirdClient($event)">
                                        <div class="searchDiv">
                                          <label for="__clntCd">Client Code <span class="text-danger">*</span></label>
                                          <input type="search" name="__clntCd" id="__clntCd" class="form-control"
                                            formControlName="third_client_code"
                                            placeholder="Search By Client Name,Client Code, Email, Mobile, Pan & DOB">
                                          <div class="processMain_2" __searchResVisibility
                                            (appOutsideClick)="outsideClickforThirdClient($event)">
                                            <div class="serachresult_client" #thirdclientCd>
                                              <ul *ngIf="__third_clientMst.length > 0">
                                                <li *ngFor="let items of __third_clientMst" (click)="getadditionalApplicant(items,'TC')">
                                                  {{items.client_code}} | {{items.pan}} | {{items.client_name}}
                                                </li>
                                              </ul>
                                              <div class="noDataFound" *ngIf="__third_clientMst.length == 0">
                                                <h5 class="text-center">
                                                  Sorry!! No Results Found
                                                </h5>
                                                <p>To create a new client .Please click on Create Client</p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-12 my-3" *ngIf="__ThirdClient">
                                       <label for="second_cl_name">Client name</label>
                                       <input 
                                       type="text" 
                                       [attr.disabled]="__SecondClient"
                                       name="third_client_name" 
                                       id="third_client_name" 
                                       class="form-control" 
                                       formControlName="third_client_name"/>
                                    </div>
                                    <div class="col-sm-12 my-3" *ngIf="__ThirdClient">
                                      <label for="second_cl_name">Pan No</label>
                                      <input 
                                      type="text" 
                                      [attr.disabled]="__SecondClient"
                                      name="third_client_pan" 
                                      id="third_client_pan" 
                                      class="form-control" 
                                      formControlName="third_client_pan"/>
                                   </div>
                                   </div>
                                </td>
                                <td class="text-center">
                                    <ng-container *ngIf="__traxForm.get('third_client_code').value && __ThirdClient">
                                       <button type="button" mat-button color="primary" (click)="openDialogForAdditionalApplicant('FC')">
                                        <mat-icon>visibility</mat-icon> View Details</button>
                                    </ng-container>
                                    <ng-container *ngIf="__traxForm.get('third_client_code').value && __third_clientMst.length == 0">
                                      <button mat-button color="primary" type="button">
                                        <mat-icon>add</mat-icon> Create Client Clode</button>
                                      <button mat-button color="primary">
                                        Create Client Clode Later</button>
          
                                    </ng-container>
                                </td>
                              </tr>
               
                    
             
                  </tbody>
                </table>
              </div>
             </div>

              <div class="row my-4">
                <div class="col-sm-12">
                  <label>Form Receive From <span class="text-danger">*</span></label>
                  <input type="text" name="recv_from" id="recv_from" class="form-control" formControlName="recv_from"
                    placeholder="Enter Form Receive From">
                </div>
              </div>
              <div class="row my-4">
                <div [ngClass]="{'col-sm-12': !__dialogDtForScheme,'col-sm-10':__dialogDtForScheme}">
                  <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforScheme($event)">
                    <div class="searchDiv">
                      <label for="schemeName">Scheme Name<span class="text-danger">*</span></label>
                      <input type="search" id="schemeName" class="form-control" placeholder="Serach By Scheme Name"
                        formControlName="scheme_name">
                      <div class="processMain_2" __searchResVisibility
                        (appOutsideClick)="outsideClickforScheme($event)">
                        <div class="serachresult_client" #schemeRes>
                          <ul *ngIf="__schemeMst.length > 0">
                            <li *ngFor="let items of __schemeMst" (click)="getItemsDtls(items,'SC')">
                              {{items.scheme_name}}
                            </li>
                          </ul>

                          <div class="noDataFound" *ngIf="__schemeMst.length == 0">
                            <h5 class="text-center">
                              Sorry!! No Schemes Results Found
                            </h5>
                            <p>If your result match,they will appear here</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-sm-2 clientCode" *ngIf="__dialogDtForScheme">
                  <button color="primary" *ngIf="this.__dialogDtForScheme" (click)="openDialog('S')" mat-button
                    type="button" aria-label="Example icon button with a eye icon" title="View Client Details">
                    <mat-icon>remove_red_eye</mat-icon>
                    View Details
                  </button>
                </div>
              </div>

              <div class="row my-4">
                <div class="col-sm-12">
                  <label for="option">Option <span class="text-danger">*</span></label>
                  <select name="option" id="option" formControlName="option" class="form-control">
                    <option value=""> Select Option</option>
                    <option *ngFor="let _opts of OptionMst" value="{{_opts.id}}">{{_opts.opt_name}}</option>
                  </select>
                  <div class="invalid-feedback"
                    *ngIf="__traxForm.get('option').invalid && (__traxForm.get('option').dirty || __traxForm.get('option').touched)">
                    <span class="invalid-feedback" *ngIf="(__traxForm.get('option')).errors?.required">*Please provide
                      option</span>
                  </div>
                </div>
              </div>

              <div class="row my-4">
                <div class="col-sm-12">
                  <label for="plan">Plan <span class="text-danger">*</span></label>
                  <select name="plan" id="plan" formControlName="plan" class="form-control">
                    <option value=""> Select Plan</option>
                    <option *ngFor="let _pln of PlanMst" value="{{_pln.id}}">{{_pln.plan_name}}</option>
                  </select>
                  <div class="invalid-feedback"
                    *ngIf="__traxForm.get('plan').invalid && (__traxForm.get('plan').dirty || __traxForm.get('plan').touched)">
                    <span class="invalid-feedback" *ngIf="(__traxForm.get('plan')).errors?.required">*Please provide
                      plan</span>
                  </div>
                </div>
              </div>

              <div class="row my-4">
                <div class="col-sm-12">
                  <label for="FrmType">Transaction Type <span class="text-danger">*</span></label>
                  <select name="frmType" class="form-control" id="FrmType" formControlName="trans_id">
                    <option value="">Select Transaction Type</option>
                    <option *ngFor="let __formType of __transType" value="{{__formType.id}}">{{__formType.trns_name}}
                    </option>
                  </select>
                  <div class="invalid-feedback"
                    *ngIf="__traxForm.get('trans_id').invalid && (__traxForm.get('trans_id').dirty || __traxForm.get('trans_id').touched)">
                    <span class="invalid-feedback" *ngIf="(__traxForm.get('trans_id')).errors?.required">*Please provide
                      form
                      type</span>
                  </div>
                </div>
              </div>


              <div class="row my-4">
                <div class="col-sm-12">
                  <label for="inv_type">Investment Type <span class="text-danger">*</span></label>
                  <select name="inv_type" id="inv_type" formControlName="inv_type" class="form-control">
                    <option value=""> Select investment type</option>
                    <option value="F"> Fresh</option>
                    <option value="A"> Additional</option>
                  </select>
                  <div class="invalid-feedback"
                    *ngIf="__traxForm.get('inv_type').invalid && (__traxForm.get('inv_type').dirty || __traxForm.get('inv_type').touched)">
                    <span class="invalid-feedback" *ngIf="(__traxForm.get('inv_type')).errors?.required">*Please provide
                      investment type</span>
                  </div>

                </div>
              </div>
              <div class="row my-4" *ngIf="__traxForm.get('inv_type').value == 'F'">
                <div class="col-sm-12">
                  <label for="appl_number"> Application Number</label>
                  <input type="text" name="appl_number" id="appl_number" formControlName="application_no"
                    class="form-control" placeholder="Enter Application Number">
                </div>
              </div>
              <div class="row my-4" *ngIf="__traxForm.get('inv_type').value == 'A'">
                <div class="col-sm-12">
                  <label for="folio_number"> Folio Nimber</label>
                  <input type="text" name="folio_number" id="folio_number" formControlName="folio_number"
                    class="form-control" placeholder="Enter Folio Number">
                </div>
              </div>
              <div class="row my-4">
                <div class="col-sm-12">
                  <label for="amount">Amount</label>
                  <input type="text" name="amount" id="amount" formControlName="amount" class="form-control"
                    placeholder="Enter Amount">
                </div>
              </div>
              <div class="row my-4">
                <div class="col-sm-12">
                  <label for="chq">Cheque Number</label>
                  <input type="text" name="chq" id="chq" formControlName="chq_no" class="form-control"
                    placeholder="Enter Cheque Number">
                </div>
              </div>
              <div class="row my-4">
                <div [ngClass]="{'col-sm-12':!__dialogDtForBnk,'col-sm-10': __dialogDtForBnk}">

                  <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforbank($event)">
                    <div class="searchDiv">
                      <label for="__clntCd">Bank <span class="text-danger">*</span></label>
                      <input type="search" name="__clntCd" id="__clntCd" class="form-control"
                        formControlName="chq_bank"
                        placeholder="Search By Bank Name, Ifs Code , Branch Name">
                      <div class="processMain_2" __searchResVisibility
                        (appOutsideClick)="outsideClickforbank($event)">
                        <div class="serachresult_client" #searchbnk>
                          <ul *ngIf="__bnkMst.length > 0">
                            <li *ngFor="let items of __bnkMst" (click)="getItemsDtls(items,'B')">
                              {{items.bank_name}} | {{items.ifs_code}} | {{items.branch_name}}
                            </li>
                          </ul>
                          <div class="noDataFound" *ngIf="__bnkMst.length == 0">
                            <h5 class="text-center">
                              Sorry!! No Results Found
                            </h5>
                            <p>Banks are not available</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 clientCode"
                *ngIf="__dialogDtForBnk && __traxForm.get('chq_bank').value">
                <button (click)="openDialog('B')" color="primary"  mat-button
                  type="button" aria-label="Example icon button with a eye icon" title="View Bank Details">
                  <mat-icon>remove_red_eye</mat-icon>
                  View Details
                </button>
              </div>
              </div>
              <div class="row my-4">
                <div class="col-sm-12">
                  <label for="file">Upload Scan Application Form <span class="text-danger">*</span></label>
                  <input type="file" name="file" id="file" formControlName="file" class="form-control"
                    (change)="getFIle($event.target)" accept=".jpg,.jpeg,.png">
                  <div class="invalid-feedback"
                    *ngIf=" __traxForm.get('file').invalid && ( __traxForm.get('file').dirty ||  __traxForm.get('file').touched)">
                    <span class="invalid-feedback" *ngIf=" __traxForm.get('file').errors?.required">*Please
                      provide file</span>
                    <span class="invalid-feedback" *ngIf="__traxForm.get('file').errors?.inValidExt">*Invalid
                      file extension.</span>
                    <span class="invalid-feedback" *ngIf="__traxForm.get('file').errors?.fileSizeValidator">*File size
                      must
                      not exceed than
                      2MB.</span>
                  </div>
                  <br clear="all" />
                  <img *ngIf="this.__traxForm.get('filePreview').value" class="imgThumbnail"
                    [src]="this.__traxForm.get('filePreview').value" alt="Application form Image">

                </div>
              </div>

              <div class="row my-4">
                <div class="col-sm-12">
                  <label for="file">Remarks <span class="text-danger">*</span></label>
                  <textarea name="rmks" id="rmks" cols="30" rows="5" formControlName="remarks" class="form-control">

                      </textarea>
                </div>
              </div>
              <div class="row ">
                <div class="col-sm-12 my-1 ">
                  <button class="btn addBtn  ml-2" form="__traxForm" [disabled]="this.__traxForm.invalid">
                    Submit
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>