<div class="topSec">
  <div class="topSec_1">
    <div class="container-fluid topSecSub">
      <div class="topLeftSec">
        <div class="logoTop"><img src="../../../../../assets/images/logo.jpg" alt="NuEdge Logo"
            [routerLink]="['/main/']" /></div>
      </div>
      <div class="topRightSec">
        <core-list [__items]="__rightHeaderMenu" [__flag]="'RL'" [__classUL]=""></core-list>
      </div>
    </div>
  </div>

  <div class="topSec_2" *ngIf="__rtDt?.id > 3">
    <div class="container-fluid topSecSub">
      <div class="topNavDropdown">

        <ul class="nav navbar-nav">
          <li *ngFor="let __menus of __top_menu">
            <button mat-button *ngIf="__menus.sub_menu.length == 0" [routerLink]="[__menus.url]"
              routerLinkActive="activeMainmenu">{{__menus.menu_name}}</button>

            <ng-container *ngIf="__menus.sub_menu.length > 0">
              <button mat-button [matMenuTriggerFor]="levelOne" #levelOneTrigger="matMenuTrigger"
                (mouseenter)="levelOneTrigger.openMenu()">
                {{__menus.menu_name}}
                <mat-icon>arrow_drop_down</mat-icon>
              </button>
              <mat-menu #levelOne="matMenu" xPosition="after" yPosition="below">
                <ng-container *ngFor="let childL1 of __menus.sub_menu">
                  <!-- <li > -->
                  <button *ngIf="childL1.has_submenu == 'N'" mat-menu-item [routerLink]="[childL1.url]"
                    routerLinkActive="active">{{childL1.menu_name}}</button>
                  <!-- </li> -->
                  <ng-container *ngIf="childL1.sub_menu && childL1.sub_menu.length > 0">
                    <!-- <li mat-menu-item [matMenuTriggerFor]="levelTwo"> -->
                    <button mat-menu-item [matMenuTriggerFor]="levelTwo">{{childL1.menu_name}}</button>
                    <!-- </li> -->

                    <mat-menu #levelTwo="matMenu">
                      <ng-container *ngFor="let childL2 of childL1.sub_menu">

                        <button mat-menu-item [routerLink]="[childL2.url]"
                          routerLinkActive="active">{{childL2.menu_name}}
                        </button>
                      </ng-container>
                    </mat-menu>
                  </ng-container>



                </ng-container>
              </mat-menu>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>