<div class="topSec">
  <div class="topSec_1">
    <div class="container-fluid topSecSub">
      <div class="topLeftSec">
        <div class="logoTop"><img src="../../../../../assets/images/logo.jpg" alt="NuEdge Logo"
            [routerLink]="['/main/']" /></div>
      </div>
      <div class="topRightSec">
        <core-list [__items]="__rightHeaderMenu" [__flag]="'RL'" [__classUL]=""></core-list>
      </div>
    </div>
  </div>
<!--
  <div class="topSec_2 mat-elevation-z8">
    <div class="container-fluid topSecSub">
      <div class="topNavDropdown">
        <ul class="nav navbar-nav">
         <li *ngFor="let menus of __top_menu" title="{{menus.title}}">
          <button *ngIf="menus?.sub_menu.length == 0" mat-icon-button>
            <mat-icon>{{menus.mat_icon}}</mat-icon>
          </button>
          <button *ngIf="menus?.sub_menu.length > 0" mat-icon-button [matMenuTriggerFor]="levelOne" #levelOneTrigger="matMenuTrigger">
            <mat-icon>{{menus.mat_icon}}</mat-icon>
          </button>
           <mat-menu #levelOne="matMenu" xPosition="after" yPosition="below">
              <div class="row p-0 m-0">
                <div class="col-sm-4 d-flex justify-content-center headerMenu" *ngFor="let shoe of menus.sub_menu">
                  <mat-icon>{{shoe.icon}}</mat-icon>
                </div>
              </div>
          </mat-menu>
         </li>
        </ul>
      </div>
    </div>
  </div> -->
</div>
