<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <form  [formGroup]="__formTypeForm" (ngSubmit)="submit()" id="__formTypeForm" autocomplete="off" ngNativeValidate>
    <div class="row">
      <div class="col-sm-12 card_2">
        <label for="productName">Product <span class="text-danger">*</span></label>
         <select class="form-control" formControlName="product_id" id="productName">
           <option value="">Select Product</option>
          <option *ngFor="let __products of __ProductMaster" value="{{__products.id}}">{{__products.product_name}}</option>
         </select>
        <div class="invalid-feedback" *ngIf="__formTypeForm.get('product_id').invalid && (__formTypeForm.get('product_id').dirty || __formTypeForm.get('product_id').touched)">
          <span class="invalid-feedback" *ngIf="(__formTypeForm.get('product_id')).errors?.required">*Please provide product name</span>
        </div>
      </div>
      <div class="col-sm-12 card_2">
        <label for="frmName">Form Name <span class="text-danger">*</span></label>
        <input type="text" name="form_name" id="frmName" class="form-control" placeholder="Enter Form Name" formControlName="form_name">
        <div class="invalid-feedback" *ngIf="__formTypeForm.get('form_name').invalid && (__formTypeForm.get('form_name').dirty || __formTypeForm.get('form_name').touched)">
          <span class="invalid-feedback" *ngIf="(__formTypeForm.get('form_name')).errors?.required">*Please provide form name</span>
        </div>
      </div>
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end" >
  <button class="btn" mat-dialog-close>Cancel</button>
  <button class="btn addBtn" mat-button  form="__formTypeForm" [disabled]="this.__formTypeForm.invalid">Submit</button>
</mat-dialog-actions>