<div  cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div mat-dialog-title class="dialog-title" >
  <h2 [title]="data.title">{{data.title}}</h2>
  <div class="btnIcon">
    <button mat-icon-button title="Minimize" (click)="minimize()">
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-icon-button title="Restore-down" (click)="maximize()" *ngIf="__isVisible">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
      <mat-icon>check_box_outline_blank </mat-icon>
    </button>

    <button mat-icon-button title="Close" [mat-dialog-close]="">
      <mat-icon>close</mat-icon>
    </button>
     </div>
  </div>
<mat-dialog-content>
  <form  [formGroup]="__trnsForm" (ngSubmit)="submit()" [attr.id]="'__trnsForm'+ data.id" autocomplete="off" ngNativeValidate>
    <div class="row">
      <div class="col-sm-12 card_2">
        <label for="trans_Type">Transaction Type <span class="text-danger">*</span></label>
         <select class="form-control" formControlName="trans_id" id="trans_Type">
           <option value="">Select Transaction Type</option>
          <option *ngFor="let __transType of __transTypeMaster" value="{{__transType.id}}">{{__transType.trns_type}}</option>
         </select>
        <div class="invalid-feedback" *ngIf="__trnsForm.get('trans_id').invalid && (__trnsForm.get('trans_id').dirty || __trnsForm.get('trans_id').touched)">
          <span class="invalid-feedback" *ngIf="(__trnsForm.get('trans_id')).errors?.required">*Please provide transaction type</span>
        </div>
      </div>
      <div class="col-sm-12 card_2">
        <label for="trnsName">Transaction Name <span class="text-danger">*</span></label>
        <input type="text" name="trns_name" id="trnsName" class="form-control" placeholder="Enter Transaction Name" formControlName="trns_name">
        <div class="invalid-feedback" *ngIf="__trnsForm.get('trns_name').invalid && (__trnsForm.get('trns_name').dirty || __trnsForm.get('trns_name').touched)">
          <span class="invalid-feedback" *ngIf="(__trnsForm.get('trns_name')).errors?.required">*Please provide transaction name</span>
        </div>
      </div>
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="popupBoxSubmitSec">
  <button class="btn addBtn"  [attr.form]="'__trnsForm'+data.id" [disabled]="this.__trnsForm.invalid">Submit</button>
</mat-dialog-actions>
<br clear="all">
</div>

