<!-- <mat-card-header>
  <mat-card-title>
  </mat-card-title> -->
  <div class="row form-group my-2">
      <div class="col-sm-12 d-flex justify-content-end">
        <div class="w-25 my-auto pr-4">
          <span class="ml-auto">
            <input id="search" class="form-control rounded" type="text" (input)="filterGlobal($event)"
              placeholder="Search" />
          </span>
        </div>
      </div>
   </div>
<!-- </mat-card-header>
<mat-card-content> -->
  <p-table
  #primeTbl
  id="trxDt"
  [value]="rejectTrxn"
  [rows]="10" [paginator]="true"
      [rowHover]="true"
      [columns]="column"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      styleClass="p-datatable-lg p-datatable-striped"
      [pageLinks]="3"
      [globalFilterFields]="getColumns()"
        [rowsPerPageOptions]="[10,50,100,{ showAll: 'All' }]"
      [showCurrentPageReport]="true">
          <ng-template pTemplate="header">
            <tr class="stickyHeader">
              <th *ngFor="let col of column" [pSortableColumn]="col.field" [style]="'width : '+col.width">
                {{ col.header }}
                <p-sortIcon [field]="col.field">
                </p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-trxn let-i="rowIndex">
            <tr tabindex="999"
            [ngStyle]="{'background-color': '#ff222214'}">
              <td *ngFor="let col of column" [style]="'width : '+col.width">
                <ng-container [ngSwitch]="true">
                  <ng-container *ngSwitchCase="col.field == 'sl_no'">
                    <p class="m-0">
                      {{i + 1}}
                    </p>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'tot_tds'">
                    <p class="m-0" [matTooltip]="trxn[col.field]">{{ trxn[col.field]}}</p>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'trans_date'">
                    <p class="m-0" [matTooltip]="trxn[col.field]">{{ (trxn[col.field] | date:'dd-MM-YY')}}</p>
                  </ng-container>

                  <ng-container *ngSwitchCase="col.field == 'bank_name'">
                    <p class="m-0" [matTooltip]="trxn[col.field]">{{  trxn[col.field] ? (trxn[col.field] | titlecase | ellipsis:50) : 'N/A'}}</p>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'scheme_name'">
                    <p class="m-0" [matTooltip]="trxn[col.field]">{{  trxn[col.field] ? (trxn[col.field] | ellipsis:50) : 'N/A'}}</p>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'remarks'">
                    <p class="m-0" [matTooltip]="trxn[col.field]">{{ trxn[col.field] ? (trxn[col.field] | titlecase | ellipsis:15) : 'N/A'}}</p>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <p class="m-0" [matTooltip]="trxn[col.field]">{{ trxn[col.field] ? trxn[col.field] : 'N/A' }}</p>
                  </ng-container>
                </ng-container>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colSpan]="columns.length" class="noHistoryAvailable">
                <h5>No Records Found</h5>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="loadingbody" let-columns="columns">
            <tr>
                <td *ngFor="let col of columns; let even = even">
                    <p-skeleton [ngStyle]="{'width': col.width}"></p-skeleton>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td
              *ngFor="let col of column"
              [style]="'width : ' + col.width"
            >
              <ng-container [ngSwitch]="true">
                <ng-container *ngSwitchCase="col.field == 'sl_no'">
                  <p class="m-0">Total</p>
                </ng-container>
                <ng-container
                  *ngSwitchCase=" col.field == 'tot_amount'
                  || col.field == 'tot_gross_amount' || col.field == 'tot_tds'
                  || col.field == 'tot_stamp_duty'">
                  <p class="m-0">{{RejectTrxnFooterTrxnCacl ? (RejectTrxnFooterTrxnCacl[col.field] | number:'1.2-2') : 0}}</p>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'units'">
                  <p class="m-0">{{RejectTrxnFooterTrxnCacl ? (RejectTrxnFooterTrxnCacl[col.field] | number:'1.3-3') : 0}}</p>
                  </ng-container>
                <ng-container *ngSwitchDefault></ng-container>
              </ng-container>
            </td>
          </tr>
        </ng-template>
        </p-table>
<!-- </mat-card-content> -->
