<div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforClient($event)">
  <div class="searchDiv">
    <label [for]="label">
      <mat-icon
      class="errorIcon"
      #tooltip="matTooltip"
      [matTooltip]="isClientExistMsg"
      *ngIf="isExists">
      error</mat-icon>
      {{label}}
      <span *ngIf="isRequired" class="text-danger">*</span>
    </label>
    <input type="text"
    #srch
    [name]="label"
    [id]="label"
    class="form-control"
    (keydown)="onKeyUp($event)"
    [formControl]="$any(ngControl.control)"
    [placeholder]="placeholder">
    <span class="spinner-border"
    *ngIf="isPending && ($any(ngControl.control))?.value.length > 1"
  ></span>
    <div class="processMain_2"
    __searchResVisibility
    (appOutsideClick)="outsideClickforClient($event)">
      <div class="serachresult_client" #searchList srchScroll (reachEnd)="scrollEnd($event)">
        <ul *ngIf="listItems.length > 0">
          <core-list-item *ngFor="let items of listItems" (click)="getItems(items)" [items]="items">
            <li>

                <span *ngFor = "let props of propertiesToShow;let i=index">
                  <!-- <ng-container *ngIf="flag == 'C';else others">
                    <span *ngIf="i>0">[</span>
                    {{items[props]}}
                    <span *ngIf="i>0">]</span>
                     </ng-container>
                    <ng-template #others> -->
                      {{items[props]}}
                  <!-- </ng-template> -->
                 </span>

            </li>
            </core-list-item>
        </ul>
        <div class="noDataFound" *ngIf="listItems.length == 0">
          <shared-no-data
          [alertMsgSubTitle]="'Sorry!! No Records Found'"
          [alertMsgTitle]="noDataFoundTitle"
          [alertMsgSubTitle]="noDataFoundSubTitle"
          ></shared-no-data>
        </div>
      </div>
    </div>
  </div>
</div>
