<div class="row flexSec">
  <div class="col-sm-7">
    <shared-upload-csv [leftHeaderTitle]="'Upload Sub Category'" [flag]="'S'"
    [file_name]="'Sample Sub Category'"
    [columns]="tableColumns"
    [CatMst]="__catMst"
    [api_name]="'/subcategoryimport'"
      [dataSource]="tableData"
      [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>
  <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All Sub Category'"
    [headerTitle]="'Recent Sub Category'" [flag]="'S'"
      (populate)="populateDT($event)"
      (viewAll)="viewAll()"
      [dataSource]="__selectRNT.data"></shared-mst-dtls>
  </div>
</div>
