<div class="row flexSec">
  <div class="col-sm-7 p-0">
    <div class="cardSec m-1">
      <div class="card_header">
        <h3>{{this._clId > 0 ? 'Update' : 'Add'}} {{__cl_type == 'E' ? 'Existing' : __cl_type == 'M' ? 'Minor' : __cl_type == 'P'? 'Pan Holder' : 'Non-Pan Holder'}}</h3>
      </div>
      <div class="card_body" #scrollTobottom>
        <form  [formGroup]="__clientForm" (ngSubmit)="submit()" id="__clientForm" autocomplete="off" ngNativeValidate>
        <div class="row" *ngIf="__cl_type != 'M' && __cl_type != 'N'">
            <div class="col-sm-12 my-4">
              <label for="panNo">Pan No <span class="text-danger">*</span></label>
              <input type="text" name="pan" id="panNo"
              class="form-control"
              placeholder="eg. XXXXX1234X"
              formControlName="pan" minlength="10" maxlength="10"
              (change)="checkPanExistornot($event)"
              >
              <div class="invalid-feedback" *ngIf="__clientForm.get('pan').invalid && (__clientForm.get('pan').dirty || __clientForm.get('pan').touched)">
                <span class="invalid-feedback" *ngIf="(__clientForm.get('pan')).errors?.required">*Please provide pan number</span>
                <span class="invalid-feedback" *ngIf="(__clientForm.get('pan')).errors?.pattern">*Please provide valid pan
                  Number</span>
                  <span class="invalid-feedback" *ngIf="(__clientForm.get('pan')).hasError('minlength')">*pan
                    Number Must Be 10 Characters Long</span>
                    <span class="invalid-feedback" *ngIf="(__clientForm.get('pan')).hasError('maxlength')">*pan
                      number must be 10 characters long</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 my-4">
              <label for="clientName">Client Name <span class="text-danger">*</span></label>
              <input type="text" name="client_name" id="clientName" class="form-control" placeholder="Enter Client Name" formControlName="client_name">
              <div class="invalid-feedback" *ngIf="__clientForm.get('client_name').invalid && (__clientForm.get('client_name').dirty || __clientForm.get('client_name').touched)">
                <span class="invalid-feedback" *ngIf="(__clientForm.get('client_name')).errors?.required">*Please provide client name</span>
              </div>
            </div>
            <div class="col-sm-12 my-4" *ngIf="(__cl_type == 'E' && _clId > 0) || __cl_type == 'M' || __cl_type == 'N'||__cl_type == 'P'">
              <label for="dob">Date Of Birth <span class="text-danger">*</span></label>
              <input type="date"
              name="dob"
              id="dob"
              class="form-control"
              [max]="__maxDt"
              formControlName="dob">
              <div class="invalid-feedback" *ngIf="__clientForm.get('dob').invalid && (__clientForm.get('dob').dirty || __clientForm.get('dob').touched)">
                <span class="invalid-feedback" *ngIf="(__clientForm.get('dob')).errors?.required">*Please provide date of birth</span>
              </div>
            </div>

          </div>

          <div class="row" *ngIf="__cl_type == 'M'">
            <div class="col-sm-12 my-4">
              <label for="gur_pan">Gurdians Pan <span class="text-danger">*</span></label>
              <input type="text" name="gur_pan" id="gur_pan" class="form-control" placeholder="eg. XXXXX1234X" formControlName="gurdians_pan" minlength="10" maxlength="10">
              <div class="invalid-feedback" *ngIf="__clientForm.get('gurdians_pan').invalid && (__clientForm.get('gurdians_pan').dirty || __clientForm.get('gurdians_pan').touched)">
                <span class="invalid-feedback" *ngIf="(__clientForm.get('gurdians_pan')).errors?.required">*Please provide pan number</span>
                <span class="invalid-feedback" *ngIf="(__clientForm.get('gurdians_pan')).errors?.pattern">*Please provide valid pan
                  Number</span>
                  <span class="invalid-feedback" *ngIf="(__clientForm.get('gurdians_pan')).hasError('minlength')">*pan
                    Number Must Be 10 Characters Long</span>
                    <span class="invalid-feedback" *ngIf="(__clientForm.get('gurdians_pan')).hasError('maxlength')">*pan
                      number must be 10 characters long</span>
              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="gur_name">Gurdians Name <span class="text-danger">*</span></label>
              <input type="text" name="gur_name" id="gur_name" class="form-control" placeholder="Enter Gurdians Name" formControlName="gurdians_name">
              <div class="invalid-feedback" *ngIf="__clientForm.get('gurdians_name').invalid && (__clientForm.get('gurdians_name').dirty || __clientForm.get('gurdians_name').touched)">
                <span class="invalid-feedback" *ngIf="(__clientForm.get('gurdians_name')).errors?.required">*Please provide gurdians name</span>
              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="relations">Relations <span class="text-danger">*</span></label>
              <textarea class="form-control" formControlName="relations" rows="2" cols="12"></textarea>
              <div class="invalid-feedback" *ngIf="__clientForm.get('relations').invalid && (__clientForm.get('relations').dirty || __clientForm.get('relations').touched)">
                <span class="invalid-feedback" *ngIf="(__clientForm.get('relations')).errors?.required">*Please provide relations</span>
              </div>
            </div>
          </div>


          <div class="row" *ngIf="(__cl_type == 'E' && _clId > 0) || __cl_type == 'M' || __cl_type == 'N'||__cl_type == 'P'">
            <div class="col-sm-12 my-4">
              <label for="mblNumber">Mobile Number <span class="text-danger">*</span></label>
              <input (keypress)="preventNonumeric($event)" maxlength="10" minlength="10" type="text" name="mobile" id="mblNumber" class="form-control" placeholder="Enter Mobile Number" formControlName="mobile">
              <div class="invalid-feedback" *ngIf="__clientForm.get('mobile').invalid && (__clientForm.get('mobile').dirty || __clientForm.get('mobile').touched)">
                <span class="invalid-feedback" *ngIf="(__clientForm.get('mobile')).errors?.required">*Please provide mobile number</span>
                <span class="invalid-feedback" *ngIf="(__clientForm.get('mobile')).hasError('minlength')">*mobile number must be 10 digits</span>
                <span class="invalid-feedback" *ngIf="(__clientForm.get('mobile')).hasError('maxlength')">*mobile number must be 10 digits</span>
                <span class="invalid-feedback" *ngIf="(__clientForm.get('mobile')).hasError('pattern')">*allow only digits</span>

              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="sec_mobile">Alternative mobile number</label>
              <input maxlength="10" minlength="10" type="text" (keypress)="preventNonumeric($event)"  name="sec_mobile" id="sec_mobile" placeholder="Enter Alternative Mobile Number" class="form-control" formControlName="sec_mobile">
              <span class="invalid-feedback" *ngIf="(__clientForm.get('sec_mobile')).hasError('minlength')">*mobile number must be 10 digits</span>
              <span class="invalid-feedback" *ngIf="(__clientForm.get('sec_mobile')).hasError('maxlength')">*mobile number must be 10 digits</span>
              <span class="invalid-feedback" *ngIf="(__clientForm.get('sec_mobile')).hasError('pattern')">*allow only digits</span>

            </div>
          </div>
          <div class="row" *ngIf="(__cl_type == 'E' && _clId > 0) || __cl_type == 'M' || __cl_type == 'N'||__cl_type == 'P'">
            <div class="col-sm-12 my-4">
              <label for="email">Email <span class="text-danger">*</span></label>
              <input type="text" name="email" id="email" class="form-control" placeholder="Enter Email" formControlName="email">
              <div class="invalid-feedback" *ngIf="__clientForm.get('email').invalid && (__clientForm.get('email').dirty || __clientForm.get('email').touched)">
                <span class="invalid-feedback" *ngIf="(__clientForm.get('email')).errors?.required">*Please provide email</span>
                <span class="invalid-feedback" *ngIf="(__clientForm.get('email')).errors?.email">*Please provide valid email</span>

              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="sec_email">Alternative Email</label>
              <input type="text" name="sec_email" id="sec_email"  class="form-control"   placeholder="Enter Alternative Email" formControlName="sec_email">
              <span class="invalid-feedback" *ngIf="(__clientForm.get('sec_email')).errors?.email">*Please provide valid email</span>

            </div>
          </div>
          <div class="row" *ngIf="(__cl_type == 'E' && _clId > 0) || __cl_type == 'M' || __cl_type == 'N'||__cl_type == 'P'">
            <div class="col-sm-12 my-4">
              <label for="addr">Address Line 1 <span class="text-danger">*</span></label>
              <input placeholder="Enter Address 1" type="text" name="add_line_1" id="addr" class="form-control"  formControlName="add_line_1">
              <div class="invalid-feedback" *ngIf="__clientForm.get('add_line_1').invalid && (__clientForm.get('add_line_1').dirty || __clientForm.get('add_line_1').touched)">
                <span class="invalid-feedback" *ngIf="(__clientForm.get('add_line_1')).errors?.required">*Please provide address line 1</span>
              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="addr2">Address Line 2</label>
              <input type="text" placeholder="Enter Address 2" name="add_line_2" id="addr2" class="form-control"  formControlName="add_line_2">
            </div>
          </div>
          <div class="row" *ngIf="(__cl_type == 'E' && _clId > 0) || __cl_type == 'M' || __cl_type == 'N'||__cl_type == 'P'">
            <div class="col-sm-12 my-4">
              <label for="__state">State <span class="text-danger">*</span></label>
              <select name="state" id="__state" class="form-control" formControlName="state">
              <option value="">Select State</option>
              <option *ngFor="let __states of __stateMaster" value="{{__states.id}}">{{__states.name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="__clientForm.get('state').invalid && (__clientForm.get('state').dirty || __clientForm.get('state').touched)">
                <span class="invalid-feedback" *ngIf="(__clientForm.get('state')).errors?.required">*Please provide state</span>
              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="_dist">District <span class="text-danger">*</span></label>
              <select name="_dist" id="_dist" class="form-control" formControlName="dist">
                <option value="">Select District</option>
                <option *ngFor="let __dist of __district" value="{{__dist.id}}">{{__dist.name}}</option>
                </select>
              <div class="invalid-feedback" *ngIf="__clientForm.get('dist').invalid && (__clientForm.get('dist').dirty || __clientForm.get('dist').touched)">
                <span class="invalid-feedback" *ngIf="(__clientForm.get('dist')).errors?.required">*Please provide district</span>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="(__cl_type == 'E' && _clId > 0) || __cl_type == 'M' || __cl_type == 'N'||__cl_type == 'P'">
            <div class="col-sm-12 my-4">
              <label for="__city">City / Village <span class="text-danger">*</span></label>
              <select name="__city" id="__city" class="form-control" formControlName="city">
                <option value="">Select City</option>
                <option *ngFor="let city of __city" value="{{city.id}}">{{city.name}}</option>
                </select>
              <div class="invalid-feedback" *ngIf="__clientForm.get('city').invalid && (__clientForm.get('city').dirty || __clientForm.get('city').touched)">
                <span class="invalid-feedback" *ngIf="(__clientForm.get('city')).errors?.required">*Please provide city or village</span>
              </div>
            </div>
            <div class="col-sm-12 my-4">
              <label for="__pin">Pincode</label>
              <input name="pin" id="__pin" class="form-control" formControlName="pincode" placeholder="Enter Pincode" minlength="6" maxlength="6"/>
              <div class="invalid-feedback" *ngIf="__clientForm.get('pincode').invalid && (__clientForm.get('pincode').dirty || __clientForm.get('pincode').touched)">
                <span class="invalid-feedback" *ngIf="(__clientForm.get('pincode')).errors?.required">*Please provide pincode</span>
                <span class="invalid-feedback" *ngIf="(__clientForm.get('pincode')).hasError('maxlength')">*pincode must be 6 digits</span>
                <span class="invalid-feedback" *ngIf="(__clientForm.get('pincode')).hasError('minlength')">*Please must be 6 digits</span>
              </div>
            </div>
          </div>

          <div class="divider" *ngIf="(__cl_type == 'E' && _clId > 0) || __cl_type == 'M' || __cl_type == 'N'||__cl_type == 'P'">
            <span>Upload Documents</span>
           <hr class="line"/>
          </div>
          <table class="my-4" *ngIf="(__cl_type == 'E' && _clId > 0) || __cl_type == 'M' || __cl_type == 'N'||__cl_type == 'P'">
            <thead>
              <tr>
                <th>
                  Document type <span class="text-danger">*</span>
                </th>
                <th>
                  Document
                  <p class="my-1"><label>Allowed format : </label><small> JPG,PNG,JPEG</small></p>
                  <p class="m-0"><label>File Size:</label> <small> 2MB (max)</small></p>
                </th>
                <th>
                  Thumbnail
                </th>
                <th>
                  <button mat-icon-button type="button">
                    <mat-icon (click)="addItem()">add</mat-icon>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="doc_dtls">
              <tr *ngFor="let item of __docs.controls; let i = index;">
                <ng-container [formGroupName]="i">
                  <td class="rowWidth">
                    <select name="_doc_type" id="_doc_type" formControlName="doc_type_id" class="form-control">
                      <option value="">Select document type</option>
                      <option value="{{__docType.id}}" *ngFor="let __docType of __docTypeMaster"> {{__docType.doc_type}}
                      </option>
                    </select>

                    <div class="invalid-feedback"
                      *ngIf=" __docs.controls[i].get('doc_type_id').invalid && ( __docs.controls[i].get('doc_type_id').dirty ||  __docs.controls[i].get('doc_type_id').touched)">
                      <span class="invalid-feedback" *ngIf=" __docs.controls[i].get('doc_type_id').errors?.required">*Please
                        provide document type</span>
                    </div>
                  </td>
                  <td class="rowWidth">
                    <input type="file" accept=".jpg,.jpeg,.png" name="docFile" id="docFile" class="form-control"
                      formControlName="doc_name" (change)="getFiles($event,i,__docs.controls[i].get('doc_type_id')?.value)">
                    <div class="invalid-feedback"
                      *ngIf=" __docs.controls[i].get('doc_name').invalid && ( __docs.controls[i].get('doc_name').dirty ||  __docs.controls[i].get('doc_name').touched)">
                      <span class="invalid-feedback" *ngIf=" __docs.controls[i].get('doc_name').errors?.required">*Please
                        provide file</span>
                      <span class="invalid-feedback" *ngIf="__docs.controls[i].get('doc_name').errors?.inValidExt">*Invalid
                        file extension.</span>
                      <span class="invalid-feedback"
                        *ngIf="__docs.controls[i].get('doc_name').errors?.fileSizeValidator">*File size must not exceed than
                        2MB.</span>
                    </div>

                  </td>
                  <td class="rowWidth">
                    <img [src]="__docs.controls[i].get('file_preview')?.value || __noImg" alt="preview Image">
                  </td>
                  <td>
                    <ng-container *ngIf="__docs.controls[i].get('id')?.value == 0">
                      <button mat-icon-button type="button" *ngIf="i > 0">
                        <mat-icon class="delete_icon" (click)="removeDocument(i)">delete</mat-icon>
                      </button>
                    </ng-container>
                  </td>
                </ng-container>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>
                  Document type <span class="text-danger">*</span>
                </th>
                <th>
                  Document <span class="text-danger">*</span>
                  <p class="my-1"><label>Allowed format : </label><small> JPG,PNG,JPEG</small></p>
                  <p class="m-0"><label>File Size:</label> <small> 2MB (max)</small></p>
                </th>
                <th>
                  Thumbnail
                </th>
                <th>
                  <button mat-icon-button type="button">
                    <mat-icon (click)="addItem()">add</mat-icon>
                  </button>
                </th>
              </tr>
            </tfoot>
          </table>

           <div class="row">
            <div class="col-sm-12 my-1 ">
              <button class="btn addBtn  ml-2" [disabled]="this.__clientForm.invalid">
                {{this._clId > 0 ? 'Update' : 'Submit'}}
              </button>
              <button class="btn  resetBtn" (click)="reset()" type="reset">RESET</button>
          </div>
           </div>

      </form>
      </div>
    </div>
  </div>
  <div class="col-sm-5 p-0">
    <div class="cardSec m-1">
      <div class="card_header">
        <h3>Recent Entries</h3>
        <button mat-icon-button title="View All Client" [routerLink]="['/main/master/clientmaster']">
          <mat-icon>north_east</mat-icon>
        </button>
      </div>
      <div class="card_body">
        <mat-paginator hidden [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" [showFirstLastButtons]="true"></mat-paginator>
        <table mat-table [dataSource]="__selectClient">
          <!-- Sl No. -->
          <ng-container matColumnDef="sl_no">
            <th mat-header-cell *matHeaderCellDef>Sl No</th>
            <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
          </ng-container>



          <!--Temporary TIN No.-->
          <ng-container matColumnDef="client_name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              <!-- {{element.rnt_name}} -->
             {{element.client_name}}
            </td>
          </ng-container>


          <!-- Buisness Type-->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="populateDT(element)">
                <mat-icon class="edit_icon">edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Buisness Type-->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button>
                <mat-icon class="delete_icon">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="__columns"></tr>
          <tr mat-row *matRowDef="let row; columns: __columns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data found</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
