

.queryBtn {
    /* background: #10486b; */
    background:  #f1820bc9;
    color: #fff;
    margin: 0px 9px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    /* display: inline-block; */
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    /* -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite; */
    /* animation: shadow-pulse 1s infinite; */
  }
  /* @keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgb(16 72 107 / 32%);
  }
  100% {
    box-shadow: 0 0 3px 11px rgb(16 72 107 / 8%);
  }
} */

  /* @-webkit-keyframes glowing {
    0% { background-color: #10486b; -webkit-box-shadow: 0 0 3px #10486b; }
    50% { background-color: #10486b; -webkit-box-shadow: 0 0 20px #10486b; }
    100% { background-color: #10486b; -webkit-box-shadow: 0 0 3px #10486b; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #10486b; -webkit-box-shadow: 0 0 3px #10486b; }
    50% { background-color: #10486b; -webkit-box-shadow: 0 0 20px #10486b; }
    100% { background-color: #10486b; -webkit-box-shadow: 0 0 3px #10486b; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #10486b; -webkit-box-shadow: 0 0 3px #10486b; }
    50% { background-color: #10486b; -webkit-box-shadow: 0 0 20px #10486b; }
    100% { background-color: #10486b; -webkit-box-shadow: 0 0 3px #10486b; }
  }
  
  @keyframes glowing {
    0% { background-color: #10486b; -webkit-box-shadow: 0 0 3px #10486b; }
    50% { background-color: #10486b; -webkit-box-shadow: 0 0 20px #10486b; }
    100% { background-color: #10486b; -webkit-box-shadow: 0 0 3px #10486b; }
  } */
  .badge{
    font-size: 9px!important;
  }
td{
    border: 1px solid #cccccc;
    text-align: center;
    padding: 4px;
    /* width: 25%; */
}

th{
  text-align: center;
  padding: 8px;
  border: 1px solid #525252;
  font-size: 10px!important;
} 
/* tr:nth-child(even) {
  background-color: #dddddd;
} */

.link:hover{
  background-color: #e7e7e7;
}
.bg-primary{
  background-color: #10486b!important;
}

/* @keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 112, 244, 0.4);
  }
  100% {
    box-shadow: 0 0 7px 25px rgba(0, 112, 244, 0);
  }
} */

/* .pulse {
  margin: 25% auto 0 auto;
  width: 280px;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #0070F4;
  border-radius: 50px;
  animation: shadow-pulse 1.5s infinite;
}
:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title{
  margin-left: auto!important;
  margin-right: auto!important;
} */




/* ANIMATED BUTTON */


.animatedBtn {
  position: relative;
  /* margin: auto; */
  margin:0px 16px;
  /* width: 120px;
  line-height: 64px; */
  text-align: center;
  color: #fff;
  /* font-size: 20px; */
  /* border: 2px solid gold;
  border-radius: 10px;
  background: gold; */
  cursor: pointer;
  
  &:hover {
      filter: contrast(1.1);
  }
  
  &:active {
      filter: contrast(0.9);
  }
  
  &::before,
  &::after {
      content: "";
      position: absolute;
      top: -4px;
      left: 1px;
      right: 1px;
      bottom: -4px;
      border: 2px solid #f1820bc9;
      transition: all .5s;
      animation: clippath 3s infinite linear;
      border-radius: 10px;
  }
  
  &::after {
      animation: clippath 3s infinite -1.5s linear;
  }
}

@keyframes clippath {
  0%,
  100% {
      clip-path: inset(0 0 98% 0);
  }
  
  25% {
      clip-path: inset(0 98% 0 0);
  }
  50% {
      clip-path: inset(98% 0 0 0);
  }
  75% {
      clip-path: inset(0 0 0 98%);
  }
}

.bg::before {
  background: rgba(255, 215, 0, .5);
}

::ng-deep .danger{
  color:#ed0808!important
}

.merqueText{
  font-size: 11px;
  font-weight: 500;
}
.color-2 {
  background: rgba(255,193,7,1);
  background: -moz-linear-gradient(45deg, rgba(255,193,7,1) 0%, rgba(255,87,34,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,193,7,1)), color-stop(100%, rgba(255,87,34,1)));
  background: -webkit-linear-gradient(45deg, rgba(255,193,7,1) 0%, rgba(255,87,34,1) 100%);
  background: -o-linear-gradient(45deg, rgba(255,193,7,1) 0%, rgba(255,87,34,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(255,193,7,1) 0%, rgba(255,87,34,1) 100%);
  background: linear-gradient(45deg, rgba(255,193,7,1) 0%, rgba(255,87,34,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc107', endColorstr='#ff5722', GradientType=1 );
}

/* 
::ng-deep .rate>.p-rating .p-rating-icon.pi-star-fill{
    color: #ed0808!important;
} */

/***** CUSTOM RATING CSS ********/
.veryPoor_rating{color:#e41b23;}
.poor_rating{color:#ef8f1e;}
.avarage_rating{color:#f6c917;}
.good_rating{color:#a2c738;}
.excellent_rating{color:#a2c738;}
.no_rating{color:#272726!important;}

/*******END*******/