
<div class="row flexSec">
  <div class="col-sm-2"  (click)="navigate('A')">
    <div class="smallBox">
     <div class="smallBoxIconSec">
      <div class="iconCol_12 iconSec">
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
    </div>
    <h2>Acknowledgement Entry</h2>
  </div>
</div>
<div class="col-sm-2"  (click)="navigate('R')">
  <div class="smallBox">
   <div class="smallBoxIconSec">
    <div class="iconCol_12 iconSec">
      <i class="fa fa-user-o" aria-hidden="true"></i>
    </div>
  </div>
  <h2>Reports</h2>
</div>
</div>
</div>
