<mat-card class="navCard mb-3">
  <mat-card-header class="border_bottom py-2">
    <mat-card-title>
        <button
        pButton 
        type="button"
        (click)="exportAllExcel()"
        class="p-button-outlined"> 
        <i class="pi pi-file-excel text-success" style="font-size: 1.5rem"></i>
        <small class="text-success" style="font-size:13px !important;">Export All</small>
      </button>
    </mat-card-title>
    <div class="pr-3 my-auto d-flex  align-items-center">
      <button mat-icon-button
      *ngIf="btn_type == 'A'"
      (click)="clearAdvanceFilter()"
      [matTooltip]="'Clear Advance Filter'"
      class="my-auto material-symbols-outlined"
       color="primary"
        class="mx-3">
      <mat-icon>
        filter_alt_off
      </mat-icon>
      </button>


      <p-selectButton [(ngModel)]="btn_type"
                      [options]="selectBtn"
                      optionValue="value"
                      styleClass="p-button-lg"
                      (onOptionClick)="onItemClick($event)"
                      optionLabel="icon">
        <ng-template let-item>
          <i [class]="item.icon" [matTooltip]="item.label"></i>
        </ng-template>
      </p-selectButton>

      <button mat-icon-button
      class="my-auto"
       color="primary"
       [matTooltip]="state == mode[0] ? 'EXPAND MORE' : 'EXPAND LESS'"
       (click)="toggle()" class="mx-3">
      <mat-icon [ngClass]="{'rotateUp':state == mode[0],'rotateDown':state == 'expanded'}">
        keyboard_arrow_up
      </mat-icon>
      </button>
    </div>

  </mat-card-header>
  <mat-card-content [@bodyExpansion]="state" [ngClass]="{'expandable-content': state == mode[0],'px-3 py-3':state == 'expanded'}">


    <ng-template #SearchBtn>
      <p-button type="submit" label="Show" icon="pi pi-eye" iconPos="right" styleClass="p-button-lg"></p-button>
    </ng-template>

    <form [formGroup]="Rpt" (ngSubmit)="searchReport()" autocomplete="off">
      <div class="row">


        <!-- COMMON MONTH & YEAR TEMPLATE -->
        <ng-template #common_month_year>
          <div class="col-sm-3">
            <label for="month">Month</label>
            <select name="month" id="month" class="form-control" formControlName="month">
              <option value="">Select Month</option>
              <option [value]="item.id" *ngFor="let item of month">{{item.month}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="year">Year</label>
            <select name="year" id="year" class="form-control"
                    formControlName="year">
              <option value="">Select Year</option>
              <option [value]="item" *ngFor="let item of year">{{item}}</option>
            </select>
          </div>
        </ng-template>
        <!-- END -->

          <!-- FIELD SHOWN FOR TO BE MATURED -->
          <ng-container *ngIf="sub_type == 'MT'">
            <!-- SELECT DURATION -->
            <div class="col-sm-3">
              <label for="view_by">View By</label>
              <select name="view_by" id="view_by" class="form-control" formControlName="view_by">
               <option value="">Select</option>
               <option value="M">Month</option>
               <option value="D">Duration</option>
             </select>
           </div>
           <!-- END -->

           <!-- SELECT UPTO IF VIEW BY IS SELCTED AS Duration -->
           <ng-container *ngIf="Rpt.value.view_by == 'D'">
           <div class="col-sm-3">
             <label for="upto">Upto</label>
             <select name="upto" id="upto" class="form-control" formControlName="upto">
               <option value="">Select</option>
               <option value="1">1 Month</option>
               <option value="2">2 Month</option>
               <option value="3">3 Month</option>
               <option value="4">4 Month</option>
               <option value="5">5 Month</option>
               <option value="6">6 Month</option>
             </select>
           </div>
          </ng-container>
          <!-- END -->

          <!-- SELECT UPTO IF VIEW BY IS SELCTED AS Month -->
          <ng-container *ngIf="Rpt.value.view_by == 'M'">
            <ng-container [ngTemplateOutlet]="common_month_year"></ng-container>
          </ng-container>
          <!-- END -->
          </ng-container>
          <!-- END-->

          <!-- FIELD SHOWN FOR TO BE REGISTERED -->
          <ng-container *ngIf="sub_type == 'RR'">
            <ng-container [ngTemplateOutlet]="common_month_year"></ng-container>
          </ng-container>
          <!-- END -->

        <div class="col-sm-3">
          <label for="view_type">View Type</label>
          <select name="view_type"
                  id="view_type"
                  class="form-control"
                  formControlName="view_type">
            <option value="">Select</option>
            <option [value]="item.id" *ngFor="let item of client_type">{{item.type}}</option>
          </select>
        </div>

        <div class="col-sm-3">
          <app-core-srch [label]="Rpt.value.view_type == 'F' ? 'Family Head' : 'Investor'"
                         [placeholder]="'Search By' + (Rpt.value.view_type == 'F' ? ' Family Head ' : ' Investor ') + 'Name, Code, Email, Mobile, PAN & DOB'"
                         [isPending]="__isClientPending"
                         [listItems]="__clientMst"
                         [flag]="'C'"
                         [noDataFoundTitle]="'Sorry!! No Records Found'"
                         [noDataFoundSubTitle]="'If your result match,they will appear here'"
                         [propertiesToShow]="['client_name','pan']"
                         formControlName="client_name"
                         [displayMode]="displayMode_forClient"
                         (setDisplayMode)="displayMode_forClient = $event"
                         (selectedItems)="getSelectedItemsFromParent($event)"
                         (scrollToEnd)="loadInvestorOnScrollToEnd($event)"></app-core-srch>
        </div>
        <ng-container *ngIf="Rpt.value.view_type == 'F'">
            <div class="col-sm-3">
                <label for="family_members">Family Members</label>
                <ng-multiselect-dropdown
                [id]="'family_members'"
                [placeholder]="'Select Family Members'"
                [settings]="settingsforFamilyMembers"
                [data]="family_members"
                formControlName="family_members">
                </ng-multiselect-dropdown>
            </div>
        </ng-container>


        <div class="col-sm-3">
          <label for="amc_id">AMC</label>
          <ng-multiselect-dropdown [attr.id]="'amc_id'"
                                   [placeholder]="'Select AMC'"
                                   [settings]="settingsforAMCDropdown"
                                   [data]="amcMst"
                                   formControlName="amc_id">
          </ng-multiselect-dropdown>
        </div>
        <div class="col-sm-3">
          <label for="cat_id">Category</label>
          <ng-multiselect-dropdown [id]="'cat_id'"
                                   [placeholder]="'Select Category'"
                                   [settings]="settingsforCatDropdown"
                                   [data]="catMst"
                                   formControlName="cat_id">
          </ng-multiselect-dropdown>
        </div>
        <div class="col-sm-3">
          <label for="sub_cat_id">Sub-Category</label>
          <ng-multiselect-dropdown [id]="'sub_cat_id'"
                                   [placeholder]="'Select Sub-Category'"
                                   [settings]="settingsforSubCatDropdown"
                                   [data]="subcatMst"
                                   formControlName="sub_cat_id">
          </ng-multiselect-dropdown>
        </div>
        <div class="col-sm-3">
          <label for="scheme_id">Scheme</label>
          <ng-multiselect-dropdown [id]="'scheme_id'"
                                   [placeholder]="'Select Scheme'"
                                   [settings]="settingsforSchemeDropdown"
                                   [data]="schemeMst"
                                   formControlName="scheme_id">
          </ng-multiselect-dropdown>
        </div>
        <div class="col-sm-3">
          <label for="sip_stp_swp_type">{{report_type == 'P' ? 'SIP' : report_type == 'R' ? 'SWP' : 'STP'}}  Type</label>
          <select formControlname="sip_stp_swp_type" class="form-control">
            <option value="">Select {{report_type == 'P' ? 'SIP' : report_type == 'R' ? 'SWP' : 'STP'}}  Type</option>
            <option [value]="types.id" *ngFor="let types of sip_stp_swp_type_mst">
              {{report_type == 'P' ? types.sip_type_name : report_type == 'R' ? types.swp_type_name : types.stp_type_name}}
            </option>

          </select>

        </div>
        <div class="col-sm-3">
          <label for="folio_no">Folio No</label>
          <input type="text" name="folio_no" id="folio_no" class="form-control" placeholder="Enter Folio Number" formControlName="folio_no">
        </div>
        <ng-container *ngIf="btn_type == 'A';else normalFilter">
          <div class="col-sm-3">
            <label for="brn_cd">Branch</label>
            <ng-multiselect-dropdown #multiSelect id="brn_cd" [placeholder]="'Select Branch'"
                                     [settings]="settingsforBrnchDropdown" [data]="branchMst" formControlName="brn_cd">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="bu_type">Business Type</label>
            <ng-multiselect-dropdown #multiSelect_bu_type id="bu_type" [placeholder]="'Select Business Type'"
                                     [settings]="settingsforBuTypeDropdown" [data]="bu_type" formControlName="bu_type_id">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="rm_name">Relationship Manager</label>
            <ng-multiselect-dropdown #multiSelect id="rm_name" [placeholder]="'Select Relationship Manager'"
                                     [settings]="settingsforRMDropdown" [data]="RmMst" formControlName="rm_id">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="sub_brk_cd">Sub Broker</label>
            <ng-multiselect-dropdown #multiSelect [id]="'sub_brk_cd'" [placeholder]="'Select Sub Broker'"
                                     [settings]="settingsforSubBrkDropdown" [data]="subbrkArnMst"
                                     formControlName="sub_brk_cd">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="euin_no">EUIN</label>
            <ng-multiselect-dropdown #multiSelect id="euin_no" [placeholder]="'Select Employee'"
                                     [settings]="settingsforEuinDropdown" [data]="euinMst" formControlName="euin_no">
            </ng-multiselect-dropdown>
          </div>

          <div class="d-flex align-items-end justify-content-end"
          [class]="(sub_type == 'RR' || sub_type == 'MT') ? 'col-sm-3  ' : 'col-sm-9 mt-2'">
            <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
          </div>

        </ng-container>
        <ng-template #normalFilter>
          <!-- For View Type Client -->
          <ng-container *ngIf="Rpt.value.view_type != 'F';else FamilyFilter">
            <div class=" d-flex align-items-end justify-content-end"
            [ngClass]="{'col-sm-6':(sub_type == 'RR' ||  Rpt.value.view_by == 'D'),
            'col-sm-3':(sub_type == 'MT' && Rpt.value.view_by == 'M'),
            'col-sm-12 mt-2':(sub_type != 'RR' && sub_type != 'MT'),
            'col-sm-9':(sub_type == 'MT' && Rpt.value.view_by == '')
             }">
              <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
            </div>
          </ng-container>
          <!-- End -->
          <!-- For View Type Family-->
          <ng-template #FamilyFilter>
            <!-- For Parent Tab Registered SIP / STP / SWP & child Tab To be Registered-->
            <ng-container *ngIf="(sub_type == 'RR' && type == 'R');else otherFilter">
              <div class="d-flex align-items-end justify-content-end col-sm-3">
                  <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
              </div>
            </ng-container>
            <!-- End -->
            <!-- For all Parent Tab except Registered SIP / STP / SWP & child Tab except To be Registered-->
            <ng-template #otherFilter>
              <div
              class=" d-flex align-items-end justify-content-end"
              [ngClass]="{
                 'col-sm-9': (sub_type != 'RR' && sub_type != 'MT'),
                 'col-sm-12 my-2': (sub_type == 'MT' && type == 'M' && Rpt.value.view_by == 'M'),
                 'col-sm-3': (sub_type == 'MT' && type == 'M' && Rpt.value.view_by == 'D'),
                 'col-sm-6': (sub_type == 'MT' && type == 'M' && Rpt.value.view_by == '')
              }">
                <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
              </div>
            </ng-template>
            <!-- End -->
          </ng-template>
          <!-- End -->
        </ng-template>
      </div>
    </form>
  </mat-card-content>
</mat-card>
