.border_bottom{
  border-bottom: 1px solid #dedede !important;
  height:auto!important;
}

.p-button.p-button-outlined {
  border: 1px solid #28a74b !important;
  background-color:#fff!important;
}
.p-button.p-button-outlined:hover{
  background-color:#fff!important;

}