<div class="row flexSec">
  <div class="col-sm-2" (click)="navigate('/main/kyc')">
    <div class="smallBox">
     <div class="smallBoxIconSec">
      <div class="iconCol_12 iconSec">
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
    </div>
    <h2>KYC Trax</h2>
  </div>
</div>
<div class="col-sm-2" (click)="navigate('/main/operations/MfTrax')">
  <div class="smallBox">
   <div class="smallBoxIconSec">
    <div class="iconCol_12 iconSec">
      <i class="fa fa-user-o" aria-hidden="true"></i>
    </div>
  </div>
  <h2>MF Trax</h2>
</div>
</div>

<div class="col-sm-2" (click)="navigate('/main/operations/acknowledgement')">
  <div class="smallBox">
    <div class="smallBoxIconSec">
      <div class="iconCol_12 iconSec">
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
    </div>
    <h2>Acknowledgement Trax</h2>
  </div>
</div>

<div class="col-sm-2" (click)="navigate('/main/operations/manualupdate')">
  <div class="smallBox">
    <div class="smallBoxIconSec">
      <div class="iconCol_12 iconSec">
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
    </div>
    <h2>Manual Update</h2>
  </div>
</div>
</div>
