
<div  cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle >
  <div mat-dialog-title class="dialog-title">
    <h2 >{{data.title}}</h2>
      <div class="btnIcon">
        <button mat-icon-button title="Minimize"  (click)="minimize()" >
          <mat-icon >remove</mat-icon>
        </button>
        <button mat-icon-button title="Restore-down" (click)="maximize()" *ngIf="__isVisible">
          <mat-icon>content_copy</mat-icon>
        </button>
        <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
          <mat-icon>check_box_outline_blank </mat-icon>
        </button>

        <button mat-icon-button title="Close"  [mat-dialog-close]="">
          <mat-icon >close</mat-icon>
        </button>
    </div>
    </div>



<mat-dialog-content>
  <form  [formGroup]="__plnForm" (ngSubmit)="submit()" autocomplete="off" id="__plnForm_{{data.id}}" ngNativeValidate>
    <div class="row">
      <div class="col-sm-12 my-3">
        <label for="pln_name">Plan <span class="text-danger">*</span></label>
          <input type="text" name="pln_name" id="pln_name" class="form-control" formControlName="plan_name" placeholder="Enter Plan">
        <div class="invalid-feedback" *ngIf="__plnForm.get('plan_name').invalid && (__plnForm.get('plan_name').dirty || __plnForm.get('plan_name').touched)">
          <span class="invalid-feedback" *ngIf="(__plnForm.get('plan_name')).errors?.required">*Please provide plan</span>
        </div>
      </div>
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="popupBoxSubmitSec">
  <button class="btn addBtn"   [attr.form]="'__plnForm_'+data.id" [disabled]="this.__plnForm.invalid">Submit</button>
</mat-dialog-actions>
<br clear="all">
</div>
