.noDataFound{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.noDataFound h5{
    font-size: 18px;
    color: gray;
    font-weight: 500;
    margin:0;
}
.noDataFound p{
    font-size: 15px;
    color: gray;
    font-weight: 500;
    margin: 11px 0;
}


.roundedBtn{
  border-radius:20px
}