<div mat-dialog-title class="dialog-title">
  <h2>{{data.title}}</h2>
  <button mat-icon-button [mat-dialog-close]="">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="__financialForm" id="__finForm" (ngSubmit)="submitMF()" ngNativeValidate>

    <div class="row my-5">
      <div class="col-sm-6">
        <label for="trns_DT">Transaction Date</label>
        <input type="text" name="trns_DT" id="trns_DT" readonly class="form-control" formControlName="entry_date">
      </div>
      <div class="col-sm-6">
        <label for="temp_tin_id">Temporary TIN Number <span class="text-danger">*</span></label>
        <input type="text" placeholder="Enter Temporary TIN Number" [attr.disabled]="this.data?.id"
          name="temp_tin_id" id="temp_tin_id" class="form-control text-uppercase" formControlName="temp_tin_id"
          (change)="getRcvFromDtls($event.target)">
        <div class="invalid-feedback"
          *ngIf="__financialForm.get('temp_tin_id').invalid && (__financialForm.get('temp_tin_id').dirty || __financialForm.get('temp_tin_id').touched)">
          <span class="invalid-feedback" *ngIf="(__financialForm.get('temp_tin_id')).errors?.required">*Please provide
            temporary tin number</span>
        </div>
      </div>
    </div>
    <!-- <p class="formHeading"> FORM RECIEVE DETAILS</p> -->
    <div class="row my-5">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <label for="frm_rec_dateTime">Form Recieve Date Time</label>
            <input type="text" readonly name="frm_rec_dateTime" id="frm_rec_dateTime" readonly class="form-control"
              formControlName="frm_rec_dateTime" placeholder="Form Recieve Date Time">
          </div>
          <div class="col-sm-3" *ngIf="__financialForm.get('sub_arn_no').value != ''">
            <label for="sub_arn_no">Sub Broker Arn</label>
            <input type="text" readonly name="sub_arn_no" id="sub_arn_no" readonly class="form-control"
              formControlName="sub_arn_no" placeholder="Sub Broker Arn">
          </div>
          <div class="col-sm-3" *ngIf="__financialForm.get('sub_brk_cd').value != ''">
            <label for="sub_brk_cd">Sub Broker Code</label>
            <input type="text" readonly name="sub_brk_cd" id="sub_brk_cd" readonly class="form-control"
              formControlName="sub_brk_cd" placeholder="Sub Broker Code">
          </div>
        </div>
      </div>


    </div>
    <div class="row my-5">
      <div class="col-sm-6">
        <label for="bu_type">Buisness Type</label>
        <input type="text" readonly name="bu_type" id="bu_type" readonly class="form-control" formControlName="bu_type"
          placeholder="Buisness Type">
      </div>
      <div class="col-sm-6">
        <label for="arn_no">ARN No</label>
        <input type="text" placeholder="ARN No" readonly name="arn_no" id="arn_no" class="form-control"
          formControlName="arn_no">
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-6">
        <label for="euin_from">Euin From</label>
        <input type="text" readonly name="euin_from" id="euin_from" readonly class="form-control"
          formControlName="euin_from" placeholder="EUIN From">
      </div>
      <div class="col-sm-6">
        <label for="euin_to">Euin To</label>
        <input type="text" readonly name="euin_to" id="euin_to" readonly class="form-control" formControlName="euin_to"
          placeholder="EUIN To">
      </div>
    </div>



    <div class="row my-5">
      <div class="col-sm-6">
        <label for="trns_type">Transaction Type <span class="text-danger">*</span></label>
        <select name="trns_type" id="trns_type" class="form-control" formControlName="trans_type"
          [attr.disabled]="true">
          <option value="">Select transaction type</option>
          <option [value]="__trnsType.id" *ngFor="let __trnsType of __transTypeMst">{{__trnsType.trns_name}}</option>
        </select>
        <div class="invalid-feedback"
          *ngIf="__financialForm.get('trans_type').invalid && (__financialForm.get('trans_type').dirty || __financialForm.get('trans_type').touched)">
          <span class="invalid-feedback" *ngIf="(__financialForm.get('trans_type')).errors?.required">*Please provide
            transaction type</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="amc_name">AMC <span class="text-danger">*</span></label>
        <select name="amc_name" id="amc_name" class="form-control select2" formControlName="amc_id">
          <option value="">Select AMC</option>
          <option [value]="__amc.id" *ngFor="let __amc of __amcMst">{{__amc.amc_name}}</option>
        </select>
        <div class="invalid-feedback"
          *ngIf="__financialForm.get('amc_id').invalid && (__financialForm.get('amc_id').dirty || __financialForm.get('amc_id').touched)">
          <span class="invalid-feedback" *ngIf="(__financialForm.get('amc_id')).errors?.required">*Please provide
            amc</span>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-6">
        <label for="cat">Category <span class="text-danger">*</span></label>
        <select name="cat" id="cat" class="form-control" formControlName="trans_catg">
          <option value="">Select category</option>
          <option *ngFor="let __cat of __catMst" [value]="__cat.id">{{__cat.cat_name}}</option>
        </select>
        <div class="invalid-feedback"
          *ngIf="__financialForm.get('trans_catg').invalid && (__financialForm.get('trans_catg').dirty || __financialForm.get('trans_catg').touched)">
          <span class="invalid-feedback" *ngIf="(__financialForm.get('trans_catg')).errors?.required">*Please provide
            category</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="sub_cat">Sub Category <span class="text-danger">*</span></label>
        <select name="sub_cat" id="sub_cat" class="form-control" formControlName="trans_subcatg">
          <option value="">Select sub category</option>
          <option [value]="__subcat.id" *ngFor="let __subcat of __subCatMst"> {{__subcat.subcategory_name}}</option>
        </select>
        <div class="invalid-feedback"
          *ngIf="__financialForm.get('trans_subcatg').invalid && (__financialForm.get('trans_subcatg').dirty || __financialForm.get('trans_subcatg').touched)">
          <span class="invalid-feedback" *ngIf="(__financialForm.get('trans_subcatg')).errors?.required">*Please provide
            subcategory</span>
        </div>
      </div>
    </div>
    <div class="row my-5"
      *ngIf="__financialForm.get('trans_type').value == '3' || __financialForm.get('trans_type').value == '4' || __financialForm.get('trans_type').value == '5'">
      <div class="col-sm-6">
        <label for="schm_from">Scheme From <span class="text-danger">*</span></label>
        <select name="schm_from" id="schm_from" class="form-control" formControlName="trans_scheme_from">
          <option value="">Select scheme from</option>
          <option [value]="__scmMst.id" *ngFor="let __scmMst of __schemeMst">{{__scmMst.scheme_name}}</option>
        </select>
        <div class="invalid-feedback"
          *ngIf="__financialForm.get('trans_scheme_from').invalid && (__financialForm.get('trans_scheme_from').dirty || __financialForm.get('trans_scheme_from').touched)">
          <span class="invalid-feedback" *ngIf="(__financialForm.get('trans_scheme_from')).errors?.required">*Please
            provide scheme from</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="schm_to">Scheme To <span class="text-danger">*</span></label>
        <select name="schm_to" id="schm_to" class="form-control" formControlName="trans_scheme_to">
          <option value="">Select scheme to</option>
          <option [value]="__scmMst.id" *ngFor="let __scmMst of __schemeMst">{{__scmMst.scheme_name}}</option>
        </select>
        <div class="invalid-feedback"
          *ngIf="__financialForm.get('trans_scheme_to').invalid && (__financialForm.get('trans_scheme_to').dirty || __financialForm.get('trans_scheme_to').touched)">
          <span class="invalid-feedback" *ngIf="(__financialForm.get('trans_scheme_to')).errors?.required">*Please
            provide scheme to</span>
        </div>
      </div>
    </div>
    <div class="row my-5"
      *ngIf="__financialForm.get('trans_type').value != '3' && __financialForm.get('trans_type').value != '4' && __financialForm.get('trans_type').value != '5'">
      <div class="col-sm-6">
        <label for="schem_name">Scheme Name <span class="text-danger">*</span></label>
        <select id="schem_name" class="form-control" formControlName="scheme_name">
          <option value="">Select Scheme</option>
          <option [value]="__scheme.id" *ngFor="let __scheme of __schemeMst">{{__scheme.scheme_name}}</option>
        </select>
        <div class="invalid-feedback"
          *ngIf="__financialForm.get('scheme_name').invalid && (__financialForm.get('scheme_name').dirty || __financialForm.get('scheme_name').touched)">
          <span class="invalid-feedback" *ngIf="(__financialForm.get('scheme_name')).errors?.required">*Please provide
            scheme name</span>
        </div>
      </div>
    </div>

    <div class="row my-5"
      *ngIf="__financialForm.get('trans_type').value == '2' || __financialForm.get('trans_type').value == '7'">
      <div class="col-sm-6">
        <label for="spi_from">SIP From <span class="text-danger">*</span></label>
        <input type="date" name="spi_from" id="spi_from" class="form-control" formControlName="sip_from">
        <div class="invalid-feedback"
          *ngIf="__financialForm.get('sip_from').invalid && (__financialForm.get('sip_from').dirty || __financialForm.get('sip_from').touched)">
          <span class="invalid-feedback" *ngIf="(__financialForm.get('sip_from')).errors?.required">*Please provide sip
            from</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="spi_to">SIP To <span class="text-danger">*</span></label>
        <input type="date" name="spi_to" id="spi_to" class="form-control" formControlName="sip_to">
        <div class="invalid-feedback"
          *ngIf="__financialForm.get('sip_to').invalid && (__financialForm.get('sip_to').dirty || __financialForm.get('sip_to').touched)">
          <span class="invalid-feedback" *ngIf="(__financialForm.get('sip_to')).errors?.required">*Please provide sip
            to</span>
        </div>
      </div>
    </div>


    <div class="row my-5">
      <div class="col-sm-12">
        <div class="row my-5">
          <div class="col-sm-6">
            <label for="client_code1">1st Client Code <span class="text-danger">*</span></label>
            <input type="text" name="client_code1" id="client_code1" class="form-control text-uppercase"
              formControlName="first_client_code" (change)="getClDtlsAccordingtoClCode($event.target,1)">
            <div class="invalid-feedback"
              *ngIf="__financialForm.get('first_client_code').invalid && (__financialForm.get('first_client_code').dirty || __financialForm.get('first_client_code').touched)">
              <span class="invalid-feedback" *ngIf="(__financialForm.get('first_client_code')).errors?.required">*Please
                provide client code</span>
            </div>
          </div>
          <div class="col-sm-6">
            <label for="client_name1">1st Client Name <span class="text-danger">*</span></label>
            <input type="text" name="client_name1" readonly id="client_name1" class="form-control"
              formControlName="first_client_name">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label for="first_kyc_view">Kyc
              Status <span class="text-danger">*</span>
            </label>
            <select name="first_kyc" id="first_kyc" class="form-control" formControlName="first_kyc">
              <option value="">Select KYC</option>
              <option *ngFor="let __kyc of __kycMst" [value]="__kyc.id"> {{__kyc.value}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="pan_no1">Pan Number <span class="text-danger">*</span></label>
            <input type="text" name="pan_no1" id="pan_no1" readonly class="form-control" formControlName="first_pan"
              placeholder="eg. XXXXX1234X">
          </div>
          <div class="col-sm-3">
            <label for="first_client_email">Email <span class="text-danger">*</span></label>
            <input type="text" readonly id="first_client_email" formControlName="first_email" class="form-control">
          </div>
          <div class="col-sm-3">
            <label for="first_client_mobile">Mobile Number <span class="text-danger">*</span></label>
            <input type="text" readonly id="first_client_mobile" formControlName="first_mobile" class="form-control">
          </div>
        </div>
      </div>


    </div>
    <div class="row my-5">
      <div class="col-sm-12">
        <div class="row my-5">
          <div class="col-sm-6">
            <label for="client_code2">2nd Client Code
            </label>
            <input type="text" name="client_code" id="client_code" class="form-control text-uppercase"
              formControlName="second_client_code" (change)="getClDtlsAccordingtoClCode($event.target,2)">
          </div>
          <div class="col-sm-6">
            <label for="client_name1">2nd Client Name
                {{this.__financialForm.get('second_client_name').value}}
            </label>
            <input type="text" [attr.readonly]="true" id="client_name2" class="form-control"
              formControlName="second_client_name">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label for="second_kyc_view">Kyc Status
            </label>
            <select name="second_kyc" id="second_kyc" class="form-control" formControlName="second_kyc">
              <option value="">Select KYC</option>
              <option *ngFor="let __kyc of __kycMst" [value]="__kyc.id"> {{__kyc.value}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="pan_no2">Pan Number</label>
            <input type="text" name="pan_no2" id="pan_no2" readonly class="form-control" formControlName="second_pan"
              placeholder="eg. XXXXX1234X">
          </div>
          <div class="col-sm-3">
            <label for="second_client_email">Email</label>
            <input type="text" readonly id="second_client_email" formControlName="second_email" class="form-control">
          </div>
          <div class="col-sm-3">
            <label for="second_client_mobile">Mobile Number</label>
            <input type="text" readonly id="second_client_mobile" formControlName="second_mobile" class="form-control">
          </div>
        </div>
      </div>


    </div>
    <div class="row my-5">
      <div class="col-sm-12">
        <div class="row my-5">
          <div class="col-sm-6">
            <label for="client_code3">3rd Client Code</label>
            <input type="text" name="client_code3" id="client_code3" class="form-control text-uppercase"
              formControlName="third_client_code" (change)="getClDtlsAccordingtoClCode($event.target,3)">
          </div>
          <div class="col-sm-6">
            <label for="client_name3">3rd Client Name</label>
            <input type="text" name="client_name3" readonly id="client_name3" class="form-control"
              formControlName="third_client_name">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label for="third_kyc">Kyc Status
            </label>
            <select name="third_kyc" id="third_kyc" class="form-control" formControlName="third_kyc">
              <option value="">Select KYC</option>
              <option *ngFor="let __kyc of __kycMst" [value]="__kyc.id"> {{__kyc.value}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="pan_no3">Pan Number</label>
            <input type="text" name="pan_no3" id="pan_no3" readonly class="form-control" formControlName="third_pan"
              placeholder="eg. XXXXX1234X">
          </div>
          <div class="col-sm-3">
            <label for="third_client_email">Email</label>
            <input type="text" readonly id="third_client_email" formControlName="third_email" class="form-control">
          </div>
          <div class="col-sm-3">
            <label for="third_client_mobile">Mobile Number</label>
            <input type="text" readonly id="third_client_mobile" formControlName="third_mobile" class="form-control">
          </div>
        </div>
      </div>


    </div>
    <div class="row my-5">
      <div class="col-sm-6">
        <label for="amt">Amount <span class="text-danger">*</span></label>
        <input type="text" name="amt" id="amt" class="form-control" formControlName="amount" placeholder="Enter Amount">
        <div class="invalid-feedback"
          *ngIf="__financialForm.get('amount').invalid && (__financialForm.get('amount').dirty || __financialForm.get('amount').touched)">
          <span class="invalid-feedback" *ngIf="(__financialForm.get('amount')).errors?.required">*Please provide
            amount</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="chq_no">Cheque No <span class="text-danger">*</span></label>
        <input type="text" name="chq_no" id="chq_no" class="form-control" formControlName="chq_no"
          placeholder="Enter Cheque Number">
        <div class="invalid-feedback"
          *ngIf="__financialForm.get('chq_no').invalid && (__financialForm.get('chq_no').dirty || __financialForm.get('chq_no').touched)">
          <span class="invalid-feedback" *ngIf="(__financialForm.get('chq_no')).errors?.required">*Please provide cheque
            number</span>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-sm-6">
        <label for="bank">Bank <span class="text-danger">*</span></label>
        <select name="bank" id="bank" class="form-control" formControlName="chq_bank">
          <option value="">Select bank</option>
          <option [value]="__bnkMst.id" *ngFor="let __bnkMst of __bankMst"> {{__bnkMst.bank_name}}</option>
        </select>
        <div class="invalid-feedback"
          *ngIf="__financialForm.get('chq_bank').invalid && (__financialForm.get('chq_bank').dirty || __financialForm.get('chq_bank').touched)">
          <span class="invalid-feedback" *ngIf="(__financialForm.get('chq_bank')).errors?.required">*Please select
            bank</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="login_at">Login At <span class="text-danger">*</span></label>
        <select name="login_at" id="login_at" class="form-control" formControlName="login_at">
          <option value="">Select Login At</option>
          <option [value]="__amc.id" *ngFor="let __amc of __amcMst">{{__amc.amc_name}}</option>
        </select>
        <div class="invalid-feedback"
          *ngIf="__financialForm.get('login_at').invalid && (__financialForm.get('login_at').dirty || __financialForm.get('login_at').touched)">
          <span class="invalid-feedback" *ngIf="(__financialForm.get('login_at')).errors?.required">*Please provide
            login at</span>
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-sm-12">
        <label for="remarks">Remarks</label>
        <textarea name="remarks" id="remarks" cols="30" rows="5" class="form-control"
          formControlName="remarks"></textarea>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-5">
        <label for="file">Upload Scan Application Form <span class="text-danger"
            *ngIf="this.data.id == null">*</span></label>
        <input type="file" name="file" id="file" formControlName="file" class="form-control"
          (change)="getFIle($event.target)" accept=".jpg,.jpeg,.png">
        <div class="invalid-feedback"
          *ngIf=" __financialForm.get('file').invalid && ( __financialForm.get('file').dirty ||  __financialForm.get('file').touched)">
          <span class="invalid-feedback" *ngIf=" __financialForm.get('file').errors?.required">*Please
            provide file</span>
          <span class="invalid-feedback" *ngIf="__financialForm.get('file').errors?.inValidExt">*Invalid
            file extension.</span>
          <span class="invalid-feedback" *ngIf="__financialForm.get('file').errors?.fileSizeValidator">*File size must
            not exceed than
            2MB.</span>
        </div>
        <img *ngIf="this.__financialForm.get('filePreview').value" class="imgThumbnail"
          [src]="this.__financialForm.get('filePreview').value" alt="Application form Image">

      </div>
      <div class="col-sm-2">
        <label for="app_form_scan_status">
          <input type="checkbox" [value]="true" id="app_form_scan_status" formControlName="app_form_scan_status"> Form
          Scan Status</label>
      </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="popupBoxSubmitSec">
  <button class="btn addBtn" form="__finForm" [disabled]="__financialForm.invalid">Submit</button>
</mat-dialog-actions>
<br clear="all">