.tab_active{
  border-bottom: 2px solid #3670b2;
  color: #10486b!important;
  font-weight: 500;
  background: #dce4ee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tab_active>mat-icon{
  color: #3670b2!important;
}
.nav-link{
  font-size: 12px;
}
.nav-tabs>li>a:hover{
  cursor: pointer;
  border-color:none!important;
}
.inputIconBtn{
  position: absolute;
  top: 46%;
  right: 0;
}
.form-group{
  position:relative;
}
.validate{
  list-style-type: '✓'!important;

}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus{
  background-color:none!important;
}
/* .validate:before{
  content: '✓';
} */


/* ICON CSS */

.textContent>p{
  margin: 7px 0px 4px 0px;
font-size: 11px;
font-weight: 500;
}

.icon{
  width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3670b21f;
    border-radius: 50px;
    color: #3670b2;
    margin: 10px 0px;
}
.password_type>ul>li{
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin:5px 15px 0px 0px;
}
.password_type>ul>li>h4{
  font-size: 14px;
  font-weight: 600;
}
/*End*/

