.tab_active{
  border-bottom: 2px solid #10486b;
  color: #10486b;
  font-weight: 600;
}
.nav-tabs>li>a:hover{
  cursor: pointer;
  border-color:none!important;
}
.inputIconBtn{
  position: absolute;
  top: 46%;
  right: 0;
}
.form-group{
  position:relative;
}
.validate{
  list-style-type: '✓'!important;

}
/* .validate:before{
  content: '✓';
} */
