<div class="row flexSec">
  <div class="col-sm-7">
    <shared-upload-csv [leftHeaderTitle]="'Upload Plan'"
    [flag]="'P'" [file_name]="'Sample Plan'"
    [columns]="tableColumns" [api_name]="'/planimport'"
      [dataSource]="tableData" [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>
  <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All Plan'" [headerTitle]="'Recent Plan'" [flag]="'P'"
      (populate)="populateDT($event)"
      (viewAll)="viewAll()"
      [dataSource]="__selectRNT.data"></shared-mst-dtls>
  </div>
</div>
