<div class="row flexSec">
  <div class="col-sm-12 mb-3">

    <!-- Make the Tab Section Common -->
    <core-tab [Tab]="TabMenu"
    (GetTabDtls)="TabDetails($event)"
    [index]="tabindex"></core-tab>
    <div class="card p-3">
      <ng-container [ngSwitch]="true">
        <ng-container *ngIf="tabindex == 0">
          <live-swp [amc]="amcMst" [client]="clientMst" [trxnTypeMst]="trxnTypeMst"></live-swp>
        </ng-container>
        <ng-container *ngIf="tabindex == 1">
          <registered-swp [sub_tab]="sub_tab_menu"></registered-swp>
        </ng-container>
        <ng-container *ngIf="tabindex == 2">
          <terminate-swp></terminate-swp>
        </ng-container>
        <ng-container *ngIf="tabindex == 3">
          <matured-swp  [sub_tab]="sub_tab_menu"></matured-swp>
        </ng-container>
        <ng-container *ngIf="tabindex == 4">
          <pause-swp></pause-swp>
        </ng-container>
        </ng-container>
    </div>


  </div>
  </div>
