<mat-card class="my-4">
  <mat-card-content class="p-5">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-lg-3 my-2 border-right">
        <div class="d-flex align-items-center">
          <mat-icon class="details__icon infoIcon">person</mat-icon>
          <span class="heading_title"
            >Client Name:&nbsp;
            <p class="titles__value m-0">{{
              clientDtls?.client_name
            }}</p></span
          >
        </div>

        <div class="d-flex align-items-center my-4">
          <mat-icon class="details__icon warningIcon">badge</mat-icon>
          <span class="heading_title"
            >PAN:&nbsp;<p class="titles__value m-0">{{ clientDtls?.pan ? clientDtls?.pan : 'N/A' }}</p>
          </span>
        </div>
        <div class="d-flex align-items-center">
          <mat-icon class="details__icon successIcon">schedule</mat-icon>
          <span class="heading_title"
            >
            {{ScheduleType}} As On:&nbsp;
            <ng-container *ngIf="!isDateRange;else dateRng" >
              <p class="titles__value m-0">{{
                date
                  ? (date | date : "mediumDate")
                  : "N/A"
              }}</p>
            </ng-container>
            <ng-template  #dateRng>
              <p class="titles__value m-0">{{
                date
                  ? date
                  : "N/A"
              }}</p>
            </ng-template>

            </span
          >
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3 my-2 border-right">
        <div class="d-flex align-items-start">
          <mat-icon class="details__icon infoIcon">location_on</mat-icon>
          <span class="heading_title address_title"
            >Address:&nbsp;
            <p class="titles__value m-0">{{ clientDtls?.add_line_1 | uppercase}}</p>
          </span>
        </div>
        <div class="my-4 d-flex align-items-center">
          <mat-icon class="details__icon warningIcon">call</mat-icon>
          <span class="heading_title"
            >Contact:&nbsp;
            <p class="titles__value m-0">{{ clientDtls?.mobile ? clientDtls?.mobile : 'N/A'}}</p>
          </span>
        </div>
        <div class="my-2 d-flex align-items-center">
          <mat-icon class="details__icon successIcon">mail</mat-icon>
          <span class="heading_title"
            >Email:&nbsp;
            <p class="titles__value m-0">{{ clientDtls?.email ? clientDtls?.email : 'N/A'}}</p>
          </span>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3 my-2 border-right">
        <div class="text-center">
          <p class="heading_title">Current Sensex:</p>
          <p class="titles__value">
            72, 186.09 <mat-icon class="text-success">north</mat-icon> 454.67
            (0.63%)
          </p>
        </div>
        <!-- (click)="exportAs('Print')" -->
        <!-- (click)="exportAs('Pdf')" -->
        <!-- (click)="exportAs('xlsx')" -->
        <div class="my-2 text-center d-flex items-center justify-content-center">
          <div>
            <button
            pButton 
            type="button"
            (click)="export__type='Print'"
            [matMenuTriggerFor]="menu"
            class="p-button-outlined"> 
            <i class="pi pi-print text-info" style="font-size: 2rem"></i>
           </button> 

          </div>
          <div>
            <button
            pButton 
            (click)="export__type='Pdf'"
            type="button"
            [matMenuTriggerFor]="menu"
            class="p-button-outlined mx-2"> 
            <i class="pi pi-file-pdf text-danger" style="font-size: 2rem"></i>
           </button> 

          </div>
          <div>
            <button
            pButton 
            type="button"
            (click)="export__type='xlsx'"

            [matMenuTriggerFor]="menu"
            class="p-button-outlined"> 
            <i class="pi pi-file-excel text-success" style="font-size: 2rem"></i>
           </button> 
          </div>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="itemClick('D')">
              <span>Details</span>
            </button>
            <button mat-menu-item (click)="itemClick('S')">
              <span>Summary</span>
            </button>
          </mat-menu>
       

          <!-- <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="left" aria-label="Text align left">
              <i class="pi pi-print text-info" style="font-size: 2rem"></i>
            </mat-button-toggle>
            <mat-button-toggle value="center" aria-label="Text align center">
              <i
                class="pi pi-file-pdf text-danger"
                style="font-size: 2rem"
              ></i>
            </mat-button-toggle>
            <mat-button-toggle value="right" aria-label="Text align right">
              <i
                class="pi pi-file-excel text-success"
                style="font-size: 2rem"
              ></i>
            </mat-button-toggle>
          </mat-button-toggle-group> -->
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3 my-2">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Note</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
      </div>
    </div>
</mat-card-content>
</mat-card>


<div hidden #client_container id="client_container" >
  <div class="border">
      <div class="px-2 py-1 d-flex justify-content-between align-items-center border-bottom" style="background-color:#e7ecf7!important">
          <div class="m-0" style="font-size: 10px;font-family: RobotoCondensed-Regular!important;text-align: left;" class="d-flex justify-content-start align-items-center">
               {{ScheduleType}} As On: - 
                <ng-container *ngIf="!isDateRange;else dateRng" >
                  <p class="m-0" style="font-size: 8px;font-family: RobotoCondensed-Regular!important;text-align: left;"> {{
                    date
                      ? (date | date : "mediumDate")
                      : "N/A"
                  }}</p>
                </ng-container>
                <ng-template  #dateRng>
                  <p class="m-0" style="font-size: 8px;font-family: RobotoCondensed-Regular!important;text-align: left;">{{
                    date
                      ? date
                      : "N/A"
                  }}</p>
                  </ng-template>
            </div>
          <div class="d-flex align-items-center flex-row" style="font-size: 10px;">
                <b class="m-0" style="font-family: RobotoCondensed-Bold!important;"> Current Sensex :</b>
                <p class="m-0" style="font-family: RobotoCondensed-Regular!important;">79,032.73</p>
                <img src="../../../../assets/images/transparent_up.png" height="15" width="15"/>
                <p class="m-0" style="font-family: RobotoCondensed-Regular!important;">210.45 (-0.27%)</p>
          </div>
      </div>
      <div class="row px-2">
          <div class="col-sm-4">
                <p class="m-0"><b style="font-family: RobotoCondensed-Bold!important;font-size: 11px!important;">{{clientDtls?.client_name}}</b></p>
                <p class="mb-2"><b style="font-family: RobotoCondensed-Bold!important;font-size: 10px!important;">PAN:{{clientDtls?.pan}}</b></p>
                <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;">
                  <b style="font-family: RobotoCondensed-Bold!important;">Address:</b>
                  <span style="font-size: 8px!important;">{{clientDtls?.add_line_1 ? clientDtls?.add_line_1 : 'N/A'}}</span>
                </p>
                <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;">
                  <b style="font-family: RobotoCondensed-Bold!important;">Mob:</b>{{clientDtls?.mobile ? clientDtls?.mobile : 'N/A'}}
                </p>
                <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;"><b style="font-family: RobotoCondensed-Bold!important;">Email:</b>{{clientDtls?.email ? clientDtls?.email : 'N/A'}}</p>
                <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;">
                  <b style="font-family: RobotoCondensed-Bold!important;">DOB:</b>{{clientDtls?.dob ? (clientDtls?.dob | date:'dd-MM-YYYY') : 'N/A'}}</p>


          </div>
          <div class="col-sm-4">
            <p class="m-0"><b style="font-family: RobotoCondensed-Bold!important;font-size: 11px!important;">NuEdge Corporate Private Limited</b></p>
            <p class="mb-1" ><b style="font-family: RobotoCondensed-Bold!important;font-size: 10px!important;">AMFI Registered Mutual Fund Distributor</b></p>
            <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;">
              <b style="font-family: RobotoCondensed-Bold!important;">Branch Office:</b>
              <span style="font-size: 9px!important;">1A, Dr.Sarat Banerjee Rd, Hemanta Mukherjee Sarani, lake Terrace, Kalighat, Kolkata, West Bengal 700029</span>
            </p>
            <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;"><b style="font-family: RobotoCondensed-Bold!important;">Tel:</b>033-46026618
            </p>

            <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;"><b style="font-family: RobotoCondensed-Bold!important;">Email:</b>support@nuedgecorporate.com</p>
            <p class="mb-2" style="font-family: RobotoCondensed-Regular!important;font-size: 10px!important;"><b style="font-family: RobotoCondensed-Bold!important;">Website:</b>nuedgecorporate.co.in</p>
          </div>
          <div class="col-sm-4 d-flex justify-content-center align-items-center">
                <img src="../../../../assets/images/logo.jpg" height="130" width="130"/>
          </div>
      </div>
      <!-- <div class="px-2 border-top d-flex justify-content-start flex-column">
            <p class="my-2" style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;"><b>Mutual Fund Summary Report</b></p>
            <div class="d-flex mb-2 justify-content-between align-items-center py-2" style="border-radius: 3px!important;background-color: #e7ecf7;">
                    <div class="px-2">
                          <b style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;">Investment Amount</b>
                          <p class="my-1" style="font-family:RobotoCondensed-Regular!important;font-size: 10px!important;">120000.00</p>
                    </div>
                    <div  class="px-2">
                      <b style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;">Current Value</b>
                      <p class="my-1" style="font-family:RobotoCondensed-Regular!important;font-size: 10px!important;">120000.00</p>
                    </div>
                    <div class="px-2">
                      <b style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;">Investment Amount</b>
                      <p class="my-1" style="font-family:RobotoCondensed-Regular!important;font-size: 10px!important;">120000.00</p>
                    </div>
                    <div  class="px-2">
                      <b style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;">Current Value</b>
                      <p class="my-1" style="font-family:RobotoCondensed-Regular!important;font-size: 10px!important;">120000.00</p>
                    </div>
                    <div class="px-2">
                      <b style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;">Investment Amount</b>
                      <p class="my-1" style="font-family:RobotoCondensed-Regular!important;font-size: 10px!important;">120000.00</p>
                </div>
                <div  class="px-2">
                  <b style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;">Current Value</b>
                  <p class="my-1" style="font-family:RobotoCondensed-Regular!important;font-size: 10px!important;">120000.00</p>
                </div>
                <div  class="px-2">
                  <b style="font-family:RobotoCondensed-Bold!important;font-size: 10px!important;">Current Value</b>
                  <p class="my-1" style="font-family:RobotoCondensed-Regular!important;font-size: 10px!important;">120000.00</p>
                </div>
            </div>
      </div> -->
  </div>
</div>