
<div class="row flexSec">
  <div class="col-sm-2"  (click)="navigate()">
    <div class="smallBox">
     <div class="smallBoxIconSec">
      <div class="iconCol_12 iconSec">
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
    </div>
    <h2>Add New</h2>
  </div>
</div>
</div>


<core-search [__flag]="'Y'" (__searchItem)="getSearchItem($event)" [__api_name]="'/mfTraxShow'"
  [__placeholder]="'Search TIN Number'"></core-search>

<mf-common-MasterTbl [__MstDT]="__financMst" (__selectedItems)="getSelectedItemForUpdate($event)"></mf-common-MasterTbl>

