
<div class="row flexSec">
  <div class="col-sm-2"  (click)="navigate('A')">
    <div class="smallBox">
     <div class="smallBoxIconSec">
      <div class="iconCol_12 iconSec">
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
    </div>
    <h2>Manual Entry</h2>
  </div>
</div>
<div class="col-sm-2"  (click)="navigate('R')">
  <div class="smallBox">
   <div class="smallBoxIconSec">
    <div class="iconCol_12 iconSec">
      <i class="fa fa-user-o" aria-hidden="true"></i>
    </div>
  </div>
  <h2>Reports</h2>
</div>
</div>
</div>



<!-- <mf-common-MasterTbl
[__paginate]="__paginate"
[__pageNumber]="__pageNumber"
[__MstDT]="__financMst"
[api_name]="'/mfTraxShow'"
[__transType_id]="__transType_id"
[__prod_id]="__prod_id"
[__trans_id]="__trans_id"
(__selectedItems)="getSelectedItemForUpdate($event)"></mf-common-MasterTbl> -->

