<div class="row flexSec">
  <div class="col-sm-7">
    <shared-upload-csv
    [leftHeaderTitle]="'Upload Category'"
    [columns]="tableColumns"
    [api_name]="'/categoryimport'"
    [flag]="'C'"
    [prod_id]="prod_id"
    [dataSource]="tableData"
    [file_name]="'Sample Category'"
    [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>
  <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All Category'" [headerTitle]="'Recent Category'" [flag]="'C'"
      (populate)="populateDT($event)" (showCorrospondingDetails)="showCorrospondingsubCategory($event)" (viewAll)="viewAll()"
      [dataSource]="__selectRNT.data"></shared-mst-dtls>
  </div>
</div>
