
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane"  cdkDragBoundary=".body">
  <div mat-dialog-title class="dialog-title" cdkDragHandle [title]="data.title">
    <h2 >{{data.title}}</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize"  (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore-down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>
  <mat-dialog-content>
      <form [formGroup]="__cmpTypeForm" [attr.id]="'__FixedcmpTypeForm_'+ data.id" (ngSubmit)="submitComapnyType()">

        <div class="row my-3">
          <div class="col-sm-12">
            <label for="type_of_company">
              Type Of Company <span class="text-danger">*</span>
            </label>
            <input type="text"
             name="type_of_company"
             id="type_of_company"
             class="form-control"
             formControlName="comp_type"
             placeholder="Enter Company Type"
             >
             <div class="invalid-feedback"
             *ngIf="__cmpTypeForm.get('comp_type').invalid && (__cmpTypeForm.get('comp_type').dirty || __cmpTypeForm.get('comp_type').touched)">
             <span class="invalid-feedback" *ngIf="(__cmpTypeForm.get('comp_type')).errors?.required">*Please provide company type
               </span>
           </div>
          </div>
        </div>

      </form>
    </mat-dialog-content>
    <mat-dialog-actions cdkDragHandle align="end" class="popupBoxSubmitSec">
      <button class="btn addBtn  ml-2" [attr.form]="'__FixedcmpTypeForm_'+ data.id" [disabled]="this.__cmpTypeForm.invalid">
        {{this.data.id > 0 ? 'Update' : 'Submit'}}
      </button>
    </mat-dialog-actions>
    <!-- <br clear="all"> -->
  </div>
