:host ::ng-deep  .mat-checkbox-layout {
  margin: 0px 0px !important;
}


:host ::ng-deep .p-datatable .p-datatable-thead>tr>th{
  /* border: 1px solid #788c9c; */
  /* border-width: 1px !important; */
  font-size:10.3px!important;
  /* word-break: break-all!important; */
}

textarea{
  height:86px;
  min-height:86px;
  max-height:86px;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td.table__header{
  /* background-color: #81818124!important; */
  /* background-color: #10486b0d !important; */
  background-color: #f5f5f5 !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 199px !important;
  z-index: 999;
}

/* :host ::ng-deep .p-datatable .p-datatable-tbody>tr>td.table__header>h6{
  color: #10486b;
  text-align: center !important;
  padding: 3px 12px;
  font-size: 15px;
  font-weight: 500;
} */

:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td.table_scheme_style{
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #09377c;
  background: #f7f7f7f2;
  text-transform: uppercase;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 227px !important;
  z-index: 999;
}
:host ::ng-deep .p-datatable-lg .p-datatable-thead>tr>th.summary_Report{
  word-break:normal!important

}

.eachTbleFooter{
  background: #10486b2e !important;
}

.eachTbleFooter>td,
.FundTbleFooter>td{
  font-weight: 600 !important;
  font-size: 11px !important;
  color: #10486b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.FundTbleFooter{background: #024e7e !important;}
.FundTbleFooter>td{border: 0px !important;color: #f5f5f5 !important;}

::ng-deep .ToolTip{
  background: #fff!important;
  color:black!important;
  font-weight: 500;
  font-size: 11px!important;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)!important;
}

tr>td.scheme_name{
  font-weight: 700!important;
  text-align: left !important;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td.table__header__Summary{
  background-color: #e3e3e3 !important;
  position: sticky !important;
  top: 142px !important;
  z-index: 999;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td.table__header__Summary>h6,
:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td.table__header>h6
{
  font-size: 14px !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  color: #10486b;
}
