<div class="bckContainer"></div>
<div class="row flexSec">
    <div class="col-sm-12">
      <mat-card>
        <mat-card-header class="border-bottom">
            <mat-card-title>Realised Capital Gain</mat-card-title>
        </mat-card-header>
          <mat-card-content class="px-3 py-3">
            <form [formGroup]="released_capital_gain_form" (ngSubmit)="getReleasedCapitalGainLoss()">
                  <div class="row form-group">
                      <div class="col-sm-3">
                        <label for="view_type">View Type</label>
                        <select name="view_type" id="view_type" class="form-control" formControlName="view_type">
                          <option value="">Select</option>
                          <option [value]="item.id" *ngFor="let item of client_type">{{item.type}}</option>
                        </select>
                      </div>
                      <div class="col-sm-3">
                        <app-core-srch [label]="released_capital_gain_form.value.view_type == 'F' ? 'Family Head' : 'Investor'"
                        [placeholder]="'Search By ' + (released_capital_gain_form.value.view_type == 'F' ? 'Family Member ' : 'Investor ') + ' Name, Code, Email, Mobile, PAN'"
                        [isPending]="__isClientPending" [listItems]="__clientMst" [flag]="'C'"
                        [noDataFoundTitle]="'Sorry!! No Records Found'"
                        [noDataFoundSubTitle]="'If your result match,they will appear here'"
                        [propertiesToShow]="['client_name','pan']" formControlName="client_name"
                        [displayMode]="displayMode_forClient" (setDisplayMode)="displayMode_forClient = $event"
                        (selectedItems)="getSelectedItemsFromParent($event)"></app-core-srch>
                      </div>
                      <ng-container *ngIf="released_capital_gain_form.value.view_type == 'F'">
                        <div class="col-sm-3">
                          <label for="family_members">Family Members&nbsp;<i class="pi pi-info-circle" matTooltip="Search & select family head to get family members" style="font-size: 1rem" ></i></label>
                          <ng-multiselect-dropdown
                          [id]="'family_members'"
                          [placeholder]="'Select Family Members'"
                          [settings]="settingsforFamilyMembers"
                          [data]="family_members"
                          formControlName="family_members">
                          </ng-multiselect-dropdown>
                        </div>
                    </ng-container>

                    <div class="col-sm-3">
                      <label for="asset_type">Asset Type</label>
                      <select name="asset_type" id="asset_type" class="form-control" formControlName="asset_type">
                        <option value="A">All</option>
                        <option value="E">Equity</option>
                        <option value="D">Debt</option>
                      </select>
                    </div>
                    <div class="col-sm-3"
                    [ngClass]="{
                      'd-flex align-items-start flex-column justify-content-end':released_capital_gain_form.value.view_type == 'F'
                    }"
                    >
                      <label for="trans_periods">Transaction Periods</label>
                      <select name="trans_periods" id="trans_periods" class="form-control" formControlName="trans_periods">
                        <option value="">Select</option>
                        <option value="S">Short Term</option>
                        <option value="L">Long Term</option>
                      </select>
                    </div>
                    <div class="col-sm-3">
                      <mat-radio-group
                      color="primary"
                      formControlName="date_type"
                      id="date_type"
                      aria-label="Select an option">
                        <mat-radio-button value="F" class="mr-2">Financial Year</mat-radio-button>
                        <mat-radio-button value="D" >Between Date</mat-radio-button>
                    </mat-radio-group>
                      <ng-container *ngIf="released_capital_gain_form.value.date_type == 'F';else between_date">
                        <select class="form-control" formControlName="fin_year">
                          <option [value]="finYear" *ngFor="let finYear of financial_year">{{finYear}}</option>
                          </select>
                      </ng-container>
                      <ng-template #between_date>
                        <p-calendar #dateRng [maxDate]="max_date" dateFormat="dd/mm/yy"
                        placeholder="Select Date Range" formControlName="date_range" selectionMode="range"
                        [readonlyInput]="true" [id]="'date_range'" [showIcon]="true" [hideOnDateTimeSelect]="true"
                        [showButtonBar]="true">
                      </p-calendar>
                      </ng-template>
                    </div>
                    <div class="col-sm-3 d-flex align-items-start flex-column justify-content-end">
                      <label for="report_type">Report Type</label>
                      <select name="report_type" id="report_type" class="form-control" formControlName="report_type">
                        <option value="S">Summary</option>
                        <option value="D">Details</option>
                        <option value="A">As Per ITD</option>
                      </select>
                    </div>
                    <div class="col-sm-3 d-flex align-items-start flex-column justify-content-end">
                      <mat-checkbox color="primary" formControlName="opt1">Show Financial Year Wise Transaction Report</mat-checkbox>
                      <mat-checkbox color="primary" formControlName="opt2">Show Dividend History</mat-checkbox>
                    </div>
                    <div class="d-flex flex-column justify-content-end align-items-end"
                    [ngClass]="{
                       'col-sm-3':released_capital_gain_form.value.view_type != 'F',
                       'col-sm-12':released_capital_gain_form.value.view_type == 'F'
                    }"
                    >
                     <p-button type="submit" label="Show" icon="pi pi-eye" iconPos="right" styleClass="p-button-lg"></p-button>
                    </div>
                  </div>
            </form>
          </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-12 my-3">
      <client-dtls [clientDtls]="client_dtls" *ngIf="client_dtls"></client-dtls>
      <!-- <p-card>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-lg-3 my-2 border-right">
            <div class="d-flex align-items-center">
              <mat-icon class="details__icon infoIcon">person</mat-icon>
              <span class="heading_title"
                >Client Name:&nbsp;
                <p class="titles__value m-0">
                  Suman Mitra
                </p></span
              >
            </div>

            <div class="d-flex align-items-center my-4">
              <mat-icon class="details__icon warningIcon">badge</mat-icon>
              <span class="heading_title"
                >PAN:&nbsp;<p class="titles__value m-0">
                  ABCDE1234L
                </p>
              </span>
            </div>
            <div class="d-flex align-items-center">
              <mat-icon class="details__icon successIcon">schedule</mat-icon>
              <span class="heading_title"
                >Valuation As On:&nbsp;
                <p class="titles__value m-0">
                  14-March
                </p></span
              >
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-3 my-2 border-right">
            <div class="d-flex align-items-start">
              <mat-icon class="details__icon infoIcon">location_on</mat-icon>
              <span class="heading_title address_title"
                >Address:&nbsp;
                <p class="titles__value m-0">
                  Sodpur Kamarpara, Natagarh,Kol-113

                </p>
              </span>
            </div>
            <div class="my-4 d-flex align-items-center">
              <mat-icon class="details__icon warningIcon">call</mat-icon>
              <span class="heading_title"
                >Contact:&nbsp;
                <p class="titles__value m-0">
                  8777528909
                </p>
              </span>
            </div>
            <div class="my-2 d-flex align-items-center">
              <mat-icon class="details__icon successIcon">mail</mat-icon>
              <span class="heading_title"
                >Email:&nbsp;
                <p class="titles__value m-0">
                  sumanmitra0096@gmail.com
                </p>
              </span>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-3 my-2 border-right">
            <div class="text-center">
              <p class="heading_title">Current Sensex:</p>
              <p class="titles__value">
                72, 186.09 <mat-icon class="text-success">north</mat-icon> 454.67
                (0.63%)
              </p>
            </div>
            <div class="my-2 text-center">
              <mat-button-toggle-group #group="matButtonToggleGroup">
                <mat-button-toggle value="left" aria-label="Text align left">
                  <i class="pi pi-print text-info" style="font-size: 2rem"></i>
                </mat-button-toggle>
                <mat-button-toggle value="center" aria-label="Text align center">
                  <i
                    class="pi pi-file-pdf text-danger"
                    style="font-size: 2rem"
                  ></i>
                </mat-button-toggle>
                <mat-button-toggle value="right" aria-label="Text align right">
                  <i
                    class="pi pi-file-excel text-success"
                    style="font-size: 2rem"
                  ></i>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-3 my-2">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Note</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>
          </div>
        </div>
      </p-card> -->
    </div>
    <div class="col-sm-12">
        <mat-card>
          <mat-card-content class="">
                <p-table
                [value]="relisedCapitalGain"
                [paginator]="false"
                [responsive]="true"
                styleClass="p-datatable-gridlines"
                >
                <ng-template pTemplate="header" class="stickyHeader">
                    <tr class="stickyHeader">
                      <th
                      *ngFor="let col of relised_capital_gain_column"
                      [style]="'width : '+col.width"
                      [attr.colspan]="col.col_span"
                      [attr.rowspan]="col.row_span"
                      class="py-3"
                      >
                          {{col.header}}
                      </th>
                    </tr>
                    <tr>
                      <ng-container  *ngFor="let col of relised_capital_gain_column">
                          <th
                          *ngFor="let col of col.sub_row"
                          [style]="'width : '+col.width">
                          {{col.header}}
                        </th>
                      </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-realisedCapitalGain>
                  <tr>
                    <td *ngFor="let col of relised_capital_gain_column"
                        [style]="'width : '+col.width">
                        {{realisedCapitalGain[col.field]}}
                   </td>
                </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-realisedCapitalGain>
                  <tr>
                    <td [attr.colspan]="21">
                      <p class="m-0">No Records Found</p>
                    </td>
                  </tr>
                </ng-template>
                </p-table>
          </mat-card-content>
        </mat-card>
    </div>
</div>
