<div class="bckContainer"></div>
<div class="row flexSec">
    <div class="col-sm-12">
      <mat-card>
        <mat-card-header class="border-bottom">
            <mat-card-title>Realised Capital Gain</mat-card-title>
        </mat-card-header>
          <mat-card-content class="px-3 py-3">
            <form [formGroup]="released_capital_gain_form" (ngSubmit)="getReleasedCapitalGainLoss()">
                  <div class="row form-group">
                      <div class="col-sm-3">
                        <label for="view_type">View Type</label>
                        <select name="view_type" id="view_type" class="form-control" formControlName="view_type">
                          <option value="">Select</option>
                          <option [value]="item.id" *ngFor="let item of client_type">{{item.type}}</option>
                        </select>
                      </div>
                      <div class="col-sm-3">
                        <app-core-srch [label]="released_capital_gain_form.value.view_type == 'F' ? 'Family Head' : 'Investor'"
                        [placeholder]="'Search By ' + (released_capital_gain_form.value.view_type == 'F' ? 'Family Member ' : 'Investor ') + ' Name, Code, Email, Mobile, PAN'"
                        [isPending]="__isClientPending" [listItems]="__clientMst" [flag]="'C'"
                        [noDataFoundTitle]="'Sorry!! No Records Found'"
                        [noDataFoundSubTitle]="'If your result match,they will appear here'"
                        [propertiesToShow]="['client_name','pan']" formControlName="client_name"
                        [displayMode]="displayMode_forClient" (setDisplayMode)="displayMode_forClient = $event"
                        (selectedItems)="getSelectedItemsFromParent($event)"></app-core-srch>
                      </div>
                      <ng-container *ngIf="released_capital_gain_form.value.view_type == 'F'">
                        <div class="col-sm-3">
                          <label for="family_members">Family Members&nbsp;<i class="pi pi-info-circle" matTooltip="Search & select family head to get family members" style="font-size: 1rem" ></i></label>
                          <ng-multiselect-dropdown
                          [id]="'family_members'"
                          [placeholder]="'Select Family Members'"
                          [settings]="settingsforFamilyMembers"
                          [data]="family_members"
                          formControlName="family_members">
                          </ng-multiselect-dropdown>
                        </div>
                    </ng-container>

                    <div class="col-sm-3">
                      <label for="asset_type">Asset Type</label>
                      <select name="asset_type" id="asset_type" class="form-control" formControlName="asset_type">
                        <option value="Equity Fund / Debt Fund / Debt Oriented Hybrid Fund">All</option>
                        <option value="Equity Fund">Equity</option>
                        <option value="Debt Fund">Debt</option>
                      </select>
                    </div>
                    <div class="col-sm-3"
                    [ngClass]="{
                      'd-flex align-items-start flex-column justify-content-end':released_capital_gain_form.value.view_type == 'F'
                    }"
                    >
                      <label for="trans_periods">Transaction Periods</label>
                      <select name="trans_periods" id="trans_periods" class="form-control" formControlName="trans_periods">
                        <option value="">All</option>
                        <option value="S">Short Term</option>
                        <option value="L">Long Term</option>
                      </select>
                    </div>
                    <div class="col-sm-3">
                      <mat-radio-group
                      color="primary"
                      formControlName="date_type"
                      id="date_type"
                      aria-label="Select an option">
                        <mat-radio-button value="F" class="mr-2">Financial Year</mat-radio-button>
                        <mat-radio-button value="D" >Between Date</mat-radio-button>
                    </mat-radio-group>
                      <ng-container *ngIf="released_capital_gain_form.value.date_type == 'F';else between_date">
                        <select class="form-control" formControlName="fin_year">
                          <option [value]="finYear" *ngFor="let finYear of financial_year">{{finYear}}</option>
                          </select>
                      </ng-container>
                      <ng-template #between_date>
                        <p-calendar #dateRng [maxDate]="max_date" dateFormat="dd/mm/yy"
                        placeholder="Select Date Range" formControlName="date_range" selectionMode="range"
                        [readonlyInput]="true" [id]="'date_range'" [showIcon]="true" [hideOnDateTimeSelect]="true"
                        [showButtonBar]="true">
                      </p-calendar>
                      </ng-template>
                    </div>
                    <div class="col-sm-3 d-flex align-items-start flex-column justify-content-end">
                      <label for="report_type">Report Type</label>
                      <select name="report_type" id="report_type" class="form-control" formControlName="report_type">
                        <option value="S">Summary</option>
                        <option value="D">Details</option>
                        <option value="A">As Per ITD</option>
                      </select>
                    </div>
                    <div class="col-sm-3 d-flex align-items-start flex-column justify-content-end">
                      <mat-checkbox color="primary" formControlName="opt1">Show Financial Year Wise Transaction Report</mat-checkbox>
                      <mat-checkbox color="primary" formControlName="opt2">Show Dividend History</mat-checkbox>
                    </div>
                    <div class="d-flex flex-column justify-content-end align-items-end"
                    [ngClass]="{
                       'col-sm-3':released_capital_gain_form.value.view_type != 'F',
                       'col-sm-12':released_capital_gain_form.value.view_type == 'F'
                    }"
                    >
                     <p-button type="submit" label="Show" icon="pi pi-eye" iconPos="right" styleClass="p-button-lg"></p-button>
                    </div>
                  </div>
            </form>
          </mat-card-content>
        </mat-card>
    </div>
  <!-- <ng-container *ngIf="relised_capital_gain_summary.length > 0 || relisedCapitalGain.length > 0"> -->
   
    <div class="col-sm-12 my-3">
      <client-dtls
      [clientDtls]="client_dtls"
      [ScheduleType]="'Report'"
      [isDateRange]="true"
      [date]="dateRange"
      *ngIf="client_dtls"></client-dtls>
    </div>
    <div class="col-sm-12">
          <mat-card>
            <mat-card-content>
              <core-tab [Tab]="realisedcapital_gain_tab"
                      (GetTabDtls)="TabDetails($event)"
                      [customClass]="'border-bottom'"
                      [index]="selected_parent_index"
                      ></core-tab>
              <ng-container *ngIf="realised_capital_gain_sub_tab.length > 0">
                <div class="my-3 row">
                  <div class="col-sm-12">
                    <core-tab [Tab]="realised_capital_gain_sub_tab"
                    (GetTabDtls)="subTabDetails($event)"
                    [index]="selected_index"
                    [customClass]="'border-bottom'"></core-tab>
                  </div>
                </div>
              
              </ng-container>
              <ng-container [ngSwitch]="true">
                  <!-- Div Open Only For Realised Capital Gain / Loss Report -->
                    <ng-container *ngSwitchCase="parent_tab_id == 'R'">
                      <div class="row">
                        <div class="col-sm-12" *ngIf="main_frm_dt?.report_type == 'D'">
                          <mat-card>
                            <mat-card-header>
                                <mat-card-title>
                                  CAPITAL GAIN LOSS DETAILS REPORT
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="p-2">
                                  <p-table
                                  [value]="relisedCapitalGain"
                                  [paginator]="false"
                                  styleClass="p-datatable-gridlines p-datatable-lg p-datatable-striped"
                                  >
                                  <ng-template pTemplate="header">
                                      <tr class="stickyHeader">
                                        <th
                                        *ngFor="let col of relised_capital_gain_column"
                                        [style]="'width : '+col.width"
                                        [attr.colspan]="col.col_span"
                                        [attr.rowspan]="col.row_span"
                                        class="py-3"
                                        >
                                          {{col.header}}
                                        </th>
                                      </tr>
                                      <tr class="stickyHeaderInnerTH">
                                        <ng-container  *ngFor="let col of relised_capital_gain_column">
                                            <th
                                            *ngFor="let col of col.sub_row"
                                            [style]="'width : '+col.width">
                                            {{col.header}}
                                          </th>
                                        </ng-container>
                                      </tr>
                                  </ng-template>
                                  <ng-template pTemplate="body" let-realisedCapitalGain>
                                    <tr class="stickyHeaderInnerTH">
                                      <td [attr.colspan]="21" class="table__header">
                                          <h6 class="m-0">{{realisedCapitalGain?.tax_type}}</h6>
                                      </td>
                                    </tr>
                                    <ng-container *ngFor="let dtls of realisedCapitalGain?.data">
                                      <tr *ngIf="dtls.calculation_arr.length > 0">
                                        <td colspan="21" class="table_scheme_style">
                                          <span>{{dtls?.scheme_name}} - {{dtls?.plan_name}} - {{dtls?.option_name}} # ISIN - {{dtls?.isin_no}} # FOLIO - {{dtls?.folio_no}}</span>
                                        </td>
                                      </tr>
                                      <tr  *ngFor="let innerDT of dtls?.calculation_arr">
                                        <td>{{innerDT.trans_date | date:'dd-MM-YY'}}</td>
                                        <td>{{innerDT.transaction_type}}</td>
                                          <ng-container  *ngFor="let col of relised_capital_gain_column">
                
                                              <td
                                              *ngFor="let col of col.sub_row"
                                              [style]="'width : '+col.width">
                                              <ng-container [ngSwitch]="true">
                                                <ng-container
                                                *ngSwitchCase="col.field == 'sell_date'"
                                              >
                                              {{innerDT[col.field] ? (innerDT[col.field] | date:'dd-MM-YY') : 'N/A'}}
                                              </ng-container>
                                              <ng-container
                                                *ngSwitchCase="col.field == 'pur_before'
                                                || col.field == 'amount_as_on_31_01_2018'
                                                || col.field == 'nav_as_on_31_01_2018'
                                                || col.field == 'debt_31_03_2023'
                                                ">
                                              {{innerDT[col.field] ? innerDT[col.field] : 'N/A'}}
                                              </ng-container>
                                              <ng-container  *ngSwitchCase="col.field == 'tot_units'">
                                                {{(innerDT[col.field] || innerDT[col.field]?.toString() == '0') ? (innerDT[col.field] | number:'1.2-2') : '0.00'}}
                                              </ng-container>
                                              <ng-container  *ngSwitchDefault>
                                                {{(innerDT[col.field] || innerDT[col.field]?.toString() == '0') ? innerDT[col.field] : 'N/A'}}
                                              </ng-container>
                                              </ng-container>
                                            </td>
                                          </ng-container>
                                      </tr>
                                      <tr class="eachTbleFooter">
                                          <td colspan="2">TOTAL</td>
                                          <td matTooltipClass="ToolTip" [matTooltip]="dtls?.total.tot_amount | number:'1.2-2'">{{dtls?.total ? (dtls?.total.tot_amount | number:'1.2-2') : '0.00'}}</td>
                                          <td matTooltipClass="ToolTip" [matTooltip]="dtls?.total.pur_price | number:'1.2-2'">{{dtls?.total ? (dtls?.total.pur_price | number:'1.2-2') : '0.00'}}</td>
                                          <td matTooltipClass="ToolTip" [matTooltip]="dtls?.total.tot_units | number:'1.2-2'">
                                            {{dtls?.total ? (dtls?.total.tot_units | number:'1.2-2') : '0.00'}}</td>
                                          <td></td>
                                          <td matTooltipClass="ToolTip" [matTooltip]="dtls?.total.nav_as_on_31_01_2018 | number:'1.2-2'">{{dtls?.total ? (dtls?.total.nav_as_on_31_01_2018 | number:'1.2-2') : '0.00'}}</td>
                                          <td matTooltipClass="ToolTip" [matTooltip]="dtls?.total.amount_as_on_31_01_2018 | number:'1.2-2'">{{dtls?.total ? (dtls?.total.amount_as_on_31_01_2018 | number:'1.2-2') : '0.00'}}</td>
                                          <td colspan="3"></td>
                                          <td matTooltipClass="ToolTip" [matTooltip]="dtls?.total.sell_nav | number:'1.2-2'">{{dtls?.total ? (dtls?.total.sell_nav | number:'1.2-2') : '0.00'}}</td>
                                          <td matTooltipClass="ToolTip" [matTooltip]="dtls?.total.redemp_amount | number:'1.2-2'">{{dtls?.total ? (dtls?.total.redemp_amount | number:'1.2-2') : '0.00'}}</td>
                                          <td matTooltipClass="ToolTip" [matTooltip]="dtls?.total.tot_tds | number:'1.2-2'">{{dtls?.total ? (dtls?.total.tot_tds | number:'1.2-2') : '0.00'}}</td>
                                          <td matTooltipClass="ToolTip" [matTooltip]="dtls?.total.stt | number:'1.2-2'">{{dtls?.total ? (dtls?.total.stt | number:'1.2-2') : '0.00'}}</td>
                                          <td matTooltipClass="ToolTip" [matTooltip]="dtls?.total.net_sell_proceed | number:'1.2-2'">{{dtls?.total ? (dtls?.total.net_sell_proceed | number:'1.2-2') : '0.00'}}</td>
                                          <td matTooltipClass="ToolTip" [matTooltip]="dtls?.total.div_amount | number:'1.2-2'">{{dtls?.total ? (dtls?.total.div_amount | number:'1.2-2') : '0.00'}}</td>
                                          <td></td> 
                                          <td matTooltipClass="ToolTip" [matTooltip]="dtls?.total.stcg | number:'1.2-2'">{{dtls?.total ? (dtls?.total.stcg | number:'1.2-2') : '0.00'}}</td>
                                          <td matTooltipClass="ToolTip" [matTooltip]="dtls?.total.ltcg | number:'1.2-2'">{{dtls?.total ? (dtls?.total.ltcg | number:'1.2-2') : '0.00'}}</td>
                                          <td matTooltipClass="ToolTip" [matTooltip]="dtls?.total.index_ltcg | number:'1.2-2'">{{dtls?.total ? (dtls?.total.index_ltcg | number:'1.2-2') : '0.00'}}</td>
                                          <!-- <td colspan="18"></td> -->
                                      </tr>
                                    </ng-container>
                                    <tr class="FundTbleFooter">
                                      <td colspan="2">GRAND TOTAL</td>
                                      <td matTooltipClass="ToolTip" [matTooltip]="realisedCapitalGain?.total.tot_amount | number:'1.2-2'">{{realisedCapitalGain?.total ? (realisedCapitalGain?.total.tot_amount | number:'1.2-2') : '0.00'}}</td>
                                      <td matTooltipClass="ToolTip" [matTooltip]="realisedCapitalGain?.total.pur_price | number:'1.2-2'">{{realisedCapitalGain?.total ? (realisedCapitalGain?.total.pur_price | number:'1.2-2') : '0.00'}}</td>
                                      <td matTooltipClass="ToolTip" [matTooltip]="realisedCapitalGain?.total.tot_units | number:'1.2-2'">{{realisedCapitalGain?.total ? (realisedCapitalGain?.total.tot_units | number:'1.2-2') : '0.00'}}</td>
                                      <td></td>
                                      <td matTooltipClass="ToolTip" [matTooltip]="realisedCapitalGain?.total.nav_as_on_31_01_2018 | number:'1.2-2'">{{realisedCapitalGain?.total ? (realisedCapitalGain?.total.nav_as_on_31_01_2018 | number:'1.2-2') : '0.00'}}</td>
                                      <td matTooltipClass="ToolTip" [matTooltip]="realisedCapitalGain?.total.amount_as_on_31_01_2018 | number:'1.2-2'">{{realisedCapitalGain?.total ? (realisedCapitalGain?.total.amount_as_on_31_01_2018 | number:'1.2-2') : '0.00'}}</td>
                                      <td colspan="3"></td>
                                      <td matTooltipClass="ToolTip" [matTooltip]="realisedCapitalGain?.total.sell_nav | number:'1.2-2'">{{realisedCapitalGain?.total ? (realisedCapitalGain?.total.sell_nav | number:'1.2-2') : '0.00'}}</td>
                                      <td matTooltipClass="ToolTip" [matTooltip]="realisedCapitalGain?.total.redemp_amount | number:'1.2-2'">{{realisedCapitalGain?.total ? (realisedCapitalGain?.total.redemp_amount | number:'1.2-2') : '0.00'}}</td>
                                      <td matTooltipClass="ToolTip" [matTooltip]="realisedCapitalGain?.total.tot_tds | number:'1.2-2'">{{realisedCapitalGain?.total ? (realisedCapitalGain?.total.tot_tds | number:'1.2-2') : '0.00'}}</td>
                                      <td matTooltipClass="ToolTip" [matTooltip]="realisedCapitalGain?.total.stt | number:'1.2-2'">{{realisedCapitalGain?.total ? (realisedCapitalGain?.total.stt | number:'1.2-2') : '0.00'}}</td>
                                      <td matTooltipClass="ToolTip" [matTooltip]="realisedCapitalGain?.total.net_sell_proceed | number:'1.2-2'">
                                        {{realisedCapitalGain?.total ? (realisedCapitalGain?.total.net_sell_proceed | number:'1.2-2') : '0.00'}}</td>
                                      <td matTooltipClass="ToolTip" [matTooltip]="realisedCapitalGain?.total.div_amount | number:'1.2-2'">
                                        {{realisedCapitalGain?.total ? (realisedCapitalGain?.total.div_amount | number:'1.2-2') : '0.00'}}</td>
                                      <td></td> 
                                      <td matTooltipClass="ToolTip" [matTooltip]="realisedCapitalGain?.total.stcg | number:'1.2-2'">
                                        {{realisedCapitalGain?.total ? (realisedCapitalGain?.total.stcg | number:'1.2-2') : '0.00'}}</td>
                                      <td matTooltipClass="ToolTip" [matTooltip]="realisedCapitalGain?.total.ltcg | number:'1.2-2'">
                                        {{realisedCapitalGain?.total ? (realisedCapitalGain?.total.ltcg | number:'1.2-2') : '0.00'}}</td>
                                      <td matTooltipClass="ToolTip" [matTooltip]="realisedCapitalGain?.total.index_ltcg | number:'1.2-2'">
                                        {{realisedCapitalGain?.total ? (realisedCapitalGain?.total.index_ltcg | number:'1.2-2') : '0.00'}}</td>
                                    </tr>
                
                                  </ng-template>
                                  <ng-template pTemplate="emptymessage" let-realisedCapitalGain>
                                    <tr>
                                      <td [attr.colspan]="21">
                                        <p class="m-0">No Records Found</p>
                                      </td>
                                    </tr>
                                  </ng-template>
                                  </p-table>
                            </mat-card-content>
                          </mat-card>
                        </div>
                        <div class="col-sm-12"
                        [ngClass]="{
                            'my-5': main_frm_dt?.report_type == 'D'
                        }"
                        *ngIf="main_frm_dt?.report_type == 'S' || main_frm_dt?.report_type == 'D'"
                        
                        >
                          <mat-card>
                            <mat-card-header class="py-2">
                              <mat-card-title>CAPITAL GAIN LOSS SUMMARY REPORT</mat-card-title>
                                <input id="search" class="form-control rounded w-25 pr-4 mr-2" type="text" (input)="filterGlobal_secondary($event)"
                                  placeholder="Search" />
                            </mat-card-header>
                            <mat-card-content class="p-2">
                                  <p-table
                                  #relise_capital_gain_summary
                                  [value]="relised_capital_gain_summary"
                                  [paginator]="true"
                                  [responsive]="true"
                                  [globalFilterFields]="getColumns()"
                                  styleClass="p-datatable-lg p-datatable-striped"
                                  [rows]="10" 
                                  [rowHover]="false"
                                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                  [pageLinks]="3"
                                  [rowsPerPageOptions]="[10,50,100,{ showAll: 'All' }]"
                                  [showCurrentPageReport]="true"
                                  >
                                  <ng-template pTemplate="header">
                                      <tr class="stickyHeader">
                                        <th
                                        *ngFor="let col of relised_capital_gain_summary_column"
                                        class="py-3"
                                        [style]="'width : '+col.width"
                                        class="summary_Report"
                                        >
                                          {{col.header}}
                                          <!-- pSortableColumn="{{col.field}}"
                                          <p-sortIcon field="{{col.field}}"></p-sortIcon> -->
                                        </th>
                                      </tr>
                                  </ng-template>
                                  <ng-template pTemplate="body" let-realisedCapitalGain_summary>
                                    <tr class="stickyHeaderInnerTH">
                                      <td [attr.colspan]="relised_capital_gain_summary_column.length" class="table__header__Summary">
                                          <h6 class="m-0">{{realisedCapitalGain_summary?.tax_type}}</h6>
                                      </td>
                                    </tr>
                                    <ng-container *ngFor="let dtls of realisedCapitalGain_summary?.summary">
                                      <tr>
                                        <td *ngFor="let col of relised_capital_gain_summary_column"
                                        [style]="'width : '+col.width"
                                        class="{{col.field}}"
                                        >
                                        <ng-container [ngSwitch]="true">
                                          <ng-container *ngSwitchCase="col.field == 'scheme_name'">
                                            {{dtls[col.field]}}
                                          </ng-container>
                                          <ng-container *ngSwitchCase="col.field == 'folio'">
                                            {{dtls[col.field]}}
                                          </ng-container>
                                          <ng-container  *ngSwitchDefault>
                                            {{(dtls[col.field] || dtls[col.field]?.toString() == '0') ? (dtls[col.field] | number:'1.2-2') : 'N/A'}}
                                          </ng-container>
                                        </ng-container>
                                        </td>
                                      </tr>
                                    </ng-container>
                  
                                    <tr class="eachTbleFooter">
                                      <td *ngFor="let footer_col of relised_capital_gain_summary_column">
                                      <ng-container [ngSwitch]="true">
                                        <ng-container *ngSwitchCase="footer_col.field != 'scheme_name' && footer_col.field != 'folio'">
                                            {{realisedCapitalGain_summary?.total ? (realisedCapitalGain_summary?.total[footer_col.field] | number:'1.2-2') : '0.00'}}
                                        </ng-container>
                                        <ng-container *ngSwitchCase="footer_col.field == 'scheme_name'">
                                              GRAND TOTAL
                                        </ng-container>
                                        <ng-container  *ngSwitchDefault>
                                        </ng-container>
                                      </ng-container>
                  
                                      </td>
                                    </tr>
                              
                                  </ng-template>
                                  <ng-template pTemplate="emptymessage" let-realisedCapitalGain_summary>
                                    <tr>
                                      <td [attr.colspan]="relised_capital_gain_summary_column.length">
                                        <p class="m-0">No Records Found</p>
                                      </td>
                                    </tr>
                                  </ng-template>
                                    <ng-template pTemplate="footer">
                                      <tr>
                                        <td
                                          *ngFor="let col of relised_capital_gain_summary_column"
                                          [style]="'width : ' + col.width"
                                        >
                                          <ng-container [ngSwitch]="true">
                                            <ng-container *ngSwitchCase="col.field == 'scheme_name'">
                                              <p class="m-0">GRAND TOTAL</p>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="col.field == 'folio_no'"></ng-container>
                                            
                                            <ng-container *ngSwitchDefault>
                                              {{relised_capital_gain_summary_footer ? (relised_capital_gain_summary_footer[col.field] ? (relised_capital_gain_summary_footer[col.field] | number:'1.2-2') : '0.00') : '0.00'}}
                                            </ng-container>
                                          </ng-container>
                                        </td>
                                      </tr>
                                    </ng-template>
                                  </p-table>
                            </mat-card-content>
                          </mat-card>
                        </div>
                      </div>
                    </ng-container>
                  <!-- End -->

                  <!-- Dividend Report -->
                  <ng-container *ngSwitchCase="parent_tab_id == 'D'">
                    <!-- <div class="row my-5" *ngIf="total_idcw_summary">
                      <div class="col-sm-12">
                        <div class="d-flex align-items-center justify-content-around">
                            <ng-container *ngFor="let item of total_idcw_summary | keyvalue" >
                              <div class="summer-bx">
                                     <div class="hint-bx text-uppercase">{{item.key}}</div>
                                     <div class="num-bx">{{item.value}}</div>
                              </div>
                          </ng-container>
                            <div class="summer-bx">
                              <div class="hint-bx text-uppercase">GRAND TOTAL</div>
                              <div class="num-bx">
                              {{(total_idcw_summary['IDCWP'] + total_idcw_summary['IDCW Reinv.'] + total_idcw_summary['IDCW Sweep In'] + total_idcw_summary['IDCW Sweep Out'])}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->

                        <div class="row my-3" *ngIf="total_idcw_summary">
                          <div class="col-sm-12">
                                <ul class="w-full d-flex justify-content-center align-items-center px-5">  
                                  <ng-container *ngFor="let item of total_idcw_summary | keyvalue:keepOrder; let i=index">
                                      <li class="plSummaryRptBlock" style='width:20%'>
                                        <div>
                                          <p class="m-0 text-uppercase">{{item.key}}</p>
                                          <ng-container [ngSwitch]="true">
                                              <ng-container *ngSwitchCase="item.key === 'xirr'">
                                                <p class="m-0 mt-2 text-uppercase values">{{item ? (item.value | percent:'1.2-2') : '0.00'}}</p>
                                              </ng-container>
                                              <ng-container *ngSwitchDefault>
                                                <p class="m-0 mt-2 text-uppercase values">
                                                  {{item ? (item.value | number:'1.2-2') : '0.00'}}
                                                    <span *ngIf="item.key === 'Abs.Ret'">%</span>
                                                </p>
                                              </ng-container>
                                          </ng-container>
                                        </div>
                                      </li>
                                  </ng-container>
                                </ul>
                          </div>
                        </div>
                      <div-report 
                      [total_idcw_summary]="total_idcw_summary"
                      [column]="idcw_column | columnfilter:sub_tab_id" 
                      [idcwRpt]="idcw_summary | segregrateDivHistory:sub_tab_id"></div-report>
                  </ng-container>
                  <!-- End -->
                   <!-- FINANCIAL YEAR WISE REPORT -->
                  <ng-container *ngSwitchDefault>
                    <financialyearwise-report [tab_type]="sub_tab_id" 
                    [financial_year_wise_report]="financial_year_wise_trans_report"></financialyearwise-report>
                  </ng-container>
                  <!-- End -->
              </ng-container>
            </mat-card-content>
          </mat-card> 
    </div>
     
  <!-- </ng-container> -->

  <!-- *ngIf="main_frm_dt?.report_type == 'A'" -->
  <!-- <ng-container >
        <div class="col-sm-12 my-3">
              <mat-card>
                <mat-card-header>
                    <mat-card-title>
                          CAPITAL GAIN REPORT AS PER ITD
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                      <p-table
                        [value]="relised_capital_gain_as_per_ITD_OverAll_Summary"
                        styleClass="p-datatable-lg p-datatable-striped"
                      >
                      <ng-template pTemplate="header">
                        <tr class="stickyHeader">
                          <th
                          *ngFor="let col of relised_capital_gain_as_per_ITD_column"
                          class="py-3"
                          [style]="'width : '+col.width">
                            {{col.header}}
                          </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-realisedCapitalGain_As_per_ITD>
                      <tr>
                        <td *ngFor="let col of relised_capital_gain_as_per_ITD_column"
                        [style]="'width : '+col.width"
                        >
                            {{realisedCapitalGain_As_per_ITD[col.field] | titlecase}}
                        </td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage" let-realisedCapitalGain_summary>
                    <tr>
                      <td [attr.colspan]="relised_capital_gain_as_per_ITD_column.length">
                        <p class="m-0">No Records Found</p>
                      </td>
                    </tr>
                  </ng-template>
                    </p-table>
                </mat-card-content>
              </mat-card>
        </div>
  </ng-container> -->

</div>
