<div class="row flexSec">
  <div class="col-sm-7">
    <shared-upload-csv [leftHeaderTitle]="'Upload AMC'"
    [flag]="'A'" [file_name]="'Sample AMC'"
    [columns]="tableColumns" [api_name]="'/amcimport'"
      [dataSource]="tableData"
      [RntMst]="__rntMst"
      [prod_id]="'1'"
      [displayedColumns]="displayedColumns">
    </shared-upload-csv>
  </div>
  <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All AMC'"
    [headerTitle]="'Recent AMC'" [flag]="'A'"
      (populate)="populateDT($event)"
      [props]="'amc_short_name'"
      (viewAll)="viewAll()"
      [dataSource]="__selectRNT.data"></shared-mst-dtls>
  </div>
</div>
