<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div mat-dialog-title class="dialog-title">
    <h2>Reports For Insurance Trax</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore Down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon>close</mat-icon>
      </button>

    </div>

  </div>
  <mat-dialog-content>
    <div class="card my-5">
      <div class="card-body p-5">
        <form [formGroup]="__insTraxForm" (ngSubmit)="searchInsurance()" autocomplete="off">
          <div class="row">
            <div class="col-sm-8 my-auto">
              <mat-radio-group aria-label="Select an option" formControlName="options">
                <mat-radio-button color="primary" value="2">Summary</mat-radio-button>
                <mat-radio-button color="primary" value="1" class="ml-5">Detail</mat-radio-button>
                <mat-radio-button color="primary" value="3" class="ml-5">Day Sheet</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-sm-4">
              <mat-button-toggle-group class="float-right" aria-label="Font Style" formControlName="filter_type">
                <mat-button-toggle value="A" (click)="AdvanceFilter()">
                  <mat-icon>filter_alt</mat-icon>Advanced Filter
                </mat-button-toggle>
                <mat-button-toggle value="R" (click)="refresh()">
                  <mat-icon>sync</mat-icon>
                </mat-button-toggle>

              </mat-button-toggle-group>
              <!-- <button mat-icon-button type="button" class="float-right" title="Reset" (click)="refresh()">
                <mat-icon>refresh</mat-icon>
              </button> -->
            </div>
          </div>
          <ng-container *ngIf="__insTraxForm.get('options').value != '3'">
            <div class="row">
              <div class="col-sm-4">
                <label for="dt_type">Date Periods</label>
                <select class="form-control" formControlName="dt_type" name="dt_type" id="dt_type">
                  <option value="">Select</option>
                  <option value="D">Day</option>
                  <option value="W">Week</option>
                  <option value="M">Month</option>
                  <option value="Y">Year</option>
                  <option value="R">Date Range</option>
                </select>
              </div>
              <div class="col-sm-4">
                <label for="frm_dt">Start Date</label>
                <input type="date" name="frm_dt" id="frm_dt" class="form-control" formControlName="frm_dt">
              </div>
              <div class="col-sm-4">
                <label for="to_dt">End Date</label>
                <input type="date" name="to_dt" id="to_dt" class="form-control" formControlName="to_dt">
              </div>
            </div>
            <div class="row my-2">
              <div class="col-sm-3">
                <label for="tin_no">TIN Number</label>
                <input type="text" name="tin_no" id="tin_no" placeholder="Enter TIN Number" class="form-control"
                  formControlName="tin_no">
              </div>
              <div class="col-sm-3">
                <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforClient($event)">
                  <div class="searchDiv">
                    <label for="__clntCd">Proposer Details</label>
                    <input type="search" name="__clntCd" id="__clntCd" class="form-control"
                      formControlName="proposer_code"
                      placeholder="Search By Proposer Name,Proposer Code, Email, Mobile, Pan & DOB">
                    <span class="spinner-border"
                      *ngIf="__isClientPending && __insTraxForm.get('proposer_code').value?.length > 1"></span>

                    <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickforClient($event)">
                      <div class="serachresult_client" #clientCd>
                        <ul *ngIf="__clientMst.length > 0">
                          <li *ngFor="let items of __clientMst" (click)="getItems(items,'C')">
                            {{items.client_code}} | {{items.pan}} | {{items.client_name}}
                          </li>
                        </ul>
                        <div class="noDataFound" *ngIf="__clientMst.length == 0">
                          <h5 class="text-center">
                            Sorry!! No Records Found
                          </h5>
                          <p>If your result match,they will appear here</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforSubBrkArn($event)">
                  <div class="searchDiv">
                    <label for="subbrkArn">Sub Broker Code</label>
                    <input type="search" id="subbrkArn" class="form-control" placeholder="Serach By Sub Broker Code"
                      formControlName="sub_brk_cd">
                    <span class="spinner-border"
                      *ngIf="__isSubArnPending && __insTraxForm.get('sub_brk_cd').value?.length > 1"></span>

                    <div class="processMain_2" __searchResVisibility
                      (appOutsideClick)="outsideClickforSubBrkArn($event)">
                      <div class="serachresult_client" #subBrkArn>
                        <ul *ngIf="__subbrkArnMst.length > 0">
                          <li *ngFor="let items of __subbrkArnMst" (click)="getItems(items,'S')">
                            {{items.code}} | {{items.bro_name}}
                          </li>
                        </ul>
                        <div class="noDataFound" *ngIf="__subbrkArnMst.length == 0">
                          <h5 class="text-center">
                            Sorry!! No Sub Brokers Found
                          </h5>
                          <p>If your result match,they will appear here</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClick($event)">
                  <div class="searchDiv">
                    <label for="Euin">Employee</label>
                    <input type="search" id="Euin" class="form-control" placeholder="Serach By Employee"
                      formControlName="euin_no">
                    <span class="spinner-border"
                      *ngIf="__isEuinPending && __insTraxForm.get('euin_no').value?.length > 1"></span>

                    <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClick($event)">
                      <div class="serachresult_client" #searchEUIN>
                        <ul *ngIf="__euinMst.length > 0">
                          <li *ngFor="let items of __euinMst" (click)="getItems(items,'E')">
                            {{items.euin_no}} | {{items.emp_name}}
                          </li>
                        </ul>
                        <div class="noDataFound" *ngIf="__euinMst.length == 0">
                          <h5 class="text-center">
                            Sorry!! No Employees Found
                          </h5>
                          <p>If your result match,they will appear here</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <mat-checkbox color="primary" #insTypeChecked [id]="insType.id" [class]="i == 0 ? '' : 'ml-3'"
                  *ngFor="let insType of __insType;let i=index" [value]="insType.id" (change)="onInsTypeChange($event)">
                  {{insType.type}}</mat-checkbox>
                <mat-checkbox class="ml-3" color="primary" formControlName="is_all"> All</mat-checkbox>
              </div>
              <div class="col-sm-3">
                <mat-checkbox color="primary" #insbuTypeChecked [id]="insbuType.id" [class]="i == 0 ? '' : 'ml-3'"
                  *ngFor="let insbuType of __insuredbu_type;let i=index" [value]="insbuType.id"
                  (change)="onInsBuTypeChange($event)"> {{insbuType.insuredbu_type}}</mat-checkbox>
                <mat-checkbox class="ml-3" color="primary" formControlName="is_all_ins_bu_type"> All</mat-checkbox>
              </div>
              <div class="col-sm-4 my-auto">
                <mat-checkbox color="primary"
                #buTypeChecked
                [id]="bu_type.id"
                [class]="i == 0 ? '' : 'ml-3'"
                *ngFor="let bu_type of __bu_type;let i=index"
                [value]="bu_type.id"
                (change)="onbuTypeChange($event)">
                  {{bu_type.bu_type}}</mat-checkbox>
                <mat-checkbox class="ml-3" color="primary" formControlName="is_all_bu_type"> All</mat-checkbox>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="__insTraxForm.get('options').value == '3'">
            <div class="row my-5">
              <div class="col-sm-12">
                <mat-radio-group aria-label="Select an option" formControlName="date_status">
                  <mat-radio-button color="primary" value="T">Today</mat-radio-button>
                  <mat-radio-button color="primary" value="D" class="ml-5">Date Range</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-5">
                <mat-radio-group aria-label="Select an option" color="primary" formControlName="login_status">
                  <mat-radio-button color="primary" value="N">Not Logged</mat-radio-button>
                  <mat-radio-button color="primary" value="L" class="ml-5">Logged</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row  my-5" *ngIf="__insTraxForm.get('date_status').value == 'D'">
              <div class="col-sm-3">
                <label>Start Date</label>
                <input type="date" class="form-control" formControlName="start_date">
              </div>
              <div class="col-sm-3">
                <label>End Date</label>
                <input type="date" class="form-control" formControlName="end_date">
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="__insTraxForm.get('filter_type').value == 'A'">
                 <div class="row">
                  <div class="col-sm-4">
                    <label for="company_id">Company</label>
                    <ng-multiselect-dropdown #multiSelect
                    id="company_id"
                    [placeholder]="'Select Company'"
                    [settings]="__comp_setting"
                    [data]="__compMst"
                    formControlName="company_id">
                  </ng-multiselect-dropdown>
                  </div>
                  <div class="col-sm-4">
                    <label for="product_type_id">Product Type</label>
                    <ng-multiselect-dropdown #multiSelect
                    id="product_type_id"
                    [placeholder]="'Select Product Type'"
                    [settings]="__prod_type_setting"
                    [data]="__prodTypeMst"
                    formControlName="product_type_id">
                  </ng-multiselect-dropdown>
                  </div>
                  <div class="col-sm-4">
                    <label for="product_id">Product</label>
                    <ng-multiselect-dropdown #multiSelect
                    id="product_id"
                    [placeholder]="'Select Product'"
                    [settings]="__prod_setting"
                    [data]="__prdMst"
                    formControlName="product_id">
                  </ng-multiselect-dropdown>
                  </div>
                 </div>
          </ng-container>
          <div class="row mt-3">
            <div class="col-sm-12">
              <button mat-raised-button color="primary" class="float-right">
                Show
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="mat-elevation-z3">
      <div class="example_container_header">
        <div class="transTypeCount"></div>

        <div class="btnGrp d-flex">
          <mat-form-field appearance="fill">
            <mat-label>Select Columns</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-option *ngFor="let topping of toppingList" [value]="topping.id">
                {{topping.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>system_update_alt</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="exportPdf()">
              <mat-icon>download</mat-icon> Export Pdf
            </button>
            <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'InsuranceReport'})">
              <mat-icon>download</mat-icon> Export Excel
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="example-container">
        <table mat-table [dataSource]="__insTrax" matSort (matSortChange)="sortData($event)" class="table_Custome">
          <ng-container matColumnDef="sl_no">
            <th mat-header-cell *matHeaderCellDef>Sl No</th>
            <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
          </ng-container>

          <ng-container matColumnDef="tin_no">
            <th mat-sort-header="tin_no" mat-header-cell *matHeaderCellDef>TIN Number</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.tin_no ? element.tin_no : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="bu_type">
            <th mat-sort-header="bu_type" mat-header-cell *matHeaderCellDef>Buisness Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{(element.bu_type == 'D' ? 'B2C - Direct' : (element.bu_type == 'I' ? 'B2C - Indirect' : 'B2B'))}}
            </td>
          </ng-container>

          <ng-container matColumnDef="sub_brk_cd">
            <th mat-sort-header="sub_brk_cd" mat-header-cell *matHeaderCellDef>Sub Broker Code</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.sub_brk_cd ? element.sub_brk_cd : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="euin_no">
            <th mat-sort-header="euin_no" mat-header-cell *matHeaderCellDef>Employee</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.euin_no ? element.euin_no : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="insure_bu_type">
            <th mat-sort-header="insure_bu_type" mat-header-cell *matHeaderCellDef>Insured Buisness Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.insure_bu_type == 'F' ? 'Fresh' : 'Renewal'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="ins_type">
            <th mat-sort-header="ins_type" mat-header-cell *matHeaderCellDef>Insurance Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.ins_type ? element.ins_type : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="proposer_code">
            <th mat-sort-header="proposer_code" mat-header-cell *matHeaderCellDef>Proposer Code</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.proposer_code ? element.proposer_code : 'N/A'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="proposer_name">
            <th mat-sort-header="proposer_name" mat-header-cell *matHeaderCellDef>Proposer Name</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.proposer_name ? element.proposer_name : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="proposer_pan">
            <th mat-sort-header="proposer_pan" mat-header-cell *matHeaderCellDef>Proposer PAN</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.proposer_pan ? element.proposer_pan : 'N/A'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="proposer_type">
            <th mat-sort-header="proposer_type" mat-header-cell *matHeaderCellDef>Proposer Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.proposer_type == 'M' ? 'Minor' : (element.proposer_type == 'N' ? 'Non PAN Holder' : 'PAN Holder')}}
            </td>
          </ng-container>

          <ng-container matColumnDef="insured_person_code">
            <th mat-sort-header="insured_person_code" mat-header-cell *matHeaderCellDef>Insured Person Code</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.insured_person_code ? element.insured_person_code : 'N/A'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="insured_person_name">
            <th mat-sort-header="insured_person_name" mat-header-cell *matHeaderCellDef>Insured Person Name</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.insured_person_name ? element.insured_person_name : 'N/A'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="insured_person_pan">
            <th mat-sort-header="insured_person_pan" mat-header-cell *matHeaderCellDef>Insured Person PAN</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.insured_person_pan ? element.insured_person_pan : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="insured_person_type">
            <th mat-sort-header="insured_person_type" mat-header-cell *matHeaderCellDef>Insured Person Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.insured_person_type == 'N'
              ? 'Non PAN Holder'
              : (element.insured_person_type == 'M'
              ? 'Minor'
              : (element.insured_person_type == 'P'
              ? 'PAN Holder'
              : 'Existing'))}}
            </td>
          </ng-container>

          <ng-container matColumnDef="comp_full_name">
            <th mat-sort-header="comp_full_name" mat-header-cell *matHeaderCellDef>Company Full Name</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.comp_full_name ? element.comp_full_name : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="comp_short_name">
            <th mat-sort-header="comp_short_name" mat-header-cell *matHeaderCellDef>Company Short Name</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.comp_short_name ? element.comp_short_name : 'N/A'}}</td>
          </ng-container>


          <ng-container matColumnDef="product_type">
            <th mat-sort-header="product_type" mat-header-cell *matHeaderCellDef>Product Type</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.product_type ? element.product_type : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="product_name">
            <th mat-sort-header="product_name" mat-header-cell *matHeaderCellDef>Product Name</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.product_name ? element.product_name : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="proposal_no">
            <th mat-sort-header="proposal_no" mat-header-cell *matHeaderCellDef>Proposal No</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.proposal_no ? element.proposal_no : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="sum_assured">
            <th mat-sort-header="sum_assured" mat-header-cell *matHeaderCellDef>Sum Assured</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.sum_assured ? element.sum_assured : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="mode_of_premium">
            <th mat-sort-header="mode_of_premium" mat-header-cell *matHeaderCellDef>Mode Of Premium</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{getModeOfPremium(element.mode_of_premium)}}

            </td>
          </ng-container>


          <ng-container matColumnDef="gross_premium">
            <th mat-sort-header="gross_premium" mat-header-cell *matHeaderCellDef>Gross Premium</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.gross_premium ? element.gross_premium : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="net_premium">
            <th mat-sort-header="net_premium" mat-header-cell *matHeaderCellDef>Net Premium</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.net_premium ? element.net_premium : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="mode_of_payment">
            <th mat-sort-header="mode_of_payment" mat-header-cell *matHeaderCellDef>Mode Of Payment</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.mode_of_payment ? (element.mode_of_payment == 'O' ? 'OFFLINE' : (element.mode_of_payment == 'N'
              ? 'ONLINE' : 'CASH')) : 'N/A'}}
            </td>
          </ng-container>


          <ng-container matColumnDef="acc_no">
            <th mat-sort-header="acc_no" mat-header-cell *matHeaderCellDef>Account Number</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.acc_no ? element.acc_no : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="chq_bank">
            <th mat-sort-header="chq_bank" mat-header-cell *matHeaderCellDef>Bank</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.bank_name ? element.bank_name : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="chq_no">
            <th mat-sort-header="chq_no" mat-header-cell *matHeaderCellDef>Cheque Number</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.chq_no ? element.chq_no : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="payment_ref_no">
            <th mat-sort-header="payment_ref_no" mat-header-cell *matHeaderCellDef>Payment Reference Number</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.payment_ref_no ? element.payment_ref_no : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="entry_date">
            <th mat-sort-header="entry_date" mat-header-cell *matHeaderCellDef>Entry Date</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.entry_date | date:'YYYY-MM-dd'}}</td>
          </ng-container>
          <ng-container matColumnDef="policy_term">
            <th mat-sort-header="policy_term" mat-header-cell *matHeaderCellDef>Policy Term</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.policy_term ? element.policy_term : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="policy_pre_pay_term">
            <th mat-sort-header="policy_pre_pay_term" mat-header-cell *matHeaderCellDef>Policy Premium Paying Term</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.policy_pre_pay_term ? element.policy_pre_pay_term : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="comp_login_at">
            <th mat-sort-header="comp_login_at" mat-header-cell *matHeaderCellDef>Login At</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.comp_login_full_name ? element.comp_login_full_name : 'N/A'}}</td>
          </ng-container>


          <!-- Buisness Type-->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="populateDT(element)">
                <mat-icon class="edit_icon">edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Buisness Type-->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button>
                <mat-icon class="delete_icon">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="__columns;sticky:true"></tr>
          <tr mat-row tabIndex="999" *matRowDef="let row; columns: __columns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="__columns.length" class="text-center">No Insurance History Found
            </td>
          </tr>
        </table>
      </div>

      <div class="paginator">
        <div class="itemsPerPage">
          <label>Items Per Page :&nbsp; </label>
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="10" aria-label="Text align left" (click)="getval(group.value)">
              10
            </mat-button-toggle>
            <mat-button-toggle value="50" aria-label="Text align center" (click)="getval(group.value)">
              50
            </mat-button-toggle>
            <mat-button-toggle value="100" aria-label="Text align right" (click)="getval(group.value)">
              100
            </mat-button-toggle>
            <mat-button-toggle value="A" aria-label="Text align right" (click)="getval(group.value)">
              All
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="paginatorContainer">
          <mat-button-toggle-group *ngFor="let paginate of __paginate">
            <mat-button-toggle [value]="paginate.url" aria-label="Text align right" (click)="getPaginate(paginate)">
              <label>
                <mat-icon *ngIf="(paginate.label | bnkrplc) == 'P'">first_page</mat-icon>
                <mat-icon *ngIf="(paginate.label | bnkrplc) == 'N'">last_page</mat-icon>
                <span
                  *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">{{paginate.label}}</span>

              </label>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>




      </div>
      <div id="InsRPT" style="display:none">

        <table mat-table [dataSource]="__exportTrax" class="table_Custome" matTableExporter
          #exporter="matTableExporter">
          <ng-container matColumnDef="sl_no">
            <th mat-header-cell *matHeaderCellDef>Sl No</th>
            <td mat-cell *matCellDef="let element;let i = index">{{i + 1}}</td>
          </ng-container>

          <ng-container matColumnDef="tin_no">
            <th mat-header-cell *matHeaderCellDef>TIN Number</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.tin_no ? element.tin_no : "N/A"}}</td>
          </ng-container>
          <ng-container matColumnDef="bu_type">
            <th mat-header-cell *matHeaderCellDef>Buisness Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{(element.bu_type == 'D' ? 'B2C - Direct' : (element.bu_type == 'I' ? 'B2C - Indirect' : 'B2B'))}}
            </td>
          </ng-container>

          <ng-container matColumnDef="sub_brk_cd">
            <th mat-header-cell *matHeaderCellDef>Sub Broker Code</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.sub_brk_cd ? element.sub_brk_cd : "N/A"}}
            </td>
          </ng-container>

          <ng-container matColumnDef="euin_no">
            <th mat-header-cell *matHeaderCellDef>Employee</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.euin_no ? element.euin_no : 'N/A'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="insure_bu_type">
            <th mat-header-cell *matHeaderCellDef>Insured Buisness Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.insure_bu_type == 'F' ? 'Fresh' : 'Renewal'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="ins_type">
            <th mat-header-cell *matHeaderCellDef>Insurance Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.ins_type ? element.ins_type : "N/A"}}
            </td>
          </ng-container>

          <ng-container matColumnDef="proposer_code">
            <th mat-header-cell *matHeaderCellDef>Proposer Code</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.proposer_code ? element.proposer_code : "N/A"}}
            </td>
          </ng-container>
          <ng-container matColumnDef="proposer_name">
            <th mat-header-cell *matHeaderCellDef>Proposer Name</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.proposer_name ? element.proposer_name : "N/A"}}
            </td>
          </ng-container>

          <ng-container matColumnDef="proposer_pan">
            <th mat-header-cell *matHeaderCellDef>Proposer PAN</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.proposer_pan ? element.proposer_pan : "N/A"}}
            </td>
          </ng-container>
          <ng-container matColumnDef="proposer_type">
            <th mat-header-cell *matHeaderCellDef>Proposer Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.proposer_type == 'M' ? 'Minor' : (element.proposer_type == 'N' ? 'Non PAN Holder' : 'PAN Holder')}}
            </td>
          </ng-container>

          <ng-container matColumnDef="insured_person_code">
            <th mat-header-cell *matHeaderCellDef>Insured Person Code</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.insured_person_code ? element.insured_person_code : "N/A"}}
            </td>
          </ng-container>
          <ng-container matColumnDef="insured_person_name">
            <th mat-header-cell *matHeaderCellDef>Insured Person Name</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.insured_person_name ? element.insured_person_name : "N/A"}}
            </td>
          </ng-container>
          <ng-container matColumnDef="insured_person_pan">
            <th mat-header-cell *matHeaderCellDef>Insured Person PAN</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.insured_person_pan ? element.insured_person_pan : "N/A"}}
            </td>
          </ng-container>

          <ng-container matColumnDef="insured_person_type">
            <th mat-header-cell *matHeaderCellDef>Insured Person Type</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.insured_person_type == 'N'
              ? 'Non PAN Holder'
              : (element.insured_person_type == 'M'
              ? 'Minor'
              : (element.insured_person_type == 'P'
              ? 'PAN Holder'
              : 'Existing'))}}
            </td>
          </ng-container>

          <ng-container matColumnDef="comp_full_name">
            <th mat-header-cell *matHeaderCellDef>Company Full Name</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.comp_full_name ? element.comp_full_name : "N/A"}}
            </td>
          </ng-container>

          <ng-container matColumnDef="comp_short_name">
            <th mat-header-cell *matHeaderCellDef>Company Short Name</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.comp_short_name ? element.comp_short_name : "N/A"}}</td>
          </ng-container>


          <ng-container matColumnDef="product_type">
            <th mat-header-cell *matHeaderCellDef>Product Type</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.product_type ? element.product_type : "N/A"}}</td>
          </ng-container>

          <ng-container matColumnDef="product_name">
            <th mat-header-cell *matHeaderCellDef>Product Name</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.product_name ? element.product_name : "N/A"}}</td>
          </ng-container>

          <ng-container matColumnDef="proposal_no">
            <th mat-header-cell *matHeaderCellDef>Proposal No</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.proposal_no ? element.proposal_no : "N/A"}}</td>
          </ng-container>

          <ng-container matColumnDef="sum_assured">
            <th mat-header-cell *matHeaderCellDef>Sum Assured</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.sum_assured ? element.sum_assured : "N/A"}}</td>
          </ng-container>

          <ng-container matColumnDef="mode_of_premium">
            <th mat-header-cell *matHeaderCellDef>Mode Of Premium</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{getModeOfPremium(element.mode_of_premium)}}

            </td>
          </ng-container>


          <ng-container matColumnDef="gross_premium">
            <th mat-header-cell *matHeaderCellDef>Gross Premium</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.gross_premium ? element.gross_premium : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="net_premium">
            <th mat-header-cell *matHeaderCellDef>Net Premium</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.net_premium ? element.net_premium : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="mode_of_payment">
            <th mat-header-cell *matHeaderCellDef>Mode Of Payment</th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{element.mode_of_payment ? (element.mode_of_payment == 'O' ? 'OFFLINE' : (element.mode_of_payment == 'N'
              ? 'ONLINE' : 'CASH')) : ''}}
            </td>
          </ng-container>


          <ng-container matColumnDef="acc_no">
            <th mat-header-cell *matHeaderCellDef>Account Number</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.acc_no ? element.acc_no : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="chq_bank">
            <th mat-header-cell *matHeaderCellDef>Bank</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.bank_name ? element.bank_name : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="chq_no">
            <th mat-header-cell *matHeaderCellDef>Cheque Number</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.chq_no ? element.chq_no : 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="payment_ref_no">
            <th mat-header-cell *matHeaderCellDef>Payment Reference Number</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.payment_ref_no ? element.payment_ref_no : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="entry_date">
            <th mat-header-cell *matHeaderCellDef>Entry Date</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.entry_date | date:'YYYY-MM-dd'}}</td>
          </ng-container>
          <ng-container matColumnDef="policy_term">
            <th mat-header-cell *matHeaderCellDef>Policy Term</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.policy_term ? element.policy_term : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="policy_pre_pay_term">
            <th mat-header-cell *matHeaderCellDef>Policy Premium Paying Term</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.policy_pre_pay_term ? element.policy_pre_pay_term : 'N/A'}}</td>
          </ng-container>
          <ng-container matColumnDef="comp_login_at">
            <th mat-header-cell *matHeaderCellDef>Login At</th>
            <td mat-cell *matCellDef="let element;let i = index">{{element.comp_login_at ? element.comp_login_at : 'N/A'}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="__exportedClmns;sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="__exportedClmns.length" class="text-center">No Insurance History Found
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
</div>
