<ng-container *ngIf="__transType.length > 0">

<core-tab [Tab]="__transType" (GetTabDtls)="TabDetails($event)"></core-tab>
<ng-template #SearchBtn>
    <p-button
    type="submit"
    label="Show"
    icon="pi pi-eye"
    iconPos="right"
    styleClass="p-button-lg"></p-button>
  </ng-template>
<!-- <div class="card p-3 border-1">
  <form [formGroup]="__ackForm" (ngSubmit)="submitAck()" autocomplete="off">
  <div class="row">
    <div class="col-sm-3">
      <label for="dt_type">Date Periods</label>
      <select class="form-control" formControlName="dt_type" name="dt_type" id="dt_type">
          <option value="">Select</option>
          <option value="D">Today</option>
          <option value="W">This Week</option>
          <option value="M">This Month</option>
          <option value="Y">This Year</option>
          <option value="R">Date Range</option>
      </select>
    </div>
    <div class="col-sm-3">
      <label for="drm_dt">Date Range (From - To)</label>
      <p-calendar
      dateFormat="dd/mm/yy"
      placeholder="Select Date Range"
      formControlName="date_range"
      selectionMode="range"
      [readonlyInput]="true"
      [showIcon]="true"
      [hideOnDateTimeSelect]="true"
      (onClose)="close($event)"
      [showButtonBar]="true">
      </p-calendar>
    </div>
    <div class="col-sm-3">
      <app-core-srch
      [label] = "'TIN Number'"
      [placeholder]="'Search By TIN Number'"
      [isPending]="__isTinspinner"
      [listItems] = "tinMst"
      [flag] = "'T'"
      [noDataFoundTitle]="'Sorry!! No Records Found'"
      [noDataFoundSubTitle]="'If your result match,they will appear here'"
      [propertiesToShow] = "['tin_no']"
      formControlName="tin_no"
      [displayMode]="displayMode_forTemp_Tin"
      (setDisplayMode)="displayMode_forTemp_Tin = $event"
      (selectedItems)="getSelectedItemsFromParent($event)"
      ></app-core-srch>
    </div>
    <div class="col-sm-3">
      <app-core-srch
      [label] = "'Client Details'"
      [placeholder]="'Search By Client Name,Client Code, Email, Mobile, PAN & DOB'"
      [isPending]="__isClientPending"
      [listItems] = "__clientMst"
      [flag] = "'C'"
      [noDataFoundTitle]="'Sorry!! No Records Found'"
      [noDataFoundSubTitle]="'If your result match,they will appear here'"
      [propertiesToShow] = "['client_name','client_code','pan']"
      formControlName="client_name"
      [displayMode]="displayMode_forClient"
      (setDisplayMode)="displayMode_forClient = $event"
      (selectedItems)="getSelectedItemsFromParent($event)"
      ></app-core-srch>
    </div>

    </div>
    <div class="row ">
    <div class="col-sm-3">
      <label for="amc_id">AMC</label>
      <ng-multiselect-dropdown #multiSelect
      id="amc_id"
      [placeholder]="'Select AMC'"
      [settings]="settingsforDropdown_foramc"
      [data]="amcMst" formControlName="amc_id">
    </ng-multiselect-dropdown>
    </div>
    <div class="col-sm-3">
      <label for="scheme_name">Scheme</label>
    <ng-multiselect-dropdown #multiSelect
      id="scheme_name"
      [placeholder]="'Select Scheme'"
      [settings]="settingsforDropdown_forscheme"
      [data]="schemeMst"
      formControlName="scheme_id">
    </ng-multiselect-dropdown>
    </div>
    <div class="col-sm-6 d-flex flex-column justify-content-end align-items-start">
      <div class="checkboxes d-flex flex-row align-items-center w-100">
        <label class="mx-2">R&T: </label>
        <div >
          <ng-container formArrayName="rnt_id">
            <ng-container *ngFor="let rnt of rnt_id.controls;let i= index">
              <ng-container [formGroupName]="i">
              <mat-checkbox  color="primary"
              [class]="'mr-2'"
                formControlName="isChecked"> {{rnt_id.controls[i].get('name').value}}</mat-checkbox>
              </ng-container>
            </ng-container>
          </ng-container>
          <mat-checkbox color="primary" formControlName="is_all"> All</mat-checkbox>
        </div>
      </div>
    </div>
    </div>
    <div class="row mt-1">
      <div class="col-sm-4 d-flex  align-items-end">
        <div class="checkboxes d-flex flex-row align-items-center w-100">
           <label>Logged Status:&nbsp;</label>
          <div>
            <ng-container formArrayName="logged_status">
              <ng-container *ngFor="let ack of logged_status.controls;let i= index">
                <ng-container [formGroupName]="i">
                <mat-checkbox  color="primary" [class]="'mr-2'"
                  formControlName="isChecked"> {{logged_status.controls[i].get('name').value}}</mat-checkbox>
                </ng-container>
              </ng-container>
            </ng-container>
            <mat-checkbox color="primary" formControlName="is_all_status"> All</mat-checkbox>
          </div>
        </div>
       </div>

      <div class="col-sm-8 d-flex  align-items-end justify-content-end">
        <p-button
        type="submit"
        label="Show"
        icon="pi pi-eye"
        iconPos="right"
        styleClass="p-button-lg"></p-button>
      </div>

    </div>
  </form>

</div> -->
<div class="card p-3 border-1">
    <form [formGroup]="__ackForm" (ngSubmit)="submitAck()" autocomplete="off">
    <div class="row">
      <div class="col-sm-6">
        <!-- <mat-radio-group aria-label="Select an option" color="primary" formControlName="options">
          <mat-radio-button value="2">Summary</mat-radio-button>
          <mat-radio-button value="1" class="mx-5">Detail</mat-radio-button>
        </mat-radio-group> -->
      </div>
      <div class="col-sm-6 d-flex  justify-content-end align-items-center">
        <p-selectButton
        [options]="selectBtn"
        formControlName="btnType"
        optionValue="value"
        styleClass="p-button-lg"
        (onOptionClick)="onItemClick($event)"
        optionLabel="icon">
          <ng-template let-item>
              <i [class]="item.icon"  [matTooltip]="item.label"></i>
          </ng-template>
      </p-selectButton>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label for="dt_type">Date Periods</label>
        <select class="form-control" formControlName="dt_type" name="dt_type" id="dt_type">
            <option value="">Select</option>
            <option value="D">Today</option>
            <option value="W">This Week</option>
            <option value="M">This Month</option>
            <option value="Y">This Year</option>
            <option value="R">Date Range</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label for="drm_dt">Date Range (From - To)</label>
        <p-calendar
        dateFormat="dd/mm/yy"
        placeholder="Select Date Range"
        formControlName="date_range"
        selectionMode="range"
        [readonlyInput]="true"
        [showIcon]="true"
        [hideOnDateTimeSelect]="true"
        (onClose)="close($event)"
        [showButtonBar]="true">
        </p-calendar>
      </div>
      <div class="col-sm-3">
        <app-core-srch
              [label] = "'TIN Number'"
              [placeholder]="'Search By TIN Number'"
              [isPending]="__isTinspinner"
              [listItems] = "tinMst"
              [flag] = "'T'"
              [noDataFoundTitle]="'Sorry!! No Records Found'"
              [noDataFoundSubTitle]="'If your result match,they will appear here'"
              [propertiesToShow] = "['tin_no']"
              formControlName="tin_no"
              [displayMode]="displayMode_forTemp_Tin"
              (setDisplayMode)="displayMode_forTemp_Tin = $event"
              (selectedItems)="getSelectedItemsFromParent($event)"
              ></app-core-srch>
      </div>
      <div class="col-sm-3">
        <app-core-srch
        [label] = "'Client Details'"
        [placeholder]="'Search By Client Name,Client Code, Email, Mobile, PAN & DOB'"
        [isPending]="__isClientPending"
        [listItems] = "__clientMst"
        [flag] = "'C'"
        [noDataFoundTitle]="'Sorry!! No Records Found'"
        [noDataFoundSubTitle]="'If your result match,they will appear here'"
        [propertiesToShow] = "['client_name','client_code','pan']"
        formControlName="client_name"
        [displayMode]="displayMode_forClient"
        (setDisplayMode)="displayMode_forClient = $event"
        (selectedItems)="getSelectedItemsFromParent($event)"
        ></app-core-srch>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label for="amc_id">AMC</label>
        <ng-multiselect-dropdown #multiSelect
        id="amc_id"
        [placeholder]="'Select AMC'"
        [settings]="settingsforDropdown_foramc"
        [data]="amcMst" formControlName="amc_id">
      </ng-multiselect-dropdown>
      </div>
      <div class="col-sm-3">
        <label for="scheme_name">Scheme</label>
      <ng-multiselect-dropdown #multiSelect
        id="scheme_name"
        [placeholder]="'Select Scheme'"
        [settings]="settingsforDropdown_forscheme"
        [data]="schemeMst"
        formControlName="scheme_id">
      </ng-multiselect-dropdown>
      </div>
      <div [class]="'col-sm-6 mt-2 d-flex flex-column justify-content-end align-items-start'">
        <div class="checkboxes d-flex flex-row align-items-center w-100">
          <label class="mx-2">R&T: </label>
          <div >
            <ng-container formArrayName="rnt_id">
              <ng-container *ngFor="let rnt of rnt_id.controls;let i= index">
                <ng-container [formGroupName]="i">
                <mat-checkbox  color="primary"
                [class]="'mr-2'"
                  formControlName="isChecked"> {{rnt_id.controls[i].get('name').value}}</mat-checkbox>
                </ng-container>
              </ng-container>
            </ng-container>
            <mat-checkbox color="primary" formControlName="is_all"> All</mat-checkbox>
          </div>
        </div>
    </div>

    </div>
    <div class="row my-1">
      <div class="col-sm-4 d-flex  align-items-end">
        <div class="checkboxes d-flex flex-row align-items-center w-100">
           <label>Logged Status:&nbsp;</label>
          <div>
            <ng-container formArrayName="logged_status">
              <ng-container *ngFor="let ack of logged_status.controls;let i= index">
                <ng-container [formGroupName]="i">
                <mat-checkbox  color="primary" [class]="'mr-2'"
                  formControlName="isChecked"> {{logged_status.controls[i].get('name').value}}</mat-checkbox>
                </ng-container>
              </ng-container>
            </ng-container>
            <mat-checkbox color="primary" formControlName="is_all_status"> All</mat-checkbox>
          </div>
        </div>
       </div>
       <ng-container *ngIf="__ackForm.value.btnType == 'A'">
        <div class="col-sm-4">
          <label for="brn_cd">Branch</label>
          <ng-multiselect-dropdown #multiSelect
            id="brn_cd"
            [placeholder]="'Select Branch'"
            [settings]="settingsforDropdown_forbrnch"
            [data]="brnchMst"
            formControlName="brn_cd">
          </ng-multiselect-dropdown>
        </div>
        <div class="col-sm-4">
          <label for="bu_type">Business Type</label>
          <ng-multiselect-dropdown id="bu_type"
          [placeholder]="'Select Business Type'"
            [settings]="settingsforBuTypeDropdown"
            id="bu_type"
            [data]="__bu_type"
            formControlName="bu_type">
          </ng-multiselect-dropdown>
        </div>

       </ng-container>
       <div class="col-sm-8 d-flex  align-items-end justify-content-end" *ngIf="__ackForm.value.btnType != 'A'">
        <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
       </div>
    </div>
    <ng-container *ngIf="__ackForm.value.btnType == 'A'">
      <div class="row">
        <div class="col-sm-3">
          <label for="rm_id">Relationship Manager</label>
          <ng-multiselect-dropdown  id="rm_id" [placeholder]="'Select Relationship Manager'"
            [settings]="settingsforRMDropdown" [data]="__RmMst" formControlName="rm_id">
          </ng-multiselect-dropdown>
        </div>
        <div class="col-sm-3">
            <label for="sub_brk_cd">Sub Broker</label>
            <ng-multiselect-dropdown  id="sub_brk_cd" [placeholder]="'Select Sub Broker'"
              [settings]="settingsforSubBrkDropdown" [data]="__subbrkArnMst" formControlName="sub_brk_cd">
            </ng-multiselect-dropdown>
        </div>
        <div class="col-sm-3">
          <label for="euin_no">EUIN</label>
          <ng-multiselect-dropdown #multiSelect
          id="euin_no" [placeholder]="'Select Employee'"
            [settings]="settingsforEuinDropdown" [data]="__euinMst"
            formControlName="euin_no">
          </ng-multiselect-dropdown>
        </div>
        <div class="col-sm-3 d-flex justify-content-end align-items-center">
          <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
        </div>
      </div>

    </ng-container>
   </form>
  </div>
<div class="card border-1 mt-1">
  <div class="example_container_header">
    <div class="transTypeCount"></div>
    <div class="btnGrp d-flex">
      <!-- <p-button type="button" icon="pi pi-server"
        #tooltip="matTooltip"
        [matTooltipPosition]="'before'"
        matTooltip="Column Selector"
        styleClass="p-button-primary p-button-lg p-button-outlined mr-2">
        </p-button>

        <p-button icon="pi pi-file-export"
        [matMenuTriggerFor]="menu"
        [matTooltipPosition]="'after'"
        #tooltip="matTooltip"
        matTooltip="Export"
        styleClass="p-button-primary p-button-lg p-button-outlined">
        </p-button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="exportPdf()">
          <mat-icon>download</mat-icon> Export Pdf
        </button>
        <button mat-menu-item >
          <mat-icon>download</mat-icon> Export Excel
        </button>
      </mat-menu> -->
    </div>

  </div>
  <div class="container_body">
   <!-- PrimeNg Table with column resize,
        column sorting etc  [reorderableColumns]="true"
        pReorderableColumn-->
        <!-- (onLazyLoad)="customSort($event)" 
        [customSort]="true"
         
          columnResizeMode="expand" 
          [resizableColumns]="true"
        -->
        <p-table
        #dt
        [value]="__ackMst.data"
        [columns]="__columns" 
          selectionMode="multiple"
          [scrollable]="true"
          [scrollHeight]="'370px'"
         [virtualScroll]="true"
         [virtualRowHeight]="39" [paginator]="true"
         [totalRecords]="__ackMst.data.length" [pageLinks]="3"
         [rowsPerPageOptions]="[10,50,100,{ showAll: 'All' }]"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="10"
         [showCurrentPageReport]="true" [globalFilterFields]="getColumns()"
          [responsive]="true" styleClass="p-datatable-stripped p-datatable-sm"
          [tableStyle]="{ 'min-width': '374rem' }">
          <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
              <div>
              </div>
              <div>
                <input class="form-control w-full" type="text" 
                (input)="filterGlobal($event)" 
                placeholder="Search" />
              </div>    
            
          </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th  *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field" 
                [style.min-width]="col.field == 'edit' || col.field == 'app_frm_view' ?'3rem' : col.width"
              >
                {{ col.header }}
                <p-sortIcon *ngIf="col.field!= 'edit' && col.field!= 'app_frm_view'" [field]="col.field">
                </p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-finance let-columns="columns">
            <tr tabindex="999"
            [ngStyle]="{'min-height':'42px'}"
           
            >

              <td *ngFor="let col of columns" [style.min-width]="col.field == 'edit' || col.field == 'app_frm_view' ?'3rem' : col.width">
                <ng-container [ngSwitch]="true">
                  <ng-container *ngSwitchCase="col.field == 'edit'">
                    <p-button [icon]="finance['form_status'] == 'P' ? 'pi pi-pencil' : 'pi pi-eye'" (click)="populateDT(finance)"
                      styleClass="p-button-rounded p-button-primary">
                    </p-button>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'app_frm_view'">
                    <p-button icon="pi pi-eye" (click)="DocumentView(finance)"
                      styleClass="p-button-rounded p-button-primary"></p-button>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'bu_type'">
                    <span #tooltip="matTooltip"
                    [matTooltip]="finance[col.field] == 'D' ? 'B2C - Direct' : (finance[col.field] == 'I' ? 'B2C - Indirect' : 'B2B')">
                      {{ finance[col.field] == 'D' ? 'B2C - Direct' : (finance[col.field] == 'I' ? 'B2C - Indirect' : 'B2B')}}</span>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'mode_of_holding'">
                   <span
                   #tooltip="matTooltip"
                   [matTooltip]="finance[col.field] == 'S' ? 'Single' : (finance[col.field] == 'J' ? 'Joint' : 'Any Or Survivor')">
                   {{ finance[col.field] == 'S' ? 'Single' : (finance[col.field] == 'J' ? 'Joint' : 'Any Or Survivor')}}
                  </span>
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'inv_type'">
                    <span
                    #tooltip="matTooltip"
                    [matTooltip]="finance[col.field] == 'F' ? 'Fresh' : 'Additional'">
                    {{ finance[col.field] == 'F' ? 'Fresh' : 'Additional'}}
                  </span>
                  </ng-container>

                  <ng-container
                    *ngSwitchCase="col.field == 'first_client_kyc_status' || col.field == 'second_client_kyc_status' || col.field == 'third_client_kyc_status'">
                    {{ finance[col.field] ? (finance[col.field] == 'Y' ? 'With KYC' : 'Without KYC') : 'N/A'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'remarks'">
                    <ng-container *ngIf="finance[col.field];else noRemarks">
                      <p-button #tooltip="matTooltip" [matTooltip]="finance[col.field]" icon="pi pi-info-circle"
                        styleClass="p-button-rounded p-button-success">
                      </p-button>
                    </ng-container>
                    <ng-template #noRemarks>
                      N/A
                    </ng-template>

                  </ng-container>
                  <ng-container *ngSwitchCase="col.field == 'rcv_datetime'">
                    <span #tooltip="matTooltip" [matTooltip]="(finance[col.field] | date:'dd-MM-YYYY hh:mma')">{{ finance[col.field] ? (finance[col.field] | date:'dd-MM-YYYY hh:mma') : 'N/A' }}</span>
                    </ng-container>

                    <ng-container *ngSwitchCase="col.field == 'amount' || col.field == 'sip_amount'">
                      <span #tooltip="matTooltip" [matTooltip]="(finance[col.field] | currency:'INR')">{{ finance[col.field] ? (finance[col.field] | currency:'INR') : 'N/A' }}</span>
                      </ng-container>
                      <ng-container *ngSwitchCase="col.field == 'entry_date'
                      || col.field == 'sip_date'
                      || col.field == 'sip_end_date'
                      || col.field == 'sip_end_date'
                      || col.field == 'rnt_login_dt'">
                        <span #tooltip="matTooltip" [matTooltip]="(finance[col.field] | date:'dd-MM-YYYY')">{{ finance[col.field] ? (finance[col.field] | date:'dd-MM-YYYY') : 'N/A' }}</span>
                        </ng-container>
                  <ng-container *ngSwitchDefault>
                    <span #tooltip="matTooltip" [matTooltip]="finance[col.field]">
                      {{ finance[col.field] ? finance[col.field] : 'N/A' }}
                    </span>
                  </ng-container>


                </ng-container>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length" class="noHistoryAvailable">
                 No Records Found
              </td>
            </tr>
          </ng-template>
        </p-table>
        <!-- End -->
        <div class="paginator">
          <div class="itemsPerPage d-flex">
              <!-- <label class="mr-3">Items per page: </label>
              <p-selectButton
              [options]="itemsPerPage"
              [formControl]="__pageNumber"
              optionLabel="label" optionValue="value"
              (onOptionClick)="onselectItem($event)"
              ></p-selectButton> -->
            </div>
            <div class="btnGrp">
              <p-button
              type="button"
              label="Final Submit"
              (click)="finalSubmitAck()"
              icon="pi pi-save"
              iconPos="right"
              class="float-right"
              styleClass="p-button-lg"></p-button>
            </div>
            <div  class="paginatorContainer">
              <!-- <ul>
                <li *ngFor="let paginate of __paginate" (click)="getPaginate(paginate)">
                  <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                    *ngIf="(paginate.label | bnkrplc) == 'P'">
                    <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                      keyboard_double_arrow_left</mat-icon>
                  </a>
                  <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                    *ngIf="(paginate.label | bnkrplc) == 'N'">
                    <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                      keyboard_double_arrow_right</mat-icon>
                  </a>
                  <a [class]="paginate.active ? 'activePaginator paginateNumber' : 'paginateNumber'"
                    *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">
                    {{paginate.label}}
                  </a>
                </li>
              </ul> -->


            </div>
            </div>
    </div>

</div>
</ng-container>

