<form [formGroup]="__kycFilterForm" (ngSubmit)="submit()" autocomplete="off">
  <div class="row" *ngIf="isDatePeriod">
    <div class="col-sm-8 my-auto">
      <mat-radio-group aria-label="Select an option" color="primary" formControlName="options">
        <mat-radio-button value="2">Summary</mat-radio-button>
        <mat-radio-button value="1" class="mx-5">Detail</mat-radio-button>
        <mat-radio-button value="3" *ngIf="isDaySheet">Day Sheet</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-sm-4 my-auto" >
               <p-selectButton
                [options]="selectBtn"
                formControlName="btnType"
                optionValue="value"
                styleClass="p-button-lg"
                class="float-right"
                (onOptionClick)="onItemClick($event)"
                optionLabel="icon">
                  <ng-template let-item>
                      <i [class]="item.icon"  [matTooltip]="item.label"></i>
                  </ng-template>
              </p-selectButton>
    </div>
  </div>
  <ng-template #SearchBtn>
    <p-button type="submit" label="Show" icon="pi pi-eye" iconPos="right" styleClass="p-button-lg"></p-button>
  </ng-template>
  <ng-container *ngIf="__kycFilterForm.get('options').value!= '3'">


    <div class="row">
      <div class="col-sm-3">
        <label for="dt_type">Date Periods</label>
         <select class="form-control" formControlName="dt_type" name="dt_type" id="dt_type">
             <option value="">Select</option>
             <option value="D">Today</option>
             <option value="W">This Week</option>
             <option value="M">This Month</option>
             <option value="Y">This Year</option>
             <option value="R">Date Range</option>
         </select>
      </div>
      <div [class]="'col-sm-3'">
        <label for="drm_dt">Date Range (From - To)</label>
        <p-calendar
        dateFormat="dd/mm/yy"
        placeholder="Select Date Range"
        formControlName="date_range"
        selectionMode="range"
        [readonlyInput]="true"
        [showIcon]="true"
        [hideOnDateTimeSelect]="true"
        (onClose)="close($event)"
        [showButtonBar]="true">
        </p-calendar>
      </div>
      <div  [class]="'col-sm-3'">
        <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforTin($event)">
          <div class="searchDiv">
            <label for="tin_no">TIN Number
            </label>
            <input type="search" name="tin_no" id="tin_no" class="form-control"
              formControlName="tin_no" placeholder="Search by TIN Number">
            <span class="spinner-border"
              *ngIf="__isTinspinner && __kycFilterForm.get('tin_no').value?.length > 1"></span>
            <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickforTin($event)">
              <div class="serachresult_client" #searchTin>
                <ul *ngIf="tinMst.length > 0">
                  <li *ngFor="let items of tinMst" (click)="getItems(items,'T')">
                    {{items.tin_no}} | {{items.client_name}}
                  </li>
                </ul>
                <div class="noDataFound" *ngIf="tinMst.length == 0">
                  <h5 class="text-center">
                    Sorry!! No Records Found
                  </h5>
                  <p>TIN Number Not Available</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div  [class]="'col-sm-3'">
        <div class="progressMainSec" appClOutsideClick (appOutsideClick)="outsideClickforClient($event)">
          <div class="searchDiv">
            <label for="client_code">Client Details</label>
            <input type="text" name="client_code" id="client_code" class="form-control" formControlName="client_code"
              placeholder="Enter Client code / Name / PAN / email">
            <span class="spinner-border" *ngIf="__isClientPending && __kycFilterForm.get('client_code').value?.length > 1"></span>

            <div class="processMain_2" __searchResVisibility (appOutsideClick)="outsideClickforClient($event)">
              <div class="serachresult_client" #clientCd>
                <ul *ngIf="__clientMst.length > 0">
                  <li *ngFor="let items of __clientMst" (click)="getItems(items,'C')">
                   {{items.client_code}} | {{items.pan}} | {{items.client_name}}
                  </li>
                </ul>
                <div class="noDataFound" *ngIf="__clientMst.length == 0">
                  <h5 class="text-center">
                    Sorry!! No Records Found
                  </h5>
                  <p>If your result match,they will appear here</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-3">
      <label for="kyc_login">KYC Login</label>
      <select name="kyc_login" id="kyc_login" formControlName="kyc_login" class="form-control">
        <option value="">Select KYC Login</option>
        <option value="{{__item.id}}" *ngFor="let __item of __kycLoginType">{{__item.value}}</option>
       </select>
    </div>
    <div class="col-sm-3">
      <label for="subcat">KYC Login At</label>
       <ng-multiselect-dropdown #multiSelect
                id="kyc_login_at"
                [placeholder]="'Select'"
                [settings]="settings"
                [data]="__kycLoginAt"
                formControlName="kyc_login_at">
              </ng-multiselect-dropdown>
    </div>
     <div class="col-sm-4 d-flex  align-items-end" *ngIf="RPTFor == 'A'">
      <div class="checkboxes d-flex flex-row align-items-center w-100">
        <label>Logged Status:&nbsp;</label>
        <div >
          <ng-container formArrayName="ack_logged_status">
            <ng-container *ngFor="let ack of ack_logged_status.controls;let i= index">
              <ng-container [formGroupName]="i">
              <mat-checkbox  color="primary" [class]="'mr-2'"
                formControlName="isChecked"> {{ack_logged_status.controls[i].get('name').value}}</mat-checkbox>
              </ng-container>
            </ng-container>
          </ng-container>
          <mat-checkbox color="primary" formControlName="is_all"> All</mat-checkbox>
        </div>
      </div>
     </div>
     <div class="col-sm-4 d-flex  align-items-end" *ngIf="RPTFor == 'M'">
      <div class="checkboxes d-flex flex-row align-items-center w-100">
        <label>Update Status:&nbsp;</label>
        <div >
          <ng-container formArrayName="update_status_id">
            <ng-container *ngFor="let mu of update_status_id.controls;let i= index">
              <ng-container [formGroupName]="i">
              <mat-checkbox  color="primary" [class]="'mr-2'"
                formControlName="isChecked"> {{update_status_id.controls[i].get('name').value}}</mat-checkbox>
              </ng-container>
            </ng-container>
          </ng-container>
          <mat-checkbox color="primary" formControlName="is_all_mu"> All</mat-checkbox>
        </div>
      </div>
     </div>
    <div
    [class]="!isDaySheet ? 'col-sm-2 d-flex align-items-end justify-content-end' : 'col-sm-6 d-flex align-items-end justify-content-end'"
    *ngIf="(__kycFilterForm.get('btnType').value != 'A')">
      <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="__kycFilterForm.get('options').value == '3'">
  <div class="row">
    <div class="col-sm-6">
      <mat-radio-group aria-label="Select an option" color="primary" formControlName="date_status">
        <mat-radio-button value="T">Today</mat-radio-button>
        <mat-radio-button value="D" class="mx-5">Date Range</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <ng-container *ngIf="__kycFilterForm.get('date_status').value== 'D'">
    <div class="row my-2">
      <div class="col-sm-4">
        <label for="start_date">Start Date</label>
        <input type="date" [min]="getminDate()" [max]="getTodayDate()" name="start_date" id="start_date" class="form-control" formControlName="start_date">
      </div>
       <!-- <div class="col-sm-1"></div> -->
      <div class="col-sm-4">
        <label for="end_date">End Date</label>
        <input type="date" [min]="getminDate()" [max]="getTodayDate()" name="end_date" id="end_date" class="form-control" formControlName="end_date">
      </div>
    </div>
  </ng-container>

  <div class="row my-2">
    <div class="col-sm-4">
      <mat-radio-group aria-label="Select an option" color="primary" formControlName="login_status">
        <mat-radio-button value="N">Not Logged</mat-radio-button>
        <mat-radio-button value="L" class="mx-5">Logged</mat-radio-button>
      </mat-radio-group>
    </div>
      <div class="col-sm-8 d-flex align-items-end justify-content-end">
        <ng-container [ngTemplateOutlet]="SearchBtn"></ng-container>
      </div>
  </div>

</ng-container>
</form>
