<!-- cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle -->
<div >
  <div mat-dialog-title class="dialog-title">
    <h2>Product Type Report</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore-down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </div>

  <mat-dialog-content class="customDialog">
    <div class="card p-3 border-1">
        <form [formGroup]="__prdType" (ngSubmit)="submit()" autocomplete="off">
          <ng-container>
            <div class="row">
              <div class="col-sm-4 my-auto">
                <label for="ins_type">Insurance Type</label>
                <ng-multiselect-dropdown
                id="ins_type"
                [placeholder]="'Select Insurance Type'"
                [settings]="settings_ins_type"
                [data]="instTypeMst"
                formControlName="ins_type">
              </ng-multiselect-dropdown>
              </div>
              <div class="col-sm-4">
                 <label for="product_type" class="form-label">Product Type</label>
                  <ng-multiselect-dropdown #multiSelect
                  id="comp_name"
                  [placeholder]="'Select Product Type'"
                  [settings]="settings"
                  [data]="__insPrdType"
                  formControlName="product_type">
                </ng-multiselect-dropdown>
              </div>
              <div class="col-sm-4 d-flex justify-content-end align-items-end">
                <p-button type="button"
                (click)="refreshOrAdvanceFlt()"
                label="Reset" icon="pi pi-refresh"
                iconPos="right" styleClass="p-button-lg p-button-danger"
                class="mx-3 float-right">
                </p-button>
                <p-button type="submit"
                label="Show" icon="pi pi-eye"
                iconPos="right"
                class="float-right"
                styleClass="p-button-lg">
                </p-button>
              </div>
            </div>
          </ng-container>

        </form>
    </div>
    <div class="card border-1 rounded-top mt-2">
      <div class="example_container_header">
        <div class="transTypeCount">
          <h4></h4>
        </div>
        <div class="btnGrp">
            <p-button icon="pi pi-file-export"
            [matMenuTriggerFor]="menu"
            [matTooltipPosition]="'after'"
            #tooltip="matTooltip"
            matTooltip="Export"
            styleClass="p-button-primary p-button-lg p-button-outlined">
            </p-button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="exportPdf()">
                <mat-icon>download</mat-icon> Export Pdf
              </button>
              <!-- (click)="exporter.exportTable('xlsx',{fileName:'FDScheme Report'})" -->
              <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'ProductTypeReport'})">
                <mat-icon>download</mat-icon> Export Excel
              </button>
            </mat-menu>
            </div>

      </div>
      <div class="container_body">
        <p-table #dt
        (onLazyLoad)="customSort($event)"
        [customSort]="true"
          sortMode="single"
          [lazy]="true"
        [value]="__prdTypeMst.data"
        [columns]="__columns"
        [resizableColumns]="true"
        selectionMode="multiple" columnResizeMode="expand" [scrollable]="true"
        scrollHeight="300px"
        [autoLayout]="true" [responsive]="true" styleClass="p-datatable-gridlines"
        [tableStyle]="{ 'min-width': '100rem' }">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th  *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field" [style.width]="'16rem'">
              {{ col.header }}
              <p-sortIcon *ngIf="col.field!= 'edit' && col.field!= 'delete'" [field]="col.field">
              </p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-insComp let-columns="columns"  let-i="rowIndex">
          <tr tabindex="999">
            <td *ngFor="let col of columns">
              <ng-container [ngSwitch]="true">
                <ng-container *ngSwitchCase="col.field == 'edit'">
                  <p-button icon="pi pi-pencil" (click)="populateDT(insComp)"
                    styleClass="p-button-rounded p-button-primary">
                  </p-button>
                </ng-container>
                <ng-container *ngSwitchCase="col.field == 'delete'">
                  <p-button icon="pi pi-trash" (click)="delete(insComp,i)"
                    styleClass="p-button-rounded p-button-danger">
                  </p-button>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <span  matTooltip="{{insComp[col.field]}}">
                    {{ insComp[col.field] ? insComp[col.field] : 'N/A' }}
                  </span>
                </ng-container>
              </ng-container>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length" class="noHistoryAvailable">
               No records found
            </td>
          </tr>
        </ng-template>
      </p-table>

           <!-- Paginator with item per page -->
           <div class="paginator">
            <div class="itemsPerPage d-flex">
              <label class="mr-3">Items per page: </label>
              <p-selectButton
              [options]="itemsPerPage"
              [formControl]="__pageNumber"
              optionLabel="label" optionValue="value"
              (onOptionClick)="onselectItem($event)"
              ></p-selectButton>
            </div>

            <div class="paginatorContainer">
              <ul>
                <li *ngFor="let paginate of __paginate" (click)="getPaginate(paginate)">
                  <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                    *ngIf="(paginate.label | bnkrplc) == 'P'">
                    <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                      keyboard_double_arrow_left</mat-icon>
                  </a>
                  <a [attr.disabled]="!paginate.url" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''"
                    *ngIf="(paginate.label | bnkrplc) == 'N'">
                    <mat-icon class="prevNext" [style.cursor]="!paginate.url ? 'not-allowed!important' : ''">
                      keyboard_double_arrow_right</mat-icon>
                  </a>
                  <a [class]="paginate.active ? 'activePaginator paginateNumber' : 'paginateNumber'"
                    *ngIf="(paginate.label | bnkrplc) != 'P' && (paginate.label | bnkrplc) != 'N'">
                    {{paginate.label}}
                  </a>
                </li>
              </ul>


            </div>

          </div>
          <!-- End -->
      </div>

      </div>
      <table id="subcategory" hidden mat-table [dataSource]="__export" matTableExporter #exporter="matTableExporter">
        <ng-container matColumnDef="ins_type">
          <th mat-header-cell *matHeaderCellDef>Insurance Type</th>
          <td mat-cell *matCellDef="let element">{{element.ins_type}}</td>
        </ng-container>
        <ng-container matColumnDef="product_type">
          <th mat-header-cell *matHeaderCellDef>Product Type</th>
          <td mat-cell *matCellDef="let element">{{element.product_type}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="__exportedClmns"></tr>
        <tr mat-row *matRowDef="let row; columns: __exportedClmns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4" class="text-center">No Records Found</td>
        </tr>
      </table>
  </mat-dialog-content>

</div>
