@import '~primeng/resources/primeng.min.css';
/* @import '~primeng/resources/themes/bootstrap4-light-blue/theme.css'; */
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeicons/primeicons.css';

.card_2 {
  margin: 15px 0px;
}

td,
th {
  text-align: left !important;
  font-size: 15px !important;
}

.cdk-overlay-container {
  z-index: 99999 !important;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 38px !important;
}

/*
::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 95%);

}

*::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
} */


.fullscreen-dialog {
  max-width: 100% !important;
}

.mat-dialog-container {
  padding: 0px !important;
  overflow: hidden !important;
}

.mat-dialog-content {
  margin: 0px !important;
  padding: 0 14px;
  max-height: 80vh !important;
  background: #3a50760d !important;
}

.mat-dialog-actions {
  padding: 11px 23px !important;
  border-top: 1px solid #cecece;
  background: #e7e7e7ba;

}

.form-control {
  /* height: 44px; */
  /* border: 1px solid #b8b8b8; */
  box-shadow: none;
  font-weight: 500 !important;
  /* border-radius: 0 !important; */
}

label {
  color: #3a5076;
  font-weight: 700;
  font-size: 11px;
  /* margin: 7px 0px; */
  margin: 10px 0px;
  /* display: flex;
    align-items: center; */
}

.dialog-title {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d6d6d6;
  padding: 2px 28px;
  margin: 0px !important;
  background: #3a5076;
  color: #fff;
  font-size: 18px;
}

.dialog-title h2 {
  font-size: 15px;
}

.ngx-spinner-overlay {
  z-index: 999991 !important;
}

button:focus {
  outline: none !important
}

/* .mat-menu-item:hover:not([disabled]),
.mat-menu-item-highlighted:not([disabled]) {background: rgb(31 69 132) !important;color: #fff !important;} */
.active {
  background: rgb(31 69 132) !important;
  color: #fff !important;
}

.mat-menu-content:not(:empty) {
  padding: 0px !important
}

.activeMainmenu {
  background-color: #fff;
  color: rgb(4, 4, 136);
  border-radius: 0px !important;
  font-weight: 600;
}

.mat-menu-panel {
  min-height: 45px !important;
}

.mat-menu-item {

  font-size: 13px !important;
  font-weight: 600 !important;
  color: #1f4584 !important;
}

.mat_dialog {
  height: 100% !important;
  width: 60% !important;
}

tr.mat-header-row {
  height: 45px !important;
}

.full_screen {
  height: 100% !important;
  width: 100% !important;
}


.clientCode {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
}

.separator {
  /* padding: 24px; */
  border: 1px solid #c3c3c3;
  border-radius: 12px;
  box-shadow: 0px 1px 8px #999999;
  height: 500px;
}

.separator .separator_header {
  border-bottom: 1px solid #c3c3c3;
  height: 50px;
  border-radius: 12px 12px 0px 0px;
  display: flex;
  padding: 0px 10px;
  align-items: center;
  background: #3bb8b3;
  color: #fff;
}

.separator .separator_header h3 {
  font-size: 17px;
  font-weight: 500;
}

.separator .separator_body {
  height: calc(500px - 75px);
  padding: 25px;
  overflow: auto;
}

.countOf_transType {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countOf_transType span {
  font-size: 19px;
}

.smallBoxWidth {
  width: 209px;
}

.smallBox .smallBoxIconSec .customiconSec {
  width: 60px !important;
  height: 60px !important;
  justify-content: center !important;
}

.iconCol_13 {
  background: #3bb8b3;
}

.customiconSec span {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}

.spinner-border {
  position: absolute;
  right: 12px;
  top: 64%;
  display: inline-block;
  vertical-align: text-bottom;
  border: 0.15em solid currentColor;
  border-right-color: #c5202000 !important;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
  /* border: 3px solid #3f51b5; */
  border: 2px solid #3f51b5;

}

.spinner-border {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.breadcrumb>li {
  /* font-size: 13px;
  font-weight: 600;
  color: gray; */
  font-size: 11px;
    font-weight: 500;
    color: #787878;
}

.breadcrumb>li:last-child {
  color: #1f4584 !important;
}

.breadcrumb {
  /* margin: 12px 0px 0px 0px !important;
    padding: 5px 15px;
    list-style: none;
    background-color: #eceef0;
    box-shadow: none;
    border: 1px solid #c0c0c0; */
    margin: 58px 0px 0px 0px !important;
    padding: 8px 15px;
    list-style: none;
    background-color: #ffffff;
    box-shadow: none;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 0px!important;
}
.customDialog{
  /* max-height: 90vh !important; */
  max-height: 90vh !important;
  min-height: 90vh!important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.mat-sort-header-arrow {
  color: #fff;
}


.viewIconDtls {
  position: absolute !important;
  right: 10px;
  top: 36%;
}

.mat-progress-bar-fill::after {
  background-color: #ff0000;
}

.loaderRouter {
  height: 2px;
  /* background: #fff; */
  background: #eceef0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999999;
}
.mat-progress-bar {
  height: 2px!important;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  background-color: #1f4584 !important;
  border-color: #1f4584 !important;
}


.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mat-card-title {
  margin-bottom: 0 !important;
  font-size: 14px !important;
}

.mat-card-header {
  height: 50px !important;
}

.mat-card-header-text {
  display: flex !important;
  align-items: center !important;
}

.mat-card-header {
  justify-content: space-between !important;
}

.mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  justify-content: space-between !important;
}

mat-card {
  padding: 0px !important;
}

.noDataAvailable {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noDataAvailable>h4 {
  color: gray;
  font-size: 15px;
  font-weight: 400;
}

.card-header>h4 {
  font-size: 14px;
}

.card-header {
  padding: 11px 1.25rem;
}

/***** NG-Multiselect Dropdown Css**/
.multiselect-dropdown .dropdown-btn {
  font-size: 11px;
  font-weight: 500;
  color: #555;
  height: 30px !important;
  border: 1px solid #d7d7d7 !important;
  /* border-radius: 0px!important; */
}

.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
  line-height: 16px;
  height: 30px !important;
}

.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  border: 1px solid #3a5076 !important;
  background: #3a5076 !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret::before {
  border-width: 6px 6px 0 !important;
  border-color: #3a5076 transparent !important;
}

.dropdown-list li {
  font-size: 11px!important;
  font-weight: 500!important;
}

.multiselect-item-checkbox input[type=checkbox] + div{
  color: #3a5076!important;
}

/***** End **/

/* Mat Tab*/
 .mat-tab-label{
  /* background: #545454;
  min-width: 60px;
  height: 41px!important;
  opacity: 1!important;
  font-weight: 400;
  font-size: 11px;
  border-right: 1px solid #a1a1a1!important;
  color:#fff!important; */
  /* background: #545454; */
  background: #c0c0c0;
  /* min-width: 120px!important; */
  height: 40px!important;
  opacity: 1!important;
  /* font-size: 13px; */
  font-size: 11px;
  /* border-right: 2px solid #dcdcdc!important; */
  border-right:0px!important;
  color: #424242!important;
  /* min-width: 90px!important; */
}
/* .mat-tab-group.mat-primary .mat-ink-bar{
  background-color: #1f4584!important;
  height: 3px;
  bottom: 0px!important;
} */
.mat-tab-nav-bar, .mat-tab-header {
  border: none!important;
}
.mat-tab-header-pagination {
  background: #1f4584!important;
}
.mat-tab-label-active{
  /* background: #1f4584; */
  /* background: #28a745; */
  background: #f1820b;
  border-right: 1px solid #fff;
  /* color: #1f4584!important; */
  color: #fff!important;
  font-weight: 600!important;
}
.mat-tab-label>.mat-tab-label-content>.mat-icon{
  height: 22px!important;
    width: 26px!important;
    font-size: 21px!important;
}
.mat-tab-label-container{
  /* background: #545454!important; */
  /* border-bottom: 1px solid #cfcfcf; */
}
.mat-tab-body-content {
  overflow: visible!important;
}

.mat-tab-body.mat-tab-body-active{
   overflow-y: visible!important;
}
.mat-tab-header-pagination {
  background: #c0c0c0!important;
}
/* End */

/*** Prime NG Data table**/
.p-datatable .p-datatable-thead > tr > th {
  text-align: center!important;
  padding: 1rem 1rem;
  border: 1px solid #6a6a6a;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: #495057;
  background: #545454;
  transition: box-shadow 0.2s;
  font-size: 11px!important;
  font-weight: 400;
  color: #fff;
}

.p-datatable .p-datatable-tbody > tr > td {
    text-align: center!important;
    border: 1px solid #ededed!important;
    border-width: 0.2px!important;
    padding: 2px 1rem!important;
    font-size: 11px!important;
    font-weight: 500;
}

.p-datatable-scrollable .p-datatable-thead>tr>th,
.p-datatable-scrollable .p-datatable-tbody>tr>td,
.p-datatable-scrollable .p-datatable-tfoot>tr>td{
  justify-content: center;

}
/* End */
/* FOr Material Checkbox Style */
.mat-checkbox-layout{
  margin:6px 0px!important;
}
/* End */
/**** For Calendar **/
.p-calendar{
  min-width: 100%!important;
}
.p-calendar .p-inputtext {
  font-size: 10px!important;
  font-weight: 700!important;
}
/**** End **/

.container_fluid{
  border: 1px solid #d3d3d3;
  padding: 13px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.p-button.p-button-lg {
  padding: 8px 16px!important;
}
.p-panel .p-panel-header {
  border: 1px solid #dee2e6;
  padding: 11px 1.25rem;
  background: #1f4584;
  color: #ffffff;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  font-size: 13px;
  font-weight: 500;
}
