<!--

  ** This Is the Home Page For R&T
  ** This page Container Three Card named as Report, Modification & Upload CSV

-->

<!--- Card For Holding menus-->
<div class="row flexSec">
  <div class="col-sm-2" *ngFor="let items of __menu" (click)="navigate(items)">
    <div class="smallBox mb-0">
      <div class="smallBoxIconSec">
        <div class="iconCol_12 iconSec">
          <i class="fa fa-user-o" aria-hidden="true"></i>
        </div>
      </div>
      <h2>{{items.menu_name}}</h2>
    </div>
  </div>
</div>
<!-- End -->
