<core-search 
(__searchItem)="getSearchItem($event)" 
[__flag]="'Y'" 
[__placeholder]="'Search by document type'"
[__api_name]="'/documenttype'"
></core-search>

<div class="card" *ngIf="__selectDocs.length > 0">
  <div class="card-body">
    <table class="table table_Custome">
      <thead>
        <tr>
          <th>SL No.</th>
          <th>Name</th> 
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let __selectedItems of __selectDocs;let i =index">
           <td>{{i + 1}}</td>
           <td>{{__selectedItems.doc_type}}</td>
           <td>
            <a (click)="populateDT(__selectedItems)">
              <mat-icon class="edit_icon">edit</mat-icon>
            </a>
           </td>
           <td>
            <a>
              <mat-icon class="delete_icon">delete</mat-icon>
            </a>
           </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>