
<div class="row flexSec">
  <div class="col-sm-7">
    <shared-upload-csv [leftHeaderTitle]="'Upload Document Type'" [flag]="'D'" [file_name]="'Sample Document Type'" [columns]="tableColumns" [api_name]="'/documenttypeimport'"
      [dataSource]="tableData" [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>
  <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All Document Type'"
     [headerTitle]="'Recent Document Type'" [flag]="'D'"
     [props]="'doc_type'"
      (populate)="populateDT($event)"
      (viewAll)="viewAll()"
      [dataSource]="__selectRNT.data"></shared-mst-dtls>
  </div>
</div>
