:host ::ng-deep .p-datatable-tbody>tr{
  min-height: 35px;
}

:host ::ng-deep .p-datatable-scrollable>
.p-datatable-wrapper>.p-datatable-table>
.p-datatable-tfoot>tr{
 min-height: 20px;
}
:host ::ng-deep .p-datatable-scrollable>
.p-datatable-wrapper>.p-datatable-table>
.p-datatable-tfoot>tr>td{
  background-color: #efefef;
  color: #5a5a5a;
  font-size: 13px!important;
  font-weight: 500;
}



:host ::ng-deep .p-datatable  .p-sortable-column-icon{
  color: #ffffff;
}
:host ::ng-deep .p-datatable .p-sortable-column:not(.p-highlight):hover
.p-sortable-column-icon{
  color: #ffffff;
}
/* :host ::ng-deep
.p-datatable .p-sortable-column:not(.p-highlight):hover,
.p-datatable .p-sortable-column.p-highlight
{
  background-color: black!important;
  color:#fff!important;
} */
.noHistoryAvailable{
  /* height: 294px!important; */
  font-size: 15px!important;
  text-align: center!important;
}

/* .sticky-header{
  position: sticky;
  top:99px;
  z-index:90;
  background: #ffff;
} */



.trxnRptCount{
  width:220px;
}

::ng-deep .mat-menu-item{
  display: flex!important;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.summaryCnt{
  flex-direction: column!important;
}
::ng-deep .p-datatable.p-datatable-lg .p-datatable-tbody > tr > .summaryCnt{
  padding:5px 0px!important;

}
.summaryCnt>hr{
  border-top: 1px solid #d7d7d7!important;
  height: 0px!important;
  width: 100%!important;
  margin: 4px 0px!important;

}
