:host ::ng-deep .p-datatable-tbody>tr{
  min-height: 33px;
}

:host ::ng-deep .p-datatable-scrollable>
.p-datatable-wrapper>.p-datatable-table>
.p-datatable-tfoot>tr{
 min-height: 33px;
}
:host ::ng-deep .p-datatable-scrollable>
.p-datatable-wrapper>.p-datatable-table>
.p-datatable-tfoot>tr>td{
  background-color: #222f3f;
  color: #fff;
  font-size: 13px!important;
}
th,td{
  width:12rem;
}
:host ::ng-deep .p-datatable  .p-sortable-column-icon{
  color: #ffffff;
}
:host ::ng-deep .p-datatable .p-sortable-column:not(.p-highlight):hover
.p-sortable-column-icon{
  color: #ffffff;
}
:host ::ng-deep
.p-datatable .p-sortable-column:not(.p-highlight):hover,
.p-datatable .p-sortable-column.p-highlight
{
  background-color: black!important;
  color:#fff!important;
}
.noHistoryAvailable{
  /* height: 294px!important; */
  font-size: 15px!important;
  text-align: center!important;
}

:host ::ng-deep .p-datatable-footer{
  background-color: red!important;
}
