tr{
  min-height: 37px;
}
th,td{
  width:12rem;
}
:host ::ng-deep .p-datatable  .p-sortable-column-icon{
  color: #ffffff;
}
:host ::ng-deep .p-datatable .p-sortable-column:not(.p-highlight):hover
.p-sortable-column-icon{
  color: #ffffff;
}
:host ::ng-deep
.p-datatable .p-sortable-column:not(.p-highlight):hover,
.p-datatable .p-sortable-column.p-highlight
{
  background-color: black!important;
  color:#fff!important;
}
