<div class="flexSec">
    <div class="container mx-auto">
        <div class="row">
            <div class="col-7 mx-auto">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="text-left p-1 " >
                            <span class="cardHeading">Create Client by Entry</span>
                        </div>
                        <div class="bottomBorderLine"></div>
                        <div class="row">
                            <div class="col-7 mx-auto">
                                <app-create-customer-by-entry></app-create-customer-by-entry>

                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                            <button type="submit" class="btn btn-primary">
                                    Verify
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>