<div class="row flexSec">
  <div class="col-sm-7">
    <shared-upload-csv
    [leftHeaderTitle]="'Upload Country'"
    [columns]="tableColumns"
    [api_name]="'/countryimport'"
    [flag]="'G'"
    [dataSource]="tableData"
    [file_name]="'Sample Country'"
    [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>
  <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All Country'" [headerTitle]="'Recent Country'" [flag]="'G'"
      (populate)="populateDT($event)" (viewAll)="viewAll()"
      [dataSource]="countryMst.data"></shared-mst-dtls>
  </div>
</div>
