<div class="row flexSec">
  <div class="col-sm-7">
    <shared-upload-csv [leftHeaderTitle]="'Upload Product Type'" [flag]="'IPT'" [file_name]="'Sample Product Type'"
      [columns]="tableColumns" [api_name]="'/ins/productTypeimport'" [dataSource]="tableData"
      [companyTypeMst]="instTypeMst" [displayedColumns]="displayedColumns"></shared-upload-csv>
  </div>
  <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All Product Type'" [headerTitle]="'Recent Product Type'" [flag]="'IPT'"
      (populate)="populateDT($event)" (viewAll)="viewAll()" [dataSource]="__productTypeMst.data"></shared-mst-dtls>
  </div>
</div>
