<!-- <core-search [__flag]="'Y'" (__searchItem)="getSearchItem($event)" [__api_name]="'/mfTraxShow'"
  [__placeholder]="'Search TIN Number'"></core-search>

  <mf-common-MasterTbl [__MstDT]="__nonFinMst"  (__selectedItems)="getSelectedItemForUpdate($event)"></mf-common-MasterTbl> -->

  <div class="row flexSec">
    <div class="col-sm-2"  (click)="navigate('M')">
      <div class="smallBox">
       <div class="smallBoxIconSec">
        <div class="iconCol_12 iconSec">
          <i class="fa fa-user-o" aria-hidden="true"></i>
        </div>
      </div>
      <h2>Manual Entry</h2>
    </div>
  </div>
  <div class="col-sm-2"  (click)="navigate('R')">
    <div class="smallBox">
     <div class="smallBoxIconSec">
      <div class="iconCol_12 iconSec">
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
    </div>
    <h2>Reports</h2>
  </div>
  </div>
  </div>
