
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle >
  <div mat-dialog-title class="dialog-title" [title]="data.title">
    <h2 >{{data.title}} {{data.id > 0 ? '(' +data.__rnt.rnt_name+')' : ''}}</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize"  (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore-down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button title="Maximize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>check_box_outline_blank </mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>
  <mat-dialog-content  #scrollContainer>
    <form [formGroup]="__rntForm" (ngSubmit)="submit()" id="__rntForm_{{data.id}}" autocomplete="off" ngNativeValidate>
      <div class="row">
        <div class="col-sm-12 my-2">
          <label for="rnt_full_name" class="mb-3">R&T Full Name <span class="text-danger">*</span></label>
          <input type="text" name="rnt_full_name" id="rnt_full_name" class="form-control" placeholder="Enter R&T Full Name"
            formControlName="rnt_full_name">
          <div class="invalid-feedback"
            *ngIf="__rntForm.get('rnt_full_name').invalid && (__rntForm.get('rnt_full_name').dirty || __rntForm.get('rnt_full_name').touched)">
            <span class="invalid-feedback" *ngIf="(__rntForm.get('rnt_full_name')).errors?.required">
              <mat-icon class="text-danger">
                error
              </mat-icon>
              *Please provide R&T
              full name</span>
          </div>
        </div>
        <div class="col-sm-12 my-2">
          <label for="rntName" class="mb-3">R&T Short Name <span class="text-danger">*</span></label>
          <input type="text" name="rnt_name" id="rntName" class="form-control" placeholder="Enter R&T Short Name"
            formControlName="rnt_name">
          <div class="invalid-feedback"
            *ngIf="__rntForm.get('rnt_name').invalid && (__rntForm.get('rnt_name').dirty || __rntForm.get('rnt_name').touched)">
            <span class="invalid-feedback" *ngIf="(__rntForm.get('rnt_name')).errors?.required">*Please provide R&T
              short name</span>
          </div>
        </div>
        <div class="col-sm-12 my-2">
          <label for="gstin">GSTIN</label>
          <input type="text" name="gstin" id="gstin" class="form-control"
            placeholder="Enter GSTIN" formControlName="gstin">
        </div>

        <div class="col-sm-12 my-2">
          <label for="web_site">Website </label>
          <input type="text" name="web_site" id="web_site" class="form-control" placeholder="Enter Website"
            formControlName="web_site">
        </div>

        <div class="col-sm-12 my-2">
          <label for="cus_care_whatsapp_no">Customer Care WhatsApp Number</label>
          <input (keypress)="preventNonumeric($event)" type="text" name="cus_care_whatsapp_no" id="cus_care_whatsapp_no"
            class="form-control" placeholder="Enter Customer Care WhatsApp Number" formControlName="cus_care_whatsapp_no">
            <div class="invalid-feedback" *ngIf="__rntForm.get('cus_care_whatsapp_no').invalid && (__rntForm.get('cus_care_whatsapp_no').dirty || __rntForm.get('cus_care_whatsapp_no').touched)">
              <span class="invalid-feedback" *ngIf="(__rntForm.get('cus_care_whatsapp_no')).hasError('pattern')">*Digits allow only</span>
              <!-- <span class="invalid-feedback" *ngIf="(__rntForm.get('cus_care_whatsapp_no')).hasError('minlength')">*mobile number
                must be 10 digits</span>
                <span class="invalid-feedback" *ngIf="(__rntForm.get('cus_care_whatsapp_no')).hasError('maxlength')">*mobile number
                  must be 10 digits</span> -->
            </div>
        </div>
        <div class="col-sm-12 my-2">
          <label for="cust_care_no">Customer Care Number</label>
          <input (keypress)="preventNonumeric($event)" type="text" name="cust_care_no" id="cust_care_no"
            class="form-control" placeholder="Enter Customer Care Number" formControlName="cust_care_no">
            <div class="invalid-feedback" *ngIf="__rntForm.get('cust_care_no').invalid && (__rntForm.get('cust_care_no').dirty || __rntForm.get('cust_care_no').touched)">
              <span class="invalid-feedback" *ngIf="(__rntForm.get('cust_care_no')).hasError('pattern')">*Digits allow only</span>
            </div>
        </div>
        <div class="col-sm-12 my-2">
          <label for="cust_care_email">Customer Care Email</label>
          <input type="email" name="cust_care_email" id="cust_care_email" class="form-control"
            placeholder="Enter Customer Care Email" formControlName="cust_care_email">
          <div class="invalid-feedback"
            *ngIf="__rntForm.get('cust_care_email').invalid && (__rntForm.get('cust_care_email').dirty || __rntForm.get('cust_care_email').touched)">
            <span class="invalid-feedback" *ngIf="(__rntForm.get('cust_care_email').errors?.email)">*Please provide
              valid
              email</span>
          </div>
        </div>

        <div class="col-sm-12">
          <label for="distributor_care_no">Distributor Care Number </label>
          <input (keypress)="preventNonumeric($event)" type="text" name="distributor_care_no" id="distributor_care_no" class="form-control" placeholder="Enter Distributor Care Number"  formControlName="distributor_care_no">
          <div class="invalid-feedback" *ngIf="__rntForm.get('distributor_care_no').invalid && (__rntForm.get('distributor_care_no').dirty || __rntForm.get('distributor_care_no').touched)">
            <span class="invalid-feedback" *ngIf="(__rntForm.get('distributor_care_no')).hasError('pattern')">*Digits allow only</span>
          </div>
        </div>
        <div class="col-sm-12 my-2">
          <label for="distributor_care_email" >Distributor Care Email </label>
          <input (keypress)="preventNonumeric($event)" type="email" name="distributor_care_email" id="distributor_care_email" class="form-control" placeholder="Enter Distributor Care Email"  formControlName="distributor_care_email">
          <div class="invalid-feedback" *ngIf="__rntForm.get('distributor_care_email').invalid && (__rntForm.get('distributor_care_email').dirty || __rntForm.get('distributor_care_email').touched)">
            <span class="invalid-feedback" *ngIf="(__rntForm.get('distributor_care_email').errors?.email)">*Please provide valid email</span>
          </div>
        </div>
      </div>

      <div class="divider">
        <span>Head Office</span>
        <hr class="line"/>
       </div>
      <div class="row">
        <div class="col-sm-12 my-2">
          <label for="head_ofc_cotact_per">Contact Person</label>
        <input type="text"
        name="head_ofc_cotact_per"
        id="head_ofc_cotact_per"
        formControlName="head_ofc_contact_per" class="form-control" placeholder="Enter Contact Person">
        </div>
        <div class="col-sm-12 my-2">
          <label for="head_contact_per_mob">Contact Person Mobile</label>
        <input
         type="text" (keypress)="preventNonumeric($event)" name="head_contact_per_mob" id="head_contact_per_mob" formControlName="head_contact_per_mob" class="form-control" placeholder="Enter Contact Person Mobile">
        <div class="invalid-feedback" *ngIf="__rntForm.get('head_contact_per_mob').invalid && (__rntForm.get('head_contact_per_mob').dirty || __rntForm.get('head_contact_per_mob').touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get('head_contact_per_mob')).hasError('pattern')">*Digits allow only</span>
        </div>
      </div>
        <div class="col-sm-12 my-2">
          <label for="head_contact_per_email">Contact Person Email</label>
        <input type="text" name="head_contact_per_email" id="head_contact_per_email" formControlName="head_contact_per_email" class="form-control" placeholder="Enter Contact Person Email">
        <div class="invalid-feedback" *ngIf="__rntForm.get('head_contact_per_email').invalid && (__rntForm.get('head_contact_per_email').dirty || __rntForm.get('head_contact_per_email').touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get('head_contact_per_email').errors?.email)">*Please provide valid email</span>
        </div>
      </div>
      <div class="col-sm-12 my-2">
        <label for="head_ofc_add">Address</label>
        <textarea name="ofc_add" id="head_ofc_add" cols="30" rows="5" formControlName="head_ofc_addr" class="form-control" placeholder="Enter Address"></textarea>
        <div class="invalid-feedback" *ngIf="__rntForm.get('head_ofc_addr').invalid && (__rntForm.get('head_ofc_addr').dirty || __rntForm.get('head_ofc_addr').touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get('head_ofc_addr')).errors?.required">*Please provide office address</span>
        </div>
      </div>
      </div>
         <div class="divider">
        <span>Local Office</span>
        <hr class="line"/>
       </div>
      <div class="row">
        <div class="col-sm-12 my-2">
          <label for="local_ofc_contact_per">Contact Person</label>
        <input type="text" name="local_ofc_contact_per" id="local_ofc_contact_per" formControlName="local_ofc_contact_per" class="form-control" placeholder="Enter Contact Person">
        </div>
        <div class="col-sm-12 my-2">
          <label for="local_contact_per_mob">Contact Person Mobile</label>
        <input
         (keypress)="preventNonumeric($event)" type="text" name="local_contact_per_mob" id="local_contact_per_mob" formControlName="local_contact_per_mob" class="form-control" placeholder="Enter Contact Person Mobile">
        <div class="invalid-feedback" *ngIf="__rntForm.get('local_contact_per_mob').invalid && (__rntForm.get('local_contact_per_mob').dirty || __rntForm.get('local_contact_per_mob').touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get('local_contact_per_mob')).hasError('pattern')">*Digits allow only</span>
          <!-- <span class="invalid-feedback" *ngIf="(__rntForm.get('local_contact_per_mob')).hasError('minlength')">*mobile number
            must be 10 digits</span>
            <span class="invalid-feedback" *ngIf="(__rntForm.get('local_contact_per_mob')).hasError('maxlength')">*mobile number
              must be 10 digits</span> -->
        </div>
      </div>
        <div class="col-sm-12 my-2">
          <label for="local_contact_per_email">Contact Person Email</label>
        <input type="text" name="local_contact_per_email" id="local_contact_per_email" formControlName="local_contact_per_email" class="form-control" placeholder="Enter Contact Person Email">
        <div class="invalid-feedback" *ngIf="__rntForm.get('local_contact_per_email').invalid && (__rntForm.get('local_contact_per_email').dirty || __rntForm.get('local_contact_per_email').touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get('local_contact_per_email').errors?.email)">*Please provide valid email</span>
        </div>
        </div>
      <div class="col-sm-12 my-2">
        <label for="local_ofc_add">Address</label>
        <textarea name="ofc_add" id="local_ofc_add" cols="30" rows="5" formControlName="local_ofc_addr" class="form-control" placeholder="Enter Address"></textarea>
        <div class="invalid-feedback" *ngIf="__rntForm.get('local_ofc_addr').invalid && (__rntForm.get('local_ofc_addr').dirty || __rntForm.get('local_ofc_addr').touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get('local_ofc_addr')).errors?.required">*Please provide office address</span>
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-sm-12 my-2">
          <label for="login_url" class="mb-3">Login URL </label>
          <input type="text" name="login_url" id="login_url" class="form-control" placeholder="Enter Login URL"
            formControlName="login_url">
        </div>

        <div class="col-sm-12 my-2">
          <label for="login_id" class="mb-3">Login ID </label>
          <input type="text" name="login_id" id="login_id" class="form-control" placeholder="Enter Login ID"
            formControlName="login_id">
          <!-- <div class="invalid-feedback"
            *ngIf="__rntForm.get('login_id').invalid && (__rntForm.get('login_id').dirty || __rntForm.get('login_id').touched)">
            <span class="invalid-feedback" *ngIf="(__rntForm.get('login_id')).errors?.required">*Please provide login ID</span>
          </div> -->
        </div>

        <div class="col-sm-12 my-2">
          <label for="login_pass" class="mb-3">Login Password </label>
          <input type="text" name="login_pass" id="login_pass" class="form-control" placeholder="Enter Login Password"
            formControlName="login_pass">
          <!-- <div class="invalid-feedback"
            *ngIf="__rntForm.get('login_pass').invalid && (__rntForm.get('login_pass').dirty || __rntForm.get('login_pass').touched)">
            <span class="invalid-feedback" *ngIf="(__rntForm.get('login_pass')).errors?.required">*Please provide login password</span>
          </div> -->
        </div>
      </div>

       <!-- Security Qustion Answer -->
      <div class="row">
        <div class="col-sm-12">
          <table class="my-2">
        <thead>
          <tr>
            <th>
              Security Question
            </th>
            <th>
              Security Answer
            </th>
            <th>
              <button  mat-icon-button type="button" *ngIf="sec_qusAns.controls.length < 7">
                <mat-icon (click)="addSecurityQuesAns()">add</mat-icon>
              </button>
            </th>
          </tr>
        </thead>
        <tbody formArrayName="sec_qusAns">
          <tr *ngFor="let item of sec_qusAns.controls; let i = index;">
            <ng-container [formGroupName]="i">
              <td class="rowWidth">
                <input type="text" placeholder="Enter Security Question" name="sec_qus" id="sec_qus_{{i}}" class="form-control" formControlName="sec_qus">
              </td>
              <td class="rowWidth">
                <input type="text" placeholder="Enter Security Answer" name="sec_ans" id="sec_ans_{{i}}" class="form-control" formControlName="sec_ans">
              </td>
              <td class="rowWidth">
                <button color="accent" mat-icon-button type="button" *ngIf="i > 0">
                  <mat-icon  (click)="removeSecurityQuesAns(i)">delete</mat-icon>
                </button>
              </td>

            </ng-container>
          </tr>
              </tbody></table>

        </div>
     </div>

     <!-- Level - 1 -->
     <ng-container formGroupName="level_1">
      <div class="divider">
        <span>Lavel-1(Operation)</span>
        <hr class="line"/>
       </div>
      <div class="row" >
        <div class="col-sm-12">
          <label for="l1_name">Name</label>
          <input type="text"
           name="name"
            id="l1_name"
            class="form-control"
            placeholder="Enter Name"
            formControlName="name">
        </div>
        <div class="col-sm-12">
          <label for="l1_contact">Contact</label>
          <input type="text"
           name="contact"

          id="l1_contact"
          class="form-control"
          placeholder="Enter Contact"
          (keypress)="preventNonumeric($event)"
          formControlName="contact">
          <div class="invalid-feedback"
          *ngIf="__rntForm.get(['level_1','contact']).invalid && (__rntForm.get(['level_1','contact']).dirty || __rntForm.get(['level_1','contact']).touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get(['level_1','contact'])).hasError('pattern')">*allow only
            digits</span>
          </div>
        </div>
        <div class="col-sm-12">
          <label for="l1_email">Email</label>
          <input type="text" name="email" id="l1_email" class="form-control" placeholder="Enter Email Id" formControlName="email">
          <div class="invalid-feedback"
          *ngIf="__rntForm.get(['level_1','email']).invalid && (__rntForm.get(['level_1','email']).dirty || __rntForm.get(['level_1','email']).touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get(['level_1','email'])).errors?.email">*Please provide valid email</span>
        </div>
        </div>
      </div>
     </ng-container>

     <!-- Level - 2 -->
     <ng-container formGroupName="level_2">
      <div class="divider">
        <span>Lavel-2(Operation Head)</span>
        <hr class="line"/>
       </div>
      <div class="row" >
        <div class="col-sm-12">
          <label for="l2_name">Name</label>
          <input type="text"
           name="name"
            id="l2_name"
            class="form-control"
            placeholder="Enter Name"
            formControlName="name">
        </div>
        <div class="col-sm-12">
          <label for="l2_contact">Contact</label>
          <input type="text"
           name="contact"
          id="l2_contact"
          class="form-control"
          placeholder="Enter Contact"
          (keypress)="preventNonumeric($event)"
          formControlName="contact">
          <div class="invalid-feedback"
          *ngIf="__rntForm.get(['level_2','contact']).invalid && (__rntForm.get(['level_2','contact']).dirty || __rntForm.get(['level_2','contact']).touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get(['level_2','contact'])).hasError('pattern')">*allow only
            digits</span>
          </div>
        </div>
        <div class="col-sm-12">
          <label for="l2_email">Email</label>
          <input type="text" name="email" id="l2_email" class="form-control" placeholder="Enter Email Id" formControlName="email">
          <div class="invalid-feedback"
          *ngIf="__rntForm.get(['level_2','email']).invalid && (__rntForm.get(['level_2','email']).dirty || __rntForm.get(['level_2','email']).touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get(['level_2','email'])).errors?.email">*Please provide valid email</span>
        </div>
        </div>
      </div>
     </ng-container>

     <!-- Level - 3 -->
     <ng-container formGroupName="level_3">
      <div class="divider">
        <span>Lavel-3(RM - Sales)</span>
        <hr class="line"/>
       </div>
      <div class="row" >
        <div class="col-sm-12">
          <mat-checkbox color="primary" formControlName="is_same"> Same As Local Office</mat-checkbox>
        </div>

        <div class="col-sm-12">
          <label for="l3_name">Name</label>
          <input type="text"
           name="name"

            id="l3_name"
            class="form-control"
            placeholder="Enter Name"
            formControlName="name">
        </div>
        <div class="col-sm-12">
          <label for="l3_contact">Contact</label>
          <input type="text"
           name="contact"
          id="l3_contact"
          class="form-control"
          placeholder="Enter Contact"
          (keypress)="preventNonumeric($event)"
          formControlName="contact">
          <div class="invalid-feedback"
          *ngIf="__rntForm.get(['level_3','contact']).invalid && (__rntForm.get(['level_3','contact']).dirty || __rntForm.get(['level_3','contact']).touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get(['level_3','contact'])).hasError('pattern')">*allow only
            digits</span>
          </div>
        </div>
        <div class="col-sm-12">
          <label for="l3_email">Email</label>
          <input type="text" name="email" id="l3_email" class="form-control" placeholder="Enter Email Id" formControlName="email">
          <div class="invalid-feedback"
          *ngIf="__rntForm.get(['level_3','email']).invalid && (__rntForm.get(['level_3','email']).dirty || __rntForm.get(['level_3','email']).touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get(['level_3','email'])).errors?.email">*Please provide valid email</span>
        </div>
        </div>
      </div>
     </ng-container>

     <!-- Level - 4 -->
     <ng-container formGroupName="level_4">
      <div class="divider">
        <span>Lavel-4(Area Manager/Regional Manager)</span>
        <hr class="line"/>
       </div>
      <div class="row" >

        <div class="col-sm-12">
          <label for="l4_name">Name</label>
          <input type="text"
           name="name"
            id="l4_name"
            class="form-control"
            placeholder="Enter Name"
            formControlName="name">
        </div>
        <div class="col-sm-12">
          <label for="l4_contact">Contact</label>
          <input type="text"
           name="contact"
          id="l4_contact"
          class="form-control"
          placeholder="Enter Contact"
          (keypress)="preventNonumeric($event)"
          formControlName="contact">
          <div class="invalid-feedback"
          *ngIf="__rntForm.get(['level_4','contact']).invalid && (__rntForm.get(['level_4','contact']).dirty || __rntForm.get(['level_4','contact']).touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get(['level_4','contact'])).hasError('pattern')">*allow only
            digits</span>
          </div>
        </div>
        <div class="col-sm-12">
          <label for="l4_email">Email</label>
          <input type="text" name="email" id="l4_email" class="form-control" placeholder="Enter Email Id" formControlName="email">
          <div class="invalid-feedback"
          *ngIf="__rntForm.get(['level_4','email']).invalid && (__rntForm.get(['level_4','email']).dirty || __rntForm.get(['level_4','email']).touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get(['level_4','email'])).errors?.email">*Please provide valid email</span>
        </div>
        </div>
      </div>
     </ng-container>

     <!-- Level - 5 -->
     <ng-container formGroupName="level_5">
      <div class="divider">
        <span>Lavel-5(Zonal Manager/State Head)</span>
       <hr class="line"/>
      </div>
      <div class="row" >
        <div class="col-sm-12">
          <label for="l5_name">Name</label>
          <input type="text"
           name="name"
            id="l5_name"
            class="form-control"
            placeholder="Enter Name"
            formControlName="name">
        </div>
        <div class="col-sm-12">
          <label for="l5_contact">Contact</label>
          <input type="text"
           name="contact"
          id="l5_contact"
          class="form-control"
          placeholder="Enter Contact"
          (keypress)="preventNonumeric($event)"
          formControlName="contact">
          <div class="invalid-feedback"
          *ngIf="__rntForm.get(['level_5','contact']).invalid && (__rntForm.get(['level_5','contact']).dirty || __rntForm.get(['level_5','contact']).touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get(['level_5','contact'])).hasError('pattern')">*allow only
            digits</span>
          </div>
        </div>
        <div class="col-sm-12">
          <label for="l5_email">Email</label>
          <input type="text" name="email" id="l5_email" class="form-control" placeholder="Enter Email Id" formControlName="email">
          <div class="invalid-feedback"
          *ngIf="__rntForm.get(['level_5','email']).invalid && (__rntForm.get(['level_5','email']).dirty || __rntForm.get(['level_5','email']).touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get(['level_5','email'])).errors?.email">*Please provide valid email</span>
        </div>
        </div>
      </div>
     </ng-container>

     <!-- Level - 6 -->
     <ng-container formGroupName="level_6">
      <div class="divider">
        <span>Lavel-6(National Sales Head/Product Head)</span>
       <hr class="line"/>
      </div>
      <div class="row mb-2">
        <div class="col-sm-12">
          <label for="l6_name">Name</label>
          <input type="text"
           name="name"
            id="l6_name"
            class="form-control"
            placeholder="Enter Name"
            formControlName="name">
        </div>
        <div class="col-sm-12">
          <label for="l6_contact">Contact</label>
          <input type="text"
           name="contact"
          id="l6_contact"
          class="form-control"
          placeholder="Enter Contact"
          (keypress)="preventNonumeric($event)"
          formControlName="contact">
          <div class="invalid-feedback"
          *ngIf="__rntForm.get(['level_6','contact']).invalid && (__rntForm.get(['level_6','contact']).dirty || __rntForm.get(['level_6','contact']).touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get(['level_6','contact'])).hasError('pattern')">*allow only
            digits</span>
          </div>
        </div>
        <div class="col-sm-12">
          <label for="l6_email">Email</label>
          <input type="text" name="email" id="l6_email" class="form-control" placeholder="Enter Email Id" formControlName="email">
          <div class="invalid-feedback"
          *ngIf="__rntForm.get(['level_6','email']).invalid && (__rntForm.get(['level_6','email']).dirty || __rntForm.get(['level_6','email']).touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get(['level_6','email'])).errors?.email">*Please provide valid email</span>
        </div>
        </div>
      </div>
     </ng-container>

      <div class="row">
        <div class="col-sm-12">
           <label for="rnt_logo">Upload Logo</label>
           <div class="p-inputgroup">
           <input type="file" name="rnt_logo" id="rnt_logo" class="form-control" (change)="getFile($event)" formControlName="rnt_logo_upload" accept="jpeg,png,jpg">
           <a type="button"

           pButton icon="pi pi-eye" styleClass="p-button-warn p-button-lg" *ngIf="__rntForm.get('rnt_logo_preview')?.value"></a>
            <p-image #tooltip="matTooltip"
            matTooltip="View Image" src="{{__rntForm.get('rnt_logo_preview')?.value}}" *ngIf="__rntForm.get('rnt_logo_preview')?.value"  alt="Image" width="0" [preview]="__rntForm.get('rnt_logo_preview')?.value" ></p-image>
            <a type="button"
            pButton icon="pi pi-times"
            #tooltip="matTooltip"
            matTooltip="Clear"
            (click)="clearImage()"
            *ngIf="__rntForm.get('rnt_logo_preview')?.value"
            styleClass="p-button-danger p-button-lg"></a>
          </div>
           <mat-hint class="mt-2"><p class="m-0">Allowed format: PNG,JPG,JPEG (size upto: 10MB)</p></mat-hint>
           <div class="invalid-feedback"
          *ngIf=" __rntForm.get('rnt_logo_upload').invalid && ( __rntForm.get('rnt_logo_upload').dirty ||  __rntForm.get('rnt_logo_upload').touched)">
          <span class="invalid-feedback" *ngIf="__rntForm.get('rnt_logo_upload').errors?.inValidExt">*Invalid
            file extension.</span>
          <span class="invalid-feedback"
            *ngIf="__rntForm.get('rnt_logo_upload').errors?.fileSizeValidator">*File size must not exceed than
            10MB.</span>
         </div>
        </div>
      </div>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="popupBoxSubmitSec">
    <button class="btn addBtn  ml-2" [attr.form]="'__rntForm_'+ data.id" [disabled]="this.__rntForm.invalid">
      {{this.data.id > 0 ? 'Update' : 'Submit'}}
    </button>
  </mat-dialog-actions>
  <br clear="all">
</div>
