
  <h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content>
  <form  [formGroup]="__rntForm" (ngSubmit)="submit()" id="__rntForm" autocomplete="off" ngNativeValidate>
    <div class="row my-5">
      <div class="col-sm-12">
        <label for="rntName" class="mb-3">RNT Name <span class="text-danger">*</span></label>
        <input type="text" name="rnt_name" id="rntName" class="form-control" placeholder="Enter RNT Name" formControlName="rnt_name">
        <div class="invalid-feedback" *ngIf="__rntForm.get('rnt_name').invalid && (__rntForm.get('rnt_name').dirty || __rntForm.get('rnt_name').touched)">
          <span class="invalid-feedback" *ngIf="(__rntForm.get('rnt_name')).errors?.required">*Please provide RNT name</span>
        </div>
     
      </div>
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions class="popupBoxSubmitSec" align="end" >
  <button class="btn addBtn" mat-button  form="__rntForm" [disabled]="this.__rntForm.invalid">Submit</button>
  <button class="btn cancelCusBtn mrgLeft" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
<br clear="all">