

td,
th {
    border: 1px solid #dddddd;
    text-align: center!important;
    padding: 8px;
    width: 40%;
}
td,
th:last-child {
  width: 10%;

}

td img {
    height: 102px;
    width: 144px;
    object-fit: contain;
}

td {
    vertical-align: middle !important;
}

input[type="file"]{
  border-radius:0px!important;
}

::ng-deep .p-component-overlay{
  z-index:999999!important;
}
::ng-deep .p-image-preview-indicator{
  left: -13px!important;
    top: 8px!important;
}
