<ng-container *ngIf="column.length > 0">
<div class="row form-group my-2">
  <div class="col-sm-12 d-flex justify-content-end ">
    <input id="search" class="form-control rounded w-25 pr-4 mr-2" type="text" (input)="filterGlobal_secondary($event)"
    placeholder="Search" />
  </div>
</div>

<p-table #dt [value]="liveSWP"
[rows]="10" [paginator]="true"
[rowHover]="true"
[columns]="column"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
styleClass="p-datatable-lg"
[pageLinks]="3"
[globalFilterFields]="getColumns()"
  [rowsPerPageOptions]="[10,50,100,{ showAll: 'All' }]"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="10"
[showCurrentPageReport]="true"
>
<ng-template pTemplate="header">
  <tr  class="stickyHeader">
      <th *ngFor="let col of column"
          pSortableColumn="{{col.field}}"
          [style]="'width : '+col.width"

         >
        {{col.header}}
        <p-sortIcon field="{{col.field}}"></p-sortIcon>
      </th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-live_swp let-i="rowIndex">
  <tr>
      <td *ngFor="let col of column"
      [style]="'width : '+col.width"
      [ngStyle]="{'background-color':(live_swp['activate_status'] == 'Inactive' && swp_type == 'A') ? '#b70a0a30' : '#ffffff'}"

     >
     <ng-container [ngSwitch]="true">
      <ng-container *ngSwitchCase="col.field == 'sl_no'">
        <p class="m-0">{{ i + 1}}</p>
      </ng-container>
      <ng-container *ngSwitchCase="col.field == 'first_client_name'
      || col.field == 'freq'
      || col.field == 'bank_name'">
        <p class="m-0">
          {{ live_swp[col.field] | titlecase}}</p>
      </ng-container>
      <ng-container *ngSwitchCase="col.field == 'scheme_name'">
        <p class="m-0">{{ live_swp[col.field]}}</p>
      </ng-container>
      <ng-container *ngSwitchCase="col.field == 'from_date'
      || col.field == 'to_date'
      || col.field == 'terminated_date'
      "
      >
        <p class="m-0">
          {{ live_swp[col.field] ? (live_swp[col.field] | date:'dd-MM-YYYY') : 'N/A'}}</p>
      </ng-container>
      <ng-container *ngSwitchCase="col.field == 'xirr'">
        <p class="m-0">
          {{ live_swp[col.field] ? (live_swp[col.field] | percent:'1.2-2') : '0%'}}</p>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <p class="m-0">
          {{ live_swp[col.field]  ? live_swp[col.field] : 'N/A'}}</p>
      </ng-container>
    </ng-container>

  </tr>
</ng-template>
<ng-template pTemplate="emptymessage" let-live_swp>
<tr>
  <td [attr.colspan]="column.length">
    <p class="m-0">No Records Found</p>
  </td>
</tr>
</ng-template>
<ng-template pTemplate="footer">
  <tr>
    <td
      *ngFor="let col of column"
      [style]="'width : ' + col.width"
    >
      <ng-container [ngSwitch]="true">
        <ng-container *ngSwitchCase="col.field == 'sl_no'">
          <p class="m-0">Total</p>
        </ng-container>
        <ng-container
          *ngSwitchCase=" col.field == 'amount'">
          <p class="m-0">
            {{
              totalAmt | number:'1.2-2'
            }}
          </p>
          </ng-container>
        <ng-container *ngSwitchDefault> </ng-container>
      </ng-container>
    </td>
  </tr>
</ng-template>
</p-table>
</ng-container>

