<core-search 
(__searchItem)="getSearchItem($event)" 
[__flag]="'Y'" 
[__placeholder]="'Search by bank name'"
[__api_name]="'/depositbank'"
></core-search>



<div class="card" *ngIf="__selectbnk.length > 0">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>SL No.</th>
          <th>Bank</th>
          <th>IFSC</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let __selectedItems of __selectbnk;let i =index">
           <td>{{i + 1}}</td>
           <td>{{__selectedItems.bank_name}}</td>
           <td>{{__selectedItems.ifs_code}}</td>
           <td>
            <a (click)="populateDT(__selectedItems)">
              <mat-icon class="edit_icon">edit</mat-icon>
            </a>
            <a>
              <mat-icon class="delete_icon">delete</mat-icon>
            </a>
           </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>