<div class="row flexSec">
  <div class="col-sm-7">
    <shared-upload-csv [leftHeaderTitle]="'Upload Scheme'"
    [flag]="'FS'"
    [file_name]="'Sample Scheme'"
    [columns]="tableColumns"
    [api_name]="'/fd/schemeimport'"
    [dataSource]="tableData"
    [displayedColumns]="displayedColumns"

    [tableData_forcomp_type]="tableData_forcomp_type"
    [displayedColumns__forcomp_type]="displayedColumns__forcomp_type"
    [tableColumns_forcomp_type]="tableColumns_forcomp_type"

    [tableData_forcomp]="tableData_forcomp"
    [tableColumns_forcomp]="tableColumns_forcomp"
    [displayedColumns_forComp]="displayedColumns__forcomp"

    ></shared-upload-csv>
  </div>
  <div class="col-sm-5">
    <shared-mst-dtls [btnTitle]="'View All Scheme'"
    [headerTitle]="'Recent Scheme'" [flag]="'FS'"
    [props]="'scheme_name'"
      (populate)="populateDT($event)"  (viewAll)="viewAll()"
      [dataSource]="__selectScm.data"></shared-mst-dtls>
  </div>
</div>
