
<div  cdkDrag cdkDragRootElement=".cdk-overlay-pane"  cdkDragBoundary=".cdk-overlay-container">
  <div mat-dialog-title class="dialog-title" cdkDragHandle>
    <h2 >{{data.title}}</h2>
    <div class="btnIcon">
      <button mat-icon-button title="Minimize" (click)="minimize()" >
        <mat-icon >remove</mat-icon>
      </button>
      <button mat-icon-button title="Restore Down" (click)="maximize()" *ngIf="__isVisible">
        <mat-icon>check_box_outline_blank</mat-icon>
      </button>
      <button mat-icon-button title="Maxiize" (click)="fullScreen()" *ngIf="!__isVisible">
        <mat-icon>content_copy</mat-icon>
      </button>

      <button mat-icon-button title="Close" [mat-dialog-close]="">
        <mat-icon >close</mat-icon>
      </button>

    </div>

  </div>
  <mat-dialog-content>
    <form  [formGroup]="__categoryForm" (ngSubmit)="submit()" id="__categoryForm_{{data.id}}" autocomplete="off" ngNativeValidate>
      <div class="row">
        <div class="col-sm-12 mb-3">
          <label for="catName">Category <span class="text-danger">*</span></label>
          <input type="text" name="cat_name" id="catName" class="form-control" placeholder="Enter Category" formControlName="cat_name">
          <div class="invalid-feedback" *ngIf="__categoryForm.get('cat_name').invalid && (__categoryForm.get('cat_name').dirty || __categoryForm.get('cat_name').touched)">
            <span class="invalid-feedback" *ngIf="(__categoryForm.get('cat_name')).errors?.required">*Please provide category</span>
          </div>
        </div>
      </div>
  </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="popupBoxSubmitSec" cdkDragHandle>
    <button class="btn addBtn"  [attr.form]="'__categoryForm_'+data.id" [disabled]="this.__categoryForm.invalid">Submit</button>
  </mat-dialog-actions>
</div>
