<div class="row flexSec">
  <div class="col-sm-12">
    <mat-card>
      <mat-card-header class="border-bottom">
        <mat-card-title>Delete Family</mat-card-title>
      </mat-card-header>
      <mat-card-content class="p-2 px-3">
        <form autocomplete="off" [formGroup]="family_head_search" (ngSubmit)="searchFamilyMembers()" class="w-100">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6 my-2">
              <div class="formGroup row">
                <div class="col-sm-3">
                  <label for="family_head_name">Search Family Head</label>
                </div>
                <div class="col-sm-9">
                  <app-core-srch [label]="" [placeholder]="'Search By Name Or PAN'"
                  [isTopDefined]="'32%'"
                    [isPending]="__is__spinner_family_head" [listItems]="family_head_mst" [flag]="'C'"
                    [noDataFoundTitle]="'Sorry!! No Records Found'"
                    [noDataFoundSubTitle]="'If your result match,they will appear here'"
                    [propertiesToShow]="['client_name','pan']" formControlName="family_head_name"
                    [displayMode]="displayMode_forClient" (setDisplayMode)="displayMode_forClient = $event"
                    (selectedItems)="getSelectedItemsFromParent($event)"></app-core-srch>
                </div>
              </div>
            </div>
            <div class="col-sm-3 d-flex align-items-center justify-content-start">
                   <p-button type="submit" class="p-button-lg" label="Show"></p-button>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </form>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-12 my-5">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
                Selected Existing Family Members
          </mat-card-title>

          <div class="d-flex align-items-center justify-content-between">
            <div class="my-auto pr-4">
              <span class="ml-auto">
                <input id="search" class="form-control rounded" type="text" (input)="filterGlobal($event)"
                  placeholder="Search" />
              </span>
            </div>
            <button pButton [disabled]="getFamilyMemberMstDT.length == 0" icon="pi pi-trash"class="p-button-danger mr-2"
            (click)="deleteFamily()"
            label="Delete Family"></button>
          </div>

      </mat-card-header>
        <mat-card-content>
          <p-table #primeTbl [value]="getFamilyMemberMstDT"
          [rows]="10" [paginator]="true"
           [autoLayout]="true"
           [selectionMode]="'single'"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            styleClass="p-datatable-lg"
            [globalFilterFields]="getColumns()"

            [showCurrentPageReport]="true">
          <ng-template pTemplate="header">
              <tr>
                  <th *ngFor="let col of family_tbl_column"
                      pSortableColumn="{{col.field}}"
                      [style.max-width]="(col.field == 'client_addr' || col.field == 'email' || col.field == 'pan' || col.field == 'mobile' || col.field == 'client_code' || col.field == 'relationship' ) ? col.width : ''"
                      [style.min-width]="(col.field == 'client_addr' || col.field == 'email' || col.field == 'pan' || col.field == 'mobile' || col.field == 'client_code' || col.field == 'relationship') ? col.width : ''"
                      >
                    {{col.header}}
                    <p-sortIcon field="{{col.field}}"></p-sortIcon>
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-family_header let-i="rowIndex">
              <tr>
                  <td
                  *ngFor="let col of family_tbl_column"
                  [style.max-width]="(col.field == 'client_addr' || col.field == 'email' || col.field == 'pan' || col.field == 'mobile' || col.field == 'client_code' || col.field == 'relationship' ) ? col.width : ''"
                      [style.min-width]="(col.field == 'client_addr' || col.field == 'email' || col.field == 'pan' || col.field == 'mobile' || col.field == 'client_code' || col.field == 'relationship') ? col.width : ''"
                  >
                     <p class="m-0"
                      [ngClass]="{'text-success':family_header['relationship'] === 'Head'}"
                     > {{ family_header[col.field] ? family_header[col.field] : 'N/A' }}</p>
                  </td>

              </tr>

          </ng-template>
          <ng-template pTemplate="emptymessage" let-family_header>
            <tr>
              <td [attr.colspan]="(family_tbl_column.length + 1)">
                <h4>No Records Found</h4>
              </td>
            </tr>
          </ng-template>
      </p-table>
        </mat-card-content>
      </mat-card>
  </div>
</div>
